@import '../../../scss/variables';

.panel-light {
    display: flex;
}

.container-left {
    position: relative;
    width: 255px;
    height: 410px;
    display: flex;
    flex-direction: column;
}

.color-container {
    position: relative;
    width: 100%;
    max-width: 255px;
    height: 255px;
    min-height: 255px;
    user-select: none;
    overflow: hidden;
}

.saturation {
    background: linear-gradient(to right, #fff 0%, rgba(255,255,255,0) 100%);
    width: 100%;
    height: 100%;
    position:absolute;
}
.lightness {
    background: linear-gradient(to bottom, transparent 0%, #000 100%);
    width: 100%;
    height: 100%;
    position:absolute;
}

.ring {
    width: 12px;
    height: 12px;
    position: absolute;
    border: 2px solid white;
    border-radius: 50%;
    margin-left: -5px;
    margin-top: -5px;
    user-select: none;
}

.ring-dark {
    border-color: black;
}

.color-property-container {
    background: #2e2e2e;
    border: 1px solid #404040;
    border-bottom: 1px solid #1e1e1e;
    border-right: 1px solid #1e1e1e;
    margin-top: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:column;
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 5px;
}

.color-property-row {
    border-bottom: 1px solid #3b3b3b;
    width: 100%; height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.color-property {
    user-select: none;
    min-width: 44px;
}

input {
    max-width: 60px;
    width: 100%;
    height: 25px;
    text-align: center;
    padding: 0;
}

.hex-row {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hex {
    user-select: none;
    min-width: 34px;
}

.hex-input-text-container {
    display: flex;
    align-items: center;
}

.hex-hashtag {
    min-width: 10px;
    margin-top: 5px;
    user-select: none;
}

.container-right {
    width: 100px;
    height: 410px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sliders-container {
    display: flex;
    justify-content:space-between;
    width: 100%;
    padding-left: 8px;
}

.hue-slider-container {
    position: relative;
    margin-right: 5px;
    width: 40px;
    display: flex;
    justify-content: center;
}

.slider-base {
    position: relative;
    width: 20px;
    height: 255px;
    user-select: none;
}

.slider-handle {
    position: absolute;
    width: 100%;
    height: 10px;
    display: flex;
    justify-content: space-between;
    user-select: none;
}

.hue {
    background: linear-gradient(to top, red 0%, #ff0 17%, lime 33%, cyan 50%, blue 66%, #f0f 83%, red 100%);
    user-select: none;
}

.alpha-slider-container {
    position: relative;
    width: 40px;
    display: flex;
    justify-content: center;
}

.alpha-color-overlay {
    width: 100%;
    height: 100%;
}

.checkered-pattern {
    background-image: linear-gradient(45deg, #cdc7c7 25%, transparent 25%), linear-gradient(-45deg, #cdc7c7 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #cdc7c7 75%), linear-gradient(-45deg, white 75%, #cdc7c7 75%);
    background-size: 16px 16px;
    background-position: 0 0, 0 8px, 8px -8px, -8px 0px;
    user-select: none;
}

.left-arrow {
    border-top: solid 5px transparent;
    border-bottom: solid 5px transparent;
    border-left: solid 10px;
}

.right-arrow {
    border-top: solid 5px transparent;
    border-bottom: solid 5px transparent;
    border-right: solid 10px;
}

.new-current-container {
    font-size: 11px;
    width: 100%;
    height: 100%;
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 7px;
}

.new-label {
    margin-bottom: 2px;
    user-select: none;
}

.new-current-display {
    width: 100%;
    max-width: 100px;
    height: 107px;
    border:1px solid $border-color;
    div {
        width: 100%;
        height: 50%;
    }
}

.current-label {
    margin-top: 2px;
    user-select: none;
}