.container {
    width: 100%;

    .caption {
        width: 100%;
        text-align: center;
        word-break: break-word; // IE & < Edge 18
        overflow-wrap: break-word;
    }

    .items {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    
        .item {
            margin: 20px;
            max-width: 170px;
            text-decoration: none;

            a {
                text-decoration: none;
            }

            img {
                width: 100%;
                max-width: 170px;
                border-radius: 50%;
                -webkit-user-drag: none;
            }
    
            .title {
                text-align: center;
                font-size: 18px;
                margin-top: 5px;
                word-break: break-word; // IE & < Edge 18
                overflow-wrap: break-word;
            }
        }
    }
}