.caption {
    text-align: center;
}

.product-group {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 272px;
    font-size: 22px;
    text-align: center;
}