<div #widget class="widget" (mousedown)="onMousedown()" style="border: 1px solid white; width: 100%;"
    (click)="onClick($event)" [ngClass]="{'widget-selected': column.row.pageService.selectedWidget == this}">

    <!-- Caption -->
    <div class="caption" [style.fontFamily]="caption.font.styleValue" [style.fontSize]="caption.fontSize.styleValue"
        [style.fontWeight]="caption.fontWeight" [style.fontStyle]="caption.fontStyle"
        [style.textDecoration]="caption.textDecoration" [style.color]="caption.color.toRGBString()">{{caption.text}}
    </div>

    <!-- Product group -->
    <div class="product-group">
        Product Group
    </div>
</div>