<!-- Popup Base -->
<div #popup transitionClass="fade-end"
     class="popup-base fade-start"
     (onShow)="onPopupShow(popup, arrow)"
     *show="show">
     
    <!-- Arrow -->
    <div #arrow [ngClass]="{'arrow-on-top': arrowOnTop, 'arrow-on-bottom': !arrowOnTop}"></div>


    <!-- Header -->
    <div class="product-report-header">
        <div class="product-container">

            <!-- Product Thumbnail -->
            <div class="thumbnail" 
                 [ngStyle]="{ 'background-image': 'url(images/' + notificationService.productImageNotification.productThumbnail + ')'}">
            </div>

            <!-- Product Name -->
            <div class="product-name">
                {{notificationService.productImageNotification.productName}}
            </div>
        </div>

        <!-- Ellipsis -->
        <div #ellipsis 
             class="icon-container"
             (mousedown)="showContextMenu(notificationService.productImageNotification)">
            <i class="fas fa-ellipsis-v"></i>
        </div>
    </div>


    <!-- Notification Description -->
    <div class="header-line"></div>
    <div class="product-report-title">
        {{notificationService.productImageNotification.name}}
    </div>
    <div class="header-line"></div>

    
    <!-- Main Property Box -->
    <div class="main-property-box">

        <!-- Paginator -->
        <div class="paginator-bar">
            <paginator [itemCount]="notificationService.productImageNotification.customerText.length"
                       (onItemChange)="paginatorIndex = $event">
            </paginator>
        </div>


        <!-- Customer Property Box -->
        <div class="property-box-label">User Comment:</div>
        <div class="property-box">
            <div class="property-box-bar">

                <!-- Customer Thumbnail -->
                <div class="account-thumbnail"
                    [ngStyle]="{'background-image': 'url(images/' + notificationService.productImageNotification.customerText[paginatorIndex].thumbnail + ')'}">
                </div>

                <!-- Time Stamp -->
                <div class="time-stamp">
                    {{notificationService.productImageNotification.customerText[paginatorIndex].timeStamp}}
                </div>
            </div>

            <!-- Customer Text -->
            <div class="user-text">
                {{notificationService.productImageNotification.customerText[paginatorIndex].text}}
            </div>
        </div>


        <!-- Image Property Box -->
        <div class="property-box-label">Product Image:</div>
        <div class="property-box-dark">
            <div class="icons">
                
                <!-- Media browser icon -->
                <div class="icon-container" showPopup [popup]="'mediaBrowserPopup'">
                    <i class="fas fa-image"></i>
                </div>        
            </div>
        
            <!-- Image -->
            <div class="img-container">
                <div *ngIf="notificationService.productImageNotification.image && notificationService.productImageNotification.image.url"
                     class="img"
                     [ngStyle]="{ 'background-image': 'url(images/' + notificationService.productImageNotification.image.url + ')'}">
                </div>
                <div *ngIf="!notificationService.productImageNotification.image || !notificationService.productImageNotification.image.url"
                     class="no-property">
                    No image available
                </div>
            </div>
        </div>


        <!-- Employee Property Box -->
        <div class="property-box-label">Notes:</div>
        <div class="property-box">
            <div class="property-box-bar">

                <!-- Employee Thumbnail -->
                <div class="account-thumbnail"
                    [ngStyle]="{'background-image': 'url(images/' + notificationService.productImageNotification.notesText[paginatorIndex].thumbnail + ')'}">
                </div>

                <!-- Time Stamp -->
                <div class="time-stamp">
                    {{notificationService.productImageNotification.notesText[paginatorIndex].timeStamp}}
                </div>
            </div>

            <!-- Employee Text -->
            <div class="user-text">
                {{notificationService.productImageNotification.notesText[paginatorIndex].text}}
            </div>
        </div>
    </div>


    <!-- Button Container -->
    <div *ngIf="notificationService.selectedNotificationsTab != notificationTab.ArchiveNotifications"
         class="button-container">

         <!-- Buttons -->
        <button (click)="onDismissButtonClick(notificationService.productImageNotification)">Dismiss</button>
        <button (click)="onRightButtonClick(notificationService.productImageNotification)">Publish</button>
    </div>
</div>