<div *show="show" transitionClass="fade-end" class="modal-background fade-start" tabindex="0" (onHide)="show = false"
    (onShow)="onShow()">
    <div class="prompt" (mousedown)="$event.stopPropagation()">
        
        <!-- Share List -->
        <div class="title-bar">
            Share List
            <div class="close-button" (click)="show = false" title="Close">
                <i class="fas fa-times"></i>
            </div>
        </div>

        <div class="prompt-content">
            <div class="niche-shack-gold-color">Share List with Others</div>

            <div class="margin-bottom-4">
                People you share with can only view this list.
            </div>

            <button class="alt-button"
                (click)="viewOnly = !viewOnly; viewEdit = false; viewEditLinkCopied = false;">View Only</button>


            <!-- Icons -->
            <div class="share-container" *ngIf="viewOnly">
                <div (click)="onShareClick('Facebook', 'View')">
                    <img src="assets/Facebook.png" title="Share on Facebook">
                </div>
                <div (click)="onShareClick('Twitter', 'View')">
                    <img src="assets/Twitter.png" title="Share on Twitter">
                </div>
                <div>
                    <i class="fas fa-link link" (click)="viewOnlyLinkCopied = true; onShareClick('Link', 'View')"
                        title="Copy Link"></i>
                </div>
            </div>


            <!-- Link Copied -->
            <div class="text-center" *ngIf="viewOnlyLinkCopied">
                <i class="fas fa-check success-color"></i> Link Copied
            </div>


            <hr>


            <!-- Invite Collaborators -->
            <div class="niche-shack-gold-color">Invite Collaborators</div>

            <div class="margin-bottom-4">
                People you invite can veiw and edit this list.
            </div>

            <button class="alt-button"
                (click)="viewEdit = !viewEdit; viewOnly = false; viewOnlyLinkCopied = false;">View & Edit</button>

            <!-- Icons -->
            <div class="share-container" *ngIf="viewEdit">
                <div (click)="onShareClick('Facebook', 'Collaborate')">
                    <img src="assets/Facebook.png" title="Share on Facebook">
                </div>
                <div (click)="onShareClick('Twitter', 'Collaborate')">
                    <img src="assets/Twitter.png" title="Share on Twitter">
                </div>
                <div>
                    <i class="fas fa-link link" (click)="viewEditLinkCopied = true; onShareClick('Link', 'Collaborate')"
                        title="Copy Link"></i>
                </div>
            </div>

            <!-- Link Copied -->
            <div class="text-center" *ngIf="viewEditLinkCopied">
                <i class="fas fa-check success-color"></i> Link Copied
            </div>
        </div>
    </div>
    <input id="copy" type="text" style="position: absolute; top: -100px; left: -100px">
</div>