.form {
    max-width: 350px;
}

.loading-container {
    height: 100%;
}

.panel-dark {
    height: 200px;
    overflow: auto;
}

.search-bar {
    div {
        width: 94px;
    }
}

.icon-bar {
    border: none;
    padding: 0;
    margin-top: 13px;
    margin-bottom: 4px;
}

input {
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}

.fa-spinner {
    font-size: 16px;
}