<!-- Fieldset -->
<fieldset class="margin-right-3-md
                 margin-top-11-xxs
                 margin-top-10-lg
                 margin-top-4-xl
                 margin-top-3-xxl">

    <legend>Media</legend>


    <!-- Icon Bar -->
    <div class="icon-bar">

        <!-- Trash -->
        <div class="icon-container" title="Delete">
            <i class="fas fa-trash-alt"></i>
        </div>

        <!-- Add -->
        <div class="icon-container" title="Add">
            <i class="fas fa-plus-circle"></i>
        </div>

        <div class="icon-container" title="Play video">
            <i class="fas fa-play-circle"></i>
        </div>
    </div>


    <!-- Background -->
    <div class="background">
        <div class="margin-bottom-2 display-flex justify-content-center align-items-center"
            style="width: 88px; height: 50px; background: red; cursor: pointer;">
            <i class="far fa-play-circle font-size-6"></i>
        </div>

    </div>
</fieldset>