$font-size-base: 14px;
$font-weight-base: 400;
$line-height-base: 1.5;
$border-width: 1px;
$border-radius: .25rem;
$num-grid-columns: 12;

$success-color: #00ff00;
$error-color: #ff0000;
$disabled-color: #545454;
$niche-shack-gold: #ffba00;


$breakpoints: (
    z: 0,
    micro: 240px,
    xxs: 320px,
    xs: 480px,
    sm: 600px,
    md: 768px,
    lg: 1024px,
    xl: 1280px,
    xxl: 1440px,
    hd: 1600px
);


// Spacers
$spacers: (
    0: 0,
    4: 4px,
    8: 8px,
    12: 12px,
    16: 16px,
    20: 20px,
    24: 24px,
    28: 28px,
    32: 32px,
    36: 36px,
    40: 40px,
    44: 44px,
    48: 48px
);

// Sizes
$sizes: (
    5: 5%,
    10: 10%,
    15: 15%,
    20: 20%,
    25: 25%,
    30: 30%,
    35: 35%,
    40: 40%,
    45: 45%,
    50: 50%,
    55: 55%,
    60: 60%,
    65: 65%,
    70: 70%,
    75: 75%,
    80: 80%,
    85: 85%,
    90: 90%,
    95: 95%,
    100: 100%,
    auto: auto
);

// Displays
$displays: inline, inline-block, block, table, table-row, table-cell, flex, inline-flex;