<!-- Main Container -->
<div class="container">

    <!-- Bar -->
    <div class="bar">
        Notifications
        <div class="icon-container margin-right-2" title="Archives"><i class="fas fa-archive"></i></div>
    </div>

    <!-- Base -->
    <div class="base">

        <div class="notification">
            <div> <img src="assets\ReviewComplaint.png"></div>
            <div>Review Complaint</div>
            <div>This product really fucking sucks. I was so fucking pissed off when I used this product because it
                didn’t work. I would advise no one to buy this fucking product from this site or any other product
                for that matter. Fuck you Niche Shack, fuck you!!!</div>
        </div>

        <div class="notification">
            <div> <img src="images\1e676d7846b444e79e5c4137965cbfd0.jpg"></div>
            <div>Product Report</div>
            <div>Product Name / Doesn’t match with product description. I’m confussed, because I’m looking at one
                item and the description is talking about something to do with Gumpy Ice Cream. WTF!</div>
        </div>

        <div class="notification">
            <div> <img src="assets\Message.png"></div>
            <div>Message</div>
            <div>Hi, I was wondering if your company was hiring. I would love to be part of your team. Please get
                back to me as soon as you possibly can. Thank you and have a wonderful day.</div>
        </div>

    </div>
</div>