<panel #panel [title]="'Media'">
    <!-- Property Box -->
    <div class="property-box-dark">


        <!-- Container for paginator & icons -->
        <div class="container">

            <paginator [itemCount]="media ? media.length: 0" (onItemChange)="currentIndex = $event"></paginator>

            <!-- Icons -->
            <div class="icons">

                <!-- Delete Media Icon -->
                <div class="icon-container">
                    <i class="fas fa-trash-alt"></i>
                </div>

                <!-- Add Image Icon -->
                <div class="icon-container" showPopup [popup]="'showMediaBrowserPopup'">
                    <i class="fas fa-image"></i>
                </div>

                <!-- Add Video Icon -->
                <div class="icon-container" showPopup [popup]="'showMediaBrowserPopup'">
                    <i class="fas fa-film"></i>
                </div>
            </div>
        </div>


        <!-- Media -->
        <div class="media-container">
            <div *ngIf="media.length > 0" class="thumbnail" [ngStyle]="{ 'background-image': 'url(images/' + media[currentIndex].thumbnail + ')'}">
                <!-- Display a play icon if media type is video -->
                <i *ngIf="media[currentIndex].type == 0" class="far fa-play-circle"></i>
            </div>
        </div>
    </div>
</panel>