<panel #panel [title]="'Media'">
    <!-- Property Box -->
    <div class="property-box-dark">


        <!-- Container for paginator & icons -->
        <div class="container">

            <paginator [itemCount]="media ? media.length: 0" (onItemChange)="onPaginatorClick($event)"></paginator>

            <!-- Icons -->
            <div class="icons">

                <!-- Delete Media Icon -->
                <div class="icon-container">
                    <i class="fas fa-trash-alt"></i>
                </div>

                <!-- Add Image Icon -->
                <div class="icon-container" (click)="onImageIconClick($event.target)">
                    <i class="fas fa-image"></i>
                </div>

                <!-- Add Video Icon -->
                <div class="icon-container" (click)="onVideoIconClick($event.target)">
                    <i class="fas fa-film"></i>
                </div>
            </div>
        </div>


        

        <!-- Media -->
        <div *ngIf="media.length > 0; else placeholder" class="media-container">
            <div class="thumbnail"
                [ngStyle]="{ 'background-image': 'url(images/' + (media[productService.currentSelectedMediaIndex].type == mediaType.Video ? media[productService.currentSelectedMediaIndex].thumbnail : media[productService.currentSelectedMediaIndex].url) + ')'}">
                <!-- Display a play icon if media type is video -->
                <i *ngIf="media[productService.currentSelectedMediaIndex].type == mediaType.Video" class="far fa-play-circle"></i>
            </div>
        </div>


        <!-- Placeholder -->
        <ng-template #placeholder>
            <div class="no-property">No media available</div>
        </ng-template>






        
    </div>
</panel>