<!-- ----------------------Tab Title-------------- -->
<div class="tab-title">Video</div>


<!-- Search bar & filter menu -->
<div class="position-relative">

    <!-- Search bar -->
    <div class="search-bar">
        <div><i class="fas fa-search"></i></div>
        <input [ngClass]="{'border-oval-right': mediaType == 'video'}">
        <div *ngIf="mediaType == 'image'"></div>
    </div>

    <!-- Filter menu -->
    <div *ngIf="false" class="filter-menu">
        <label>
            <input type="radio" name="media-filter">
            <i class="fas fa-check"></i>
            Filter by Category
        </label>

        <label>
            <input type="radio" name="media-filter" checked>
            <i class="fas fa-check"></i>
            Filter by Products
        </label>
    </div>
</div>


<!-- Icons -->
<div class="icon-bar">
    <!-- File explorer -->
    <div class="icon-container" title="File Explorer">
        <i class="fas fa-folder-open"></i>
    </div>

    <!-- Delete -->
    <div class="icon-container" title="Delete">
        <i class="fas fa-trash-alt"></i>
    </div>
</div>

<!-- Media -->
<div class="media-container">
    <div class="width-100 display-flex flex-wrap overflow-auto">
        <ng-container *ngFor="let i of [0,1,2,3,4,5,6,7,8,9,10,11]">
            <div class="media" [ngClass]="{'video-height': mediaType == 'video', 'img-height': mediaType == 'image'}">
                <img src="images/68010370e5514c82b1e5b138143d0862.png"
                    [ngClass]="{'video-max-height': mediaType == 'video', 'img-max-height': mediaType == 'image'}">
            </div>
        </ng-container>
    </div>
</div>