<fieldset style="height: 294px; position: relative;">
    <legend>Keywords</legend>
    <div class="icon-bar">
        <!-- Trash -->
        <div #icon
             class="icon-container"
             tabindex="-1"
             [attr.title]="!isDeleteDisabled ? isEditDisabled ? 'Delete Keywords' : 'Delete Keyword' : ''"
             [ngClass]="{'icon-disabled': isDeleteDisabled}"
             (click)="deleteKeyword()">
            <i class="fas fa-trash-alt"></i>
        </div>

        <!-- Edit -->
        <div #icon
             class="icon-container"
             tabindex="-1"
             [attr.title]="!isEditDisabled ? 'Edit Keyword (Ctrl+Shift+K)' : ''" 
             [ngClass]="{'icon-disabled': isEditDisabled}"
             (click)="editKeyword()">
            <i class="fas fa-edit"></i>
        </div>

        <!-- Add -->
        <div #icon
             class="icon-container"
             tabindex="-1"
             [attr.title]="!isAddDisabled ? 'Add Keyword (Ctrl+Alt+K)' : ''" 
             [ngClass]="{'icon-disabled': isAddDisabled}"
             (click)="addKeyword()">
            <i class="fas fa-plus-circle"></i>
        </div>
    </div>

    <div (contextmenu)="$event.preventDefault()" class="background" (mouseup)="setContextMenu($event)">
        <table>
            <tr *ngFor="let keyword of keywords; let keywordIndex = index">
                <td #keyword
                    class="keywordList"
                    tabindex="-1"
                    [contentEditable]="editedKeywordIndex == keywordIndex"
                    [textContent]="keywords[keywordIndex].name"
                    (mousedown)="onKeywordDown(keywordIndex)"
                    (dblclick)="onKeywordDoubleClick(keywordIndex)"
                    [ngClass]="{'selected-keyword': selectedKeywordIndex == keywordIndex,
                                'unselected-keyword': unselectedKeywordIndex == keywordIndex,
                                'edited-keyword': editedKeywordIndex == keywordIndex,
                                'selected-keyword-top': keywords[keywordIndex].selectType == 'top',
                                'selected-keyword-middle': keywords[keywordIndex].selectType == 'middle',
                                'selected-keyword-bottom': keywords[keywordIndex].selectType == 'bottom',
                                'selected-keyword-whole': keywords[keywordIndex].selectType == 'whole',
                                'transparent-keyword': editedKeywordIndex != null && editedKeywordIndex != keywordIndex}">
                </td>
            </tr>
        </table>
    </div>
</fieldset>