<!-- Background -->
<div *ngIf="product.isMultiPrice && product.price.length > 0" class="price-point-background">

    <!-- Price Point Container -->
    <div *ngFor="let pricePoint of product.price" class="price-point-container">

        <!-- Price Point Base -->
        <div  class="price-point-base">


            <!-- Header -->
            <div *ngIf="pricePoint.header != null && pricePoint.header.length > 0" class="header">
                <diV class="header-label">{{pricePoint.header}}</diV>
            </div>


            <!-- Quantity -->
            <div *ngIf="pricePoint.quantity != null && pricePoint.quantity.length > 0" class="quantity">{{pricePoint.quantity}}</div>


            <!-- Image -->
            <div *ngIf="pricePoint.image.url != null" class="image" [ngStyle]="{'background-image': 'url(images/' + pricePoint.image.url + ')'}"></div> 


            <!-- Unit -->
            <div *ngIf="(pricePoint.unitPrice != null && pricePoint.unitPrice.length > 0) || (pricePoint.unit != null && pricePoint.unit.length > 0)" class="unit-container">
                <div *ngIf="pricePoint.unitPrice != null && pricePoint.unitPrice.length > 0" class="unit-price">{{'$' + pricePoint.unitPrice}}</div>
                <div *ngIf="pricePoint.unit != null && pricePoint.unit.length > 0" class="unit">{{pricePoint.unitPrice != null && pricePoint.unitPrice.length > 0 ? '/ ' + pricePoint.unit : pricePoint.unit}}</div>
            </div>


             <!-- Total -->
             <div *ngIf="(pricePoint.strikethroughPrice != null && pricePoint.strikethroughPrice.length > 0) || (pricePoint.price != null && pricePoint.price.length > 0)" [ngStyle]="{'margin-top': pricePoint.unitPrice != null && pricePoint.unitPrice.length > 0 ? '0' : '13px'}" class="total-container">
                <div class="total-label">{{'Total:'}}</div>
                <div *ngIf="pricePoint.strikethroughPrice != null && pricePoint.strikethroughPrice.length > 0" class="strikethrough">
                    <div  class="strikethrough-price">{{'$' + pricePoint.strikethroughPrice}}</div>
                </div>
                <div *ngIf="pricePoint.price != null && pricePoint.price.length > 0" class="total-price">{{'$' + pricePoint.price}}</div>
            </div>

                
            <!-- Product Button -->
            <div class="product-button">Visit offical website to buy</div>


            <!-- Shipping -->
            <div *ngIf="pricePoint.shipping != shippingType.None" class="shipping-container">
                <i *ngIf="pricePoint.shipping != shippingType.None && pricePoint.shipping != shippingType.PlusShipping" class="fas fa-shipping-fast"></i>
                <div *ngIf="pricePoint.shipping != shippingType.None" class="shipping-type">{{pricePoint.shipping == shippingType.PlusShipping ? '+ Shipping' : pricePoint.shipping == shippingType.FreeShipping ? 'Free Shipping' : 'Free US Shipping'}}</div>
            </div>
        </div>
    </div>
</div>