<!-- Popup Base -->
<div #popup transitionClass="fade-end" class="popup-base fade-start" (onShow)="onPopupShow(popup, arrow)" *show="show">

    <!-- Arrow -->
    <div #arrow [ngClass]="{'arrow-on-top': arrowOnTop, 'arrow-on-bottom': !arrowOnTop}"></div>


    <!-- Header -->
    <div class="product-report-header">
        <div class="product-container">

            <!-- Product Thumbnail -->
            <div class="thumbnail"
                [ngStyle]="{ 'background-image': 'url(images/' + notificationService.productMediaNotification.productThumbnail + ')'}">
            </div>

            <!-- Product Name -->
            <div class="product-name">
                {{notificationService.productMediaNotification.productName}}
            </div>
        </div>

        <!-- Ellipsis -->
        <div #ellipsis class="icon-container"
            (mousedown)="showContextMenu(notificationService.productMediaNotification)">
            <i class="fas fa-ellipsis-v"></i>
        </div>
    </div>


    <!-- Notification Description -->
    <div class="header-line"></div>
    <div class="product-report-title">
        {{notificationService.productMediaNotification.name}}
    </div>
    <div class="header-line"></div>


    <!-- Main Property Box -->
    <div class="main-property-box">

        <!-- Paginator -->
        <div class="paginator-bar">
            <paginator #paginator [itemCount]="notificationService.notificationIds.length"
                (onItemChange)="onPaginatorClick($event)">
            </paginator>
        </div>


        <!-- Customer Property Box -->
        <div class="property-box-label">User Comment:</div>
        <div class="property-box">
            <div class="property-box-bar">

                <!-- Customer Thumbnail -->
                <div class="account-thumbnail"
                    [ngStyle]="{'background-image': 'url(images/' + notificationService.productMediaNotification.customerText.thumbnail + ')'}">
                </div>

                <!-- Time Stamp -->
                <div class="time-stamp">
                    {{notificationService.productMediaNotification.customerText.timeStamp}}
                </div>
            </div>

            <!-- Customer Text -->
            <div class="user-text">
                {{notificationService.productMediaNotification.customerText.text}}
            </div>
        </div>






        <!-- Content Property Box -->
        <div class="property-box-label">Product Media:</div>

        <!-- Property Box -->
        <div class="property-box-light">


            <!-- Container for paginator & icons -->
            <div class="property-box-light-icon-bar">

                <!-- Paginator -->
                <paginator #paginator
                    [itemCount]="notificationService.productMediaNotification.media ? notificationService.productMediaNotification.media.length: 0"
                    [currentIndex]="0" (onItemChange)="currentIndex = $event">
                </paginator>

                <!-- Icons -->
                <div class="icons">

                    <!-- Delete Content Icon -->
                    <div class="icon-container" (click)="onDeleteContent(paginator)" title="Delete Content">
                        <i class="fas fa-trash-alt"></i>
                    </div>

                    <!-- Add Content Icon -->
                    <div class="icon-container" (click)="addContent(paginator)" title="Add Content">
                        <i class="fas fa-plus-circle"></i>
                    </div>
                </div>
            </div>



            <div *ngIf="notificationService.productMediaNotification.media.length > 0; else placeholder" class="content">

                <div class="property-box-dark">

                    <!-- Icons -->
                    <div class="icons">

                        <!-- Add Image Icon -->
                        <div class="icon-container" (click)="onImageIconClick($event.target)">
                            <i class="fas fa-image"></i>
                        </div>

                        <!-- Add Video Icon -->
                        <div class="icon-container" (click)="onVideoIconClick($event.target)">
                            <i class="fas fa-film"></i>
                        </div>
                    </div>



                    <!-- Media Container -->
                    <div class="media-container">

                        <!-- Media -->
                        <div *ngIf="notificationService.productMediaNotification.media[currentIndex].thumbnail || notificationService.productMediaNotification.media[currentIndex].url; else noMedia"
                            class="media-content"
                            [ngStyle]="{ 'background-image': 'url(images/' + (notificationService.productMediaNotification.media[currentIndex].type == mediaType.Video ? notificationService.productMediaNotification.media[currentIndex].thumbnail : notificationService.productMediaNotification.media[currentIndex].url) + ')'}">


                            <i *ngIf="notificationService.productMediaNotification.media[currentIndex].type == mediaType.Video"
                                class="far fa-play-circle"></i>
                        </div>



                        <!-- No Media -->
                        <ng-template #noMedia>
                            <div class="thumbnail no-media">
                                No media available
                            </div>
                        </ng-template>

                    </div>
                </div>
            </div>


            <!-- Placeholder -->
            <ng-template #placeholder>
                <div class="no-property">No content available</div>
            </ng-template>
        </div>



        <!-- Employee Property Box -->
        <div class="property-box-label">Notes:</div>
        <div class="property-box">
            <div class="property-box-bar">

                <ng-container *ngIf="notificationService.productMediaNotification.notes">

                    <!-- Employee Thumbnail -->
                    <div class="account-thumbnail"
                        [ngStyle]="{'background-image': 'url(images/' + notificationService.productMediaNotification.notes.thumbnail + ')'}">
                    </div>

                    <!-- Time Stamp -->
                    <div class="time-stamp">
                        {{notificationService.productMediaNotification.notes.timeStamp}}
                    </div>
                </ng-container>


            </div>

            <!-- Employee Text -->
            <div class="user-text">
                <ng-container *ngIf="notificationService.productMediaNotification.notes">
                    {{notificationService.productMediaNotification.notes.text}}
                </ng-container>
            </div>
        </div>
    </div>


    <!-- Button Container -->
    <div *ngIf="notificationService.selectedNotificationsTab != notificationTab.ArchiveNotifications"
        class="button-container">

        <!-- Buttons -->
        <!-- <button (click)="onDismissButtonClick(notificationService.productMediaNotification)">Dismiss</button>
        <button (click)="onRightButtonClick(notificationService.productMediaNotification)">Publish</button> -->
    </div>
</div>