<form (ngSubmit)="onSubmit()" #priceForm="ngForm">
    <span>
        $
        <input required pattern="(\d+)?\.?(\d+)?" [(ngModel)]="min" name="min" #minNum="ngModel"
            [ngClass]="{'error-display': priceForm.submitted && !minNum.valid}">
        <span style="margin-left: 5px">to</span> $
        <input required pattern="(\d+)?\.?(\d+)?" [(ngModel)]="max" name="max" #maxNum="ngModel"
            [ngClass]="{'error-display': priceForm.submitted && !maxNum.valid}">
    </span>
    <button type="submit" class="alt-button">Go</button>



    <div [hidden]="!priceForm.submitted || (minNum.valid && maxNum.valid)" class="error">Please enter a valid price
        range</div>
    <div *ngIf="showClearPrice" class="clear-price" (click)="clearPrice()">Clear Price Range
    </div>

</form>

<div *ngFor="let option of filter.options" style="margin-bottom: 10px;">
    <checkbox #checkbox [value]="option.min + '-' + option.max" [label]="option.label"
        (change)="onFilterClick(option.min + '-' + option.max)"></checkbox>
</div>