@import '../../../scss/variables';

input{
    width: 60px;
    height: 22px;
    border-radius: 4px;
    background: white;
    color: black;
}
button{
    margin-left: 5px;
    padding: 0;
    background: transparent;
    color: $niche-shack-gold;
    text-decoration: underline;

    &:hover:not(:disabled) {
        background: transparent;
    }
}
.error{
    font-size: 13px;
    color: $niche-shack-gold;
    margin-top: 8px;
}
.error-display{
    border: 2px solid red;
    background: #dad8a2;
}
.clear-price{
    color: white;
    margin-top: 4px;
    font-size: 13px;
    cursor: pointer;
}
.clear-price:hover{
    text-decoration: underline;
}
form {
    margin-bottom: 15px;
}