<!-- Property Box -->
<div class="property-box-light">

    <!-- Container for paginator & icons -->
    <div class="property-box-light-icon-bar">

        <!-- Paginator -->
        <paginator #paginator [itemCount]="carouselWidget.banners.length"
            (onItemChange)="carouselWidget.currentBannerIndex = $event"></paginator>

        <!-- Icons -->
        <div class="icons">

            <!-- Delete Banner Icon -->
            <div class="icon-container" (click)="onDeleteClick()" [ngClass]="{'icon-disabled':  carouselWidget.banners.length == 0}">
                <i class="fas fa-trash-alt"></i>
            </div>

            <!-- Add Banner Icon -->
            <div class="icon-container" (click)="onAddBannerClick()">
                <i class="fas fa-plus-circle"></i>
            </div>
        </div>
    </div>


    <!-- Content -->
    <div class="content" *ngIf="carouselWidget.banners.length > 0; else placeholder">
        <!-- Banner label -->
        <div class="property">
            <div class="label">Banner:</div>
        </div>


        <!-- Banner Image -->
        <image [image]="carouselWidget.banners[carouselWidget.currentBannerIndex].image" [mediaType]="mediaType.BannerImage"></image>



        <!-- Link label -->
        <div class="property">
            <div class="label">Link:</div>
        </div>


        <!-- Link -->
        <link-property [link]="carouselWidget.banners[carouselWidget.currentBannerIndex].link"></link-property>


    </div>

    <!-- Placeholder -->
    <ng-template #placeholder>
        <div class="no-property">No banners available</div>
    </ng-template>
</div>