<!-- Panel -->
<panel [title]="'Categories'">

    <!-- Property Box -->
    <div class="property-box-dark">

        <!-- Icons -->
        <div class="icons">

            <!-- Delete -->
            <div class="icon-container"
                 (click)="onListItemDelete()"
                 (mouseout)="itemList.onIconButtonMouseOut()"
                 (mouseover)="itemList.isOverIconButton = true"
                 [ngClass]="{'icon-disabled': itemList.deleteIcon.isDisabled}"
                 [attr.title]="!itemList.isMultiSelected ? 'Delete Category (Delete)' : 'Delete Categories (Delete)'"><i class="fas fa-trash-alt"></i>
            </div>

            <!-- Add -->
            <div class="icon-container"
                 [attr.title]="'New Category (Ctrl+Alt+N)'"
                 (mouseout)="itemList.onIconButtonMouseOut()"
                 (mouseover)="itemList.isOverIconButton = true"
                 [ngClass]="{'icon-disabled': itemList.addIcon.isDisabled}"
                 (click)="!itemList.addIcon.isDisabled ? openPopup($event.target) : null"><i class="fas fa-plus-circle"></i>
            </div>
        </div>

        <!-- Item LIst -->
        <div [ngStyle]="{'padding.px' : categoriesWidget.categories && categoriesWidget.categories.length == 0 ? 0 : 6, 'paddingTop.px' : categoriesWidget.categories && categoriesWidget.categories.length == 0 ? 0 : 7}">
            <item-list
                #itemList
                [listOptions]="itemListOptions"
                [listItems]="categoriesWidget.categories">
            </item-list>
        </div>

        <!-- Placeholder -->
        <div *ngIf="categoriesWidget.categories && categoriesWidget.categories.length == 0" class="no-property">No categories available</div>
    </div>
</panel>