<!-- Panel -->
<panel [title]="'Categories'">

    <!-- Property Box -->
    <div class="property-box-dark">

        <!-- Icons -->
        <div class="icons">

            <!-- Delete -->
            <div class="icon-container"
                    [attr.title]="itemList.deleteIcon.isDisabled ? 'Delete Category (Delete)' : itemList.editIcon.isDisabled ? 'Delete Categories (Delete)' : 'Delete Category (Delete)'"
                    [ngClass]="{'icon-disabled': itemList.deleteIcon.isDisabled}"
                    (mouseover)="itemList.isOverIconButton = true"
                    (mouseout)="itemList.onIconButtonMouseOut()"
                    (click)="itemList.deleteListItem()">
                <i class="fas fa-trash-alt"></i>
            </div>

            <!-- Edit -->
            <div class="icon-container"
                    [attr.title]="'Edit Category (Ctrl+Alt+E)'" 
                    [ngClass]="{'icon-disabled': itemList.editIcon.isDisabled}"
                    (mouseover)="itemList.isOverIconButton = true"
                    (mouseout)="itemList.onIconButtonMouseOut()"
                    (click)="!itemList.editIcon.isDisabled ? editCategory() : null">
                <i class="fas fa-edit"></i>
            </div>

            <!-- Add -->
            <div class="icon-container"
                    [attr.title]="'Add Category (Ctrl+Alt+A)'" 
                    [ngClass]="{'icon-disabled': itemList.addIcon.isDisabled}"
                    (mouseover)="itemList.isOverIconButton = true"
                    (mouseout)="itemList.onIconButtonMouseOut()"
                    (click)="!itemList.addIcon.isDisabled ? addCategory() : null">
                <i class="fas fa-plus-circle"></i>
            </div>
        </div>

        <!-- Item LIst -->
        <item-list 
            #itemList 
            [list]="categories"
            (onAddItem)="addCategory()"
            (onEditItem)="editCategory()"
            [menuOptions]="['Add Category', 'Edit Category', 'Delete Category', 'Delete Categories']">
        </item-list>
    </div>
</panel>