<panel *ngIf="textWidget.textBox" [title]="'Text'">

    <!-- Font -->
    <div class="property">
        <div class="label">Font</div>
        <div style="flex: 1;">
            <dropdown [height]="20" [dropdownList]="textWidget.textBox.font.options"
                [selectedIndex]="textWidget.textBox.font.selectedIndex"
                (onChange)="textWidget.textBox.font.setStyleValue($event)">
            </dropdown>
        </div>
    </div>

    <!-- Font Size -->
    <div class="property">
        <div class="label">Font Size</div>
        <div style="flex: 1;">
            <editable-dropdown [height]="20" [dropdownList]="textWidget.textBox.fontSize.options"
                [selectedIndex]="textWidget.textBox.fontSize.selectedIndex"
                (onChange)="textWidget.textBox.fontSize.setStyleValue($event)">
            </editable-dropdown>
        </div>
    </div>




    <!-- Font Color -->
    <div class="property">
        <div class="label">Color</div>
        <div style="flex: 1;">
            <color-swatch [color]="textWidget.textBox.fontColor.value"
                (onInit)="textWidget.textBox.fontColor.colorPicker = $event"
                (onColorPickerOpen)="textWidget.textBox.fontColor.onColorPickerOpen()"></color-swatch>
        </div>
    </div>


    <!-- Hightlight -->
    <div class="property">
        <div class="label">Highlight</div>
        <div style="flex: 1;">
            <color-swatch [color]="textWidget.textBox.highlightColor.value"
                (onInit)="textWidget.textBox.highlightColor.colorPicker = $event"
                (onColorPickerOpen)="textWidget.textBox.highlightColor.onColorPickerOpen()"></color-swatch>
        </div>
    </div>



    <!-- Alignment -->
    <div class="property">
        <div class="label">Alignment</div>
        <div style="flex: 1; display: flex; justify-content: space-between;">

            <!-- Left align -->
            <div class="icon-container" title="Left align (Ctrl+Shift+L)"
                [ngClass]="{'selected':textWidget.textBox.alignLeft.isSelected}" (click)="textWidget.textBox.alignLeft.applyStyle();
            textWidget.textBox.alignCenter.isSelected = false;
            textWidget.textBox.alignRight.isSelected = false;
            textWidget.textBox.alignJustify.isSelected = false">
                <i class="fas fa-align-left"></i>
            </div>

            <!-- Center align -->
            <div class="icon-container" title="Center align (Ctrl+Shift+E)"
                [ngClass]="{'selected': textWidget.textBox.alignCenter.isSelected}" (click)="textWidget.textBox.alignCenter.applyStyle(); 
            textWidget.textBox.alignLeft.isSelected = false;
            textWidget.textBox.alignRight.isSelected = false; 
            textWidget.textBox.alignJustify.isSelected = false">
                <i class="fas fa-align-center"></i>
            </div>


            <!-- Right align -->
            <div class="icon-container" title="Right align (Ctrl+Shift+R)"
                [ngClass]="{'selected': textWidget.textBox.alignRight.isSelected}" (click)="textWidget.textBox.alignRight.applyStyle();
            textWidget.textBox.alignLeft.isSelected = false;
            textWidget.textBox.alignJustify.isSelected = false;
            textWidget.textBox.alignCenter.isSelected = false">
                <i class="fas fa-align-right"></i>
            </div>


            <!-- Justify -->
            <div class="icon-container" title="Justify (Ctrl+Shift+J)"
                [ngClass]="{'selected': textWidget.textBox.alignJustify.isSelected}" (click)="textWidget.textBox.alignJustify.applyStyle();
            textWidget.textBox.alignLeft.isSelected = false;
            textWidget.textBox.alignCenter.isSelected = false;
            textWidget.textBox.alignRight.isSelected = false">
                <i class="fas fa-align-justify"></i>
            </div>
        </div>
    </div>


    <!-- Font Style -->
    <div class="property">
        <div class="label">Style</div>
        <div style="flex: 1; display: flex; justify-content: space-between;">

            <!-- Spacer -->
            <div class="icon-container" style="cursor: default;"></div>

            <!-- Bold -->
            <div class="style-icon" [ngClass]="{'selected': textWidget.textBox.bold.isSelected}"
                (click)="textWidget.textBox.bold.applyStyle()">
                <i class="fas fa-bold"></i>
            </div>

            <!-- Italic -->
            <div class="style-icon" [ngClass]="{'selected': textWidget.textBox.italic.isSelected}"
                (click)="textWidget.textBox.italic.applyStyle()">
                <i class="fas fa-italic"></i>
            </div>

            <!-- Underline -->
            <div class="style-icon" [ngClass]="{'selected': textWidget.textBox.underline.isSelected}"
                (click)="textWidget.textBox.underline.applyStyle()">
                <i class="fas fa-underline"></i>
            </div>
        </div>
    </div>


    <!-- Bullets -->
    <div class="property">
        <div class="label">Bullets</div>
        <div style="flex: 1; display: flex; justify-content: space-between;">

            <!-- Spacer -->
            <div class="icon-container" style="cursor: default;"></div>

            <!-- Spacer -->
            <div class="icon-container" style="cursor: default;"></div>

            <!-- Numbered list -->
            <div class="icon-container" title="Numbered list (Ctrl+Shift+7)"
                [ngClass]="{'selected': textWidget.textBox.orderedList.isSelected}"
                (click)="textWidget.textBox.orderedList.applyStyle(); textWidget.textBox.unorderedList.checkSelection()">
                <i class="fas fa-list-ol"></i>
            </div>

            <!-- Bulleted list -->
            <div class="icon-container" title="Bulleted list (Ctrl+Shift+8)"
                [ngClass]="{'selected': textWidget.textBox.unorderedList.isSelected}"
                (click)="textWidget.textBox.unorderedList.applyStyle(); textWidget.textBox.orderedList.checkSelection()">
                <i class="fas fa-list-ul"></i>
            </div>
        </div>
    </div>


    <!-- Indent -->
    <div class="property">
        <div class="label">Indent</div>
        <div style="flex: 1; display: flex; justify-content: space-between;">

            <!-- Spacer -->
            <div class="icon-container" style="cursor: default;"></div>

            <!-- Spacer -->
            <div class="icon-container" style="cursor: default;"></div>

            <!-- Decrease indent -->
            <div class="icon-container" title="Decrease indent (ctrl+[)"
                (click)="textWidget.textBox.decreaseIndent.applyStyle()">
                <i class="fas fa-outdent"></i>
            </div>


            <!-- Increase indent -->
            <div class="icon-container" title="Increase indent (ctrl+])"
                (click)="textWidget.textBox.increaseIndent.applyStyle()">
                <i class="fas fa-indent"></i>
            </div>
        </div>
    </div>


    <!-- Link -->
    <div class="property">
        <div class="label">Link</div>
        <div style="flex: 1; display: flex; justify-content: flex-end;">
            <link-icon [link]="textWidget.textBox.linkStyle.link"
                (onInit)="textWidget.textBox.linkStyle.linkPopup = $event"
                (onLinkPopupOpen)="textWidget.textBox.linkStyle.onLinkPopupOpen()"></link-icon>
        </div>
    </div>

    <!-- Cover -->
    <div *ngIf="!textWidget.inEditMode" class="property-cover"></div>
</panel>