<panel *ngIf="text" [title]="'Text'">

    <!-- Font -->
    <div class="property">
        <div class="label">Font</div>
        <div style="flex: 1;">
            <dropdown [height]="20" [keyValue]="text.font.options" [selectedIndex]="text.font.selectedIndex"
                (onChange)="text.font.setStyleValue($event)">
            </dropdown>
        </div>
    </div>

    <!-- Font Size -->
    <div class="property">
        <div class="label">Font Size</div>
        <div style="flex: 1;">
            <editable-dropdown [height]="20" [keyValue]="text.fontSize.options"
                [selectedIndex]="text.fontSize.selectedIndex" (onChange)="text.fontSize.setStyleValue($event)">
            </editable-dropdown>
        </div>
    </div>

    


    <!-- Font Color -->
    <div class="property">
        <div class="label">Color</div>
        <div style="flex: 1;">
            <color-swatch [color]="text.fontColor.defaultColor"></color-swatch>
        </div>
    </div>


    <!-- Hightlight -->
    <div class="property">
        <div class="label">Highlight</div>
        <div style="flex: 1;">
            <color-swatch [color]="text.highlightColor.defaultColor"></color-swatch>
        </div>
    </div>


    <!-- Background -->
    <div class="property">
        <div class="label">Background</div>
        <div style="flex: 1;">
            <color-swatch [color]="text.fontColor.defaultColor"></color-swatch>
        </div>
    </div>



    <!-- Alignment -->
    <div class="property">
        <div class="label">Alignment</div>
        <div style="flex: 1; display: flex; justify-content: space-between;">

            <!-- Left align -->
            <div class="icon-container" title="Left align (Ctrl+Shift+L)"
                [ngClass]="{'selected':text.alignLeft.isSelected}" (click)="text.alignLeft.applyStyle();
            text.alignCenter.isSelected = false;
            text.alignRight.isSelected = false;
            text.alignJustify.isSelected = false">
                <i class="fas fa-align-left"></i>
            </div>

            <!-- Center align -->
            <div class="icon-container" title="Center align (Ctrl+Shift+E)"
            [ngClass]="{'selected': text.alignCenter.isSelected}" (click)="text.alignCenter.applyStyle(); 
            text.alignLeft.isSelected = false;
            text.alignRight.isSelected = false; 
            text.alignJustify.isSelected = false">
                <i class="fas fa-align-center"></i>
            </div>


            <!-- Right align -->
            <div class="icon-container" title="Right align (Ctrl+Shift+R)"
                [ngClass]="{'selected': text.alignRight.isSelected}" (click)="text.alignRight.applyStyle();
            text.alignLeft.isSelected = false;
            text.alignJustify.isSelected = false;
            text.alignCenter.isSelected = false">
                <i class="fas fa-align-right"></i>
            </div>


            <!-- Justify -->
            <div class="icon-container" title="Justify (Ctrl+Shift+J)"
                [ngClass]="{'selected': text.alignJustify.isSelected}" (click)="text.alignJustify.applyStyle();
            text.alignLeft.isSelected = false;
            text.alignCenter.isSelected = false;
            text.alignRight.isSelected = false">
                <i class="fas fa-align-justify"></i>
            </div>
        </div>
    </div>


    <!-- Font Style -->
    <div class="property">
        <div class="label">Style</div>
        <div style="flex: 1; display: flex; justify-content: space-between;">

            <!-- Spacer -->
            <div class="icon-container" style="cursor: default;"></div>

            <!-- Bold -->
            <div class="style-icon" [ngClass]="{'selected': text.fontWeight == 'bold'}"
                (click)="text.fontWeight = text.fontWeight == 'normal' ? 'bold' : 'normal'">
                <i class="fas fa-bold"></i>
            </div>

            <!-- Italic -->
            <div class="style-icon" [ngClass]="{'selected': text.fontStyle == 'italic'}"
                (click)="text.fontStyle = text.fontStyle == 'normal' ? 'italic' : 'normal'">
                <i class="fas fa-italic"></i>
            </div>

            <!-- Underline -->
            <div class="style-icon" [ngClass]="{'selected': text.textDecoration == 'underline'}"
                (click)="text.textDecoration = text.textDecoration == 'none' ? 'underline' : 'none'">
                <i class="fas fa-underline"></i>
            </div>
        </div>
    </div>


    <!-- Bullets -->
    <div class="property">
        <div class="label">Bullets</div>
        <div style="flex: 1; display: flex; justify-content: space-between;">

            <!-- Spacer -->
            <div class="icon-container" style="cursor: default;"></div>

            <!-- Spacer -->
            <div class="icon-container" style="cursor: default;"></div>
                
            <!-- Numbered list -->
            <div class="icon-container" title="Numbered list (Ctrl+Shift+7)"
                [ngClass]="{'selected': text.orderedList.isSelected}"
                (click)="text.orderedList.applyStyle(); text.unorderedList.checkSelection()">
                <i class="fas fa-list-ol"></i>
            </div>

            <!-- Bulleted list -->
            <div class="icon-container" title="Bulleted list (Ctrl+Shift+8)"
                [ngClass]="{'selected': text.unorderedList.isSelected}"
                (click)="text.unorderedList.applyStyle(); text.orderedList.checkSelection()">
                <i class="fas fa-list-ul"></i>
            </div>
        </div>
    </div>


    <!-- Indent -->
    <div class="property">
        <div class="label">Indent</div>
        <div style="flex: 1; display: flex; justify-content: space-between;">

            <!-- Spacer -->
            <div class="icon-container" style="cursor: default;"></div>

            <!-- Spacer -->
            <div class="icon-container" style="cursor: default;"></div>
                
            <!-- Decrease indent -->
            <div class="icon-container" title="Decrease indent (ctrl+[)"
                (click)="text.decreaseIndent.applyStyle()">
                <i class="fas fa-outdent"></i>
            </div>


            <!-- Increase indent -->
            <div class="icon-container" title="Increase indent (ctrl+])"
                (click)="text.increaseIndent.applyStyle()">
                <i class="fas fa-indent"></i>
            </div>
        </div>
    </div>


    <!-- Link -->
    <div class="property">
        <div class="label">Link</div>
        <div style="flex: 1; display: flex; justify-content: flex-end;">

            <!-- Link Icon -->
            <div class="icon-container" showPopup [popup]="'showLinkPopup'">
                <i class="fas fa-link"></i>
            </div>
        </div>
    </div>

    
    



</panel>