@import '../../../../../scss/variables';

.style-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.property {

    // Font
    &:nth-child(1) .label {
        margin-left: 39px;
        margin-right: 11px;
    }
    
    // Font Size
    &:nth-child(2) .label {
        margin-left: 13px;
    }

        // Color
    &:nth-child(3) .label { 
        margin-left: 34px;
        margin-right: 11px;
    }

    // Highlight
    &:nth-child(4) .label { 
        margin-left: 17px;
    }


    // Alignment
    &:nth-child(5) .label {
        margin-left: 10px;
        margin-right: 11px;
    }

    // Style
    &:nth-child(6) .label { 
        margin-left: 37px;
    }

    // Bullets
    &:nth-child(7) .label { 
        margin-left: 28px;
    }

    // Indent
    &:nth-child(8) .label {
        margin-left: 30px;
        margin-right: 11px;
    }

    // Link
    &:nth-child(9) .label {
        margin-left: 41px;
        margin-right: 11px;
    }
}

.selected {
    position: relative;

    &:after {
        content: '';
        background: $selected-fill-color;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border: 1px solid $selected-border-color;
        border-radius: 2px;
    }
}