<div class="properties">
    <!-- Page Name -->
    <div class="property">
        <div class="label" style="margin-right: 9px;">Name:</div>
        <input class="txt-20" [(ngModel)]="page.name" (input)="pageService.save()">
    </div>


    <!-- Page type -->
    <div class="property">
        <div class="label" style="margin-right: 15px;">Type:</div>
        <div style="width: 100%;">
            <dropdown [height]="22" [title]="''" [dropdownList]="displayTypes" [selectedIndex]="getSelectedIndex()" (onChange)="onPageTypeChange($event)">
            </dropdown>
        </div>
    </div>


    <ng-container *ngIf="page.displayType == pageDisplayType.Browse || page.displayType == pageDisplayType.Search">
        <div style="font-size: 12px;">{{page.displayType == pageDisplayType.Browse ? 'Niches' : 'Keywords'}}:</div>


    <!-- Property Box -->
    <div class="property-box-dark" style="position: relative;">

        <!-- Icons -->
        <div class="icons">

            <!-- Delete -->
            <div class="icon-container"
                 (click)="onListItemDelete()"
                 (mouseout)="itemList.onIconButtonMouseOut()"
                 (mouseover)="itemList.isOverIconButton = true"
                 [ngClass]="{'icon-disabled': itemList.deleteIcon.isDisabled}"
                 [attr.title]="!itemList.isMultiSelected ? 'Delete Keyword (Delete)' : 'Delete Keywords (Delete)'"><i class="fas fa-trash-alt"></i>
            </div>

            
            <!-- Add -->
            <div class="icon-container"
                 (click)="openPopup($event.target)"
                 [attr.title]="'New Keyword (Ctrl+Alt+N)'"
                 (mouseout)="itemList.onIconButtonMouseOut()"
                 (mouseover)="itemList.isOverIconButton = true"
                 [ngClass]="{'icon-disabled': itemList.addIcon.isDisabled}"><i class="fas fa-plus-circle"></i>
            </div>
        </div>


        <!-- Item LIst -->
        <item-list 
            #itemList
            [listItems]="page.displayItems"
            [listOptions]="itemListOptions">
        </item-list>


        <!-- Placeholder -->
        <div *ngIf="page.displayItems && page.displayItems.length == 0" class="no-property">No {{page.displayType == pageDisplayType.Browse ? 'niches' : 'keywords'}} available</div>
    </div>
    </ng-container>

    










    <!-- Page Width -->
    <div class="property">
        <div class="label">Width:</div>
        <div style="flex: 1;">
            <editable-number-field [value]="page.width ? page.width : ''" (onValueChange)="setPageWidth($event)">
            </editable-number-field>
        </div>
    </div>


    <!-- Background color & image -->
    <background [background]="page.background" (onChange)="pageService.save()"></background>
</div>