<div class="display-flex">

    <!-- Vertical Tabs -->
    <div class="vertical-tabs-container">
        <!-- Caption -->
        <div title="Caption" class="vertical-tab" [ngClass]="{'selected-vertical-tab': showVerticalTab[0]}" (click)="selectVerticalTab(0)" style="font-family: 'Times New Roman', Times, serif; font-size: 22px;">T</div>
        <!-- Categories -->
        <div title="Categories" class="vertical-tab" [ngClass]="{'selected-vertical-tab': showVerticalTab[1]}" (click)="selectVerticalTab(1)"> <i class="fas fa-th"></i> </div>
        <!-- Image -->
        <div title="Image" class="vertical-tab" [ngClass]="{'selected-vertical-tab': showVerticalTab[2]}" (click)="selectVerticalTab(2)"> <i class="far fa-image"></i> </div>
    </div>

    <!-- Panel Light -->
    <div class="panel-light-rounded">
        <!-- Caption -->
        <ng-container *ngIf="showVerticalTab[0]">
            <div class="tab-title">Caption</div>
            <input class="width-100">
        </ng-container>



        <!-- Categories -->
        <ng-container *ngIf="showVerticalTab[1]">
            <div class="tab-title">Categories</div>

            <div class="filter-dropdown margin-bottom-8">
                <input>

                <!-- Dropdown -->
                <div *ngIf="false">
                    <div>How to be a <span> Gumpy</span></div>
                    <div>How Many <span> Gumpy</span>s does it take to screw in a light bulb</div>
                    <div>To Be or Not To Be a <span> Gumpy</span></div>
                    <div><span>Gumpy</span>'s - Flavor of the week</div>
                    <div>The <span> Gumpy</span> Way</div>
                    <div>How to be a <span> Gumpy</span></div>
                    <div>How Many <span> Gumpy</span>s does it take to screw in a light bulb</div>
                    <div>To Be or Not To Be a <span> Gumpy</span></div>
                    <div><span>Gumpy</span>'s - Flavor of the week</div>
                    <div>The <span> Gumpy</span> Way</div>
                </div>
            </div>

            <!-- Icons -->
            <div class="icon-bar">
                <div class="icon-container" title="Remove Category">
                    <i class="fas fa-trash-alt"></i>
                </div>
            </div>

            <!-- Categories -->
            <div class="panel-dark">
                <div class="category">
                    <img src="images/44d71fbf43904ffdbdece40a45bdf9db.png">
                    <div>Health & Fitness</div>
                </div>
                <div class="category">
                    <img src="images/95c8e21a080c4061b8ab984026e04573.png">
                    <div>E-Business & E-marketing</div>
                </div>

                <div class="category">
                    <img src="images/aee194d0a34640c29dd78fcf7758ac29.png">
                    <div>Self-Help</div>
                </div>
            </div>
        </ng-container>


        <!-- Media Browser -->
        <media-browser *ngIf="showVerticalTab[2]" [mediaType]="'image'"></media-browser>
    </div>
</div>

<!-- Buttons -->
<div class="form-button-container">
    <button>Ok</button>
    <button>Cancel</button>
</div>