<!-- Review Summary -->
<review-summary [product]="product"></review-summary>

<ng-container *ngIf="reviews && reviews.length > 0">

    <!-- Positive & Negagive Reviews -->
    <ng-container *ngIf="positiveReview || negativeReview">
        <div class="display-flex justify-content-center margin-top-24 margin-bottom-24 flex-wrap flex-nowrap-sm">

            <!-- Postive Review -->
            <div *ngIf="positiveReview"
                class="border padding-8 margin-right-24-sm background-color-dark-gray"
                [ngClass]="{'margin-bottom-24 margin-bottom-0-sm': negativeReview}">

                <!-- Header -->
                <h2 class="alt-color">
                    Most helpful positive review
                </h2>

                <!-- Likes -->
                <div class="margin-bottom-8 font-italic">{{positiveReview.likes}} customers found this helpful</div>

                <!-- Review -->
                <review [review]="positiveReview"></review>
            </div>



            <!-- Negative Review -->
            <div *ngIf="negativeReview" class="border padding-8 background-color-dark-gray">

                <!-- Header -->
                <h2 class="alt-color">
                    Most helpful negative review
                </h2>

                <!-- Likes -->
                <div class="margin-bottom-8 font-italic">{{negativeReview.likes}} customers found this helpful</div>

                <!-- Review -->
                <review [review]="negativeReview"></review>
            </div>
        </div>
    </ng-container>


    <!-- Reviews -->
    <div id="reviews"
        class="margin-top-16 margin-bottom-24 border-top  padding-top-16 display-flex justify-content-between flex-wrap">

        <!-- Showing -->
        <div class="text-nowrap width-100 width-auto-xs margin-bottom-16 margin-bottom-0-xs">
                Showing {{reviewsStart}} - {{reviewsEnd}} of {{product.totalReviews | number}}
                review{{product.totalReviews > 1 ? 's' : ''}}
        </div>

        <!-- Sort Options -->
        <select [(ngModel)]="selectedSortOption" (change)="setSort()">
            <option *ngFor="let sortOption of sortOptions" [ngValue]="sortOption">Sort by
                {{sortOption.key}}</option>
        </select>
    </div>

    <!-- View All Button -->
    <button *ngIf="!paging && product.totalReviews > reviewsPerPage" class="primary-button margin-bottom-24" (click)="onViewAllReviewsClick()">
        View all {{product.totalReviews | number}} reviews
    </button>

    
    
    <!-- Customer Reviews -->
    <review *ngFor="let review of reviews; trackBy:trackReview" [review]="review" [showReviewHelpful]="true"
        (onReportReviewClick)="reportReview.show = true"></review>

    
    
        <!-- View All Button -->
    <button *ngIf="!paging && product.totalReviews > reviewsPerPage" class="primary-button" (click)="onViewAllReviewsClick()">
        View all {{product.totalReviews | number}} reviews
    </button>

    <paginator *ngIf="paging" [currentPage]="currentPage" [pageCount]="pageCount" (onPageChange)="setPage($event)"></paginator>


    <!-- Report Review -->
    <report-review #reportReview></report-review>
</ng-container>