<!-- Popup Base -->
<div #popup transitionClass="fade-end"
     class="popup-base fade-start"
     (onShow)="onPopupShow(popup, arrow)"
     *show="show">
     
    <!-- Arrow -->
    <div #arrow [ngClass]="{'arrow-on-top': arrowOnTop, 'arrow-on-bottom': !arrowOnTop}"></div>


    <!-- Header -->
    <div class="product-report-header">
        <div class="product-container">

            <!-- Product Thumbnail -->
            <div class="thumbnail" 
                 [ngStyle]="{ 'background-image': 'url(images/' + notificationService.productContentNotification.productThumbnail + ')'}">
            </div>

            <!-- Product Name -->
            <div class="product-name">
                {{notificationService.productContentNotification.productName}}
            </div>
        </div>

        <!-- Ellipsis -->
        <div #ellipsis 
             class="icon-container"
             (mousedown)="showContextMenu(notificationService.productContentNotification)">
            <i class="fas fa-ellipsis-v"></i>
        </div>
    </div>


    <!-- Notification Description -->
    <div class="header-line"></div>
    <div class="product-report-title">
        {{notificationService.productContentNotification.name}}
    </div>
    <div class="header-line"></div>

    
    <!-- Main Property Box -->
    <div class="main-property-box">

        <!-- Paginator -->
        <div class="paginator-bar">
            <paginator [itemCount]="notificationService.productContentNotification.customerText.length"
                       (onItemChange)="paginatorIndex = $event">
            </paginator>
        </div>


        <!-- Customer Property Box -->
        <div class="property-box-label">User Comment:</div>
        <div class="property-box">
            <div class="property-box-bar">

                <!-- Customer Thumbnail -->
                <div class="account-thumbnail"
                    [ngStyle]="{'background-image': 'url(images/' + notificationService.productContentNotification.customerText[paginatorIndex].thumbnail + ')'}">
                </div>

                <!-- Time Stamp -->
                <div class="time-stamp">
                    {{notificationService.productContentNotification.customerText[paginatorIndex].timeStamp}}
                </div>
            </div>

            <!-- Customer Text -->
            <div class="user-text">
                {{notificationService.productContentNotification.customerText[paginatorIndex].text}}
            </div>
        </div>


        <!-- Content Property Box -->
        <div class="property-box-label">Product Content:</div>
        <!-- Property Box -->
        <div class="property-box-light">

            <!-- Container for paginator & icons -->
            <div class="property-box-light-icon-bar">

                <!-- Paginator -->
                <paginator #paginator 
                           [itemCount]="notificationService.productContentNotification.content.length"
                           (onItemChange)="contentIndex = $event">
                </paginator>
                
                <!-- Icons -->
                <div class="icons">

                    <!-- Delete Content Icon -->
                    <div class="icon-container" (click)="onDeleteContent(paginator)">
                        <i class="fas fa-trash-alt"></i>
                    </div>

                    <!-- Add Content Icon -->
                    <div class="icon-container" (click)="addContent(paginator)">
                        <i class="fas fa-plus-circle"></i>
                    </div>
                </div>
            </div>


            <!-- Content -->
            <div *ngIf="notificationService.productContentNotification.content.length > 0; else placeholder" class="content">


                <!-- Title -->
                <div class="property">
                    <div class="label">Title:</div>
                </div>
                <input class="txt-20" [(ngModel)]="notificationService.productContentNotification.content[contentIndex].title">


                <!-- Icon -->
                <div class="property">
                    <div class="label">Icon:</div>
                </div>
                <div class="property-box-dark">


                    <!-- Image Icon -->
                    <div class="icons">
                        <div class="icon-container" (click)="onImageIconClick($event.target)">
                            <i class="fas fa-image"></i>
                        </div>
                    </div>


                    <!-- Image -->
                    <div class="img-container">
                        <img *ngIf="notificationService.productContentNotification.content[contentIndex].icon.url" [src]="'images/' + notificationService.productContentNotification.content[contentIndex].icon.url">
                        <div *ngIf="!notificationService.productContentNotification.content[contentIndex].icon.url" class="no-property">
                            No icon available
                        </div>
                    </div>
                </div>


                <!-- Price Points -->
                <div class="property">
                    <div class="label">Price Points:</div>
                </div>
                <div class="property-box-dark">

                    <!-- Icons -->
                    <div class="icons">

                        <!-- Delete -->
                        <div class="icon-container"
                             [attr.title]="itemList.deleteIcon.isDisabled ? 'Delete Price Point (Delete)' : itemList.editIcon.isDisabled ? 'Delete Price Points (Delete)' : 'Delete Price Point (Delete)'"
                             [ngClass]="{'icon-disabled': itemList.deleteIcon.isDisabled}"
                             (mouseover)="itemList.isOverIconButton = true"
                             (mouseout)="itemList.onIconButtonMouseOut()"
                             (click)="onDeletePricePoint(itemList)">
                            <i class="fas fa-trash-alt"></i>
                        </div>

                        <!-- Edit -->
                        <div #editIcon
                             class="icon-container"
                             [attr.title]="'Edit Price Point (Ctrl+Alt+E)'" 
                             [ngClass]="{'icon-disabled': itemList.editIcon.isDisabled}"
                             (mouseover)="itemList.isOverIconButton = true"
                             (mouseout)="itemList.onIconButtonMouseOut()"
                             (click)="!itemList.editIcon.isDisabled ? editPricePoint($event.target, itemList.selectedListItemIndex) : null">
                            <i class="fas fa-edit"></i>
                        </div>

                        <!-- Add -->
                        <div #addIcon
                             class="icon-container"
                             [attr.title]="'Add Price Point (Ctrl+Alt+A)'" 
                             [ngClass]="{'icon-disabled': itemList.addIcon.isDisabled}"
                             (mouseover)="itemList.isOverIconButton = true"
                             (mouseout)="itemList.onIconButtonMouseOut()"
                             (click)="!itemList.addIcon.isDisabled ? addPricePoint($event.target) : null">
                            <i class="fas fa-plus-circle"></i>
                        </div>
                    </div>



                    <div class="list-container">
                        <!-- Checkbox Item LIst -->
                        <checkbox-item-list
                            #itemList 
                            [listItems]="pricePointList"
                            [checkList]="notificationService.productContentNotification.content[contentIndex].priceIndices"
                            (onAddItem)="addPricePoint(addIcon)"
                            (onEditItem)="editPricePoint(editIcon, itemList.selectedListItemIndex)"
                            (onDeleteItem)="onDeletePricePoint(itemList)"
                            [menuOptions]="['Add Price Point', 'Edit Price Point', 'Delete Price Point', 'Delete Price Points']">
                        </checkbox-item-list>
                    </div>
                </div>

                <!-- Placeholder -->
                <ng-template #placeholder>
                    <div class="no-property">No content available</div>
                </ng-template>
            </div>
        



        <!-- Employee Property Box -->
        <div class="property-box-label">Notes:</div>
        <div class="property-box">
            <div class="property-box-bar">

                <!-- Employee Thumbnail -->
                <div class="account-thumbnail"
                    [ngStyle]="{'background-image': 'url(images/' + notificationService.productContentNotification.notesText[paginatorIndex].thumbnail + ')'}">
                </div>

                <!-- Time Stamp -->
                <div class="time-stamp">
                    {{notificationService.productContentNotification.notesText[paginatorIndex].timeStamp}}
                </div>
            </div>

            <!-- Employee Text -->
            <div class="user-text">
                {{notificationService.productContentNotification.notesText[paginatorIndex].text}}
            </div>
        </div>
    </div>


    <!-- Button Container -->
    <div *ngIf="notificationService.selectedNotificationsTab != notificationTab.ArchiveNotifications"
         class="button-container">

         <!-- Buttons -->
        <button (click)="onDismissButtonClick(notificationService.productContentNotification)">Dismiss</button>
        <button (click)="onRightButtonClick(notificationService.productContentNotification)">Publish</button>
    </div>
</div>