<!-- Popup Base -->
<div #popup transitionClass="fade-end" class="popup-base fade-start" (onShow)="onPopupShow(popup, arrow)" *show="show">

    <!-- Arrow -->
    <div #arrow [ngClass]="{'arrow-on-top': arrowOnTop, 'arrow-on-bottom': !arrowOnTop}"></div>


    <!-- Header -->
    <div class="product-report-header">
        <div class="product-container">

            <!-- Product Thumbnail -->
            <div class="thumbnail"
                [ngStyle]="{ 'background-image': 'url(images/' + notificationService.productContentNotification.productThumbnail + ')'}">
            </div>

            <!-- Product Name -->
            <div class="product-name">
                {{notificationService.productContentNotification.productName}}
            </div>
        </div>

        <!-- Ellipsis -->
        <div #ellipsis class="icon-container"
            (mousedown)="showContextMenu(notificationService.productContentNotification)">
            <i class="fas fa-ellipsis-v"></i>
        </div>
    </div>


    <!-- Notification Description -->
    <div class="header-line"></div>
    <div class="product-report-title">
        {{notificationService.productContentNotification.name}}
    </div>
    <div class="header-line"></div>


    <!-- Main Property Box -->
    <div class="main-property-box">

        <!-- Paginator -->
        <div class="paginator-bar">
            <paginator #paginator [itemCount]="notificationService.notificationIds.length"
                (onItemChange)="onPaginatorClick($event)">
            </paginator>
        </div>


        <!-- Customer Property Box -->
        <div class="property-box-label">User Comment:</div>
        <div class="property-box">
            <div class="property-box-bar">

                <!-- Customer Thumbnail -->
                <div class="account-thumbnail"
                    [ngStyle]="{'background-image': 'url(images/' + notificationService.productContentNotification.customerText.thumbnail + ')'}">
                </div>

                <!-- Time Stamp -->
                <div class="time-stamp">
                    {{notificationService.productContentNotification.customerText.timeStamp}}
                </div>
            </div>

            <!-- Customer Text -->
            <div class="user-text">
                {{notificationService.productContentNotification.customerText.text}}
            </div>
        </div>




        <!-- Product Content -->
        <div class="property-box-label">Product Content:</div>
        <product-content [product]="product"></product-content>



        <!-- Employee Property Box -->
        <div class="property-box-label">Notes:</div>
        <div class="property-box">
            <div class="property-box-bar">

                <ng-container *ngIf="notificationService.productContentNotification.notes">

                    <!-- Employee Thumbnail -->
                    <div class="account-thumbnail"
                        [ngStyle]="{'background-image': 'url(images/' + notificationService.productContentNotification.notes.thumbnail + ')'}">
                    </div>

                    <!-- Time Stamp -->
                    <div class="time-stamp">
                        {{notificationService.productContentNotification.notes.timeStamp}}
                    </div>
                </ng-container>


            </div>

            <!-- Notes -->
            <div #htmlNotes contenteditable="true" class="notes-text">
                <ng-container *ngIf="notificationService.productContentNotification.notes">
                    {{notificationService.productContentNotification.notes.text}}
                </ng-container>
            </div>
        </div>
    </div>

    <!-- Button Container -->
    <div *ngIf="notificationService.selectedNotificationsTab != notificationTab.ArchiveNotifications"
        class="button-container">

        <!-- Buttons -->
        <button (click)="onDismissButtonClick(notificationService.productContentNotification)">Dismiss</button>
        <button (click)="onSubmit(notificationService.productContentNotification, htmlNotes, notificationService.productContentNotification.notes)">Publish</button>
    </div>
</div>