<!-- Caption -->
<h2 class="text-center alt-color margin-top-5">Customer Reviews</h2>


<div class="width-100 display-flex justify-content-center border-bottom border-gray padding-bottom-5 margin-bottom-3">
    <div *ngIf="product.rating > 0; else noRating" class="display-flex flex-wrap justify-content-center">

        <!-- Rating & Stars -->
        <div class="text-center margin-right-3-sm width-100 width-auto-sm">
            <div class="display-flex align-items-center justify-content-center">
                <div style="font-size: 46px" class="alt-color font-bold margin-right-2">
                    {{product.rating | number:'1.1-1'}}</div>

                <div>
                    <stars [rating]="product.rating"></stars>
                    <div class="primary-color-light">
                        {{product.totalReviews | number}} review{{product.totalReviews > 1 ? 's' : ''}}
                    </div>
                </div>
            </div>
            <button class="alt-button width-100-sm margin-bottom-3"
                    (click)="onWriteReviewClick(product.id)">Write a Review</button>
        </div>



        <!-- bars -->
        <div>
            <div class="display-flex align-items-center flex-wrap justify-content-center"
                *ngFor="let stat of reviewStats; let i = index">
                <div style="width:50px">{{stat.name}}</div>
                <div class="bar-base">
                    <div class="bar" [style.width.px]="stat.percentage * 2"></div>
                </div>

                <div class="margin-left-1 show-xs">
                    {{(stat.percentage)}}%
                </div>
            </div>
        </div>
    </div>

    <!-- No Rating -->
    <ng-template #noRating>
        <div class="text-center">
            <div class="primary-color-light margin-bottom-2">Be the first to review this item!</div>
            <button class="alt-button" (click)="onWriteReviewClick(product.id)">Write a Review</button>
        </div>

    </ng-template>
</div>