<ng-container *ngIf="pageService.selectedColumn">
    <!-- Column ID -->
    <div class="grooved-container">
        <div class="label">Name:</div>
        <input class="txt-20" [(ngModel)]="pageService.selectedColumn.name" (input)="pageService.save()">
    </div>

    <!-- background -->
    <div id="first-property">
        <panel [title]="'Background'" [enableableProperty]="pageService.selectedColumn.background"
            (onEnableOptionClick)="pageService.save()">
            <background [background]="pageService.selectedColumn.background" (onChange)="pageService.save()">
            </background>
        </panel>
    </div>

    <!-- Border -->
    <border [border]="pageService.selectedColumn.border" (onChange)="pageService.save()"></border>

    <!-- Corners -->
    <corners [corners]="pageService.selectedColumn.corners" (onChange)="pageService.save()"></corners>

    <!-- Shadow -->
    <shadow [shadow]="pageService.selectedColumn.shadow" (onChange)="pageService.save()"></shadow>

    <!-- Padding -->
    <padding [paddingComponent]="pageService.selectedColumn" (onChange)="pageService.save()"></padding>

    <!-- Horizontal Alignment -->
    <horizontal-alignment [widget]="pageService.selectedWidget" (onChange)="pageService.save()">
    </horizontal-alignment>
</ng-container>