<ng-container *ngIf="widgetService.selectedWidget">
    <!-- Column ID -->
    <div class="grooved-container">
        <div class="label">Name:</div>
        <input class="txt-20" [(ngModel)]="widgetService.selectedWidget.column.name">
    </div>

    <!-- background -->
    <div id="first-property">
        <panel [title]="'Background'" [enableableProperty]="widgetService.selectedWidget.column.background">
            <background [background]="widgetService.selectedWidget.column.background"></background>
        </panel>
    </div>

    <!-- Border -->
    <border [border]="widgetService.selectedWidget.column.border"></border>

    <!-- Corners -->
    <corners [corners]="widgetService.selectedWidget.column.corners"></corners>

    <!-- Shadow -->
    <shadow [shadow]="widgetService.selectedWidget.column.shadow"></shadow>

    <!-- Padding -->
    <padding [paddingComponent]="widgetService.selectedWidget.column"></padding>

    <!-- Horizontal Alignment -->
    <horizontal-alignment [widget]="widgetService.selectedWidget"></horizontal-alignment>
</ng-container>