<!-- QUERY BUILDER BASE -->
<div class="query-builder-base">

    <!-- ICON BAR -->
    <div class="query-icon-bar">
        <div class="icons-container">

            <!-- Delete -->
            <div *ngIf="isSubQuery"
                 [attr.title]="'Delete'"
                 (click)="subQueryDelete()"
                 class="icon-container query-icon">
                <i class="fas fa-trash-alt"></i>
            </div>

            <!-- Add Sub Query -->
            <div (click)="onSubQueryAdd()"
                 [attr.title]="'Add SubQuery'"
                 class="icon-container query-icon">
                <div class="sub-query-icon">[&nbsp;&nbsp;]</div>
            </div>

            <!-- Add Query -->
            <div (click)="onQueryAdd()"
                 [attr.title]="'Add Query'"
                 class="icon-container query-icon">
                <i class="fas fa-plus-circle"></i>
            </div>
        </div>
    </div>


    <!-- NO QUERIES AVAILABLE -->
    <div *ngIf="queryRows.length == 0" class="no-queries-available">
        No queries available
    </div>


    <!-- QUERY ROWS -->
    <div *ngFor="let queryRow of queryRows; let queryRowIndex = index">


        <!-- =============================( AND/OR )============================= -->

        <div *ngIf="queryRowIndex != 0">
            <query-dropdown 
                [logicalOperator]="true"
                [dropdownList]="logicalOperatorList"
                [selectedIndex]="queryRow.logicalOperatorDropdownSelectedIndex"
                (onChange)="queryRow.updateLogicalOperator($event)">
            </query-dropdown>
        </div>




        <!-- =============================( NONE )============================= -->

        <div *ngIf="queryRow.queryType == null" class="query-row-container">

            <!-- Where -->
            <div class="dropdown-container">
                <query-dropdown
                    [dropdownList]="whereList"
                    (onChange)="buildQueryRow(queryRowIndex, $event)"
                    [selectedIndex]="queryRow.whereDropdownSelectedIndex">
                </query-dropdown>
            </div>

            <!-- Delete -->
            <div class="delete-container"
                 (click)="queryRow.onDelete(queryRowIndex)">
                <div class="icon-container"
                     [attr.title]="'Delete'">
                    <i class="fas fa-trash-alt"></i>
                </div>
            </div> 
        </div>




        <!-- =============================( DROPDOWN )============================= -->

        <div *ngIf="queryRow.valueType == valueType.Dropdown" class="query-row-container">

            <!-- Where -->
            <div class="dropdown-container">
                <query-dropdown
                    [dropdownList]="whereList"
                    (onChange)="buildQueryRow(queryRowIndex, $event)"
                    [selectedIndex]="queryRow.whereDropdownSelectedIndex">
                </query-dropdown>
            </div>

            <!-- Operator -->
            <div class="operator-dropdown-container">
                <query-dropdown *ngIf="queryRow.hasOperators"
                    [selectedIndex]="queryRow.comparisonOperatorDropdownSelectedIndex"
                    [dropdownList]="operatorList"
                    (onChange)="queryRow.updateComparisonOperator($event)">
                </query-dropdown>
                <div *ngIf="!queryRow.hasOperators" class="equals-operator-container">=</div> 
            </div>

            <!-- Value -->
            <div class="dropdown-container">
                <query-dropdown
                    [dropdownList]="queryRow.dropdownList"
                    (onChange)="queryRow.updateValue($event)"
                    [selectedIndex]="queryRow.valueDropdownSelectedIndex">
                </query-dropdown>
            </div>

            <!-- Delete -->
            <div class="delete-container"
                 (click)="queryRow.onDelete(queryRowIndex)">
                <div class="icon-container"
                     [attr.title]="'Delete'">
                    <i class="fas fa-trash-alt"></i>
                </div>
            </div> 
        </div>




        <!-- =============================( PRICE )============================= -->

        <div *ngIf="queryRow.valueType == valueType.Price" class="query-row-container">

            <!-- Where -->
            <div class="dropdown-container">
                <query-dropdown
                    [dropdownList]="whereList"
                    (onChange)="buildQueryRow(queryRowIndex, $event)"
                    [selectedIndex]="queryRow.whereDropdownSelectedIndex">
                </query-dropdown>
            </div>
            

            <!-- Operator -->
            <div class="operator-dropdown-container">
                <query-dropdown
                    [selectedIndex]="queryRow.comparisonOperatorDropdownSelectedIndex"
                    [dropdownList]="operatorList"
                    (onChange)="queryRow.updateComparisonOperator($event)">
                </query-dropdown>
            </div>


            <!-- Value -->
            <div class="query-row-value-background">
                <div class="price-container">
                    <!-- Whole Number Input -->
                    <input #wholeNumberInput
                           placeholder="0"
                           class="whole-number-input"
                           [value] = "queryRow.wholeNumberValue"
                           (input)="queryRow.updateWholeNumberValue($event.target, decimalInput)">
                    <!-- Decimal Point -->
                    <div class="decimal-point">.</div>
                    <!-- Decimal Input -->
                    <input #decimalInput
                           maxlength="2"
                           placeholder="00"
                           class="decimal-point-input"
                           [value]="queryRow.decimalValue"
                           (blur)="queryRow.onDecimalInputBlur($event.target)"
                           (input)="queryRow.updateDecimalValue(wholeNumberInput, $event.target)">
                </div>
            </div> 


            <!-- Delete -->
            <div class="delete-container"
                 (click)="queryRow.onDelete(queryRowIndex)">
                <div class="icon-container"
                     [attr.title]="'Delete'">
                    <i class="fas fa-trash-alt"></i>
                </div>
            </div> 
        </div>




        <!-- =============================( ITEM LIST )============================= -->

        <div *ngIf="queryRow.valueType == valueType.ItemList">
            <div class="query-row-container">

                <!-- Where -->
                <div class="dropdown-container">
                    <query-dropdown
                        [dropdownList]="whereList"
                        (onChange)="buildQueryRow(queryRowIndex, $event)"
                        [selectedIndex]="queryRow.whereDropdownSelectedIndex">
                    </query-dropdown>
                </div>
                

                <!-- Operator -->
                <div class="operator-dropdown-container">
                    <div class="equals-operator-container">=</div> 
                </div>


                <!-- Value -->
                <div class="query-row-value-background">
                    <!-- Delete -->
                    <div class="icon-container"
                        style="margin-right: 6px;"
                        (click)="queryRow.onListItemDelete()"
                        (mouseout)="itemList.onIconButtonMouseOut()"
                        (mouseover)="itemList.isOverIconButton = true"
                        [ngClass]="{'icon-disabled': itemList.deleteIcon.isDisabled}"
                        [attr.title]="!itemList.isMultiSelected ? 'Delete ' + queryRow.itemType : 'Delete ' + queryRow.itemTypes">
                        <i class="fas fa-trash-alt"></i>
                    </div>
                    <!-- Add -->
                    <div class="icon-container"
                        style="margin-right: 7px;"
                        (click)="queryRow.openPopup($event.target)"
                        [attr.title]="'New ' + queryRow.itemType"
                        (mouseout)="itemList.onIconButtonMouseOut()"
                        (mouseover)="itemList.isOverIconButton = true"
                        [ngClass]="{'icon-disabled': itemList.addIcon.isDisabled}">
                        <i class="fas fa-plus-circle"></i>
                    </div>
                </div> 

                <!-- Delete -->
                <div class="delete-container"
                     (click)="queryRow.onDelete(queryRowIndex)">
                    <div class="icon-container"
                         [attr.title]="'Delete'">
                        <i class="fas fa-trash-alt"></i>
                    </div>
                </div> 
            </div>

            <div class="query-row-dark-container">
                <div class="query-row-dark-where-background"></div>
                <div class="query-row-dark-operator-background"></div>
                <div class="query-row-dark-list-background">
                    <!-- List -->
                    <item-list 
                        #itemList
                        [listItems]="queryRow.listItems"
                        [listOptions]="queryRow.listOptions(itemList)">
                    </item-list>
                    <!-- No list -->
                    <div *ngIf="queryRow.listItems && queryRow.listItems == 0"
                         class="no-property"
                         style="cursor: default;"
                         (contextmenu)="$event.preventDefault()"
                         (mouseup)="itemList.setContextMenu($event)">
                        No {{queryRow.itemTypes}} Available
                    </div>
                </div> 
                <div class="query-row-dark-delete-background"></div> 
            </div>
        </div>



        <!-- =============================( EDITABLE ITEM LIST )============================= -->

        <div *ngIf="queryRow.valueType == valueType.EditableItemList">
            <div class="query-row-container">

                <!-- Where -->
                <div class="dropdown-container">
                    <query-dropdown
                        [dropdownList]="whereList"
                        (onChange)="buildQueryRow(queryRowIndex, $event)"
                        [selectedIndex]="queryRow.whereDropdownSelectedIndex">
                    </query-dropdown>
                </div>
                
                <!-- Operator -->
                <div class="operator-dropdown-container">
                    <div class="equals-operator-container">=</div> 
                </div>


                <!-- Value -->
                <div class="query-row-value-background">
                    <!-- Delete -->
                    <div class="icon-container"
                        (click)="queryRow.onListItemDelete()"
                        style="margin-right: 6px;"
                        (mouseout)="editableItemList.onIconButtonMouseOut()"
                        (mouseover)="editableItemList.isOverIconButton = true"
                        [ngClass]="{'icon-disabled': editableItemList.deleteIcon.isDisabled}"
                        [attr.title]="!editableItemList.isMultiSelected ? 'Delete ' + queryRow.itemType : 'Delete ' + queryRow.itemTypes">
                        <i class="fas fa-trash-alt"></i>
                    </div>
                    <!-- Edit -->
                    <div class="icon-container" 
                        (click)="queryRow.onListItemEdit()"
                        style="margin-right: 6px;"
                        [attr.title]="'Edit ' + queryRow.itemType"
                        (mouseout)="editableItemList.onIconButtonMouseOut()"
                        (mouseover)="editableItemList.isOverIconButton = true"
                        [ngClass]="{'icon-disabled': editableItemList.editIcon.isDisabled}">
                        <i class="fas fa-edit"></i>
                    </div>
                    <!-- Add -->
                    <div class="icon-container" 
                        (click)="queryRow.onListItemAdd()"
                        style="margin-right: 7px;"
                        [attr.title]="'New ' + queryRow.itemType"
                        (mouseout)="editableItemList.onIconButtonMouseOut()"
                        (mouseover)="editableItemList.isOverIconButton = true"
                        [ngClass]="{'icon-disabled': editableItemList.addIcon.isDisabled}">
                        <i class="fas fa-plus-circle"></i>
                    </div>
                </div> 


                <!-- Delete -->
                <div class="delete-container" (click)="queryRow.onDelete(queryRowIndex)">
                    <div class="icon-container" [attr.title]="'Delete'">
                        <i class="fas fa-trash-alt"></i>
                    </div>
                </div> 
            </div>

            <div class="query-row-dark-container">
                <div class="query-row-dark-where-background"></div>
                <div class="query-row-dark-operator-background"></div>
                <div class="query-row-dark-list-background">
                    <!-- List -->
                    <editable-item-list
                        #editableItemList
                        [listItems]="queryRow.editableListItems"
                        [listOptions]="queryRow.editableListOptions(editableItemList)">
                    </editable-item-list>
                    <!-- No List -->
                    <div *ngIf="queryRow.editableListItems && queryRow.editableListItems == 0"
                         class="no-property"
                         style="cursor: default;"
                         (contextmenu)="$event.preventDefault()"
                         (mouseup)="editableItemList.setContextMenu($event)">
                        No {{queryRow.itemTypes}} Available
                    </div>
                </div> 
                <div class="query-row-dark-delete-background"></div> 
            </div>
        </div>





        <!-- =============================( DATE )============================= -->

        <div *ngIf="queryRow.valueType == valueType.Date" class="query-row-container">

            <!-- Where -->
            <div class="dropdown-container">
                <query-dropdown
                    [dropdownList]="whereList"
                    (onChange)="buildQueryRow(queryRowIndex, $event)"
                    [selectedIndex]="queryRow.whereDropdownSelectedIndex">
                </query-dropdown>
            </div>
            

            <!-- Operator -->
            <div class="operator-dropdown-container">
                <query-dropdown
                    [selectedIndex]="queryRow.comparisonOperator"
                    [dropdownList]="operatorList">
                </query-dropdown>
            </div>


            <!-- Value -->
            <div class="query-row-value-background">
                <!-- Hidden date input -->
                <input #dateInput 
                       type="date" 
                       [value]="queryRow.stringDate"
                       class="hidden-date-input"
                       (input)="queryRow.updateValue($event.target)">
                <!-- Date input -->
                <div class="query-row-date-value-background">
                    <input [value]="dateInput.value | date :'M/d/yy'"
                           placeholder="mm/dd/yy">
                    <i class="far fa-calendar-alt"></i>
                </div>
            </div> 


            <!-- Delete -->
            <div class="delete-container"
                 (click)="queryRow.onDelete(queryRowIndex)">
                <div class="icon-container"
                     [attr.title]="'Delete'">
                    <i class="fas fa-trash-alt"></i>
                </div>
            </div> 
        </div>


        

        <!-- =============================( SUB QUERY )============================= -->

        <div *ngIf="queryRow.queryType == queryType.SubQuery"
             class="sub-query">
            <query-list 
                #queryList
                [isSubQuery]="true"
                [queryBuilder]="queryBuilder"
                (subQueryRows)="queryRow.subQueryRows = $event"
                (onSubQueryDelete)="queryRow.onDelete(queryRowIndex)">
            </query-list>
        </div>
    </div>
</div>