<div class="grooved-container-bottom">
    <div class="button-center" (click)="textWidget.setEditMode()">{{textWidget.inEditMode ? 'Exit Edit Mode' : 'Enter Edit Mode'}}</div>
</div>


<!-- background -->
<div id="first-property">
    <panel [title]="'Background'">
        <background [background]="textWidget.background"></background>
    </panel>
</div>

<!-- Text -->
<text [textWidget]="textWidget"></text>


<!-- Dimensions -->
<dimensions [widget]="textWidget"></dimensions>


<!-- Padding -->
<padding [paddingComponent]="textWidget"></padding>


<!-- Columns -->
<columns [column]="textWidget.column"></columns>


<!-- Visibility -->
<visibility [column]="textWidget.column"></visibility>
