@import '../../../../scss/variables';

.suggestions-mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(4, 4, 4, 0.8);
    z-index: 10;
}

nav {
    padding: 0 16px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 79px;

    .logo-container {
        display: flex;
        
        flex: 0.5;

        .fa-bars {
            font-size: 24px;
            cursor: pointer;
            margin-right: 16px;
        }

        img {
            flex-shrink: 0;
            cursor: pointer;
            outline: none;
            margin-right: 20px;
        }
    }


    .search-container {
        display: flex;
        width: 100%;
        max-width: 800px;

        .input-container {
            position: relative;
            flex: 1 1 auto;

            input {
                background: white;
                border-radius: 0;
                border: none;
                height: 36px;
                color: black;
                width: 100%;
                border-top-left-radius: 100px;
                border-bottom-left-radius: 100px;
            }

            .suggestion-box {
                width: 100%;
                position: absolute;
                background: white;
                top: 36px;
                left: 0;
                border-top: 1px solid #d8d8d8;
                color: #232323;
                border-bottom: 1px solid transparent;

                .suggestion {
                    margin: 0 1px;
                    cursor: pointer;

                    &:hover {
                        background-color: #d8d8d8;
                        outline: 1px solid #d8d8d8;
                        
                    }

                    &:not(:first-child) > .suggestion-text {
                        border-top: 1px solid  #d8d8d8;
                    }

                .suggestion-text {
                    margin: 0 10px;
                    padding: 8px;
                    
                    
                    &:not(.suggested-category) {
                        font-weight: bold;
                    }
                }

                .suggested-category {
                    padding-left: 20px;
                    color: $primary-color;
                }
                   
                }
            }
        }

        
    }


    .account-container {
        
        display: flex;
        justify-content: flex-end;
        position: relative;
        

        .account-dropdown {
            margin-top: 39px;
            min-width: 70px;
            margin-left: 20px;
            .fa-caret-down {
                margin-left: 3px;
                margin-bottom: 2px;
            }
        }

        .link {
            margin-top: 39px;
            margin-left: 40px;
            text-decoration: none;
        }


        .customer-container {
            text-align: center;
            margin-top: 5px;
            text-decoration: none;

            img {
                border-radius: 50%;
                width: 30px;
                height: 30px;
            }

            .fa-user {
                font-size: 16px;
                border: 1px solid white;
                padding: 5px;
                border-radius: 50%;
                margin-bottom: 3px;
                width: 30px;
                height: 30px;
            }
        }
    }
}


@media (min-width: map-get($breakpoints, xxs)) {
    nav {
        .search-container {
            .input-container {
                input {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
            }
            
        }
    }
}