<nav class="primary-color-gradient shadow padding-3 fixed-top display-flex align-items-center" style="min-height: 79px;">
    
    <!-- Logo and menu bars -->
    <div class="display-flex margin-bottom-2">
        <i class="fas fa-bars margin-right-3 alt-color" (click)="navMenu.onClick()" (mousedown)="navMenu.onMousedown()"></i>
        <img src="assets/Logo.png" class="flex-shrink-0 margin-right-2 show-sm">
    </div>
    
    <!-- Container for search and navigation text -->
    <div class="display-flex flex-fill width-100">

        <!-- Search container -->
        <div class="display-flex flex-fill">
            <category-dropdown-button [items]="categories" [defaultIndex]="selectedCategoryIndex" class="show-xl"></category-dropdown-button>
            <input class="flex-fill padding-left-2 border-0 outline-0 border-oval-left border-rounded-0-xl margin-right-n3 width-100" placeholder="Search">
            <button class="alt-button button-rounded-right"><i class="fas fa-search"></i></button>
        </div>

        <!-- Navigation container -->
        <div class="margin-left-3 margin-bottom-n2 show-md">
            <div class="text-truncate show-md" style="max-width: 140px; font-size: 0.75rem;">Hello, WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW</div>
            <div class="display-flex alt-color text-nowrap">
                <div class="margin-right-md-5 margin-top-3 margin-top-md-0 position-relative cursor-pointer" (click)="accountMenu.onClick()" (mousedown)="accountMenu.onMousedown()">
                    Account
                    <div class="arrow-down"></div>
                    <account-menu #accountMenu></account-menu>
                </div>
                <div class="margin-right-lg-5">Orders</div>
                <div class="show-lg">Order Support</div>
            </div>
        </div>
        
    </div>
</nav>

<nav-menu #navMenu></nav-menu>