<!-- Popup Base -->
<div #popup *show="show" transitionClass="fade-end" class="popup-base fade-start" (onShow)="onPopupShow(popup, arrow)">

    <!-- Arrow -->
    <div #arrow [ngClass]="{'arrow-on-top': arrowOnTop, 'arrow-on-bottom': !arrowOnTop}"></div>

    <!-- Search input -->
    <div style="position: relative;">
        <i class="fas fa-search"></i>
        <input autocomplete="off" id="search-input" [(ngModel)]="searchValue">
        <div class="clear-results" (click)="clearSearchResults()">
            <i class="fas fa-times"></i>
        </div>
    </div>


    <!-- Results -->
    <div class="results-container" *ngIf="(searchResults && searchResults.length > 0) || 
        (items && items.length > 0); else noResults">

        <!-- Items -->
        <div class="search-item"
            *ngFor="let item of (searchResults ? searchResults : items)"
            (click)="onItemClick(item)">
            {{item.name}}
        </div>
    </div>


    <!-- loading or No results -->
    <ng-template #noResults>
        <div class="no-results results-container">
            
            <!-- Loading -->
            <div *ngIf="!items">
                <i class="fas fa-spinner fa-pulse"></i>
            </div>

            <!-- No results -->
            <div
                *ngIf="(searchResults && searchResults.length == 0) || (items && items.length == 0)">
                No results available.
            </div>
        </div>
    </ng-template>
</div>