<panel [title]="'Horizontal Alignment'">
    <div class="property">
        <div class="label">Align</div>

        <!-- Left -->
        <div class="image-container" title="Align Left"
            [ngClass]="{'selected': widget.horizontalAlignment.value == horizontalAlign.Left}"
            (click)="setValue(horizontalAlign.Left)">
            <img src="assets/align-left.png">
        </div>


        <!-- Center -->
        <div class="image-container" title="Align Center"
            [ngClass]="{'selected': widget.horizontalAlignment.value == horizontalAlign.Center}"
            (click)="setValue(horizontalAlign.Center)">
            <img src="assets/align-center.png">
        </div>


        <!-- Right -->
        <div class="image-container" title="Align Right"
            [ngClass]="{'selected': widget.horizontalAlignment.value == horizontalAlign.Right}"
            (click)="setValue(horizontalAlign.Right)">
            <img src="assets/align-right.png">
        </div>

        <!-- Breakpoint checkbox -->
        <checkbox
            (change)="breakpointService.toggleBreakpoint(widget.breakpoints, widget.horizontalAlignment); onChange.emit()"
            [checked]="widget.horizontalAlignment.breakpointSet"
            [disabled]="breakpointService.currentBreakpointScreenSize == '0'"></checkbox>
    </div>
</panel>