<div *show="_FormService.lineForm != null ? _FormService.lineForm.open : false" transitionClass="fade-end" class="fade-start" (onShow)="onFormOpen()">

    <dialog-box [dialogBoxName]="'Line'" [width]="336" (onClose)="onCancel()">

        <!-- Panel Light -->
        <div class="display-flex">

            <!-- Vertical Tabs -->
            <div class="vertical-tabs-container">
                <!-- Fill -->
                <div title="Fill" class="vertical-tab" [ngClass]="{'selected-vertical-tab': selectedTab == 'fill'}" (click)="onTabSelect('fill')"> <i class="fas fa-fill-drip"></i> </div>
                <!-- Border -->
                <div title="Border" class="vertical-tab" [ngClass]="{'selected-vertical-tab': selectedTab == 'border'}" (click)="onTabSelect('border')"> <i class="far fa-square"></i> </div>
                <!-- Shadow -->
                <div title="Shadow" class="vertical-tab" [ngClass]="{'selected-vertical-tab': selectedTab == 'shadow'}" (click)="onTabSelect('shadow')"> <i class="fas fa-clone" style="transform: scaleX(-1);"> </i> </div>
                <!-- Margins -->
                <div title="Margins" class="vertical-tab" [ngClass]="{'selected-vertical-tab': selectedTab == 'margins'}" (click)="onTabSelect('margins')"> <i class="fas fa-arrow-left" style="display: flex; align-items: center;"> <span style="font-size: 20px; font-family: Arial">I</span> </i> </div>
            </div>


            <!-- Properties -->
            <div class="panel-light-rounded" style="min-height: 300px;">
                <!-- Fill -->
                <fill *ngIf="selectedTab == 'fill'"></fill>
                <!-- Border -->
                <line-border *ngIf="selectedTab == 'border'"></line-border>
                <!-- Shadow -->
                <shadow *ngIf="selectedTab == 'shadow'"></shadow>
                <!-- Margins -->
                <margins *ngIf="selectedTab == 'margins'"></margins>
            </div>
        </div>

        <!-- Buttons -->
        <div class="form-button-container">
            <button (click)="onCancel()">Cancel</button>
            <button (click)="_FormService.lineForm.open = false">Ok</button>
        </div>
    </dialog-box>
</div>