<!-- Panel Light -->
<div class="display-flex">

    <!-- Vertical Tabs -->
    <div class="vertical-tabs-container">

        <!-- Border -->
        <div title="Border" class="vertical-tab selected-vertical-tab"> <i class="far fa-square"></i> </div>

        <!-- Shadow -->
        <div title="Shadow" class="vertical-tab"> <i class="fas fa-clone" style="transform: scaleX(-1);"> </i> </div>

        <!-- Margins -->
        <div title="Margins" class="vertical-tab"> <i class="fas fa-arrow-left" style="display: flex; align-items: center;"> <span style="font-size: 20px; font-family: Arial">I</span> </i> </div>

    </div>

    <!-- Panel Light -->
    <div class="panel-light-rounded" style="min-height: 300px;">

        <border></border>

        <!-- <shadow></shadow> -->

        <!-- <margins></margins> -->
        
    </div>
</div>

<!-- Buttons -->
<div class="form-button-container">
    <button>Ok</button>
    <button>Cancel</button>
</div>