<!-- Panel -->
<panel [title]="'Product Group Type'">

    <!-- Dropdown -->
    <dropdown [height]="22"
              [dropdownList]="productGroupTypes"
              [selectedIndex]="productGroupWidget.productGroupType"
              (onChange)="onDropdownOptionSelect($event); onChange.emit()">
    </dropdown>

    <!-- Property Box -->
    <div *ngIf="productGroupWidget.productGroupType == productGroupType.FeaturedProducts" class="property-box-dark">

        <!-- Icons -->
        <div class="icons">

            <!-- Delete -->
            <div class="icon-container"
                 (click)="onListItemDelete()"
                 (mouseout)="itemList.onIconButtonMouseOut()"
                 (mouseover)="itemList.isOverIconButton = true"
                 [ngClass]="{'icon-disabled': itemList.deleteIcon.isDisabled}"
                 [attr.title]="!itemList.isMultiSelected ? 'Delete Featured Product (Delete)' : 'Delete Featured Products (Delete)'"><i class="fas fa-trash-alt"></i>
            </div>

            <!-- Add -->
            <div class="icon-container"
                 (mouseout)="itemList.onIconButtonMouseOut()"
                 (mouseover)="itemList.isOverIconButton = true"
                 [attr.title]="'New Featured Product (Ctrl+Alt+N)'"
                 [ngClass]="{'icon-disabled': itemList.addIcon.isDisabled}"
                 (click)="!itemList.addIcon.isDisabled ? openPopup($event.target) : null"><i class="fas fa-plus-circle"></i>
            </div>
        </div>

        <!-- Item LIst -->
        <div [ngStyle]="{'padding.px' : productGroupWidget.featuredProducts && productGroupWidget.featuredProducts.length == 0 ? 0 : 6, 'paddingTop.px' : productGroupWidget.featuredProducts && productGroupWidget.featuredProducts.length == 0 ? 0 : 7}">
            <item-list
                #itemList
                [listOptions]="itemListOptions"
                [listItems]="productGroupWidget.featuredProducts">
            </item-list>
        </div>

        <!-- Placeholder -->
        <div *ngIf="productGroupWidget.featuredProducts && productGroupWidget.featuredProducts.length == 0" class="no-property">No featured products available</div>
    </div>
</panel>