<!-- Panel -->
<panel #panel [title]="'Product Group Type'">

    <dropdown [height]="22" [title]="''" [keyValue]="productGroupTypes" [selectedIndex]="productGroupWidget.productGroupType"
        (onChange)="onDropdownOptionSelect($event)">
    </dropdown>

    <!-- Property Box -->
    <div *ngIf="productGroupWidget.productGroupType == productGroupType.FeaturedProducts" class="property-box-dark" style="margin-top: 10px;">

        <!-- Icons -->
        <div class="icons">

            <!-- Delete -->
            <div class="icon-container"
                [attr.title]="itemList.deleteIcon.isDisabled ? 'Delete Featured Product (Delete)' : itemList.editIcon.isDisabled ? 'Delete Featured Products (Delete)' : 'Delete Featured Product (Delete)'"
                [ngClass]="{'icon-disabled': itemList.deleteIcon.isDisabled}"
                (mouseover)="itemList.isOverIconButton = true" (mouseout)="itemList.onIconButtonMouseOut()"
                (click)="itemList.deleteListItem()">
                <i class="fas fa-trash-alt"></i>
            </div>

            <!-- Edit -->
            <div class="icon-container" [attr.title]="'Edit Featured Product (Ctrl+Alt+E)'"
                [ngClass]="{'icon-disabled': itemList.editIcon.isDisabled}"
                (mouseover)="itemList.isOverIconButton = true" (mouseout)="itemList.onIconButtonMouseOut()"
                (click)="!itemList.editIcon.isDisabled ? editFeaturedProduct() : null">
                <i class="fas fa-edit"></i>
            </div>

            <!-- Add -->
            <div class="icon-container" [attr.title]="'Add Featured Product (Ctrl+Alt+A)'"
                [ngClass]="{'icon-disabled': itemList.addIcon.isDisabled}"
                (mouseover)="itemList.isOverIconButton = true" (mouseout)="itemList.onIconButtonMouseOut()"
                (click)="!itemList.addIcon.isDisabled ? addFeaturedProduct() : null">
                <i class="fas fa-plus-circle"></i>
            </div>
        </div>

        <!-- Item LIst -->
        <item-list #itemList [list]="featuredProducts" (onAddItem)="addFeaturedProduct()"
            (onEditItem)="editFeaturedProduct()"
            [menuOptions]="['Add Featured Product', 'Edit Featured Product', 'Delete Featured Product', 'Delete Featured Products']">
        </item-list>
    </div>
</panel>