<panel [title]="'Hoplink'" [rounded]="true">
    <!-- Property Box -->
    <div class="property-box-dark">

        <!-- Icons -->
        <div class="icons">

            <!-- Link Icon -->
            <div class="icon-container" (click)="onHoplinkIconClick($event.target)">
                <i class="fas fa-link"></i>
            </div>
        </div>

        <!-- Link -->
        <div *ngIf="product.hoplink; else placeholder" class="link text-truncate">
            <a [href]="product.hoplink" target="_blank">{{product.hoplink}}</a>
        </div>


        <!-- Placeholder -->
        <ng-template #placeholder>
            <div class="no-property">No hoplink available</div>
        </ng-template>
    </div>
</panel>