<div class="panel-light">

    <!-- From -->
    <fieldset>
        <legend>From</legend>
        <input type="text" readonly>
    </fieldset>


    <!-- Message -->
    <fieldset>
        <legend>Message</legend>
        <textarea style="cursor: default;" readonly></textarea>
    </fieldset>


    <!-- Reply -->
    <fieldset>
        <legend>Reply</legend>
        <textarea></textarea>
    </fieldset>

</div>

<!-- Button Container -->
<div class="form-button-container">
    <button>Reply</button>
    <button >Close</button>
</div>