<panel [title]="'Vertical Alignment'">
    <div class="property">
        <div class="label">Align</div>

        <!-- Top -->
        <div class="image-container" title="Align Top"
            [ngClass]="{'selected': row.verticalAlignment.value == breakpointVerticalAlignment.Top}"
            (click)="setValue(breakpointVerticalAlignment.Top)">
            <img src="assets/align-top.png">
        </div>


        <!-- Middle -->
        <div class="image-container" title="Align Middle"
            [ngClass]="{'selected': row.verticalAlignment.value == breakpointVerticalAlignment.Middle}"
            (click)="setValue(breakpointVerticalAlignment.Middle)">
            <img src="assets/align-middle.png">
        </div>


        <!-- Bottom -->
        <div class="image-container" title="Align Bottom"
            [ngClass]="{'selected': row.verticalAlignment.value == breakpointVerticalAlignment.Bottom}"
            (click)="setValue(breakpointVerticalAlignment.Bottom)">
            <img src="assets/align-bottom.png">
        </div>

        <!-- Breakpoint checkbox -->
        <checkbox (change)="breakpointService.toggleBreakpoint(row.breakpoints, row.verticalAlignment)"
            [checked]="row.verticalAlignment.breakpointSet"
            [disabled]="breakpointService.currentBreakpointScreenSize == '0'"></checkbox>
    </div>
</panel>