<!-- ----------------------Tab Title-------------- -->
<div class="tab-title">Margins</div>


<!-- -------------------Top------------------------ -->
<range-slider 
    class="property-row"
    [rowName]="'Top'"
    [minRange]="0"
    [formServiceProperty]="_FormService.margins.top"
    (out)="_FormService.margins.top = $event">
</range-slider>


<!-- -------------------Right------------------------ -->
<range-slider 
    class="property-row"
    [rowName]="'Right'"
    [minRange]="0"
    [formServiceProperty]="_FormService.margins.right"
    (out)="_FormService.margins.right = $event">
</range-slider>


<!-- -------------------Bottom------------------------ -->
<range-slider 
    class="property-row"
    [rowName]="'Bottom'"
    [minRange]="0"
    [formServiceProperty]="_FormService.margins.bottom"
    (out)="_FormService.margins.bottom = $event">
</range-slider>


<!-- -------------------Left------------------------ -->
<range-slider 
    class="property-row"
    style="border-bottom: 1px solid #363636;"
    [rowName]="'Left'"
    [minRange]="0"
    [formServiceProperty]="_FormService.margins.left"
    (out)="_FormService.margins.left = $event">
</range-slider>