<div #container class="product-group-container">

    <!-- Caption -->
    <div class="page-section">{{caption}}</div>

    <!-- Slider -->
    <div #slider class="slider justify-content-center justify-content-start-md" [style.transform]="'translateX(-' + translate + 'px)'">

        <!-- Products -->
        <div *ngFor="let product of products; let i = index">
            <div *ngIf="i < (showAll ? products.length : 4)"
                class="product-container border-bottom  border-none-md padding-bottom-2 padding-bottom-0-md">
                <product [product]="product" (quickLookClick)="quickLook.show($event)"></product>
            </div>
        </div>

        <!-- See more/See less -->
        <div (click)="showAll = !showAll" class="hide-md margin-bottom-3 alt-color width-100 text-center">
            {{showAll ? 'See less' : 'See more'}}</div>
    </div>

    <!-- Arrows -->
    <div class="fas arrow-icon-left" *ngIf="translate != 0" (click)="onLeftArrowClick()"></div>
    <div class="fas arrow-icon-right" *ngIf="!isLastPage(container.offsetWidth)"
        (click)="onRightArrowClick(container.offsetWidth)"></div>
</div>

<quick-look #quickLook></quick-look>