<!-- Property Box -->
<div class="property-box-light" *ngIf="initialPageLoaded">
    <!-- Container for counter & icons -->
    <div class="container">

        <counter #counter [itemCount]="emailIds.length" (onItemChange)="onEmailChange($event)"></counter>

        <!-- Icons -->
        <div class="icons">

            <!-- Delete Email Icon -->
            <div class="icon-container" title="Delete Email" [ngClass]="{'icon-disabled': !currentEmailId}"
                (click)="onDeleteClick(counter)">
                <i class="fas fa-trash-alt"></i>
            </div>

            <!-- Duplicate Page Icon -->
            <div class="icon-container" title="Duplicate Email" [ngClass]="{'icon-disabled': !currentEmailId}"
                (click)="duplicateEmail(counter)">
                <i class="fas fa-clone"></i>
            </div>

            <!-- Add Page Icon -->
            <div class="icon-container" title="Add Email" (click)="addEmail(counter)">
                <i class="fas fa-plus-circle"></i>
            </div>
        </div>
    </div>

    <ng-container *ngIf="currentEmailId">
        <!-- Preview & Publish buttons -->
        <div class="grooved-container">
            <div class="button-left" (click)="pageService.preview()">Preview</div>
            <div class="button-right">Publish</div>
        </div>




        <!-- Page, Row, Column, and Widget buttons -->
        <div class="grooved-container-bottom">

            <!-- Page -->
            <div class="button-left" [ngClass]="{'button-selected': pageService.propertyView == propertyView.Page}"
                (click)="pageService.propertyView = propertyView.Page">
                Page
            </div>


            <!-- Row -->
            <div class="button-center" [ngClass]="{'button-selected': pageService.propertyView == propertyView.Row}"
                (click)="pageService.propertyView = propertyView.Row">Row</div>


            <!-- Column -->
            <div class="button-center" [ngClass]="{'button-selected': pageService.propertyView == propertyView.Column}"
                (click)="pageService.propertyView = propertyView.Column">
                Column</div>


            <!-- Widget -->
            <div class="button-right" [ngClass]="{'button-selected': pageService.propertyView == propertyView.Widget}"
                (click)="pageService.propertyView = propertyView.Widget">Widget
            </div>
        </div>


        <!-- Page Properties -->
        <page-properties *ngIf="pageService.propertyView == propertyView.Page" [page]="pageService.page"></page-properties>

        <!-- Row Propterties -->
        <row-properties *ngIf="pageService.propertyView == propertyView.Row"></row-properties>

        <!-- Column Propterties -->
        <column-properties *ngIf="pageService.propertyView == propertyView.Column"></column-properties>

        <!-- Widget Properties -->
        <widget-properties *ngIf="pageService.propertyView == propertyView.Widget"></widget-properties>
    </ng-container>

</div>