<div style="position: relative;">
    <!-- Base -->
    <div #dropdown class="base" [style.height.px]="height" (mousedown)="onDropdownSelect(dropdown)"
        [title]="title == null ? '' : title"
        [ngClass]="{'hightlight-base': dropdownMenuService.dropdownMenu.isVisible && dropdownMenuService.dropdownMenu.currentObj == this}">

        <!-- Label -->
        <div class="label-container">
            <div class="label"
                [ngClass]="{'hightlight-label': dropdownMenuService.dropdownMenu.isVisible && dropdownMenuService.dropdownMenu.currentObj == this}">
                {{selectedIndex == -1 ? "" : dropdownList[selectedIndex].key}}
            </div>
        </div>

        <!-- Button -->
        <div class="button">
            <i class="fas fa-chevron-down"></i>
        </div>


    </div>
    <!-- Disabled cover -->
    <div *ngIf="disabled" class="disabled"></div>
</div>