.base {
    position: relative;
    display: flex;
    background: #414141;
    border: 1px solid #505050;
    border-radius: 3px;
    width: 100%;
    color: #c0c0c0;
    &:hover:not(.hightlight-base) {
        color: #dddddd;
    }
    &.hightlight-base {
        color: white;
    }
    padding-left: 1px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.label {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding-left: 4px;
    user-select: none;
    white-space: nowrap;
    overflow: hidden;
    background: #4d4d4d;
}

.button {
    min-width: 16px;
}

.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-family:cursive;
    transform: rotate(90deg);
    user-select: none;
}