.container {
    display: flex;
    justify-content: center;
    margin: 48px 0;

    .ellipsis, .page-button {
        height:30px;
        text-align: center;
        line-height: 30px
    }
    
    .page-button {
        border: 1px solid #424242;
        margin: 0 5px;
        border-radius: 5px;
        padding: 0 10px;
        font-weight: bold;
        cursor: pointer;
        &:hover:not(.active) {
            background-color: #2b2b2b;
        }
    }
    
    .active {
        background: #4c4c4c;
        cursor: default;
    }
}