<!-- Button Text -->
<button-text id="first-property" [text]="buttonWidget.text"></button-text>

<!-- Border -->
<border [border]="buttonWidget.border"></border>

<!-- Corners -->
<corners [corners]="buttonWidget.corners"></corners>

<!-- Shadow -->
<shadow [shadow]="buttonWidget.shadow"></shadow>

<!-- Padding -->
<padding [padding]="buttonWidget.padding"></padding>

<!-- Link -->
<link-property [link]="buttonWidget.link"></link-property>

<!-- Dimensions -->
<dimensions [widget]="buttonWidget"></dimensions>

<!-- Columns -->
<columns [column]="buttonWidget.column"></columns>