@import '../../../../../../../scss/variables';

.icon-container {
    margin-left: 5px;
    border-radius: 2px;

    &:hover:not(.selected) {
        background-color: $hover-fill-color;
    }
    &:active:not(.selected) {
        background-color: lighten($hover-fill-color, 25);
    }
}

.color-bar {
    position: absolute;
    width: 20px;
    height: 4px;
    background-color: rgb(0, 0, 0);
    margin-left: 5px;
}