@import '../../scss/variables';

.checkmark {
    border-radius: 50%;
    &:after {
        content: "";
        top: $custom-input-size / 4;
        left: $custom-input-size / 4;
        width: $custom-input-size / 2;
        height: $custom-input-size / 2;
        border-radius: 50%;
    }
}