<div *show="show" transitionClass="fade-end" class="modal-background fade-start" tabindex="0" (onShow)="isSubmitted = false"  (onHide)="show = false">
    <div class="prompt" (mousedown)="$event.stopPropagation()">
        <div class="title-bar">
            Report Review
            <div class="close-button" (click)="show = false" title="Close">
                <i class="fas fa-times"></i>
            </div>
        </div>

        <div class="prompt-content">

            <!-- Content -->
            <ng-container *ngIf="!isSubmitted; else submitted">
                <div class="margin-bottom-16">
                    If you find this review to be offensive or irrelevant to the item in question, please let us know by
                    clicking the submit button below.
                </div>

                <button class="alt-button float-right" (mousedown)="$event.preventDefault()" (click)="onSubmit()">Submit</button>
                <button class="float-right margin-right-16" (click)="show = false">Cancel</button>
            </ng-container>

            <!-- Submitted -->
            <ng-template #submitted>
                <div class="margin-bottom-16">
                    Thanks for your feedback.
                </div>

                <button class="alt-button float-right" (click)="show = false">Done</button>
            </ng-template>



        </div>
    </div>
</div>