<div style="border: 1px solid #444444; overflow: hidden;">
    <!-- Icon Bar -->
    <div class="icon-bar" *ngIf="description">

        <div>
            <!-- Lower case -->
            <div class="icon-container" title="Lower case (Ctrl+Down Arrow)"
                (click)="description.lowercaseStyle.applyStyle()">
                <i class="fas fa-sort-alpha-down"></i>
            </div>


            <!-- Upper case -->
            <div class="icon-container" title="Upper case (Ctrl+Up Arrow)"
                (click)="description.uppercaseStyle.applyStyle()">
                <i class="fas fa-sort-alpha-up"></i>
            </div>
        </div>




        
        <div>
            <!-- Font -->
            <!-- <select title="Font" [selectedIndex]="description.font.selectedIndex"
                (change)="description.font.setStyleValue($event.target.value)">
                <option *ngFor="let option of description.font.options" [value]="option.value">{{option.key}}</option>
            </select> -->



            <dropdown 
                      [height]="24"
                      [title]="'Font'"
                      [keyValue]="description.font.options"
                      [selectedIndex]="description.font.selectedIndex"
                      (onChange)="description.font.setStyleValue($event)">
           </dropdown>



            <!-- <dropdown [keyValue]="[{key: 'alita', value: 'Alita'}, {key: 'battle', value: 'Battle'}, {key: 'angel', value: 'Angel'}]" [selectedIndex]="1" (onChange)="alita()"></dropdown> -->

            <!-- Font size -->
            <!-- <select title="Font size" [selectedIndex]="description.fontSize.selectedIndex"
                (change)="description.fontSize.setStyleValue($event.target.value)">
                <option *ngFor="let option of description.fontSize.options" [value]="option.value">{{option.key}}
                </option>
            </select> -->



            <editable-dropdown 
                      [height]="24"
                      [title]="'Font Size'"
                      [keyValue]="description.fontSize.options"
                      [selectedIndex]="description.fontSize.selectedIndex"
                      (onChange)="description.fontSize.setStyleValue($event)">
           </editable-dropdown>






            
        </div>






        <div>
            <!-- Bold -->
            <div class="icon-container" title="Bold (Ctrl+B)" (click)="description.bold.applyStyle()"
                [ngClass]="{'selected': description.bold.isSelected}">
                <i class="fas fa-bold"></i>
            </div>



            <!-- Italic -->
            <div class="icon-container" title="Italic (Ctrl+I)" (click)="description.italic.applyStyle()"
                [ngClass]="{'selected': description.italic.isSelected}">
                <i class="fas fa-italic"></i>
            </div>


            <!-- Underline -->
            <div class="icon-container" title="Underline (Ctrl+U)" (click)="description.underline.applyStyle()"
                [ngClass]="{'selected': description.underline.isSelected}">
                <i class="fas fa-underline"></i>
            </div>
        </div>




        <div>
            <!-- Text color -->
            <color-icon [color]="description.fontColor.value" [icon]="'fa-font'" [title]="'Text color'"
                (onShowColorPicker)="description.fontColor.onShowColorPicker(_FormService.onColorPickerClose)">
            </color-icon>


            <!-- Highlight color -->
            <color-icon [color]="description.highlightColor.value" [icon]="'fa-highlighter'" [title]="'Highlight color'"
                [removable]="true"
                (onShowColorPicker)="description.highlightColor.onShowColorPicker(_FormService.onColorPickerClose)"
                (onRemoveColor)="description.highlightColor.removeColor()">
            </color-icon>
        </div>




        <div>
            <!-- Link -->
            <div class="icon-container" title="Insert link (Ctrl+K)" (click)="_FormService.showLinkForm = true"
                [ngClass]="{'selected': description.linkStyle.isSelected}">
                <i class="fas fa-link"></i>
            </div>
        </div>





        <div>
            <!-- Left align -->
            <div class="icon-container" title="Left align (Ctrl+Shift+L)"
                [ngClass]="{'selected':description.alignLeft.isSelected}" (click)="description.alignLeft.applyStyle();
               description.alignCenter.isSelected = false;
               description.alignRight.isSelected = false;
               description.alignJustify.isSelected = false">
                <i class="fas fa-align-left"></i>
            </div>



            <!-- Center align -->
            <div class="icon-container" title="Center align (Ctrl+Shift+E)"
                [ngClass]="{'selected': description.alignCenter.isSelected}" (click)="description.alignCenter.applyStyle(); 
                description.alignLeft.isSelected = false;
                description.alignRight.isSelected = false; 
                description.alignJustify.isSelected = false">
                <i class="fas fa-align-center"></i>
            </div>


            <!-- Right align -->
            <div class="icon-container" title="Right align (Ctrl+Shift+R)"
                [ngClass]="{'selected': description.alignRight.isSelected}" (click)="description.alignRight.applyStyle();
                description.alignLeft.isSelected = false;
                description.alignJustify.isSelected = false;
                description.alignCenter.isSelected = false">
                <i class="fas fa-align-right"></i>
            </div>


            <!-- Justify -->
            <div class="icon-container" title="Justify (Ctrl+Shift+J)"
                [ngClass]="{'selected': description.alignJustify.isSelected}" (click)="description.alignJustify.applyStyle();
                description.alignLeft.isSelected = false;
                description.alignCenter.isSelected = false;
                description.alignRight.isSelected = false">
                <i class="fas fa-align-justify"></i>
            </div>
        </div>





        <div>
            <!-- Numbered list -->
            <div class="icon-container" title="Numbered list (Ctrl+Shift+7)"
                [ngClass]="{'selected': description.orderedList.isSelected}"
                (click)="description.orderedList.applyStyle(); description.unorderedList.checkSelection()">
                <i class="fas fa-list-ol"></i>
            </div>


            <!-- Bulleted list -->
            <div class="icon-container" title="Bulleted list (Ctrl+Shift+8)"
                [ngClass]="{'selected': description.unorderedList.isSelected}"
                (click)="description.unorderedList.applyStyle(); description.orderedList.checkSelection()">
                <i class="fas fa-list-ul"></i>
            </div>


            <!-- Decrease indent -->
            <div class="icon-container" title="Decrease indent (ctrl+[)"
                (click)="description.decreaseIndent.applyStyle()">
                <i class="fas fa-outdent"></i>
            </div>


            <!-- Increase indent -->
            <div class="icon-container" title="Increase indent (ctrl+])"
                (click)="description.increaseIndent.applyStyle()">
                <i class="fas fa-indent"></i>
            </div>
        </div>
    </div>





    <!-- Description -->
    <iframe #iframe></iframe>
</div>