<!-- Button -->
<button class="dropdown-button" (mousedown)="onMousedown()" (click)="onClick()">
    {{caption}}
    <div class="arrow-down"></div>
</button>


<!-- Dropdown -->
<div> 
    <div *show="show" class="dropdown fade-start" transitionClass="fade-end" tabindex="0" (onHide)="show = false" (blur)="show = false">
        <div *ngFor="let item of items">
            <div class="dropdown-item" (click)="onItemClick(item)" (mousedown)="$event.stopPropagation()">{{item.value}}</div>
        </div>
    </div>
</div>