<!-- Button -->
<button class="dropdown-button" (mousedown)="onMousedown()" (click)="onClick()">
    {{caption}}
    <div class="arrow-down"></div>
</button>


<!-- Dropdown -->
<div> 
    <div #showHideElement *show="show" class="dropdown fade-start" transitionClass="fade-end" tabindex="0" (keydown)="onKeydown($event)" (blur)="onBlur()">
        <div *ngFor="let item of items">
            <div class="dropdown-item" (click)="onItemClick(item)">{{item.value}}</div>
        </div>
    </div>
</div>