.dropdown {
    display: inline-block;
    overflow: auto;
    max-height: 17rem;
}

.dropdown-item {
    padding: 0 5px;
    min-width: 94px;
}

button {
    width: 100%;
    font-size: 13px;
}

.fa-sort-down {
    font-size: 14px;
    transform: translateY(-2px);
}
