<div style="position: absolute; top: 33px; right: 0; bottom: 0; left: 0; display: flex; justify-content: flex-end;">
    <div style="flex: 1; position: relative;"
        *ngIf="popupService.nicheShackHierarchyPopup.selectedItem && popupService.nicheShackHierarchyPopup.selectedItem.type == hierarchyItemType.Niche || (popupService.nicheShackHierarchyPopup.selectedItem && popupService.nicheShackHierarchyPopup.selectedItem.type == hierarchyItemType.Product && productEditorMode == 'email')">
        <designer></designer>
    </div>


    <div style="flex: 1; position: relative;"
        *ngIf="popupService.nicheShackHierarchyPopup.selectedItem && popupService.nicheShackHierarchyPopup.selectedItem.type == hierarchyItemType.Product && productEditorMode == 'properties'">
        <product-info></product-info>
    </div>



    <div class="properties-editor-container">
        <properties-editor>
            <ng-container
                *ngIf="popupService.nicheShackHierarchyPopup.selectedItem && popupService.nicheShackHierarchyPopup.selectedItem.id">
                <category-editor
                    *ngIf="popupService.nicheShackHierarchyPopup.selectedItem.type == hierarchyItemType.Category"
                    [hierarchyItem]="popupService.nicheShackHierarchyPopup.selectedItem"></category-editor>
                <niche-editor *ngIf="popupService.nicheShackHierarchyPopup.selectedItem.type == hierarchyItemType.Niche"
                    [hierarchyItem]="popupService.nicheShackHierarchyPopup.selectedItem"></niche-editor>
                <product-editor
                    *ngIf="popupService.nicheShackHierarchyPopup.selectedItem.type == hierarchyItemType.Product"
                    [hierarchyItem]="popupService.nicheShackHierarchyPopup.selectedItem"
                    (onModeChange)="productEditorMode = $event"></product-editor>
            </ng-container>
        </properties-editor>
    </div>
</div>