<menu-bar></menu-bar>

<div style="position: absolute; top: 33px; right: 0; bottom: 0; left: 0; display: flex; justify-content: flex-end;">
    <div style="flex: 1; position: relative;" *ngIf="selectedItem.type == 'Niche'">
        <designer></designer>
    </div>
    <div style="flex-basis: 15%; max-width: 15%; background: #252525;">

        <category-editor *ngIf="selectedItem.type == 'Category'" [hierarchyItem]="selectedItem"></category-editor>
        <niche-editor *ngIf="selectedItem.type == 'Niche'" [hierarchyItem]="selectedItem"></niche-editor>
        <product-editor *ngIf="selectedItem.type == 'Product'" [hierarchyItem]="selectedItem"></product-editor>


    </div>

</div>

<hierarchy-popup (showItemProperties)="selectedItem = $event"></hierarchy-popup>

<context-menu></context-menu>

<dropdown-menu></dropdown-menu>


<div style="left: 800px; top: 100px; width: 100px; height: 20px; position: absolute;">
    <color-swatch [color]="red"></color-swatch>
</div>


<div style="left: 1200px; top: 500px; width: 100px; height: 20px; position: absolute;">
    <color-swatch [color]="green"></color-swatch>
</div>


<div style="left: 1885px; top: 195px; width: 20px; height: 20px; position: absolute;">
    <color-swatch [color]="blue"></color-swatch>
</div>


<div style="left: 10px; top: 10px; width: 13px; height: 13px; position: absolute;">
    <color-swatch [color]="yellow"></color-swatch>
</div>


<div style="left: 1885px; top: 940px; width: 20px; height: 20px; position: absolute;">
    <color-swatch [color]="purple"></color-swatch>
</div>


<color-picker-popup></color-picker-popup>

<!-- <popup></popup> -->


<cover></cover>