<menu-bar></menu-bar>

<!-- <dialog-box [dialogBoxName]="'Message'">
    <message-form></message-form>
</dialog-box> -->



<!-- <dialog-box [dialogBoxName]="'Review Complaint'">
    <review-complaint-form></review-complaint-form>
</dialog-box> -->



<!-- <dialog-box [dialogBoxName]="'Product'" [width]="1488">
    <product-form></product-form>
</dialog-box> -->


<!-- <dialog-box [dialogBoxName]="'Content Types'">
    <content-type-form></content-type-form>
</dialog-box> -->


<!-- <dialog-box [dialogBoxName]="'Media Browser'" [width]="916">
    <media-browser></media-browser>
</dialog-box> -->

<div class="content">

    <!-- Hierarchy -->
    <hierarchy-container class="show-md">
        <hierarchy></hierarchy>
    </hierarchy-container>


    <!-- Product form -->
    <div class="width-100">
        <product-form></product-form>
    </div>



</div>