<div #overflowContainer class="overflow-container">
    <table (contextmenu)="$event.preventDefault()" (mouseup)="setContextMenu($event)">
        <tr *ngFor="let listItem of listItems; let listItemIndex = index">
            <td #rowItem
                tabindex="-1"
                (blur)="onListItemBlur()"
                (mousedown)="onListItemDown(listItemIndex)"
                [textContent]="listItem.name"
                (dblclick)="onListItemDoubleClick(listItemIndex)"
                [contentEditable]="indexOfEditedListItem == listItemIndex"
                [ngClass]="{'edited-listItem': indexOfEditedListItem == listItemIndex,
                            'selected-listItem': selectedListItemIndex == listItemIndex,
                            'unselected-listItem': unselectedListItemIndex == listItemIndex,
                            'selected-listItem-top': listItem.selectType == selectType.Top,
                            'selected-listItem-whole': listItem.selectType == selectType.Whole,
                            'selected-listItem-middle': listItem.selectType == selectType.Middle,
                            'selected-listItem-bottom': listItem.selectType == selectType.Bottom,
                            'transparent-listItem': indexOfEditedListItem != null && indexOfEditedListItem != listItemIndex}">
            </td>
        </tr>
    </table>
</div>

<ng-container *ngFor="let listItem of listItems; let listItemIndex = index">
    <div *ngIf="listItem.loading"  style="display: flex; justify-content: center; align-items: center; position: absolute; width: 22px; height: 22px; right: 5px;" [style.top.px]="(listItemIndex * 22) + 26">
        <i  class="fas fa-spinner fa-pulse font-size-2"></i>
    </div>
</ng-container>