<div class="widget"

[style.margin]="margins.top + 'px ' + margins.right + 'px ' + margins.bottom + 'px ' + margins.left + 'px'"


>
     
    <div class="edit-button fas" (click)="onEdit()"></div>

    
    <div class="show-hide-button fas fa-eye" [ngClass]="{'fa-eye-slash': false}"></div>


    <div class="left-handle"></div>
    <div class="right-handle"></div>
    <div class="left-handle-bar"></div>
    <div class="right-handle-bar"></div>

    
    <div style=" width: 100%;" 
    
    [style.borderBottom]="border.width + 'px ' + border.style + ' ' + getBorderColor()"
    [style.box-shadow]="shadow.enable ? shadow.x + 'px ' + shadow.y + 'px ' + shadow.blur + 'px ' + shadow.size + 'px ' + getShadowColor() : 'none'"
     
    
    ></div>
</div>