<div #widget class="widget" (mousedown)="onMousedown()"
    [ngClass]="{'widget-selected': widgetService.selectedWidget == this}" [style.margin]="horizontalAlignment.value"
    [style.maxWidth.px]="width ? width : null">


    <!-- Handles -->
    <div class="left-handle"></div>
    <div class="right-handle"></div>
    <div class="left-handle-bar" (mousedown)="onHandleMousedown('left', $event)"></div>
    <div class="right-handle-bar" (mousedown)="onHandleMousedown('right', $event)"></div>


    <div style=" width: 100%;" [style.borderBottom]="border.width + 'px ' + border.style + ' ' + border.color.toHexA()"
        [style.box-shadow]="shadow.enable ? shadow.x + 'px ' + shadow.y + 'px ' + shadow.blur + 'px ' + shadow.size + 'px ' + shadow.color.toHexA() : 'none'">
    </div>
</div>