<div #widget class="widget" (mousedown)="onMousedown()" (dblclick)="onEdit()"
    [ngClass]="{'widget-selected': widgetService.selectedWidget == this}" [style.marginTop.px]="margins.top"
    [style.marginRight]="margins.right + (margins.right == 'auto' ? '' : 'px')" [style.marginBottom.px]="margins.bottom"
    [style.marginLeft]="margins.left + (margins.left == 'auto' ? '' : 'px')" [style.maxWidth.px]="width ? width : null">


    <!-- Handles -->
    <div class="left-handle"></div>
    <div class="right-handle"></div>
    <div class="left-handle-bar" (mousedown)="onHandleMove('left')"></div>
    <div class="right-handle-bar" (mousedown)="onHandleMove('right')"></div>


    <div style=" width: 100%;" [style.borderBottom]="border.width + 'px ' + border.style + ' ' + getBorderColor()"
        [style.box-shadow]="shadow.enable ? shadow.x + 'px ' + shadow.y + 'px ' + shadow.blur + 'px ' + shadow.size + 'px ' + getShadowColor() : 'none'">
    </div>
</div>