<!-- Panel -->
<panel #panel [title]="'Content'">

    <!-- Property Box -->
    <div class="property-box-light">

        <!-- Container for paginator & icons -->
        <div class="property-box-light-icon-bar">

            <!-- Paginator -->
            <paginator [itemCount]="content.length" (onItemChange)="contentIndex = $event"></paginator>
            
            <!-- Icons -->
            <div class="icons">

                <!-- Delete Content Icon -->
                <div class="icon-container">
                    <i class="fas fa-trash-alt"></i>
                </div>

                <!-- Add Content Icon -->
                <div class="icon-container">
                    <i class="fas fa-plus-circle"></i>
                </div>
            </div>
        </div>


        <!-- Content -->
        <div *ngIf="content.length > 0; else placeholder" class="content">


            <!-- Title -->
            <div class="property">
                <div class="label" >Title:</div>
            </div>
            <input class="txt-20" [(ngModel)]="content[contentIndex].title">
            


            <!-- Icon -->
            <div class="property">
                <div class="label">Icon:</div>
            </div>
            <div class="property-box-dark">

                <!-- Media Browser Icon -->
                <div class="icons">
                    <div class="icon-container" showPopup [popup]="'showMediaBrowserPopup'">
                        <i class="fas fa-image"></i>
                    </div>
                </div>

                <!-- Image -->
                <div class="img-container">
                    <img [src]="'images/' + content[contentIndex].icon" (load)="panel.onContentLoad()">
                </div>
            </div>



            <!-- Price Points -->
            <div class="property">
                <div class="label">Price Points:</div>
            </div>
            <div class="property-box-dark">

                <!-- Icons -->
                <div class="icons">

                    <!-- Delete -->
                    <div class="icon-container"
                            [attr.title]="itemList.deleteIcon.isDisabled ? 'Delete Price Point (Delete)' : itemList.editIcon.isDisabled ? 'Delete Price Points (Delete)' : 'Delete Price Point (Delete)'"
                            [ngClass]="{'icon-disabled': itemList.deleteIcon.isDisabled}"
                            (mouseover)="itemList.isOverIconButton = true"
                            (mouseout)="itemList.onIconButtonMouseOut()"
                            (click)="itemList.deleteListItem()">
                        <i class="fas fa-trash-alt"></i>
                    </div>

                    <!-- Edit -->
                    <div class="icon-container"
                            [attr.title]="'Edit Price Point (Ctrl+Alt+E)'" 
                            [ngClass]="{'icon-disabled': itemList.editIcon.isDisabled}"
                            (mouseover)="itemList.isOverIconButton = true"
                            (mouseout)="itemList.onIconButtonMouseOut()"
                            (click)="!itemList.editIcon.isDisabled ? editPricePoint($event.target) : null">
                        <i class="fas fa-edit"></i>
                    </div>

                    <!-- Add -->
                    <div class="icon-container"
                            [attr.title]="'Add Price Point (Ctrl+Alt+A)'" 
                            [ngClass]="{'icon-disabled': itemList.addIcon.isDisabled}"
                            (mouseover)="itemList.isOverIconButton = true"
                            (mouseout)="itemList.onIconButtonMouseOut()"
                            (click)="!itemList.addIcon.isDisabled ? addPricePoint($event.target) : null">
                        <i class="fas fa-plus-circle"></i>
                    </div>
                </div>

                <!-- Checkbox Item LIst -->
                <checkbox-item-list
                    #itemList 
                    [listItems]="pricePointList"
                    [checkList]="content[contentIndex].priceIndices"
                    (onAddItem)="addPricePoint()"
                    (onEditItem)="editPricePoint()"
                    [menuOptions]="['Add Price Point', 'Edit Price Point', 'Delete Price Point', 'Delete Price Points']">
                </checkbox-item-list>
            </div>
        </div>

        <!-- Placeholder -->
        <ng-template #placeholder>
            <div class="no-property">No content available</div>
        </ng-template>
    </div>
</panel>