<div *show="isVisible" transitionClass="fade-end" class="modal-background fade-start" tabindex="0" (onHide)="isVisible = false">

    <div *ngIf="productInfo$ | async as productInfo" (mousedown)="$event.stopPropagation()"
        class="background-color-dark border border-primary-color overflow-auto"
        style="max-width: 800px; max-height: 100%">

        <div class="padding-16 overflow-auto">
            <!-- Close -->
            <div class="margin-bottom-8">
                <div class="float-right niche-shack-gold cursor-pointer niche-shack-gold-light-hover"
                    (click)="isVisible = false">
                    <i class="fas fa-times"></i>
                </div>
            </div>

            <!-- Product Info -->
            <product-info [productInfo]="productInfo"></product-info>

            <!-- View Details Button -->
            <button class="alt-button float-right margin-top-16" (click)="onViewDetailsClick(productInfo.product)">View
                Details</button>
        </div>


    </div>
</div>