<div *show="isVisible" transitionClass="fade-end" class="modal-background fade-start" tabindex="0" hide (onHide)="isVisible = false">

    <div *ngIf="quickLook$ | async; else loading" (mousedown)="$event.stopPropagation()"
        class="background-color-dark border border-primary-color overflow-auto"
        style="max-width: 800px; max-height: 100%">



        <!-- Close -->
        <div class="padding-2">
            <div class="float-right margin-2 alt-color cursor-pointer alt-color-light-hover" (click)="isVisible = false">
                <i class="fas fa-times"></i>
            </div>
        </div>


        <!-- Content -->
        <div class="display-flex flex-wrap flex-nowrap-sm">
            <div class="display-flex">
                <!-- Media group -->
                <div *ngIf="media.length > 0" class="media-group">
                    <div *ngFor="let media of media" class="media-thumbnail">
                        <i *ngIf="media.type == 'Video'" class="far fa-play-circle"></i>
                    </div>
                </div>

                <!-- Image -->
                <div class="margin-top-3" [ngClass]="{'margin-left-3': media.length == 0}">
                    <img [src]="'/images/' + product.image" style="max-width: 100%; width: auto; height: auto">
                </div>
            </div>


            <!-- Product Info -->
            <div>
                <div class="padding-3" style="max-width: 400px;">
                    <!-- Title -->
                    <h1 class="text-break">{{product.title}}</h1>

                    <!-- Rating -->
                    <stars class="margin-right-1" [rating]="product.rating"></stars>
                    <span class="text-nowrap primary-color-light" *ngIf="product.rating > 0">
                        {{product.totalReviews | number}} reviews
                    </span>

                    <!-- Price -->
                    <div class="alt-color">
                        <div *ngIf="product.maxPrice === 0">
                            {{product.minPrice | currency:'USD'}}
                        </div>
                        <div *ngIf="product.maxPrice > 0">
                            {{product.minPrice | currency:'USD'}} -
                            {{product.maxPrice | currency:'USD'}}
                        </div>
                    </div>

                    <!-- Description -->
                    <div class="margin-top-2">{{product.description}}</div>
                </div>
            </div>

        </div>

        <!-- View Details Button -->
        <button class="alt-button float-right margin-2" (click)="onViewDetailsClick()">View Details</button>
    </div>

    <!-- Loading -->
    <ng-template #loading>
        <i class="fas fa-spinner fa-pulse font-size-7"></i>
    </ng-template>
</div>