<div class="icon-bar">
    <!-- Trash -->
    <div class="icon-container">
        <i class="fas fa-trash-alt"></i>
    </div>

    <!-- Add -->
    <div class="icon-container">
        <i class="fas fa-plus-circle"></i>
    </div>

    <!-- Edit -->
    <div class="icon-container">
        <i class="fas fa-edit"></i>
    </div>
</div>


<select class="panel-dark" multiple>
    
    <option style="background-image: url('images/software.png')">Software</option>
    <option style="background-image: url('images/video.png')">Video</option>
    <option style="background-image: url('images/pdf.png')">PDF</option>

</select>

<!-- Button Container -->
<div class="form-button-container">
    <button>Ok</button>
    <button>Close</button>
</div>