<div *show="_FormService.showContentTypeForm" transitionClass="fade-end" class="modal-background fade-start" (onShow)="onFormOpen()">

    <!-- Dialog Box -->
    <dialog-box [dialogBoxName]="'Content Types'" [width]="300" (onClose)="onCancel()">

        <div class="icon-bar">
            <!-- Trash -->
            <div class="icon-container">
                <i class="fas fa-trash-alt"></i>
            </div>

            <!-- Add -->
            <div class="icon-container">
                <i class="fas fa-plus-circle"></i>
            </div>

            <!-- Edit -->
            <div class="icon-container">
                <i class="fas fa-edit"></i>
            </div>
        </div>


        <select #list (change)="onSelect($event)" class="panel-dark" size="3">
            
            <option value="images/software.png" style="background-image: url('images/software.png')">Software</option>
            <option value="images/video.png" style="background-image: url('images/video.png')">Video</option>
            <option value="images/pdf.png" style="background-image: url('images/pdf.png')">PDF</option>
            <option value="images/audio.png" style="background-image: url('images/audio.png')">Audio</option>
            
        </select>

        <!-- Buttons -->
        <div class="form-button-container">
            
            <button (click)="onCancel()">Cancel</button>
            <button (click)="onOk()">Ok</button>
        </div>
    </dialog-box>
    
</div> 