@import '../../../../scss/variables';

.row {
    position: relative;
    width: 100%;
    outline: none;
    user-select: none;
    outline: 1px dashed $selected-border-color;
    min-height: 20px;
}