<div class="row" [style.top.px]="top"
    [ngClass]="{'drop-widget': widgetService.currentWidget, 'flex-10': columns.length == 5}"
    (mousemove)="widgetService.currentWidget ? $event.stopPropagation(): null"
    [style.background]="'rgba(' + this.fill.color.r + ',' +  this.fill.color.g + ',' + this.fill.color.b + ',' + this.fill.color.a + ')'"
     [style.border]="border.apply ? border.width + 'px ' + border.style + ' ' + getBorderColor() : 'none'"
     [style.borderRadius]="corners.topLeft + 'px ' + corners.topRight + 'px ' + corners.bottomRight + 'px ' + corners.bottomLeft + 'px'"
     [style.box-shadow]="shadow.enable ? shadow.x + 'px ' + shadow.y + 'px ' + shadow.blur + 'px ' + shadow.size + 'px ' + getShadowColor() : 'none'"
     [style.padding]="padding.top + 'px ' + padding.right + 'px ' + padding.bottom + 'px ' + padding.left + 'px'"
     [style.alignItems]="verticalAlign.align">

    <ng-template  #viewContainerRef></ng-template>

    <div>
        <!-- Edit -->
        <div class="row-edit" *ngIf="!widgetService.currentWidget" (click)="onEdit()">Edit</div>

        <!-- Move -->
        <div class="row-move" (mousedown)="onRowMoveMousedown($event)" *ngIf="!widgetService.currentWidget">
            <i class="fas fa-arrows-alt-v"></i>
        </div>
    </div>
</div>