@import '../../../../scss/variables';

.row {
    width: 100%;
    outline: none;
    user-select: none;
    outline: 1px dashed $selected-border-color;
    outline-offset: 2px;
    min-height: 20px;
}