<div class="row" [style.top.px]="top"
    [ngClass]="{'drop-widget': widgetService.currentWidget, 'flex-10': columns.length == 5}"
    (mousemove)="widgetService.currentWidget ? $event.stopPropagation(): null">

    <ng-template #viewContainerRef></ng-template>

    <div>
        <!-- Edit -->
        <div class="row-edit" *ngIf="!widgetService.currentWidget">Edit</div>

        <!-- Move -->
        <div class="row-move" (mousedown)="onRowMoveMousedown($event)" *ngIf="!widgetService.currentWidget">
            <i class="fas fa-arrows-alt-v"></i>
        </div>
    </div>
</div>