<!-- Main Container -->
<div #container [style.left.px]="x" [style.top.px]="y"  class="container" [style.maxWidth.px]="width">

    <!-- Bar -->
    <div class="form-bar" (mousedown)="formMoveBegin($event)">
        {{dialogBoxName}}
        <!-- X Button -->
        <div class="form-x-button">X</div>
    </div>

    <!-- Base -->
    <div class="form">

        <!-- Content Container -->
        <div class="content-container">
            <ng-content></ng-content>
        </div>
    </div>
</div>