.container {

    input {
        cursor: w-resize;
        position: relative;
        top: -15px;
        background: transparent;
    
        &::selection {
            background: #191919;
        }
    }
    
    .edit-mode {
        text-align: left;
        cursor: text;
    }
}