<div #overflowContainer class="overflow-container" (contextmenu)="$event.preventDefault()" 


(mouseup)="setContextMenu($event)" >
        

    <table >
            
        <tr *ngFor="let listItem of listItems; let listItemIndex = index"
                (mousedown)="onListItemDown(listItemIndex)"
                (dblclick)="onListItemDoubleClick()"
                style="cursor: pointer;"
                [ngClass]="{
                            'hide-hover': mediaUpdateInitiated || mediaAddInitiated,
                            'edited-listItem': indexOfEditedListItem == listItemIndex,
                            'selected-listItem': selectedListItemIndex == listItemIndex,
                            'unselected-listItem': unselectedListItemIndex == listItemIndex,
                            'selected-listItem-top': listItem.selectType == selectType.Top,
                            'selected-listItem-whole': listItem.selectType == selectType.Whole,
                            'selected-listItem-middle': listItem.selectType == selectType.Middle,
                            'selected-listItem-bottom': listItem.selectType == selectType.Bottom,
                            'transparent-listItem': indexOfEditedListItem != null && indexOfEditedListItem != listItemIndex}">




            <td tabindex="-1"
                (focus)="rowItem.focus()">

                 <div *ngIf="(listItemIndex != 0 || (listItemIndex == 0 && !addingMediaInProgress)) && (!listItem.selected || !updatingMediaInProgress)" class="img"
                      [ngStyle]="{ 'background-image': 'url(images/' + (listItem.type == mediaTypeEnum.Video ? listItem.thumbnail : listItem.url) + ')'}"
                      [ngClass]="{'highlight-image': selectedListItemIndex == listItemIndex,
                                  'transparent-listItem': indexOfEditedListItem != null && indexOfEditedListItem != listItemIndex}">
                </div> 
                <div *ngIf="(listItemIndex == 0 && addingMediaInProgress) || (listItem.selected && updatingMediaInProgress)" style="width: 30px; height: 30px; display: flex; justify-content: center; align-items: center;">
                    <i  class="fas fa-spinner fa-pulse font-size-3"></i>
                </div>  
            </td>

            

            <td #rowItem
                tabindex="-1"
                (blur)="onListItemBlur()"
                [textContent]="listItem.name"
                [contentEditable]="indexOfEditedListItem == listItemIndex"
                [ngClass]="{'edited-listItem': indexOfEditedListItem == listItemIndex}">
            </td>

            

        </tr>
    </table>
</div>

<ng-container *ngFor="let listItem of listItems; let listItemIndex = index">

    <div *ngIf="(movingMediaInProgress && listItem.selected) || listItem.loading" style="display: flex; justify-content: center; align-items: center; position: absolute; width: 42px; height: 42px; right: 12px;" [style.top.px]="(listItemIndex * 42) - overflowContainer.scrollTop">

        <i  class="fas fa-spinner fa-pulse font-size-3"></i>

    </div>
</ng-container>
