<div class="overflow-container" (contextmenu)="$event.preventDefault()" 
(mouseup)="setContextMenu($event)" >
        

    <table >
            
        <tr  *ngFor="let listItem of listItems; let listItemIndex = index"
                (mousedown)="onListItemDown(listItemIndex)"
                (dblclick)="onListItemDoubleClick(listItemIndex)"
                [ngClass]="{
                            'edited-listItem': indexOfEditedListItem == listItemIndex,
                            'selected-listItem': selectedListItemIndex == listItemIndex,
                            'unselected-listItem': unselectedListItemIndex == listItemIndex,
                            'selected-listItem-top': listItem.selectType == selectType.Top,
                            'selected-listItem-whole': listItem.selectType == selectType.Whole,
                            'selected-listItem-middle': listItem.selectType == selectType.Middle,
                            'selected-listItem-bottom': listItem.selectType == selectType.Bottom,
                            'transparent-listItem': indexOfEditedListItem != null && indexOfEditedListItem != listItemIndex}">




            <td tabindex="-1">
                 <div class="img"
                      [ngStyle]="{ 'background-image': 'url(images/' + listItem.image.url + ')'}"
                      [ngClass]="{'highlight-image': selectedListItemIndex == listItemIndex,
                                  'transparent-listItem': indexOfEditedListItem != null && indexOfEditedListItem != listItemIndex}">
                </div>   
            </td>


            <td #rowItem
                tabindex="-1"
                (blur)="onListItemBlur()"
                [textContent]="listItem.name"
                [contentEditable]="indexOfEditedListItem == listItemIndex"
                [ngClass]="{'edited-listItem': indexOfEditedListItem == listItemIndex}">
            </td>
        </tr>
    </table>
</div>