<div class="overflow-container" (contextmenu)="$event.preventDefault()" 
(mouseup)="setContextMenu($event)" >
        

    <table >
            
        <tr #rowItem *ngFor="let listItem of listItems; let listItemIndex = index"
                (mousedown)="onListItemDown(listItemIndex)"
                (dblclick)="onListItemDoubleClick(listItemIndex)"
                [ngClass]="{
                            'edited-listItem': indexOfEditedListItem == listItemIndex,
                            'selected-listItem': selectedListItemIndex == listItemIndex,
                            'unselected-listItem': unselectedListItemIndex == listItemIndex,
                            'selected-listItem-top': listItems[listItemIndex].selectType == 'top',
                            'selected-listItem-whole': listItems[listItemIndex].selectType == 'whole',
                            'selected-listItem-middle': listItems[listItemIndex].selectType == 'middle',
                            'selected-listItem-bottom': listItems[listItemIndex].selectType == 'bottom',
                            'transparent-listItem': indexOfEditedListItem != null && indexOfEditedListItem != listItemIndex}">




            <td>
                 <div class="img"
                      [ngStyle]="{ 'background-image': 'url(images/' + mediaList[listItemIndex] + ')'}"
                      [ngClass]="{'highlight-image': selectedListItemIndex == listItemIndex,
                                  'transparent-listItem': indexOfEditedListItem != null && indexOfEditedListItem != listItemIndex}">
                </div>   
            </td>


            <td #listItem
                tabindex="-1"
                (blur)="onListItemBlur()"
                [textContent]="listItems[listItemIndex].name"
                [contentEditable]="indexOfEditedListItem == listItemIndex"
                [ngClass]="{'edited-listItem': indexOfEditedListItem == listItemIndex}">
            </td>
        </tr>
    </table>
</div>