.breadcrumb {
    text-align: center;
    margin-bottom: 3rem;

    a {
        color: $alt-color;
        text-decoration: underline;
        &:hover {
            color: map-get($alt-color-map, light);
        }
    }

    .fa-caret-right {
        margin: 0 10px;
    }

    span {
        color: $gray-color;
    }
}