.primary-color-gradient {
    @include gradient(generate-color-map($primary-theme-color));
}
.alt-color-gradient {
    @include gradient(generate-color-map($alt-theme-color));
}

.background-color {
    background-color: $background-color;
}
.background-color-dark {
    background-color: $background-color-dark;
}

@include generate-colors(generate-color-map($primary-theme-color), 'primary');
@include generate-colors(generate-color-map($alt-theme-color), 'alt');

.background-color-dark-gray {
    background-color: $dark-gray;
}

.disabled-color {
    color: #545454;
}