.primary-color-gradient {
    @include gradient($primary-color-map);
}
.alt-color-gradient {
    @include gradient($alt-color-map);
}

.background-color {
    background-color: $background-color;
}
.background-color-dark {
    background-color: $background-color-dark;
}

@include generate-colors($primary-color-map, 'primary');
@include generate-colors($alt-color-map, 'alt');

.background-color-dark-gray {
    background-color: $dark-gray-color;
}

.disabled-color {
    color: $disabled-color;
}

.error-color {
    color: $error-color;
}

.success-color {
    color: $success-color;
}

.gray-color {
    color: $gray-color;
}