@import '../../../../scss/custom-input';

.checkmark {
    height: 16px !important;
    width: 16px !important;
    border-radius: 3px !important;
    &:after {
        left: 4px;
        width: 7px !important;
        height: 12px !important;
    }
}