.dropdown {
    position: absolute;
    outline: 0;
    background-color: $background-color-dark;
    border: 1px solid $primary-color;
    border-radius: $border-radius;
    @include shadow;
}


.dropdown-item {
    cursor: pointer;
    &:hover {
        background-color: map-get($primary-color-map, dark);
    }
}