.dropdown {
    position: absolute;
    outline: 0;
    opacity: 0;
    background-color: $background-color-dark;
    border: 1px solid $primary-color;
    border-radius: $border-radius;
    @include shadow;
}

.show-dropdown {
    opacity: 1;
}

.dropdown-item {
    display: none;
    cursor: pointer;
}

.show-dropdown-item {
    display: block;
}

.transform {
    transform: translate(0, -100%);
    transition: transform 0.2s;
}

.translate {
    transform: translate(0, 0);
}