.dropdown {
    position: absolute;
    outline: 0;
    background-color: $default-background-color-dark;
    border: 1px solid map-get($primary-color-map, dark );
    border-radius: $border-radius;
    @include shadow;
}



.dropdown-menu-arrow::before{
    content: "";
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #ab0395;
    position: absolute;
    top: -12px;
    left: 107px;
}


.dropdown-menu-arrow::after{
    content: "";
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid rgba(19, 18, 18, 0.9);
    position: absolute;
    top: -11px;
    left: 107px;
}


.dropdown-item {
    cursor: pointer;
    &:hover {
        background-color: map-get($primary-color-map, dark);
    }
}