.form-page {
    margin: auto;
    max-width: 360px;
    margin-top: 20px;

    input:not([type="checkbox"]), textarea, h1, h4, button {
        width: 88%;
        margin: auto;
    }

    input:not([type="checkbox"]) {
        border-radius: 4px;
        border: 1px solid $border-gray;
        background: #282828;
        color: $base-color;
        outline: none;
        height: 30px;
        padding-left: 5px;
    }

    h1 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    h4 {
        margin-bottom: 5px;
    }

    input:not([type="checkbox"]), button {
        margin-bottom: 20px;
        display: block;
    }
}