.page-container {
    position: relative;
    min-height: 100vh;
}

.content-container {
    // Padding for header
    padding-top: 79px;

    // Padding for footer
    padding-bottom: 309px;
}


.content {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;

    h1 {
        color: $alt-color;
        margin-bottom: 30px;
    }
}

.page-section {
    font-size: 22px;
    color: $alt-color;
    text-align: center;
    margin: 2rem;
}


// Media queries for footer padding
@each $min-width, $padding in (map-get($breakpoints, md): 196px, map-get($breakpoints, xl): 166px) {
    @media (min-width: $min-width) {
        .content-container {
            padding-bottom: $padding;
        }
    }
}