// Alignment
.text-justify  { text-align: justify; }
.text-wrap     { white-space: normal; }
.text-nowrap   { white-space: nowrap; }
.text-truncate { 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

// Responsive alignment
@each $key in map-keys($breakpoints) {
    @include media-breakpoint($key) {
        $extension: get-class-extension($key);

        .text#{$extension}-left   { text-align: left; }
        .text#{$extension}-right  { text-align: right; }
        .text#{$extension}-center { text-align: center; }
    }
}

// Weight and italics
.font-weight-bold    { font-weight: bold; }
.font-italic         { font-style: italic; }

// Misc
.text-decoration-none { text-decoration: none; }

.text-break {
    word-break: break-word; // IE & < Edge 18
    overflow-wrap: break-word;
}