@import '../../../../scss/variables';

$num-columns: 12;


// Colors
$base-color: #dadada;
$background-color: #1b1b1b;
$background-color-dark: #121212;
$primary-color: #8a0077;
$alt-color: #ffba00;
$default-button-colors: #919191, #696969;
$dark-gray-color: #242424;
$gray-color: #acacac;
$border-color: #3d3d3d;
$success-color: #00ff00;
$error-color: #ff0000;
$disabled-color: #545454;
$white-color: white;
$input-background-color: #282828;

// Color Maps
$primary-color-map: generate-color-map($primary-color);
$alt-color-map: generate-color-map($alt-color);


// Custom Input
$checkmark-background-color: #eee;
$checkmark-background-hover-color: #ccc;
$checkmark-background-checked-color: $white-color;
$checkmark-indicator-color: $primary-color;
$custom-input-size: 1rem;