@import '../../../../scss/variables';


// Colors
$default-font-color: #dadada;
$default-background-color: #1b1b1b;
$default-background-color-dark: #191919;
$primary-color: #8a0077;

$default-button-colors: #919191, #696969;
$dark-gray-color: #242424;
$gray-color: #acacac;
$border-color: #3d3d3d;
$white-color: white;
$input-background-color: #282828;
$input-color: $default-font-color;
$validation-form-color: $niche-shack-gold;

// Color Maps
$primary-color-map: generate-color-map($primary-color);
$niche-shack-gold-map: generate-color-map($niche-shack-gold);


// Custom Input
$checkmark-background-color: $niche-shack-gold;
$checkmark-background-hover-color: lighten($niche-shack-gold, 20%);
$checkmark-background-checked-color: $niche-shack-gold;
$checkmark-indicator-color: black;