<!-- ----------------------Tab Title-------------- -->
<div class="tab-title">Shadow</div>



<!-- -------------------Enable Shadow------------------- -->
<div class="property-row" style="padding-top: 10px; padding-bottom: 9px;">
    <!-- Name -->
    <div style="user-select: none;">Enable Shadow:</div>

    <!-- Value -->
    <input type="checkbox">
</div>


<!-- -------------------Angle------------------------ -->
<div class="property-row">
    <!-- Name -->
    <div style="user-select: none; cursor: e-resize;">Angle:</div>

    <!-- Value -->
    <div class="display-flex">
        <!-- Text Box --> <input type="text" class="text-box hide-text-box" value="100">
        <!-- Label -->
        <div style="user-select: none">&#176;</div>
    </div>
</div>


<!-- -------------------Distance------------------------ -->
<div class="property-row">

    <!-- Name -->
    <div style="user-select: none; cursor: e-resize;">Distance:</div>

    <!-- Value -->
    <div class="display-flex">
        <!-- Text Box --> <input type="text" class="text-box hide-text-box" value="100">
        <!-- Label -->
        <div class="px">px</div>
    </div>
</div>


<!-- -------------------Size------------------------ -->
<div class="property-row">

    <!-- Name -->
    <div style="user-select: none; cursor: e-resize;">Size:</div>

    <!-- Value -->
    <div class="display-flex">
        <!-- Text Box --> <input type="text" class="text-box hide-text-box" value="100">
        <!-- Label -->
        <div class="px">px</div>
    </div>
</div>


<!-- -------------------Blur------------------------ -->
<div class="property-row">

    <!-- Name -->
    <div style="user-select: none; cursor: e-resize;">Blur:</div>

    <!-- Value -->
    <div class="display-flex">
        <!-- Text Box --> <input type="text" class="text-box hide-text-box" value="100">
        <!-- Label -->
        <div class="px">px</div>
    </div>
</div>


<!-- -------------------Color------------------- -->
<div class="property-row" style="padding-top: 9px;">

    <!-- Name -->
    <div style="user-select: none;">Color:</div>

    <!-- Color Swatch -->
    <color-swatch></color-swatch>
</div>