<!-- Panel -->
<panel [title]="'Subgroups'">

    <!-- Property Box -->
    <div class="property-box-dark" style="position: relative;">

        <!-- Icons -->
        <div class="icons">

            <!-- Delete -->
            <div class="icon-container"
                 (click)="onListItemDelete()"
                 (mouseout)="itemList.onIconButtonMouseOut()"
                 (mouseover)="itemList.isOverIconButton = true"
                 [ngClass]="{'icon-disabled': itemList.deleteIcon.isDisabled}"
                 [attr.title]="!itemList.isMultiSelected ? 'Delete Subgroup (Delete)' : 'Delete Subgroups (Delete)'"><i class="fas fa-trash-alt"></i>
            </div>

            
            <!-- Add -->
            <div class="icon-container"
                 (click)="openPopup($event.target)"
                 [attr.title]="'New Subgroup (Ctrl+Alt+N)'"
                 (mouseout)="itemList.onIconButtonMouseOut()"
                 (mouseover)="itemList.isOverIconButton = true"
                 [ngClass]="{'icon-disabled': itemList.addIcon.isDisabled}"><i class="fas fa-plus-circle"></i>
            </div>
        </div>


        <!-- Item LIst -->
        <item-list 
            #itemList
            [listItems]="product.subgroups"
            [listOptions]="itemListOptions">
        </item-list>


        <!-- Placeholder -->
        <div *ngIf="product.subgroups && product.subgroups.length == 0" class="no-property">No subgroups available</div>
    </div>
</panel>