<!-- Name -->
<div style="user-select: none; cursor: e-resize;" (mousedown)="onRangeSliderDown($event)">{{rowName}}:</div>

<!-- Value -->
<div class="display-flex">
    <!-- Text Box -->
    <input minMax [min]="minRange" [max]="maxRange" #txt [value]="formServiceProperty" (keydown.enter)="$event.target.blur()"
         (input)="onInputChange()"
        class="text-box hide-text-box" (focus)="$event.target.select();" (blur)="onBlur()" maxlength="2"
        (minMaxOut)="out.emit($event)">
    <!-- Label -->
    <div (mouseup)="txt.select()" class="px">px</div>
</div>

<div *ngIf="rangeSliderDown" [style.width.px]="getWidth()" [style.height.px]="getHeight()"
    style="cursor: e-resize; position: fixed; left: 0px; top: 0px; height: 100px; z-index: 100;"></div>