<navbar></navbar>

<div class="page-container">
    <div class="content-container">

        <div class="content" style="max-width: 440px;">
            <!-- Page title -->
            <h1>Your Account</h1>
            <div class="margin-left-8">

                <!-- Manage Account -->
                <div class="niche-shack-gold-color">Manage Account</div>
                <div class="icon-container">

                    <!-- Orders -->
                    <a routerLink="orders">
                        <img src="assets/orders.png">
                        <div>Orders</div>
                    </a>


                    <!-- Profile -->
                    <a routerLink="profile">
                        <img src="assets/profile.png">
                        <div>Profile</div>
                    </a>


                    <!-- Lists -->
                    <a routerLink="/account/lists">
                        <img src="assets/lists.png">
                        <div>Lists</div>
                    </a>

                     <!-- Email Preferences -->
                     <a routerLink="/account/email-preferences">
                        <img src="assets/email_preferences.png">
                        <div>Email Preferences</div>
                    </a>
                </div>



                <!-- Customer Service -->
                <div class="niche-shack-gold-color">Customer Service</div>
                <div class="icon-container">

                    <!-- Order Support -->
                    <a href="https://www.clkbank.com" target="_blank">
                        <img src="assets/order_support.png">
                        <div>Order Support</div>
                    </a>


                    <!-- Contact Us -->
                    <div style="margin: 10px; cursor: pointer;" (click)="onContactUsIconClick()">
                        <img src="assets/contact_us.png">
                        <div style="margin-bottom: 5px;">Contact Us</div>
                    </div>
                </div>
            </div>
        </div>
        <navfooter></navfooter>
    </div>
</div>