<navbar></navbar>

<div class="page-container">
    <div class="content-container">

        <div class="margin-auto content-margin padding-left-3" style="max-width: 430px;">
            <!-- Page title -->
            <h1 class="alt-color">Your Account</h1>
            <div class="margin-left-2">

                <!-- Manage Account -->
                <div class="alt-color">Manage Account</div>
                <div class="display-flex flex-wrap text-center margin-bottom-4">

                    <!-- Orders -->
                    <a routerLink="orders">
                        <div>Orders</div>
                        <img src="assets/orders.png">
                    </a>


                    <!-- Profile -->
                    <a routerLink="profile">
                        <div>Profile</div>
                        <img src="assets/profile.png">
                    </a>


                    <!-- Lists -->
                    <a routerLink="/lists">
                        <div>Lists</div>
                        <img src="assets/lists.png">
                    </a>


                    <!-- Email -->
                    <a routerLink="/preferences">
                        <div>Email</div>
                        <img src="assets/email_preferences.png">
                    </a>
                </div>



                <!-- Customer Service -->
                <div class="alt-color">Customer Service</div>
                <div class="display-flex flex-wrap text-center">

                    <!-- Order Support -->
                    <a href="https://www.clkbank.com">
                        <div>Order Support</div>
                        <img src="assets/order_support.png">
                    </a>


                    <!-- Contact Us -->
                    <a routerLink="/contact">
                        <div>Contact Us</div>
                        <img src="assets/contact_us.png">
                    </a>


                </div>
            </div>
        </div>
        <navfooter></navfooter>
    </div>
</div>