a {
    margin: 10px;
    div {
        margin-bottom: 5px;
    }

    text-decoration: none;
}

.icon-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;

    &:not(:last-child){
        margin-bottom: 24px;
    }

    img {
        margin-bottom: 4px;
    }
}