<div class="form-page content-margin">
    <!-- Logo -->
    <img src="assets/Logo.png" routerLink="" title="Niche Shack Homepage">

    <!-- Error -->
    <div *ngIf="error" class="error-box">
        <i class="fas fa-exclamation-triangle"></i>
        <div>{{error}}</div>
    </div>

    <form (ngSubmit)="onSubmit()" #form="ngForm">
        <h1>Forgot Password</h1>

        <!-- Caption -->
        <div class="fixed-width margin-auto margin-bottom-3">Enter the email address associated with your Niche Shack account and we’ll email you a verification code to
            create a new password.</div>

        

        <!-- Email -->
        <h4 *ngIf="valid(email); else invalidEmail">Email:</h4>

        <!-- Invalid email -->
        <ng-template #invalidEmail>
            <h4 class="error-color">Please enter a valid email address.</h4>
        </ng-template>
        <input required email [(ngModel)]="emailAddress" name="email" #email="ngModel">

        
        <!-- Continue button -->
        <button class="alt-button">Continue</button>
    </form>

    <div class="text-center margin-top-3 margin-bottom-3 text-underline disabled-color">
        <a class="margin-right-3" routerLink="/terms">Terms of Use</a>
        <a routerLink="/privacy-policy">Privacy Policy</a>
    </div>
</div>