<div class="content form-page">
    <!-- Logo -->
    <img src="assets/Logo.png" routerLink="" title="Niche Shack Homepage">

    <!-- Error -->
    <div *ngIf="conflictError" class="error-box">
        <i class="fas fa-exclamation-triangle"></i>
        <div>{{conflictError}}</div>
    </div>

    <form (ngSubmit)="onSubmit()" #form="ngForm">
        <h1>Forgot Password</h1>

        <!-- Caption -->
        <div class="fixed-width caption">Enter the email address associated with your Niche Shack account and we’ll email you a verification code to
            create a new password.</div>

        

        <!-- Email -->
        <h4 *ngIf="valid(email); else invalidEmail">Email:</h4>

        <!-- Invalid email -->
        <ng-template #invalidEmail>
            <h4 class="error">Please enter a valid email address.</h4>
        </ng-template>
        <input required email [(ngModel)]="emailAddress" name="email" #email="ngModel">

        
        <!-- Continue button -->
        <button class="alt-button">Continue</button>
    </form>

    <div class="footer">
        <a routerLink="/terms">Terms of Use</a>
        <a routerLink="/privacy-policy">Privacy Policy</a>
    </div>
</div>