<!-- Popup Base -->
<div #popup transitionClass="fade-end" class="popup-base fade-start" (onShow)="onPopupShow(popup, arrow)"
    *show="popupService.linkPopup.show">

    <!-- Arrow -->
    <div #arrow [ngClass]="{'arrow-on-top': arrowOnTop, 'arrow-on-bottom': !arrowOnTop}"></div>


    <!-- None -->
    <div class="radio-button-option">
        <radio-button [name]="'link-option'" [label]="'None'"
            (change)="link.selectedOption = linkOption.None; link.url = ''; reset()"
            [checked]="link.selectedOption == linkOption.None"></radio-button>
    </div>

    <!-- Page -->
    <div class="radio-button-option">
        <radio-button [name]="'link-option'" [label]="'Page'"
            (change)="link.selectedOption = linkOption.Page; apiUrl = pagesUrl; reset()"
            [checked]="link.selectedOption == linkOption.Page"></radio-button>
    </div>

    

    <!-- Product -->
    <div class="radio-button-option">
        <radio-button [name]="'link-option'" [label]="'Product'"
            (change)="link.selectedOption = linkOption.Product; apiUrl = productsUrl; reset()"
            [checked]="link.selectedOption == linkOption.Product">
        </radio-button>
    </div>

    <!-- Web Address -->
    <div class="radio-button-option">
        <radio-button [name]="'link-option'" [label]="'Web Address'"
            (change)="link.selectedOption = linkOption.WebAddress; searchResults = null; reset()"
            [checked]="link.selectedOption == linkOption.WebAddress"></radio-button>
    </div>

    <!-- On Click() -->
    <div class="radio-button-option">
        <radio-button [name]="'link-option'" [label]="'On Click()'" (change)="link.selectedOption = linkOption.OnClick; link.url = 'onClick()'; link.optionValue = 'onClick()'; 
            searchResults = null; preventNoShow = false" [checked]="link.selectedOption == linkOption.OnClick">
        </radio-button>
    </div>

    <div style="position: relative;">
        <!-- Input -->
        <input id="search-input" class="txt-20" (click)="$event.target.select()" [value]="link.optionValue ? link.optionValue : ''"
            [disabled]="link.selectedOption == linkOption.None || link.selectedOption == linkOption.OnClick"
            autocomplete="off" (input)="OnInput($event.target.value)">

            <div class="clear-results" (click)="reset()" >
                <i class="fas fa-times"></i>
            </div>

        <!-- Search -->
        <div class="search-container" *ngIf="searchResults">
            <div class="search-item text-truncate" *ngFor="let result of searchResults" (click)="onResultClick(result)" [title]="result.name">
                {{result.name}}</div>
        </div>
    </div>



    <!-- Disabled cover -->
    <div *ngIf="link.disabled" class="disable-cover"></div>

</div>