<!-- Menu Bar -->
<div class="menu-bar">

    <!-- Menus Container -->
    <div class="menus-container">

        <!-- Shack Icon -->
        <shack-icon></shack-icon>

        <!-- Menu Bar Menus -->
        <div #menu class="menu-bar-menu" *ngFor="let menuBarMenu of menuBarMenus"
            [ngClass]="{'selected-menu': selectedMenuBarMenu == menuBarMenu}"
            (mousedown)="selectedMenuBarMenu = menuBarMenu; menuBarMenu.showMenuFunction.apply(this, [menu])"
            (mouseover)="selectedMenuBarMenu != null ? selectedMenuBarMenu = menuBarMenu : null; selectedMenuBarMenu != null ? menuBarMenu.showMenuFunction.apply(this, [menu]) : null">
            {{menuBarMenu.name}}
        </div>
    </div>

    <!-- Notifications -->
    <div class="icon-container" (click)="showNotificationsPopup(bell)">
        <i #bell class="fas fa-bell"></i>
        <div *ngIf="notificationService.newNotifications.length + notificationService.pendingNotifications.length > 0" class="notification-circle">
            <div>{{notificationService.getNewNotificationsCount() + notificationService.getPendingNotificationsCount()}}</div>
        </div>
    </div>
</div>