@import '../../../scss/variables';
@import '../../../../../../scss/arrows';

.menu-bar {
    width: 100%;
    height: 32px;
    border: 1px solid $border-color;
    background: #252525;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}


.icon-container {
    margin-right: 1.5rem;
}

.notification-circle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    background: #fa3e3e;
    left: 10px;
    top: -2px;
    color: white;
    font-size: 0.75rem;
}