<!-- Menu -->
<div class="menu-bar">

    <shack-icon></shack-icon>

    <div style="display: flex;">

        <!-- User Name -->
        <div class="margin-right-24 font-size-2" style="color: white">Welcome, Gabe</div>

        <!-- Notifications Dropdown -->
        <div class="icon-container position-relative" (click)="showNotificationsPopup(bell)">
            <i #bell class="fas fa-bell font-size-4"></i>
            <div *ngIf="notificationService.newNotifications.length > 0" class="notification-circle">
                <div>{{notificationService.newNotifications.length}}</div>
            </div>
        </div>

        
        <!-- Navigation Dropdown -->
        <div #navigationDropdown class="icon-container" (mousedown)="showNavigationMenu()">
            <div class="arrow-down"></div>
        </div>
    </div>








</div>
<!-- <notifications #notificationsMenu></notifications> -->