<fieldset class="margin-right-3-xxl" style="height: 294px; position: relative;">
    <legend>Content</legend>

    <!-- Icon Bar -->
    <div class="icon-bar">


        <!-- Trash -->
        <div title="Delete"
             class="icon-container"
             (mouseover)="overIconButton = true"
             (mouseout)="onIconButtonMouseOut()"
             (click)="delete()">
            <i class="fas fa-trash-alt"></i>
        </div>
    </div>

        
    <div class="background">

        <table>
            
            <!---------- (1st Row) ---------->
            <tr>
                <td></td>
                <td></td>
                <td></td>

                <!-- column selectors -->
                <td #columnSelector
                    *ngFor="let pricePoint of productContent.pricePoints; let columnIndex = index"
                    tabindex="-1"
                    (focus)="onColumnSelectorFocus(columnIndex)"
                    (blur)="onElementBlur()"
                    (mouseup)="setContextMenu($event)"
                    (contextmenu)="$event.preventDefault()"
                    [ngClass]="{'selected-cells': selectedColumnIndex == columnIndex}">
                </td>
            </tr>



            <!---------- (2nd Row) ---------->
            <tr>
                <td></td>
                <td></td>
                <td>Items</td>

                <!-- Price points -->
                <td #pricePoint
                    *ngFor="let pricePoint of productContent.pricePoints; let columnIndex = index"
                    tabindex="-1"
                    (focus)="onPricePointFocus(columnIndex)"
                    (blur)="onElementBlur()"
                    (click)="onPricePointClick()"
                    [ngClass]="{'selected-cells': selectedColumnIndex == columnIndex, 'selected-price-point': productContent.selectedPricePointIndex == columnIndex}">
                    {{(productContent.pricePoints[columnIndex].textBefore.length == 0 ? productContent.pricePoints[columnIndex].textBefore : productContent.pricePoints[columnIndex].textBefore + " ")
                        + 
                        (productContent.pricePoints[columnIndex].wholeNumber + "." + productContent.pricePoints[columnIndex].decimal | currency:"USD") 
                        + 
                        (productContent.pricePoints[columnIndex].textAfter.length == 0 ? productContent.pricePoints[columnIndex].textAfter : " " + productContent.pricePoints[columnIndex].textAfter) }}
                </td>
            </tr>


            <!---------- (Item Rows) ---------->
            <tr *ngFor="let item of productContent.items; let rowIndex = index">

                <!-- Row selectors -->
                <td #rowSelector
                    tabindex="-1"
                    (contextmenu)="$event.preventDefault()"
                    (focus)="onRowSelectorFocus(rowIndex)"
                    (blur)="onElementBlur()"
                    (mouseup)="setContextMenu($event)"
                    [ngClass]="{'selected-cells': selectedRowIndex == rowIndex}">
                </td>

                <!-- Item types -->
                <td #itemType
                    tabindex="-1"
                    (focus)="onItemTypeFocus(rowIndex)" 
                    (blur)="onElementBlur()"
                    (click)="onItemTypeClick(rowIndex)"
                    [ngClass]="{'selected-content-type': productContent.selectedItemTypeIndex == rowIndex,'selected-cells': selectedRowIndex == rowIndex}">
                    <img [src]="productContent.items[rowIndex].type" draggable="false">
                </td>

                <!-- Item descriptions -->
                <td #itemDesc 
                    tabindex="-1"
                    contenteditable="true"
                    (focus)="onItemDescriptionFocus(rowIndex)"
                    (blur)="onElementBlur()"
                    (input)="setItemDescription(rowIndex, itemDesc, $event)"
                    [textContent]="productContent.items[rowIndex].description"
                    [ngClass]="{'selected-cells': selectedRowIndex == rowIndex, 'item-description-placeholder': productContent.items[rowIndex].showPlaceholder, 'selected-item-description': selectedItemDescriptionIndex == rowIndex}">
                </td>

                <!-- Price point options -->
                <td #pricePointOption
                    *ngFor="let pricePointOption of productContent.pricePoints; let columnIndex = index"
                    tabindex="-1"
                    (focus)="onPricePointOptionFocus(columnIndex, rowIndex)"
                    (blur)="onElementBlur()"
                    (click)="onPricePointOptionClick()"
                    [ngClass]="{'selected-cells': selectedColumnIndex == columnIndex || selectedRowIndex == rowIndex, 
                                    'selected-column': selectedColumnIndex == columnIndex, 
                                    'selected-row': selectedRowIndex == rowIndex, 
                                    'selected-price-point-option': selectedPricePointOptionColumnIndex == columnIndex && selectedPricePointOptionRowIndex == rowIndex}">
                    <i [ngClass]="{'fas fa-check': productContent.items[rowIndex].pricePointOptions[columnIndex]}"></i>
                </td>
            </tr>
        </table>
    </div>
</fieldset>