@import '../../../scss/variables';

.header {
    margin: 16px 0 0;
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
}


.filter-menu {
    width: 100%;
    background-color: $default-background-color-dark;
    position: fixed;
    border: 1px solid $primary-color;
    outline: 0;
    z-index: 1000;
    min-height: 100%;

    .close-header {
        background-color: $dark-gray-color;
        padding: 8px 0;
        overflow: auto;
        display: flex;
        justify-content: flex-end;

        .fa-times {
            margin-right: 8px;
            color: $niche-shack-gold;
        }
    }
}