<!-- Menu Base -->
<div #htmlMenu 
     tabindex="-1"
     class="menu-base"
     (mousedown)="$event.stopPropagation()"
     (contextmenu)="$event.preventDefault()"
     *ngIf="dropdownMenuService.dropdownMenu.isVisible"
     (blur)="dropdownMenuService.dropdownMenu.onMenuBlur()"
     (onShow)="dropdownMenuService.dropdownMenu.onShow(htmlMenu)"
     [style.minWidth.px]="dropdownMenuService.dropdownMenu.width"
     [style.left]="dropdownMenuService.dropdownMenu.setMenuPosition(htmlMenu)"
     [style.height.px]="((dropdownMenuService.dropdownMenu.list.length * 22) + (dropdownMenuService.dropdownMenu.isEditable ? 5 : 0)) + 2">

     <!-- Loop through all the dropdown options -->
     <ng-container *ngFor="let dropdownOption of dropdownMenuService.dropdownMenu.list">

          <!-- Dropdown Option -->
          <div class="dropdown-option"
               (click)="dropdownOption.onClick(dropdownMenuService.dropdownMenu, dropdownOption)" 
               [ngClass]="{'selected-option': dropdownMenuService.dropdownMenu.selectedOption == dropdownOption}">
               {{dropdownOption.option.key}}
          </div>

          <!-- Editable Other Line -->
          <div class="editable-other-line"
               *ngIf="dropdownMenuService.dropdownMenu.isEditable && dropdownOption.getIndex(dropdownMenuService.dropdownMenu, dropdownOption) == 0">
          </div>
     </ng-container>
</div>