<!-- Menu Base -->
<div #menu *ngIf="dropdownMenuService.showMenu"
     tabindex="-1"
     class="menu-base"
     (mousedown)="$event.stopPropagation()"
     (contextmenu)="$event.preventDefault()"
     (blur)="dropdownMenuService.onMenuBlur()"
     (onShow)="dropdownMenuService.onMenuShow(menu)"
     [style.minWidth.px]="dropdownMenuService.menuWidth"
     [style.left]="dropdownMenuService.setMenuPosition(menu)"
     [style.height.px]="((dropdownMenuService.menuOptions.length * 22) + (dropdownMenuService.isEditable ? 5 : 0)) + 2">

     <!-- Menu Option -->
     <ng-container *ngFor="let i of dropdownMenuService.menuOptions; let optionIndex = index">
          <div 
               class="menu-option"
               (click)="dropdownMenuService.onMenuOptionSelect(optionIndex)" 
               [ngClass]="{'selected-option': dropdownMenuService.selectedIndex == optionIndex}">
               {{dropdownMenuService.menuOptions[optionIndex].key}}
          </div>

          <div *ngIf="optionIndex == 0 && dropdownMenuService.isEditable" style="width: 100%; height: 1px; background: #383838; margin-top: 2px; margin-bottom: 2px;"></div>
          
     </ng-container>
</div>



    