@import '../../../../scss/variables';

.bar-base {
    width: 200px;
    height: 15px;
    background: $border-color;
    border-radius: 10px;
    .bar {
        height: 15px;
        background: $niche-shack-gold;
        border-radius: 10px;
    }
}