<div class="container">
    <div *ngIf="product.rating > 0; else noRating" class="rating-container">

        <!-- Rating & Stars -->
        <div class="margin-right-16-sm width-100 width-auto-sm" style="text-align: center;">
            <div style="display: flex; align-items: center; justify-content: center;">
                <div class="niche-shack-gold-color" style="font-size: 46px; font-weight: bold; margin-right: 8px;">
                    {{product.rating | number:'1.1-1'}}</div>

                <div>
                    <stars [rating]="product.rating"></stars>
                    <div class="primary-color-light">
                        {{product.totalReviews | number}} review{{product.totalReviews > 1 ? 's' : ''}}
                    </div>
                </div>
            </div>
            <button class="alt-button width-100-sm" style="margin-bottom: 16px;"
                    (click)="onWriteReviewClick(product.id)">Write a Review</button>
        </div>



        <!-- bars -->
        <div>
            <div class="bars-container"
                *ngFor="let stat of reviewStats; let i = index">
                <div style="width: 50px">{{stat.name}}</div>
                <div class="bar-base">
                    <div class="bar" [style.width.px]="stat.percentage * 2"></div>
                </div>

                <div class="show-xs" style="margin-left: 4px;">
                    {{(stat.percentage)}}%
                </div>
            </div>
        </div>
    </div>

    <!-- No Rating -->
    <ng-template #noRating>
        <div style="text-align: center;">
            <div class="primary-color-light" style="margin-bottom: 8px;">Be the first to review this item!</div>
            <button class="alt-button" (click)="onWriteReviewClick(product.id)">Write a Review</button>
        </div>

    </ng-template>
</div>