<!-- Popup Base -->
<div #popup transitionClass="fade-end" class="popup-base fade-start" (onShow)="onPopupShow(popup, arrow)"
    *show="popupService.mediaBrowserPopup.show">

    <!-- Arrow -->
    <div #arrow [ngClass]="{'arrow-on-top': arrowOnTop, 'arrow-on-bottom': !arrowOnTop}"></div>

    <!-- Media Type Container -->
    <div class="media-type-container">

        <!-- Label -->
        <div class="media-type-label">
            <div class="label">Media Type:</div>
        </div>

        <!-- Dropdown -->
        <div class="dropdown">
            <dropdown [title]="''"
                      [height]="20"
                      [keyValue]="dropdownOptions"
                      (onChange)="onDropdownChange($event, searchInput)"
                      [selectedIndex]="popupService.mediaType == mediaType.Video ? 0 : popupService.mediaType">
            </dropdown>

            <!-- Dropdown Cover -->
            <div *ngIf="loadingMediaInProgress || addingMediaInProgress || movingMediaInProgress"
                 class="dropdown-cover">
            </div>
        </div>
    </div>

    
    <!-- Search -->
    <div class="search-container">
        <!-- Icon -->
        <div class="search-icon-container">
            <input #mediaSelectInput
                   type="file"
                   class="media-select-input"
                   (change)="updatingMediaIndex == null ? setNewImage($event) : setUpdateImage($event)">
            <i class="fas fa-search search-icon"></i>
        </div>

        <!-- Input -->
        <div class="input-container">
            <input #searchInput type="text" id="search-input" autocomplete="off">
        </div>
    </div>

    
    <!-- Media Container -->
    <div class="media-container">

        <!-- Spinner -->
        <div *show="loadingMediaInProgress"
             class="fade-start spinner"
             transitionClass="fade-end">
            <i  class="fas fa-spinner fa-pulse font-size-5"></i>
        </div>

        <!-- No Media -->
        <div *ngIf="noMedia" class="no-media">
            <div *ngIf="indexOfCurrentMediaList == mediaType.Image">No images available</div>
            <div *ngIf="indexOfCurrentMediaList == mediaType.BackgroundImage">No background images available</div>
            <div *ngIf="indexOfCurrentMediaList == mediaType.BannerImage">No banner images available</div>
            <div *ngIf="indexOfCurrentMediaList == mediaType.CategoryImage">No category images available</div>
            <div *ngIf="indexOfCurrentMediaList == mediaType.ProductImage">No product images available</div>
            <div *ngIf="indexOfCurrentMediaList == mediaType.Icon">No icons available</div>
            <div *ngIf="indexOfCurrentMediaList == mediaType.Video">No videos available</div>
        </div>

        <!-- Media List -->
        <div class="media-list">
            <media-item-list 
                #mediaItemList
                *ngIf="!loadingMediaInProgress"
                (updateItemName)="updateMediaName($event)"
                (onAddMedia)="openForm(mediaSelectInput)"
                (onUpdateMedia)="openForm(mediaSelectInput, $event)"
                (onMoveMedia)="onMoveMedia($event)"
                (onMediaSelect)="onMediaSelect($event)"
                [listItems]="mediaLists[indexOfCurrentMediaList]"
                [mediaType]="indexOfCurrentMediaList"
                [addingMediaInProgress]="addingMediaInProgress"
                [updatingMediaInProgress]="updatingMediaInProgress"
                [movingMediaInProgress]="movingMediaInProgress"
                [autoSelectedMediaItemIndex]="autoSelectedMediaItemIndex"
                [menuOptions]="[menuOptions[indexOfCurrentMediaList].add, menuOptions[indexOfCurrentMediaList].edit, menuOptions[indexOfCurrentMediaList].update, menuOptions[indexOfCurrentMediaList].delete, menuOptions[indexOfCurrentMediaList].deletes]">
            </media-item-list>
        </div>
    </div>
</div>