<!-- Popup Base -->
<div #popup transitionClass="fade-end" class="popup-base fade-start" (onShow)="onPopupShow(popup, arrow)"
    *show="popupService.mediaBrowserPopup.show" style="width: 250px;">

    <!-- Arrow -->
    <div #arrow [ngClass]="{'arrow-on-top': arrowOnTop, 'arrow-on-bottom': !arrowOnTop}"></div>

    <!-- Media Type Container -->
    <div class="media-type-container">

        <!-- Label -->
        <div class="media-type-label">
            <div class="label">Media Type:</div>
        </div>

        <!-- Dropdown -->
        <div class="dropdown">
            <dropdown [height]="20" [title]="''" [selectedIndex]="popupService.mediaType" (onChange)="onDropdownChange($event)" [keyValue]="[
                                  {key: 'Images', value: 0},
                                  {key: 'Background Images', value: 1}, 
                                  {key: 'Banner Images', value: 2}, 
                                  {key: 'Category Images', value: 3},
                                  {key: 'Product Images', value: 4},
                                  {key: 'Icons', value: 5},
                                  {key: 'Videos', value: 6}
                                  ]">
            </dropdown>
            <div *ngIf="loadingMediaInProgress || addingMediaInProgress || movingMediaInProgress"
                style="position: relative; top: -20px; background: rgba(25, 25, 25, 0.6); width: 100%; height: 20px;">
            </div>
        </div>
    </div>

    


    <!-- Search -->
    <div class="search-container">
        <div class="search-icon-container">


            <input style="width: 0; height: 0;" #mediaSelectInput type="file" (change)="onGetNewMedia($event)">
            <i style="position: relative; left: -5px;" class="fas fa-search"></i>

        </div>

        <div class="input-container">
            <input>
        </div>
    </div>

    <div style="width: 100%; height: 423px; border: 1px solid #373737; position: relative;">


        <!--   -->
        <div *show="loadingMediaInProgress" class="fade-start" transitionClass="fade-end"
            style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; position: absolute; top: 0px;">
            <i  class="fas fa-spinner fa-pulse font-size-5"></i>
        </div>


        <div *ngIf="noMedia"
            style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; color: #888888; font-size: 13px; position: absolute; top: 0px;">
            <div *ngIf="indexOfSelectedMediaList == mediaType.Image">No images available</div>
            <div *ngIf="indexOfSelectedMediaList == mediaType.BackgroundImage">No background images available</div>
            <div *ngIf="indexOfSelectedMediaList == mediaType.BannerImage">No banner images available</div>
            <div *ngIf="indexOfSelectedMediaList == mediaType.CategoryImage">No category images available</div>
            <div *ngIf="indexOfSelectedMediaList == mediaType.ProductImage">No product images available</div>
            <div *ngIf="indexOfSelectedMediaList == mediaType.Icon">No icons available</div>
            <div *ngIf="indexOfSelectedMediaList == mediaType.Video">No videos available</div>
        </div>

        <div style="width: 100%; height: 100%; position: absolute; top: 0px;">

            <!-- Images -->
            <media-item-list 
                #mediaItemList
                *ngIf="!loadingMediaInProgress"
                (onAddMedia)="mediaSelectInput.click()"
                (onMoveMedia)="onMoveMedia($event)"
                (onMediaSelect)="onMediaSelect($event)"
                [listItems]="mediaLists[indexOfSelectedMediaList]"
                [mediaType]="indexOfSelectedMediaList"
                [addingMediaInProgress]="addingMediaInProgress"
                [movingMediaInProgress]="movingMediaInProgress"
                [menuOptions]="[menuOptions[indexOfSelectedMediaList].add, menuOptions[indexOfSelectedMediaList].edit, menuOptions[indexOfSelectedMediaList].delete, menuOptions[indexOfSelectedMediaList].deletes]">
            </media-item-list>

        </div>






    </div>
</div>