@import '../../../scss/variables';

.border-style-container {
    width: 100%;
    margin-left: 30px;
    padding-top: 10px;
}

.border-style-row {
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.border-styles {
    position: relative;
    border-color: #666666;
    width: 22px;

    &:hover:not(.border-style-selected) {
        border-color: $hover-border-color;
        cursor: pointer;
    }
}

.border-style-selected {
    border-color: #107ad4;
}