<!-- Designer Container -->
<div class="designer-container">

    <!-- Bottom Section -->
    <div class="bottom-section">

        <!-- Widget Bar -->
        <div class="widget-bar">

            <ng-container *ngFor="let widget of widgets">
                <div class="icon-container" [title]="widget.title" [innerHTML]="widget.icon"
                    (mousedown)="onWidgetIconMousedown($event, widget)"></div>
            </ng-container>
        </div>


        <!-- Design Area -->
        <div class="design-area">

            <!-- Page Select Bar -->
            <div class="page-select-bar">

                <!-- Page Menu Dropdown -->
                <div class="page-menu" (mousedown)="pageMenu.show = !pageMenu.show">
                    <div>Home</div>
                    <i class="fas fa-chevron-down"></i>
                </div>


                <!-- Page Dropdown -->
                <pages-menu #pageMenu></pages-menu>



                <!-- Width Display Container -->
                <div class="width-display-container">

                    <!-- Width Display -->
                    <div class="width-display">
                        <input #widthDisplay (click)="widthDisplay.select();" (keydown)="onWidthDisplayKeydown($event)">
                    </div>
                </div>



                <!-- Publish Dropdown Container -->
                <div class="publish-dropdown-container">

                    <!-- Publish Dropdown -->
                    <div class="publish-dropdown" (mousedown)="showPublishMenu = !showPublishMenu">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </div>

                <!-- Publish Dropdown Menu -->
                <div *show="showPublishMenu" class="fade-start publish-dropdown-menu" transitionClass="fade-end"
                    tabindex="0" (onHide)="showPublishMenu = false" (blur)="showPublishMenu = false">

                    <div (mousedown)="$event.stopPropagation()">
                        <div class="publish-dropdown-option">Preview</div>
                        <div class="publish-dropdown-option">Publish</div>
                    </div>
                </div>
            </div>

            <!-- Design Area Background -->
            <div >


                <container-widget></container-widget>

                <!-- Sizing Bar Left -->
                <!-- <div class="sizing-bar" (mousedown)="onSizingBarMousedown($event, 1)">
                    <div class="ridge-container">
                        <div class="ridge"></div>
                        <div class="ridge"></div>
                        <div class="ridge"></div>
                    </div>
                </div> -->

                <!-- Canvas -->
                <!-- <div #canvasElement class="canvas"> -->

                    <!-- Content -->
                    <div #content class="content" [style.maxWidth.px]="contentWidth" (mousemove)="setCursor(true)" (mouseleave)="setCursor()">
                        <container></container>
                    </div>
                </div> -->



                <!-- Sizing Bar Right -->
                <!-- <div class="sizing-bar" (mousedown)="onSizingBarMousedown($event, -1)">
                    <div class="ridge-container">
                        <div class="ridge"></div>
                        <div class="ridge"></div>
                        <div class="ridge"></div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>