<!-- Designer Container -->
<div class="designer-container">

    <!-- Bottom Section -->
    <div class="bottom-section">

        <!-- Widget Bar -->
        <div class="widget-bar">

            <ng-container *ngFor="let widgetCursor of widgetCursors">
                <div class="icon-container" [title]="widgetCursor.title" [innerHTML]="widgetCursor.icon"
                    (mousedown)="onWidgetIconMousedown($event, widgetCursor)"></div>
            </ng-container>
        </div>


        <!-- Design Area -->
        <div class="design-area">

            <!-- Page Select Bar -->
            <div class="page-select-bar">

                <!-- Page Menu Dropdown -->
                <!-- <div class="page-menu" (mousedown)="pageMenu.show = !pageMenu.show">
                    <div>Home</div>
                    <i class="fas fa-chevron-down"></i>
                </div> -->


                <!-- Page Dropdown -->
                <!-- <pages-menu #pageMenu></pages-menu> -->



                <!-- Width Display Container -->
                <div class="width-display-container">

                    <!-- Width Display -->
                    <div class="width-display">
                        <input #widthDisplay (click)="widthDisplay.select();" (keydown)="onWidthDisplayKeydown($event)">
                    </div>
                </div>


                <!-- Prevew/Publish Dropdown -->
                <preview-publish-dropdown (onPreview)="onPreview()"></preview-publish-dropdown>

            </div>

            <!-- Design Area Background -->
            <div class="design-area-background">

                <!-- Sizing Bar Left -->
                <div class="sizing-bar" (mousedown)="onSizingBarMousedown($event, 1)">
                    <div class="ridge-container">
                        <div class="ridge"></div>
                        <div class="ridge"></div>
                        <div class="ridge"></div>
                    </div>
                </div>

                <!-- Canvas -->
                <div #canvasElement class="canvas" (mousedown)="widgetService.selectedWidget = null">

                    <!-- Content -->
                    <div #content class="content" [style.maxWidth.px]="contentWidth" >
                        <container #container></container>
                    </div>
                </div>



                <!-- Sizing Bar Right -->
                <div class="sizing-bar" (mousedown)="onSizingBarMousedown($event, -1)">
                    <div class="ridge-container">
                        <div class="ridge"></div>
                        <div class="ridge"></div>
                        <div class="ridge"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>