.designer-container {
    position: absolute;
    display: flex;
    left: 0px;
    top: 0;
    right: 0px;
    bottom: 0px;
}


.widget-bar {
    background: #363636; 
    width: 34px;
    display:flex;
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;
    .icon-container {
        margin-top: 14px;
        font-size: 16px;
    }
}


.work-area {
    display: flex;
    width: 100%;
}


.design-area-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}


.design-area-bar {
    background: linear-gradient(to bottom, #343434, #272727); 
    height: 30px; 
    margin-bottom: 1px;
    margin-left: 1px;
    padding-right: 3px;
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;
}


.design-area {
    height: 100%;
    background: #202020; 
    user-select: none; 
    margin-left: 2px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}



.design-area-resizer {
    width: 14px;
    background-color: #343434;
    border: 1px solid #404040;
    display:flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    flex-shrink: 0;
    cursor: e-resize;
}




.canvas {
    width: 100%;
    display:flex;
    justify-content: center;

    .content {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        overflow: auto;
        // padding: 5px;
        
        &::-webkit-scrollbar {
            width: 0;
        }
    }
}


.text-icon {
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
}


.ridge-container {
    width: 8px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    
}


.ridge {
    width: 1px;
    border-left: 2px ridge #666666;
}

.image-icon {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    &:hover {
        filter: brightness(132%);
    }
}


.categories-icon {
    @extend .image-icon;
}


.carousel-icon {
    @extend .image-icon;
    width: 18px;
}


.product-group-icon {
    @extend .image-icon;
    width: 22px;
}


.breakpoints-dropdown-container {
    width: 55px;
    position: relative;
}