<!-- Designer Container -->
<div class="designer-container">

    <!-- Widget Bar -->
    <div class="widget-bar">

        <!-- Widgets -->
        <ng-container *ngFor="let widgetCursor of pageService.page.widgetCursors">
            <div class="icon-container" [title]="widgetCursor.title" [innerHTML]="widgetCursor.icon"
                (mousedown)="onWidgetIconMousedown($event, widgetCursor)">
            </div>
        </ng-container>
    </div>


    <!-- Work Area -->
    <div #workArea class="work-area">

        <!-- Design Area Container -->
        <div #designAreaContainer class="design-area-container">

            <!-- Design Area Bar -->
            <div class="design-area-bar">

                <!-- Breakpoints Dropdown -->
                <div style="width: 55px; position: relative;">
                    <editable-dropdown #breakpointsDropdown [height]="24" [title]="'Breakpoints'"
                        [dropdownList]="breakpoints" [selectedIndex]="0"
                        (onChange)="onBreakpointDropdownChange($event)">
                    </editable-dropdown>
                    <div *ngIf="!pageService.page.widgetCursors || pageService.page.widgetCursors.length == 0"
                        style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgb(46, 46, 46, 0.75);">
                    </div>
                </div>
            </div>

            <!-- Design Area -->
            <div class="design-area">

                <!-- Design Area Resizer Left -->
                <div *ngIf="pageService.page.widgetCursors && pageService.page.widgetCursors.length > 0"
                    class="design-area-resizer" (mousedown)="onDesignAreaResizerMousedown($event, 1)">
                    <div class="ridge-container">
                        <div class="ridge"></div>
                        <div class="ridge"></div>
                        <div class="ridge"></div>
                    </div>
                </div>


                <!-- Canvas -->
                <div #canvasElement class="canvas" (click)="pageService.selectPage()">
                    <div #contentElement class="content" [style.maxWidth.px]="pageService.page.width"
                        [ngClass]="{'content-border': pageService.page.widgetCursors && pageService.page.widgetCursors.length > 0}"
                        [style.backgroundColor]="pageService.page.background.color ? pageService.page.background.color.toRGBString(): null"
                        [ngStyle]="{ 'background-image': pageService.page.background.image && pageService.page.background.image.url ? 'url(images/' + pageService.page.background.image.url + ')' : null,
                        'background-position': pageService.page.background.image ? pageService.page.background.image.position : null,
                        'background-repeat': pageService.page.background.image ? pageService.page.background.image.repeat : null,
                        'background-attachment': pageService.page.background.image ? pageService.page.background.image.attachment : null}">
                        <container #rootContainer></container>
                    </div>
                </div>


                <!-- Design Area Resizer Right -->
                <div *ngIf="pageService.page.widgetCursors && pageService.page.widgetCursors.length > 0"
                    class="design-area-resizer" (mousedown)="onDesignAreaResizerMousedown($event, -1)">
                    <div class="ridge-container">
                        <div class="ridge"></div>
                        <div class="ridge"></div>
                        <div class="ridge"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>