<ng-container *ngIf="newEmail && token">
    <navbar></navbar>

    <div class="page-container">
        <div class="content-container">
    
            <div class="content form-page">
                <!-- breadcrumb -->
                <div class="breadcrumb">
                    <a routerLink="/account">Your Account</a>
                    <i class="fas fa-caret-right"></i>
                    <a routerLink="/account/profile">Profile</a>
                    <i class="fas fa-caret-right"></i>
                    <span>Change Email</span>
                </div>
    
                <!-- Logo -->
                <img src="assets/Logo.png" routerLink="" title="Niche Shack Homepage">
    
    
                <!-- Error -->
                <div *ngIf="conflictError" class="error-box">
                    <i class="fas fa-exclamation-triangle"></i>
                    <div>{{conflictError}}</div>
                </div>
    
    
                <!-- Form -->
                <form (ngSubmit)="onSubmit()" #form="ngForm" [matchValue]="['newEmail', 'reEnteredEmail']">
                    <h1>Change Email</h1>
    
                    <!-- Old email -->
                    <h4>Previous email:</h4>
                    <div class="fixed-width" style="color: #b9b9b9; margin: auto; margin-bottom: 16px;">{{previousEmail}}</div>
    
    
                    <!-- New email -->
                    <h4>New email:</h4>
                    <div class="fixed-width" style="color: #b9b9b9; margin: auto; margin-bottom: 16px;">{{newEmail}}</div>
    
    
    
                    <!-- Password -->
                    <h4 *ngIf="valid(password); else invalidPassword">Password:</h4>
    
                    <!-- Invalid password -->
                    <ng-template #invalidPassword>
                        <h4 class="error">Passwords must be at least 6 characters.</h4>
                    </ng-template>
                    <input type="password" required pattern="(?=.*\S).{6,}" [(ngModel)]="_password" name="password"
                        #password="ngModel">
    
    
                    <!-- Save button -->
                    <button class="alt-button">Save</button>
                </form>
            </div>
    
            <navfooter></navfooter>
        </div>
    </div>
</ng-container>

