<div class="container">
    <div class="page-content-container">
        <!-- Logo -->
        <img src="assets/Logo.png" onclick="location.href=location.origin" title="Niche Shack Homepage">

        <div class="niche-shack-gold-color" style="font-size: 60px; font-weight: bold;">Sorry...</div>
        <div style="font-size: 32px; margin-bottom: 16px;">We couldn't find that page</div>
        <div>
            <button class="alt-button" onclick="location.href=location.origin">Go to our homepage</button>
        </div>
    </div>
</div>