<div class="position-absolute-identity display-flex justify-content-center flex-wrap">
    <div class="text-center margin-16">
        <!-- Logo -->
        <img src="assets/Logo.png" class="margin-top-48 margin-bottom-48 cursor-pointer" style="margin-top: 50px;"
            onclick="location.href=location.origin" title="Niche Shack Homepage">

        <div class="niche-shack-gold font-bold" style="font-size: 3.75rem;">Sorry...</div>
        <div class="font-size-7 margin-bottom-16">We couldn't find that page</div>
        <div>
            <button class="alt-button" onclick="location.href=location.origin">Go to our homepage</button>
        </div>
    </div>
</div>