.container {
    display: flex;
    align-items: center;
    padding: 8px;

    .label {
        color: #c2c2c2;
        font-size: 12px;
        margin-right: 5px;
    }
    
    .name {
        color: #4d9ce0;
        font-size: 11px;
    }
}

.rounded-container-light {
    padding: 0;
}

.buttons-container {
    display: flex;
    padding: 0 5px;
    margin-bottom: 10px;
}