<!-- Property Box -->
<div class="property-box-light">
    <!-- Container for paginator & icons -->
    <div class="container">

        <paginator [itemCount]="leadPages.length" (onItemChange)="onPageChange($event)"></paginator>

        <!-- Icons -->
        <div class="icons">

            <!-- Delete Page Icon -->
            <div class="icon-container">
                <i class="fas fa-trash-alt"></i>
            </div>

            <!-- Duplicate Page Icon -->
            <div class="icon-container">
                <i class="fas fa-clone"></i>
            </div>

            <!-- Add Page Icon -->
            <div class="icon-container">
                <i class="fas fa-plus-circle"></i>
            </div>
        </div>
    </div>

    <ng-container *ngIf="leadPages.length > 0">
        <!-- Preview & Publish buttons -->
        <div class="grooved-container">
            <div class="button-left" (click)="pageService.preview()">Preview</div>
            <div class="button-right">Publish</div>
        </div>

        <div class="light-tabs-container">
            <div class="light-tab selected-light-tab">Lead Page</div>
            <div class="light-tab">Email</div>
        </div>


        <!-- Page, Row, Column, and Widget buttons -->
        <div class="grooved-container-bottom">
            <div class="button-left" [ngClass]="{'button-selected': view == 'page'}" (click)="view = 'page'">Lead Page</div>
            <div class="button-center" [ngClass]="{'button-selected': view == 'row'}" (click)="view = 'row'">Row</div>
            <div class="button-center" [ngClass]="{'button-selected': view == 'column'}" (click)="view = 'column'">Column</div>
            <div class="button-right" [ngClass]="{'button-selected': view == 'widget'}" (click)="view = 'widget'">Widget</div>
        </div>

        
        <!-- Page Properties -->
        <page-properties *ngIf="view == 'page'" [page]="pageService.page"></page-properties>

        <!-- Row Propterties -->
        <row-properties *ngIf="view == 'row'"></row-properties>
    </ng-container>
</div>