<!-- Property Box -->
<div class="property-box-light" *ngIf="initialPageLoaded">
    <!-- Container for counter & icons -->
    <div class="container">

        <counter #counter [itemCount]="leadPageIds.length" (onItemChange)="onPageChange($event)"></counter>

        <!-- Icons -->
        <div class="icons">

            <!-- Delete Page Icon -->
            <div class="icon-container" title="Delete Lead Page" [ngClass]="{'icon-disabled': !currentLeadPageId}"
                (click)="onDeleteClick(counter)">
                <i class="fas fa-trash-alt"></i>
            </div>

            <!-- Duplicate Page Icon -->
            <div class="icon-container" title="Duplicate Lead Page" [ngClass]="{'icon-disabled': !currentLeadPageId}"
                (click)="duplicateLeadPage(counter)">
                <i class="fas fa-clone"></i>
            </div>

            <!-- Add Page Icon -->
            <div class="icon-container" title="Add Lead Page" (click)="addLeadPage(counter)">
                <i class="fas fa-plus-circle"></i>
            </div>
        </div>
    </div>

    <ng-container *ngIf="currentLeadPageId">
        <!-- Preview & Publish buttons -->
        <div class="grooved-container">
            <div class="button-left" (click)="pageService.preview()">Preview</div>
            <div class="button-right">Publish</div>
        </div>

        <!-- Tabs -->
        <div class="light-tabs-container">
            <div class="light-tab" [ngClass]="{'selected-light-tab': selectedTab == pageType.LeadPage}"
                (click)="onLeadPageTabClick()">Lead Page</div>
            <div class="light-tab" [ngClass]="{'selected-light-tab': selectedTab == pageType.Email}"
                (click)="onEmailTabClick()">Email</div>
        </div>


        <!-- Page, Row, Column, and Widget buttons -->
        <div class="grooved-container-bottom">

            <!-- Page -->
            <div class="button-left" [ngClass]="{'button-selected': pageService.propertyView == propertyView.Page}"
                (click)="pageService.propertyView = propertyView.Page">
                Page
            </div>

            <!-- Row -->
            <div class="button-center" [ngClass]="{'button-selected': pageService.propertyView == propertyView.Row}"
                (click)="pageService.propertyView = propertyView.Row">Row</div>


            <!-- Column -->
            <div class="button-center" [ngClass]="{'button-selected': pageService.propertyView == propertyView.Column}"
                (click)="pageService.propertyView = propertyView.Column">
                Column</div>


            <!-- Widget -->
            <div class="button-right" [ngClass]="{'button-selected': pageService.propertyView == propertyView.Widget}"
                (click)="pageService.propertyView = propertyView.Widget">Widget
            </div>
        </div>


        <!-- Page Properties -->
        <page-properties *ngIf="pageService.propertyView == propertyView.Page" [page]="pageService.page"></page-properties>

        <!-- Row Propterties -->
        <row-properties *ngIf="pageService.propertyView == propertyView.Row"></row-properties>

        <!-- Column Propterties -->
        <column-properties *ngIf="pageService.propertyView == propertyView.Column"></column-properties>

        <!-- Widget Properties -->
        <widget-properties *ngIf="pageService.propertyView == propertyView.Widget"></widget-properties>
    </ng-container>

</div>