<!-- Caption -->
<caption-property id="first-property" [caption]="categoriesWidget.caption" (onChange)="pageService.save()">
</caption-property>

<!-- Categories -->
<categories [categoriesWidget]="categoriesWidget" (onChange)="pageService.save()"></categories>

<!-- Background Color -->
<color [caption]="'Background Color'" [color]="categoriesWidget.backgroundColor.value"
    (onChange)="pageService.save()"></color>

<!-- Text Color -->
<color [caption]="'Text Color'" [color]="categoriesWidget.textColor.value" (onChange)="pageService.save()"></color>

<!-- Shadow -->
<shadow [shadow]="categoriesWidget.shadow" (onChange)="pageService.save()"></shadow>