<div *show="show" class="fade-start menu-base" transitionClass="fade-end" tabindex="0" (onHide)="show = false"
    (blur)="show = false">
    <div (mousedown)="$event.stopPropagation()">
        <div  routerLink="/" class="menu-option">
            <div>Niche Shack Editor</div>
        </div>

        <div routerLink="/page-builder" class="menu-option">
            <div>Page Builder</div>
        </div>

        <div class="menu-divider"></div>

        <div routerLink="/change-name" class="menu-option">
            <div>Change Name</div>
        </div>

        <div routerLink="/change-email" class="menu-option">
            <div>Change Email</div>
        </div>

        <div routerLink="/change-password" class="menu-option">
            <div>Change Password</div>
        </div>

        <div class="menu-divider"></div>

        <div class="menu-option">
            <div>Sign Out</div>
        </div>
    </div>
</div>