<div class="menu-base">
    <div class="menu-option">
        <div>Niche Shack Editor</div>
    </div>

    <div class="menu-option">
        <div>Page Builder</div>
    </div>

    <div class="menu-divider"></div>

    <div class="menu-option">
        <div>Change Name</div>
    </div>

    <div class="menu-option">
        <div>Change Email</div>
    </div>

    <div class="menu-option">
        <div>Change Password</div>
    </div>

    <div class="menu-divider"></div>

    <div class="menu-option">
        <div>Sign Out</div>
    </div>
</div>