<div *show="show" class="dropdown fade-start menu-base" transitionClass="fade-end" tabindex="0" (onHide)="show = false"
    (blur)="show = false">
    <div (mousedown)="$event.stopPropagation()">
        <div class="menu-option">
            <div routerLink="/">Niche Shack Editor</div>
        </div>

        <div class="menu-option">
            <div routerLink="/page-builder">Page Builder</div>
        </div>

        <div class="menu-divider"></div>

        <div class="menu-option">
            <div routerLink="/change-name">Change Name</div>
        </div>

        <div class="menu-option">
            <div routerLink="/change-email">Change Email</div>
        </div>

        <div class="menu-option">
            <div routerLink="/change-password">Change Password</div>
        </div>

        <div class="menu-divider"></div>

        <div class="menu-option">
            <div>Sign Out</div>
        </div>
    </div>
</div>