<div class="form">

    <!-- Bar -->
    <div class="form-bar">
        The Best Core Exercises
        <!-- X Button -->
        <div class="form-x-button">X</div>
    </div>

    <!-- Tabs -->
    <div class="tabs-container">
        <div class="tab" [ngClass]="{'selected-tab': showProduct}" (click)="showProduct = true">Product</div>
        <div class="tab" [ngClass]="{'selected-tab': !showProduct}" (click)="showProduct = false">Email</div>
    </div>

    <div class="panel-light">
        <!-- Product -->
        <product-editor *ngIf="showProduct"></product-editor>
        
        <!-- Email -->
        <div *ngIf="!showProduct" class="designer-container">
            <designer></designer>
        </div>

    </div>
</div>