<div class="form">

    <!-- Bar -->
    <div class="form-bar">
        1 Hour Belly Blast Diet
        <!-- X Button -->
        <div class="form-x-button">X</div>
    </div>

    <!-- Tabs -->
    <div class="tabs-container">
        <div class="tab selected-tab">Product</div>
        <div class="tab" style="left: 114px">Email</div>
    </div>

    <div class="panel-light"></div>

    <!-- Button Container -->
    <div class="buttons-container">
        <div class="form-button-container">
            <button>Publish</button>
            <button>Close</button>
        </div>
    </div>


</div>