<div class="form">

    <!-- Bar -->
    <div class="form-bar">
        The Best Core Exercises
        <!-- X Button -->
        <div class="form-x-button">X</div>
    </div>

    <!-- Tabs -->
    <div class="tabs-container">
        <div class="tab selected-tab">Product</div>
        <div class="tab" style="left: 114px">Email</div>
    </div>

    <div class="panel-light">
        <!-- Product -->
        <product-editor *ngIf="true"></product-editor>
        
        <!-- Email -->
        <div *ngIf="false" class="designer-container">
            <designer></designer>
        </div>

    </div>
</div>