<div class="property-box-dark" *ngIf="!loading">

    <!-- Icons -->
    <div class="icons">
        <!-- Media browser icon -->
        <div class="icon-container" showPopup [popup]="'mediaBrowserPopup'">
            <i class="fas fa-image"></i>
        </div>
    </div>


    <!-- Image -->
    <div class="img-container">
        <div *ngIf="image && image.url" [ngStyle]="{ 'background-image': 'url(images/' + image.url + ')'}" class="img">
        </div>
        <div *ngIf="!image || !image.url" class="no-property">No image available</div>
    </div>
</div>