@import '../../../../../scss/variables';

.widget {
    user-select: none;
}

svg {
    width: 50%;
    height: 50%;
    fill: $selected-border-color;
}

img {
    width: 100%;
    -webkit-user-drag: none;
}