<div class="icon-bar">
    <div>
        <!-- Lower case -->
        <div class="icon-container" title="Lower case (Ctrl+Down Arrow)">
            <i class="fas fa-sort-alpha-down"></i>
        </div>


        <!-- Upper case -->
        <div class="icon-container" title="Upper case (Ctrl+Up Arrow)">
            <i class="fas fa-sort-alpha-up"></i>
        </div>
    </div>


    <div>
        <!-- Font -->
        <select title="Font">
            <option>Times New Roman</option>
            <option>Arial</option>
        </select>
    </div>



    <div>
        <!-- Font size -->
        <select title="Font size">
            <option>11</option>
        </select>
    </div>





    <div>
        <!-- Bold -->
        <div class="icon-container" title="Bold (Ctrl+B)">
            <i class="fas fa-bold"></i>
        </div>



        <!-- Italic -->
        <div class="icon-container" title="Italic (Ctrl+I)">
            <i class="fas fa-italic"></i>
        </div>


        <!-- Underline -->
        <div class="icon-container" title="Underline (Ctrl+U)">
            <i class="fas fa-underline"></i>
        </div>



        <!-- Text color -->
        <div class="icon-container" style="border-bottom: 4px solid red; font-size: 12px;" title="Text color">
            <i class="fas fa-font"></i>
        </div>




        <!-- Highlight color -->
        <div class="icon-container" style="border-bottom: 4px solid green; font-size: 12px;" title="Highlight color">
            <i class="fas fa-highlighter"></i>
        </div>
        
    </div>




    <div>
        <!-- Insert link -->
        <div class="icon-container" title="Insert link (Ctrl+K)">
            <i class="fas fa-link"></i>
        </div>
    </div>





    <div>
        <!-- Left align -->
        <div class="icon-container" title="Left align (Ctrl+Shift+L)">
            <i class="fas fa-align-left"></i>
        </div>



        <!-- Center align -->
        <div class="icon-container" title="Center align (Ctrl+Shift+E)">
            <i class="fas fa-align-center"></i>
        </div>


        <!-- Right align -->
        <div class="icon-container" title="Right align (Ctrl+Shift+R)">
            <i class="fas fa-align-right"></i>
        </div>


        <!-- Justify -->
        <div class="icon-container" title="Justify (Ctrl+Shift+J)">
            <i class="fas fa-align-justify"></i>
        </div>
    </div>





    <div>
        <!-- Numbered list -->
        <div class="icon-container" title="Numbered list (Ctrl+Shift+7)">
            <i class="fas fa-list-ol"></i>
        </div>


        <!-- Bulleted list -->
        <div class="icon-container" title="Bulleted list (Ctrl+Shift+8)">
            <i class="fas fa-list-ul"></i>
        </div>


        <!-- Decrease indent -->
        <div class="icon-container" title="Decrease indent (ctrl+[)">
            <i class="fas fa-outdent"></i>
        </div>


        <!-- Increase indent -->
        <div class="icon-container" title="Increase indent (ctrl+])">
            <i class="fas fa-indent"></i>
        </div>
    </div>
</div>

<!-- Description -->
<textarea></textarea>