<!-- ----------------------Tab Title-------------- -->
<div class="tab-title">Text</div>


<!-- -------------------Font------------------------ -->
<div class="property-row" style="padding-top: 8px; padding-bottom: 8px;">

    <!-- Name -->
    <div style="user-select: none; margin-right: 5px;">Font:</div>

    <!-- Value -->
    <div class="display-flex">

        <!-- Dropdown -->
        <select style="width: 100%; max-width: 150px;" [selectedIndex]="_FormService.textBox.font.selectedIndex"
            (change)="_FormService.textBox.font.setStyleValue($event.target.value); _FormService.textBox.onChange.next()">
            <option *ngFor="let option of _FormService.textBox.font.options" [value]="option.value">{{option.key}}
            </option>
        </select>
    </div>
</div>


<!-- -------------------Font Size------------------------ -->
<div class="property-row" style="padding-top: 8px; padding-bottom: 8px;">

    <!-- Name -->
    <div style="user-select: none;">Font Size:</div>

    <!-- Value -->
    <div class="display-flex">

        <!-- Dropdown -->
        <select style="width:55px; position:relative;" [selectedIndex]="_FormService.textBox.fontSize.selectedIndex"
            (change)="_FormService.textBox.fontSize.setStyleValue($event.target.value); _FormService.textBox.onChange.next()">
            <option *ngFor="let option of _FormService.textBox.fontSize.options" [value]="option.value">{{option.key}}
            </option>
        </select>
    </div>
</div>



<!-- -------------------Style------------------------ -->
<div class="property-row" style="padding-top: 7px; padding-bottom: 7px;">

    <!-- Name -->
    <div style="user-select: none;">Style:</div>

    <!-- Value -->
    <div class="display-flex">

        <!-- Bold -->
        <div class="icon-container" title="Bold (Ctrl+B)"
            (click)="_FormService.textBox.bold.applyStyle(); _FormService.textBox.onChange.next()"
            [ngClass]="{'selected': _FormService.textBox.bold.isSelected}">
            <i class="fas fa-bold"></i>
        </div>

        <!-- Italic -->
        <div class="icon-container" title="Italic (Ctrl+I)"
            (click)="_FormService.textBox.italic.applyStyle(); _FormService.textBox.onChange.next()"
            [ngClass]="{'selected': _FormService.textBox.italic.isSelected}">
            <i class="fas fa-italic"></i>
        </div>

        <!-- Underline -->
        <div class="icon-container" title="Underline (Ctrl+U)"
            (click)="_FormService.textBox.underline.applyStyle(); _FormService.textBox.onChange.next()"
            [ngClass]="{'selected': _FormService.textBox.underline.isSelected}">
            <i class="fas fa-underline"></i>
        </div>
    </div>
</div>



<!-- -------------------Color------------------- -->
<div class="property-row" style="padding-top: 8px; padding-bottom: 8px;">

    <!-- Name -->
    <div style="user-select: none;">Color:</div>

    <color-icon [color]="_FormService.textBox.fontColor.value" [icon]="'fa-font'" [title]="'Text color'"
        (onShowColorPicker)="_FormService.textBox.fontColor.onShowColorPicker(_FormService.onColorPickerClose)">
    </color-icon>
</div>





<!-- -------------------Highlight Color------------------- -->
<div class="property-row" style="padding-top: 8px; padding-bottom: 8px;">

    <!-- Name -->
    <div style="user-select: none;">Highlight Color:</div>

    <color-icon [color]="_FormService.textBox.highlightColor.value" [icon]="'fa-highlighter'"
        [title]="'Highlight color'" [removable]="true"
        (onShowColorPicker)="_FormService.textBox.highlightColor.onShowColorPicker(_FormService.onColorPickerClose)"
        (onRemoveColor)="_FormService.textBox.highlightColor.removeColor()">
    </color-icon>
</div>



<!-- -------------------Alignment------------------------ -->
<div class="property-row" style="padding-top: 7px; padding-bottom: 7px;">

    <!-- Name -->
    <div style="user-select: none;">Alignment:</div>

    <!-- Value -->
    <div class="alignment-container">

        <!-- Left align -->
        <div class="icon-container" title="Left align (Ctrl+Shift+L)"
            [ngClass]="{'selected': _FormService.textBox.alignLeft.isSelected}" (click)="_FormService.textBox.alignLeft.applyStyle();
            _FormService.textBox.alignCenter.isSelected = false;
            _FormService.textBox.alignRight.isSelected = false;
            _FormService.textBox.alignJustify.isSelected = false">
            <i class="fas fa-align-left"></i>
        </div>



        <!-- Center align -->
        <div class="icon-container" title="Center align (Ctrl+Shift+E)"
            [ngClass]="{'selected': _FormService.textBox.alignCenter.isSelected}" (click)="_FormService.textBox.alignCenter.applyStyle(); 
            _FormService.textBox.alignLeft.isSelected = false;
            _FormService.textBox.alignRight.isSelected = false; 
            _FormService.textBox.alignJustify.isSelected = false">
            <i class="fas fa-align-center"></i>
        </div>


        <!-- Right align -->
        <div class="icon-container" title="Right align (Ctrl+Shift+R)"
            [ngClass]="{'selected': _FormService.textBox.alignRight.isSelected}" (click)="_FormService.textBox.alignRight.applyStyle();
            _FormService.textBox.alignLeft.isSelected = false;
            _FormService.textBox.alignJustify.isSelected = false;
            _FormService.textBox.alignCenter.isSelected = false">
            <i class="fas fa-align-right"></i>
        </div>


        <!-- Justify -->
        <div class="icon-container" title="Justify (Ctrl+Shift+J)"
            [ngClass]="{'selected': _FormService.textBox.alignJustify.isSelected}" (click)="_FormService.textBox.alignJustify.applyStyle();
            _FormService.textBox.alignLeft.isSelected = false;
            _FormService.textBox.alignCenter.isSelected = false;
            _FormService.textBox.alignRight.isSelected = false">
            <i class="fas fa-align-justify"></i>
        </div>
    </div>
</div>





<!-- -------------------Bullets------------------------ -->
<div class="property-row" style="padding-top: 7px; padding-bottom: 7px;">

    <!-- Name -->
    <div style="user-select: none;">Bullets:</div>

    <!-- Value -->
    <div class="display-flex">

        <!-- Numbered list -->
        <div class="icon-container" title="Numbered list (Ctrl+Shift+7)"
            [ngClass]="{'selected': _FormService.textBox.orderedList.isSelected}"
            (click)="_FormService.textBox.orderedList.applyStyle(); _FormService.textBox.unorderedList.checkSelection(); _FormService.textBox.onChange.next()">
            <i class="fas fa-list-ol"></i>
        </div>


        <!-- Bulleted list -->
        <div class="icon-container" title="Bulleted list (Ctrl+Shift+8)"
            [ngClass]="{'selected': _FormService.textBox.unorderedList.isSelected}"
            (click)="_FormService.textBox.unorderedList.applyStyle(); _FormService.textBox.orderedList.checkSelection(); _FormService.textBox.onChange.next()">
            <i class="fas fa-list-ul"></i>
        </div>
    </div>
</div>





<!-- -------------------Indent------------------------ -->
<div class="property-row" style="padding-top: 7px; padding-bottom: 7px;">
    <!-- Name -->
    <div style="user-select: none;">Indent:</div>

    <!-- Value -->
    <div class="display-flex">

        <!-- Decrease indent -->
        <div class="icon-container" title="Decrease indent (ctrl+[)"
            (click)="_FormService.textBox.decreaseIndent.applyStyle()">
            <i class="fas fa-outdent"></i>
        </div>

        <!-- Increase indent -->
        <div class="icon-container" title="Increase indent (ctrl+])"
            (click)="_FormService.textBox.increaseIndent.applyStyle()">
            <i class="fas fa-indent"></i>
        </div>
    </div>
</div>