<div *show="_FormService.showPricePointForm" transitionClass="fade-end" class="modal-background fade-start"
    (onShow)="onFormOpen()">



    <!-- panel Light -->
    <div class="panel-light">

        <!-- Label Container -->
        <div class="label-container">
            <div>Text before price:</div>
            <div>Price:</div>
            <div>Text after price:</div>
        </div>

        <!-- Input Text Container -->
        <div class="input-text-container">

            <!-- Text Before -->
            <input #txtInput class="text-before-input" [(ngModel)]="textBefore">

            <!-- Price Container -->
            <div class="price-container">
                <!-- Dollar Sign -->
                <div class="dollar-sign">$</div>
                <!-- Whole Number -->
                <input #txtInput class="whole-number-input" [(ngModel)]="wholeNumber" (input)="numbersOnly(1)">
                <!-- Decimal Point -->
                <div class="decimal-point">.</div>
                <!-- Decimal -->
                <input #txtInput class="decimal-input" [(ngModel)]="decimal" maxlength="2" (input)="numbersOnly(2)">
            </div>

            <!-- Text After -->
            <input #txtInput class="text-after-input" [(ngModel)]="textAfter">
        </div>
    </div>


    <!-- Buttons -->
    <div class="form-button-container">
        <button (click)="onCancel()">Cancel</button>
        <button (click)="onOk()">Ok</button>
    </div>

</div>