<div #popup *show="popupService.pricePointPopup.show" class="popup-base fade-start" transitionClass="fade-end"
    (onShow)="onPopupShow(popup, arrow)">

    <div #arrow [ngClass]="{'arrow-on-top': arrowOnTop, 'arrow-on-bottom': !arrowOnTop}"></div>

    <!-- Text before -->
    <div class="property">
        <div class="label">Text Before</div>
        <input #txtInput class="txt-20" [(ngModel)]="pricePoint.textBefore" (input)="setPricePointListItem()">
    </div>

    <!-- Price -->
    <div class="property">
        <div class="label">Price</div>
        <div class="label">$</div>
        <input #txtInput class="txt-20" [(ngModel)]="pricePoint.wholeNumber"
            (input)="numbersOnly(1); setPricePointListItem()">
        <div class="label">.</div>
        <input #txtInput class="txt-20" maxlength="2" [(ngModel)]="pricePoint.decimal"
            (input)="numbersOnly(2); setPricePointListItem()">
    </div>

    <!-- Text after -->
    <div class="property">
        <div class="label">Text After</div>
        <input #txtInput class="txt-20" [(ngModel)]="pricePoint.textAfter" (input)="setPricePointListItem()">
    </div>
</div>