<footer class="position-absolute-bottom border-top border-primary-color primary-background-color-darker">
    
    <!-- Links -->
    <div class="grid">
        <div class="row justify-content-center padding-top-2 text-center text-left-md padding-bottom-2-xl">
            <div class="col-3-md offset-1-md">
                <h3 class="alt-color show-md">Niche Shack</h3>
                <a routerLink="/about">About Niche Shack</a>
                <a routerLink="/terms">Terms of Use</a>
                <a routerLink="/privacy-policy">Privacy Policy</a>
            </div>
            <div class="col-3-md offset-1-md">
                <h3 class="alt-color show-md">Your Niche</h3>
                <a routerLink="/account">Your Account</a>
                <a routerLink="/account/orders">Your Orders</a>
                <a routerLink="/account/lists">Your Lists</a>
                <a routerLink="/account/email-subscriptions">Your Email Subscriptions</a>
            </div>
            <div class="col-3-md offset-1-md">
                <h3 class="alt-color show-md">Customer Service</h3>
                <a href="https://www.clkbank.com">Order Support</a>
                <a routerLink="/contact">Contact Us</a>
            </div>

        </div>
    </div>

    <!-- Social Media -->
    <div class="position-absolute-bottom-right-xl primary-color-light text-center text-left-xl margin-bottom-2 margin-right-4-xl">
            <span class="margin-right-2">Stay Connected</span>
            <span class="font-size-4">
                <a href="https://www.facebook.com/Niche-Shack-2130816000551509" title="Facebook">
                    <i class="fab fa-facebook"></i>
                </a>
                <a href="https://twitter.com/Niche_Shack" title="Twitter">
                    <i class="fab fa-twitter-square"></i>
                </a>
                <a href="http://www.facebook.com" title="Instagram">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="http://www.facebook.com" title="Pinterest">
                    <i class="fab fa-pinterest-square"></i>
                </a>
            </span>
    
        </div>
</footer>