<footer class="primary-background-color-darker">
    
    <!-- Links -->
    <div class="grid">
        <div class="row">
            <div class="col-3-md offset-1-md">
                <h3 class="niche-shack-gold-color show-md">Niche Shack</h3>
                <a routerLink="/about">About Niche Shack</a>
                <a routerLink="/terms">Terms of Use</a>
                <a routerLink="/privacy-policy">Privacy Policy</a>
            </div>
            <div class="col-3-md offset-1-md">
                <h3 class="niche-shack-gold-color show-md">Your Niche</h3>
                <a routerLink="/account">Your Account</a>
                <a routerLink="/account/orders">Your Orders</a>
                <a routerLink="/account/lists">Your Lists</a>
            </div>
            <div class="col-3-md offset-1-md">
                <h3 class="niche-shack-gold-color show-md">Customer Service</h3>
                <a href="https://www.clkbank.com" target="_blank">Order Support</a>
                <div style="margin-right: 0.6rem; cursor: pointer;">Contact Us</div>
            </div>

        </div>
    </div>

    <!-- Social Media -->
    <div class="social-media primary-color-light">
            <span class="margin-right-8">Stay Connected</span>
            <span style="font-size: 20px;">
                <a href="https://www.facebook.com/Niche-Shack-2130816000551509" title="Facebook">
                    <i class="fab fa-facebook"></i>
                </a>
                <a href="https://twitter.com/Niche_Shack" title="Twitter">
                    <i class="fab fa-twitter-square"></i>
                </a>
                <a href="http://www.facebook.com" title="Instagram">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="http://www.facebook.com" title="Pinterest">
                    <i class="fab fa-pinterest-square"></i>
                </a>
            </span>
    
        </div>
</footer>