<div class="icons">
    <!-- Collapse -->
    <div class="icon-container" title="Collapse" (click)="onCollapseButtonClick()"
        [ngClass]="{'icon-disabled': isCollapseButtonDisabled()}">

        <i class="fas fa-minus-square"></i>
    </div>

    <!-- Add -->
    <div class="icon-container" (click)="onAddItemButtonClick()"
        [title]="!isAddItemDisabled() ? getAddButtonTitle() : 'Add (Not Available)'"
        [ngClass]="{'icon-disabled': isAddItemDisabled()}">
        <i class="fas fa-plus-circle"></i>
    </div>

    <!-- Rename -->
    <div class="icon-container" [ngClass]="{'icon-disabled': isEditItemDisabled()}" (click)="onEditItemClick()"
        [title]="!isEditItemDisabled() ? 'Rename ' + getItemName(selectedItem.type) : 'Rename (Not Available)'">

        <i class="fas fa-pencil-alt"></i>
    </div>


    <!-- Delete -->
    <div class="icon-container" [ngClass]="{'icon-disabled': isDeleteItemDisabled()}" (click)="onDeleteClick()"
        [title]="!isDeleteItemDisabled() ? 'Delete ' + getItemName(selectedItem.type) : 'Delete (Not Available)'">

        <i class="fas fa-trash-alt"></i>
    </div>
</div>


<div style="max-height: 300px; overflow: auto;">
    <hierarchy-checkbox-content *ngIf="items && items.length > 0" [items]="items" [hierarchy]="this" [editable]="true"
        (onChange)="onChange($event)"></hierarchy-checkbox-content>
</div>