<!-- Column area (Used for mouse events for the column) -->
<div class="column-area" [style.height.px]="rowHeight"></div>


<ng-template #viewContainerRef>
    <!-- Widgets go here -->
</ng-template>



<!-- Column divider -->
<div class="column-divider" [style.height.px]="rowHeight">

    <!-- Resize column button -->
    <div (mousedown)="onResizeButtonMousedown()" (mouseover)="onResizeButtonMouseover()"
        (mouseleave)="onResizeButtonMouseleave()" class="resize-button">
        <i class="fas fa-arrows-alt-h"></i>
    </div>
</div>



<!-- Column indicators -->
<div #leftIndicator class="column-indicator" (mouseenter)="onDropIndicatorEnter()" (mouseleave)="onDropIndicatorLeave()"
    (mouseup)="onDropIndicatorMouseup(leftIndicator.parentElement.previousElementSibling)"
    [style.height.px]="rowHeight"></div>
<div #rightIndicator class="column-indicator" (mouseenter)="onDropIndicatorEnter()"
    (mouseleave)="onDropIndicatorLeave()" (mouseup)="onDropIndicatorMouseup(rightIndicator.parentElement)"
    [style.height.px]="rowHeight"></div>