<!-- ----------------------Tab Title-------------- -->
<div class="tab-title">Alignment</div>

<!-- -------------------Horizontal Alignment------------------------ -->
<div class="property-row" style="padding-top: 7px; padding-bottom: 7px; border-bottom: 1px solid #363636;">

    <!-- Name -->
    <div style="user-select: none;">Horizontal Alignment:</div> 

    <!-- Value -->
    <div class="display-flex">
        
        <!-- Left -->
        <div class="icon-container" (click)="_FormService.align.horizontal = 'flex-start'" [ngClass]="{'selected': _FormService.align.horizontal == 'flex-start'}" title="Align Top">
            <i class="fas fa-align-left"></i>
        </div>

        <!-- Center -->
        <div class="icon-container" (click)="_FormService.align.horizontal = 'center'" [ngClass]="{'selected': _FormService.align.horizontal == 'center'}" title="Align Middle">
            <i class="fas fa-align-center"></i>
        </div>

        <!-- Right -->
        <div class="icon-container" (click)="_FormService.align.horizontal = 'flex-end'" [ngClass]="{'selected': _FormService.align.horizontal == 'flex-end'}" title="Align Bottom">
            <i class="fas fa-align-right"></i>
        </div>
    </div>
</div>

<!-- -------------------Vertical Alignment------------------------ -->
<div class="property-row" style="padding-top: 7px; padding-bottom: 7px; border-bottom: 1px solid #363636;">

    <!-- Name -->
    <div style="user-select: none;">Vertical Alignment:</div> 

    <!-- Value -->
    <div class="display-flex">
        
        <!-- Top -->
        <div class="icon-container" (click)="_FormService.align.vertical = 'flex-start'" [ngClass]="{'selected': _FormService.align.vertical == 'flex-start'}" title="Align Top">
            <i class="fas fa-align-left" style="transform: rotate(90deg);"></i>
        </div>

        <!-- Middle -->
        <div class="icon-container" (click)="_FormService.align.vertical = 'center'" [ngClass]="{'selected': _FormService.align.vertical == 'center'}" title="Align Middle">
            <i class="fas fa-align-center" style="transform: rotate(90deg);"></i>
        </div>

        <!-- Bottom -->
        <div class="icon-container" (click)="_FormService.align.vertical = 'flex-end'" [ngClass]="{'selected': _FormService.align.vertical == 'flex-end'}" title="Align Bottom">
            <i class="fas fa-align-right" style="transform: rotate(90deg);"></i>
        </div>
    </div>
</div>