<ng-container *ngIf="lists$ | async as lists">


    <!-- Lists Menu -->
    <div *show="showListsMenu" class="fade-translate-start lists-menu" transitionClass="fade-translate-end" tabindex="0"
        (onHide)="showListsMenu = false">

        <div (mousedown)="$event.stopPropagation()">
            <!-- Close header -->
            <div class="close-header">
                <i (click)="showListsMenu = false" class="fas fa-times"></i>
            </div>


            <div class="mobile-lists">
                <div class="overflow-container">

                    <!-- Lists -->
                    <div style="width: 100%;">
                        <h2>Your Lists</h2>

                        <!-- Each List -->
                        <div class="list" *ngFor="let list of lists" [ngClass]="{'selected-list': list == selectedList}"
                            (click)="onListClick(list, lists); showListsMenu = false">

                            <div style="display: flex;">
                                <img
                                    [src]="list.profilePic ? 'images/' + list.profilePic : 'assets/no-account-pic.png'">
                                <div>
                                    <h3>{{list.name}}</h3>

                                    <div class="gold-text">
                                        Owner: {{list.owner}}
                                    </div>
                                    <div>
                                        {{list.description}}
                                    </div>
                                    <div class="primary-color-light">
                                        {{list.totalItems + ' item' + (list.totalItems == 1 ? '' : 's')}}
                                    </div>
                                </div>
                            </div>


                        </div>

                        <!-- Create list button -->
                        <button class="primary-button" (click)="createList.show = true">Create a List</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <navbar></navbar>

    <div class="page-container">
        <div class="content-container">
            <div class="content" style="max-width: 1440px;">
                <ng-container *ngIf="lists.length > 0; else noLists">
                    <ng-container *ngIf="listData$ | async as listData">



                        <!-- Manage list links -->
                        <div class="links">

                            <!-- Non mobile -->
                            <div class="show-sm">
                                <div style="display: flex; flex-direction: row-reverse; text-decoration: underline;">

                                    <div class="link" (click)="shareList.show = true">Share List</div>

                                    <div *ngIf="listData.isOwner" class="link" (click)="editList.show = true">
                                        Edit List</div>


                                    <div *ngIf="listData.isOwner" class="link" (click)="onDeleteListClick()">Delete
                                        List</div>


                                    <div *ngIf="listData.isOwner && listData.collaborators.length > 0" class="link"
                                        (click)="manageCollaborators.show = true">
                                        Manage
                                        Collaborators</div>
                                </div>
                            </div>

                            <!-- Mobile -->
                            <div class="hide-sm">
                                <div style="display: flex; position: relative;">

                                    <!-- Your lists & Mange links -->
                                    <div (click)="showListsMenu = true"
                                        style="text-decoration: underline; margin-right: 16px;">Your Lists</div>
                                    <div (click)="showManageListMenu = true">Manage List</div>
                                    <i class="fas fa-sort-down"></i>


                                    <!-- Manage List menu -->
                                    <div *show="showManageListMenu" tabindex="0" (onHide)="showManageListMenu = false"
                                        (blur)="showManageListMenu = false"
                                        class="dropdown dropdown-menu-arrow fade-start" transitionClass="fade-end">

                                        <div (click)="shareList.show = true">Share List</div>
                                        <div *ngIf="listData.isOwner" (click)="editList.show = true">
                                            Edit List</div>
                                        <div *ngIf="listData.isOwner" (click)="onDeleteListClick()">Delete List</div>
                                        <div *ngIf="listData.isOwner && listData.collaborators.length > 0"
                                            (click)="manageCollaborators.show = true">
                                            Manage Collaborators</div>
                                    </div>
                                </div>
                            </div>
                        </div>




                        <div style="display: flex;">


                            <!-- Lists -->
                            <div class="show-sm" style="width: 100%; max-width: 210px;">
                                <h2>Your Lists</h2>

                                <!-- Each List -->
                                <div class="list" *ngFor="let list of lists"
                                    [ngClass]="{'selected-list': list == selectedList}"
                                    (click)="onListClick(list, lists)">

                                    <div style="display: flex;">
                                        <img
                                            [src]="list.profilePic ? 'images/' + list.profilePic : 'assets/no-account-pic.png'">

                                        <div>
                                            <h3>{{list.name}}</h3>

                                            <div class="gold-text">
                                                Owner: {{list.owner}}
                                            </div>

                                            <div>
                                                {{list.description}}
                                            </div>
                                            <div class="primary-color-light">
                                                {{list.totalItems + ' item' + (list.totalItems == 1 ? '' : 's')}}
                                            </div>
                                        </div>
                                    </div>



                                </div>

                                <!-- Create list button -->
                                <button class="primary-button" (click)="createList.show = true">Create a List</button>
                            </div>






                            <!-- Products container -->
                            <div class="margin-left-24-xxs" style="width: 100%">
                                <h1>{{selectedList.name}}</h1>

                                <ng-container *ngIf="sortOptions$ | async">
                                    <!-- Products -->
                                    <ng-container *ngIf="products$ | async as products">
                                        <ng-container
                                            *ngIf="products.length > 0 && selectedList.totalItems > 0; else noProducts">

                                            <!-- Sort -->
                                            <select class="margin-left-auto-sm"
                                                style="margin-bottom: 8px; display: block;"
                                                [(ngModel)]="selectedSortOption" (change)="setSort()">
                                                <option *ngFor="let sortOption of sortOptions" [ngValue]="sortOption">
                                                    Sort by {{sortOption.key}}</option>
                                            </select>



                                            <div class="products-container">
                                                <div *ngFor="let product of products">
                                                    <ng-container *ngIf="!product.removed">


                                                        <div class="product-row"
                                                            style="border-bottom: 1px solid#3d3d3d">

                                                            <!-- Product -->
                                                            <div class="product">


                                                                <!-- Product Image -->
                                                                <div class="image"
                                                                    [routerLink]="['/' + product.urlTitle + '/' + product.urlId]">
                                                                    <img [src]="'/images/' + product.image.url"
                                                                        [alt]="product.image.name"
                                                                        [title]="product.image.name">
                                                                </div>

                                                                <!-- Product Title -->
                                                                <div class="title text-break">
                                                                    <div class="title-text"
                                                                        [routerLink]="['/' + product.urlTitle + '/' + product.urlId]">
                                                                        {{product.title}}</div>


                                                                    <!-- Rating & Reviews -->
                                                                    <stars style="margin-right: 4px; display: block;"
                                                                        [rating]="product.rating">
                                                                    </stars>
                                                                    <span class="primary-color-light"
                                                                        style="white-space: nowrap;"
                                                                        *ngIf="product.rating > 0">
                                                                        {{product.totalReviews | number}} reviews
                                                                    </span>


                                                                    <!-- Price -->
                                                                    <div class="gold-text">
                                                                        <div *ngIf="product.maxPrice === 0">
                                                                            {{product.minPrice | currency:'USD'}}
                                                                        </div>
                                                                        <div *ngIf="product.maxPrice > 0">
                                                                            {{product.minPrice | currency:'USD'}} -
                                                                            {{product.maxPrice | currency:'USD'}}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>




                                                            <!-- Product Management -->
                                                            <div class="product-management align-items-end-md">
                                                                <img
                                                                    [src]="product.collaborator.image ? 'images/' + product.collaborator.image : 'assets/no-account-pic.png'">


                                                                <div class="gray-color" style="margin-bottom: 4px;">
                                                                    Added
                                                                    {{product.dateAdded}}
                                                                </div>
                                                                <div class="gold-text" style="margin-bottom: 4px;">
                                                                    Added by {{product.collaborator.name}}
                                                                </div>
                                                                <button class="alt-button" style="margin-bottom: 8px;"
                                                                    (click)="onBuyClick(product.hoplink)">Go to sales page</button>

                                                                <!-- Button Container -->
                                                                <div class="button-container">
                                                                    <dropdown-button [caption]="'Move'"
                                                                        style="width: 95px" [items]="moveToLists"
                                                                        (itemClick)="onMoveProductClick($event, product)"
                                                                        [disabled]="moveToLists.length == 0">
                                                                    </dropdown-button>
                                                                    <button style="width: 95px"
                                                                        (click)="onRemoveProductClick(product)">Remove</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </ng-container>
                                                </div>
                                            </div>
                                        </ng-container>


                                        <!-- No Products -->
                                        <ng-template #noProducts>
                                            <div style="text-align: center; font-size: 16px;">0 items in this list</div>
                                        </ng-template>
                                    </ng-container>
                                </ng-container>


                            </div>
                        </div>



                        <!-- Prompts -->
                        <manage-collaborators #manageCollaborators [collaborators]="listData.collaborators"
                            [listId]="selectedList.id">
                        </manage-collaborators>
                        <edit-list #editList [list]="selectedList"></edit-list>
                        <share-list #shareList [list]="selectedList"></share-list>


                    </ng-container>
                </ng-container>

                <!-- No Lists -->
                <ng-template #noLists>
                    <div class="no-lists">
                        <div style="width: 100%; max-width: 210px;">
                            <h1>Your Lists</h1>
                            <!-- Create list button -->
                            <button class="primary-button" (click)="createList.show = true">Create a List</button>
                        </div>

                        <div class="no-lists-text">
                            <i class="fas fa-info-circle"></i>
                            You currently have no lists. Click the "Create a List" button to create your list.
                        </div>
                    </div>

                </ng-template>
            </div>

            <navfooter></navfooter>
        </div>
    </div>
</ng-container>
<create-list #createList (onCreateListHide)="onCreateListHide($event)"></create-list>
<prompt></prompt>