<ng-container *ngIf="lists$ | async as lists">


    <!-- Lists Menu -->
    <div *show="showListsMenu"
        class="width-100 background-color-dark position-fixed border border-primary-color fade-translate-start outline-0"
        style="z-index: 1000; min-height: 100%;" transitionClass="fade-translate-end" tabindex="0"
        (onHide)="showListsMenu = false">

        <div (mousedown)="$event.stopPropagation()">
            <!-- Close header -->
            <div class="background-color-dark-gray padding-top-8 padding-bottom-8 overflow-auto">
                <i (click)="showListsMenu = false" class="fas fa-times margin-right-8 alt-color float-right"></i>
            </div>


            <div class="position-absolute-identity" style="top:30px;">
                <div class="padding-8 overflow-auto height-100 position-relative">

                    <!-- Lists -->
                    <div class="width-100">
                        <h2 class="alt-color">Your Lists</h2>

                        <!-- Each List -->
                        <div class="margin-bottom-24 cursor-pointer padding-8" *ngFor="let list of lists"
                            [ngClass]="{'background-color-dark-gray cursor-default border': list == selectedList}"
                            (click)="onListClick(list, lists); showListsMenu = false">
                            <h3>{{list.name}}</h3>

                            <div class="alt-color">
                                Owner: {{list.owner}}
                            </div>
                            <div>
                                {{list.description}}
                            </div>
                            <div class="primary-color-light">
                                {{list.totalItems + ' item' + (list.totalItems == 1 ? '' : 's')}}
                            </div>
                        </div>

                        <!-- Create list button -->
                        <button class="primary-button" (click)="createList.show = true">Create a List</button>
                    </div>
                </div>
            </div>
        </div>
    </div>






    <navbar></navbar>

    <div class="page-container">
        <div class="content-container">
            <div class="content" style="max-width: 1440px;">
                <ng-container *ngIf="lists.length > 0; else noLists">
                    <ng-container *ngIf="listData$ | async as listData">



                        <!-- Manage list links -->

                        <div
                            class="width-100 background padding-8 background-color-dark-gray primary-color-light margin-bottom-16">

                            <!-- Non mobile -->
                            <div class="show-sm">
                                <div class="display-flex  flex-row-reverse text-underline">
                                    <div class="cursor-pointer" (click)="shareList.show = true">Share List</div>
                                    <div *ngIf="listData.isOwner" class="margin-right-24 cursor-pointer"
                                        (click)="editList.show = true">
                                        Edit List</div>
                                    <div *ngIf="listData.isOwner" class="margin-right-24 cursor-pointer"
                                        (click)="deleteList.show = true">Delete List</div>
                                    <div *ngIf="listData.isOwner && listData.collaborators.length > 0"
                                        class="margin-right-24 cursor-pointer" (click)="manageCollaborators.show = true">
                                        Manage
                                        Collaborators</div>
                                </div>
                            </div>

                            <!-- Mobile -->
                            <div class="hide-sm">
                                <div class="display-flex cursor-pointer position-relative">

                                    <!-- Your lists & Mange links -->
                                    <div (click)="showListsMenu = true"
                                        class="margin-right-16 cursor-pointer text-underline">Your Lists</div>
                                    <div (click)="showManageListMenu = true">Manage
                                        <div class="arrow-down"></div>
                                    </div>


                                    <!-- Manage List menu -->
                                    <div *show="showManageListMenu" tabindex="0" (onHide)="showManageListMenu = false"
                                        (blur)="showManageListMenu = false"
                                        class="dropdown dropdown-menu-arrow fade-start white-color padding-left-8"
                                        style="top: 26px; left: 9px; min-width: 167px;" transitionClass="fade-end">

                                        <div class="cursor-pointer" (click)="shareList.show = true">Share List</div>
                                        <div *ngIf="listData.isOwner" class="margin-right-24 cursor-pointer"
                                            (click)="editList.show = true">
                                            Edit List</div>
                                        <div *ngIf="listData.isOwner" class="margin-right-24 cursor-pointer"
                                            (click)="deleteList.show = true">Delete List</div>
                                        <div *ngIf="listData.isOwner && listData.collaborators.length > 0"
                                            class="margin-right-24 cursor-pointer"
                                            (click)="manageCollaborators.show = true">
                                            Manage
                                            Collaborators</div>
                                    </div>
                                </div>
                            </div>
                        </div>




                        <div class="display-flex">
                            <!-- Lists -->
                            <div class="width-100 show-sm" style="max-width: 210px;">
                                <h2 class="alt-color">Your Lists</h2>

                                <!-- Each List -->
                                <div class="margin-bottom-24 cursor-pointer padding-8" *ngFor="let list of lists"
                                    [ngClass]="{'background-color-dark-gray cursor-default border': list == selectedList}"
                                    (click)="onListClick(list, lists)">
                                    <h3>{{list.name}}</h3>

                                    <div class="alt-color">
                                        Owner: {{list.owner}}
                                    </div>
                                    <div>
                                        {{list.description}}
                                    </div>
                                    <div class="primary-color-light">
                                        {{list.totalItems + ' item' + (list.totalItems == 1 ? '' : 's')}}
                                    </div>
                                </div>

                                <!-- Create list button -->
                                <button class="primary-button" (click)="createList.show = true">Create a List</button>
                            </div>






                            <!-- Products container -->
                            <div class="margin-left-24-xxs width-100">
                                <h1>{{selectedList.name}}</h1>

                                <ng-container *ngIf="sortOptions$ | async">
                                    <!-- Products -->
                                    <ng-container *ngIf="products$ | async as products">
                                        <ng-container *ngIf="products.length > 0; else noProducts">

                                            <!-- Sort -->
                                            <select class="margin-bottom-8 float-right-sm"
                                                [(ngModel)]="selectedSortOption" (change)="setSort()">
                                                <option *ngFor="let sortOption of sortOptions" [ngValue]="sortOption">
                                                    Sort by {{sortOption.key}}</option>
                                            </select>



                                            <div class="border-top  clear-both">
                                                <div *ngFor="let product of products" class="border-bottom ">
                                                    <ng-container
                                                        *ngIf="!product.deleted && !product.movedToList; else removedProduct">
                                                        <div class="display-flex justify-content-between flex-wrap">
                                                            <div class="display-flex flex-wrap flex-nowrap-sm margin-top-16 margin-bottom-16 width-100"
                                                                style="max-width: 400px">


                                                                <!-- Product Image -->
                                                                <div class="display-flex align-items-center justify-content-center margin-right-16 flex-shrink-0 cursor-pointer"
                                                                    style="width: 150px; height: 150px"
                                                                    [routerLink]="['/' + product.urlTitle + '/' + product.id]">
                                                                    <img [src]="'/images/' + product.image"
                                                                        style="max-width: 150px; max-height: 150px;">
                                                                </div>

                                                                <!-- Product Title -->
                                                                <div class="width-100 text-break margin-top-16">
                                                                    <h3 class="text-hover-underline cursor-pointer"
                                                                        [routerLink]="['/' + product.urlTitle + '/' + product.id]">
                                                                        {{product.title}}</h3>


                                                                    <!-- Rating & Reviews -->
                                                                    <stars class="margin-right-4"
                                                                        [rating]="product.rating">
                                                                    </stars>
                                                                    <span class="text-nowrap primary-color-light"
                                                                        *ngIf="product.rating > 0">
                                                                        {{product.totalReviews | number}} reviews
                                                                    </span>


                                                                    <!-- Price -->
                                                                    <div class="alt-color">
                                                                        <div *ngIf="product.maxPrice === 0">
                                                                            {{product.minPrice | currency:'USD'}}
                                                                        </div>
                                                                        <div *ngIf="product.maxPrice > 0">
                                                                            {{product.minPrice | currency:'USD'}} -
                                                                            {{product.maxPrice | currency:'USD'}}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>




                                                            <!-- Product Management -->
                                                            <div class="margin-top-16 margin-bottom-16">
                                                                <div class="margin-bottom-4 gray-color">Item added
                                                                    {{product.dateAdded}}
                                                                </div>
                                                                <div class="margin-bottom-4 alt-color">
                                                                    Added by {{product.collaborator}}
                                                                </div>
                                                                <button class="alt-button margin-bottom-8"
                                                                    (click)="onBuyClick(product.hoplink)">Visit
                                                                    Product Page To Buy</button>

                                                                <div class="display-flex justify-content-between">
                                                                    <dropdown-button [caption]="'Move'"
                                                                        style="width: 95px" [items]="moveToLists"
                                                                        (itemClick)="onMoveProduct($event, product)">
                                                                    </dropdown-button>
                                                                    <button style="width: 95px"
                                                                        (click)="onDelete(product)">Delete</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </ng-container>


                                                    <!-- Removed Product -->
                                                    <ng-template #removedProduct>
                                                        <div class="padding-24 display-flex align-items-center"
                                                            style="height: 182px;">
                                                            <div>
                                                                <i
                                                                    class="fas fa-check success-color font-size-4 margin-right-8"></i>
                                                                <span *ngIf="product.deleted">{{product.title}} has been
                                                                    deleted.
                                                                </span>
                                                                <span *ngIf="product.movedToList">
                                                                    {{product.title}} has been moved to <span
                                                                        (click)="onListClick(product.movedToList, lists)">{{product.movedToList}}</span><span>.
                                                                    </span>
                                                                </span>
                                                                <span
                                                                    class="text-underline cursor-pointer primary-color-light"
                                                                    (click)="undo(product.deleted ? 'deleted' : 'movedTo', product)">Undo</span>
                                                            </div>
                                                        </div>
                                                    </ng-template>
                                                </div>
                                            </div>
                                        </ng-container>


                                        <!-- No Products -->
                                        <ng-template #noProducts>
                                            <div class="text-center font-size-3">0 items in this list</div>
                                        </ng-template>
                                    </ng-container>
                                </ng-container>


                            </div>
                        </div>



                        <!-- Prompts -->
                        <manage-collaborators #manageCollaborators [collaborators]="listData.collaborators"
                            [listId]="selectedList.id">
                        </manage-collaborators>
                        <delete-list #deleteList [listId]="selectedList.id"></delete-list>
                        <edit-list #editList [list]="selectedList"></edit-list>
                        <share-list #shareList [list]="selectedList"></share-list>


                    </ng-container>
                </ng-container>

                <!-- No Lists -->
                <ng-template #noLists>
                    <div class="display-flex align-items-center">
                        <div class="width-100" style="max-width: 210px;">
                            <h1>Your Lists</h1>
                            <!-- Create list button -->
                            <button class="primary-button" (click)="createList.show = true">Create a List</button>
                        </div>

                        <div class="margin-left-24 width-100 text-center border padding-16 font-size-3"
                            style="max-width: 600px;">
                            You currently have no lists. Click the "Create a List" button to create your list.
                        </div>
                    </div>

                </ng-template>
            </div>

            <navfooter></navfooter>
        </div>
    </div>
</ng-container>
<create-list #createList (onCreateListHide)="onCreateListHide($event)"></create-list>