<!-- Popup Base -->
<div #popup transitionClass="fade-end" class="popup-base fade-start" (onShow)="onPopupShow(popup, arrow)" *show="show">
    <!-- Arrow -->
    <div #arrow [ngClass]="{'arrow-on-top': arrowOnTop, 'arrow-on-bottom': !arrowOnTop}"></div>


    <!-- Notification Description -->
    <div class="header-line"></div>
    <div class="product-report-title">
        {{notificationService.messageNotification.name}}
    </div>
    <div class="header-line"></div>

    <!-- Main Property Box -->
    <div class="main-property-box">

        <!-- Paginator -->
        <div class="paginator-bar">
            <paginator #paginator [itemCount]="notificationService.notificationIds.length"
                (onItemChange)="onPaginatorClick($event)">
            </paginator>
        </div>


        <!-- Message Property Box -->
        <div class="property-box-label">Message:</div>
        <div class="property-box">
            <div class="property-box-bar">

                <!-- Customer Thumbnail -->
                <div class="account-thumbnail" *ngIf="notificationService.messageNotification.customerText.thumbnail"
                    [ngStyle]="{'background-image': 'url(images/' + notificationService.messageNotification.customerText.thumbnail + ')'}">
                </div>

                <!-- Time Stamp -->
                <div class="time-stamp">
                    {{notificationService.messageNotification.customerText.timeStamp}}
                </div>
            </div>

            <!-- Customer Text -->
            <div class="user-text">
                {{notificationService.messageNotification.customerText.text}}
            </div>
        </div>


        <!-- Reply Property Box -->
        <div class="property-box-label">Notes:</div>
        <div class="property-box">
            <div class="property-box-bar">

                <ng-container *ngIf="notificationService.messageNotification.notes">
                    <!-- Employee Thumbnail -->
                    <div class="account-thumbnail"
                        [ngStyle]="{'background-image': 'url(images/' + notificationService.messageNotification.notes.thumbnail + ')'}">
                    </div>

                    <!-- Time Stamp -->
                    <div class="time-stamp">
                        {{notificationService.messageNotification.notes.timeStamp}}
                    </div>
                </ng-container>

            </div>

            <!-- Employee Text -->
            <div class="user-text">
                <ng-container *ngIf="notificationService.messageNotification.notes">
                    {{notificationService.messageNotification.notes.text}}
                </ng-container>

            </div>
        </div>
    </div>

    <!-- Button Container -->
    <div class="button-container">

        <!-- Buttons -->
        <!-- <button (click)="onClose(notificationService.messageNotification)">Close</button>
        <button *ngIf="notificationService.selectedNotificationsTab != notificationTab.ArchiveNotifications"
            (click)="onRightButtonClick(notificationService.messageNotification)">Submit</button> -->
    </div>
</div>