<!-- Popup Base -->
<div #popup transitionClass="fade-end" class="popup-base fade-start" (onShow)="onPopupShow(popup, arrow)" *show="show">
    <!-- Arrow -->
    <div #arrow [ngClass]="{'arrow-on-top': arrowOnTop, 'arrow-on-bottom': !arrowOnTop}"></div>


    <!-- Notification Description -->
    <div class="header-line"></div>
    <div class="product-report-title">
        {{notificationService.messageNotification.name}}
    </div>
    <div class="header-line"></div>

    <!-- Main Property Box -->
    <div class="main-property-box">

        <!-- Counter -->
        <div class="counter-bar">
            <counter #counter [itemCount]="notificationService.notificationIds.length"
                (onItemChange)="onCounterClick($event)">
            </counter>
        </div>



        <!-- Message Property Box -->
        <div class="property-box-label">Messenger:</div>
        <div class="property-box">
            <div class="property-box-bar">

                <!-- Customer Thumbnail -->
                <div class="account-thumbnail" [ngStyle]="{'background-image': 

                        notificationService.messageNotification.customerText.thumbnail == null 
                        
                        ?

                        'url(assets/no-account-pic.png)' 
                        
                        : 
                        
                        'url(images/' + notificationService.messageNotification.customerText.thumbnail + ')'
                    
                        }">
                </div>

                <!-- Time Stamp -->
                <div class="time-stamp">
                    {{notificationService.messageNotification.customerText.timeStamp}}
                </div>
            </div>

            <!-- Name -->
            <div class="property-box-label">Name:</div>
            <div style="border: 1px solid #4f4f4f; margin-left: 10px; margin-right: 10px; cursor: text; padding-left: 5px; height: 30px; display: flex; align-items: center; border-radius: 4px; background: #1b1b1b;">
                {{notificationService.messageNotification.messengerName}}
            </div>

            <!-- Email -->
            <div class="property-box-label">Email:</div>
            <!-- <input [value]="notificationService.messageNotification.email"> -->
            <div style="border: 1px solid #4f4f4f; margin-left: 10px; margin-right: 10px; cursor: text; padding-left: 5px; height: 30px; display: flex; align-items: center; border-radius: 4px; background: #1b1b1b;">
                {{notificationService.messageNotification.email}}
            </div>

            <!-- Message -->
            <div class="property-box-label">Message:</div>
            <div style="overflow: auto; border: 1px solid #4f4f4f; margin-left: 10px; margin-right: 10px; cursor: text; padding-left: 5px; padding-top: 5px; height: 100px; border-radius: 4px; background: #1b1b1b; margin-bottom: 17px;">
                {{notificationService.messageNotification.customerText.text}}
            </div>
        </div>


        <!-- Reply Property Box -->
        <div class="property-box-label">Notes:</div>
        <div class="property-box">
            <div class="property-box-bar">

                <ng-container *ngIf="notificationService.messageNotification.notes">
                    <!-- Employee Thumbnail -->
                    <div class="account-thumbnail" [ngStyle]="{'background-image': 

                            notificationService.messageNotification.notes.thumbnail == null 
                            
                            ?

                            'url(assets/no-account-pic.png)' 
                            
                            : 
                            
                            'url(images/' + notificationService.messageNotification.notes.thumbnail + ')'
                        
                            }">
                    </div>

                    <!-- Time Stamp -->
                    <div class="time-stamp">
                        {{notificationService.messageNotification.notes.timeStamp}}
                    </div>
                </ng-container>

            </div>

            <!-- Notes -->
            <div #htmlNotes contenteditable="true" class="notes-text">
                <ng-container *ngIf="notificationService.messageNotification.notes">
                    {{notificationService.messageNotification.notes.text}}
                </ng-container>
            </div>
        </div>
    </div>

    <!-- Button Container -->
    <div class="button-container">

        <!-- Buttons -->
        <button (click)="onClose(notificationService.messageNotification)">Close</button>
        <button *ngIf="notificationService.selectedNotificationsTab != notificationTab.ArchiveNotifications"
            (click)="onSubmit(notificationService.messageNotification, htmlNotes, notificationService.messageNotification.notes)">Submit</button>
    </div>
</div>