@mixin button-colors($backgrond-color1, $background-color2, $font-color) {
    background: linear-gradient($backgrond-color1, $background-color2);
    color: $font-color;
    &:hover:not(:disabled) {
        background: linear-gradient(lighten($backgrond-color1, 5%), lighten($background-color2, 5%));
    }
}