<div *show="show" transitionClass="fade-end" class="modal-background fade-start" (keydown)="onKeydown($event)"
    tabindex="0">
    <div id="prompt">
        <dialog-box [dialogBoxName]="promptTitle" [isModal]="true" (onClose)="show = false">

            <!-- Message -->
            <div class="message">
                {{message}}
            </div>

            <!-- Button Container -->
            <div class="form-button-container">
                <button (click)="onYes.emit(); show = false">Yes</button>
                <button (click)="show = false">No</button>
            </div>
        </dialog-box>
    </div>

</div>