<div class="container" [ngClass]="{'review-bottom': showReviewHelpful}">

    <div style="margin-right: 15px;">
        <div style="width: 40px; height: 40px; border-radius: 100%; background-size: contain;
        background-repeat: no-repeat;
        background-position: center center; width: 40px; height: 40px;" [ngStyle]="{'background-image': 

                                review.userImage == null 

                                ?

                                'url(assets/no-account-pic.png)' 

                                : 

                                'url(images/' + review.userImage + ')'

                                }">

        </div>

    </div>

    <div class="review">

        <!-- Stars and review title -->
        <stars [rating]="review.rating"></stars>
        <span class="title">
            {{review.title}}
        </span>

        <!-- Username, date, verified purchase -->
        <div class="gray-color">
            <div>{{review.username}}</div>

            <div> {{review.date}}</div>
        </div>

        <div class="primary-color-light" *ngIf="review.isVerified">
            Verified Purchase
        </div>


        <!-- review text -->
        <div class="text text-break">
            {{review.text}}
        </div>

        <ng-container *ngIf="showReviewHelpful">
            <!-- Review helpful text -->
            <span class="niche-shack-gold-color" style="margin-right: 8px;" *ngIf="!review.hasBeenRated">
                Was this review helpful?
            </span>

            <!-- Thanks for feedback text -->
            <span *ngIf="review.hasBeenRated" class="success-color" style="margin-right: 8px;">
                <i class="fas fa-check success-color"></i> Thanks for your feedback.
            </span>

            <!-- Review rating container -->
            <span>
                <span class="like" *ngIf="!review.hasBeenRated" (click)="onRateReviewClick(1, 0)">
                    <i class="fas fa-thumbs-up primary-color-light"></i>
                    <span>{{review.likes}}</span>
                </span>

                <span class="like" *ngIf="!review.hasBeenRated" (click)="onRateReviewClick(0, 1)">
                    <i class="fas fa-thumbs-down primary-color-light"></i>
                    <span>{{review.dislikes}}</span>
                </span>

                <span class="primary-color-light like" (click)="reportReviewClick()">
                    <i class="fas fa-flag"></i>
                    Report this review
                </span>
            </span>
        </ng-container>
    </div>
</div>