<div #widget class="widget" (mousedown)="onMousedown()"
    [ngClass]="{'widget-selected': widgetService.selectedWidget == this}"
    [style.background]="fill.enable ? 'rgba(' + fill.color.r + ',' +  fill.color.g + ',' + fill.color.b + ',' + fill.color.a + ')' : 'transparent'"
    [style.border]="border.enable ? border.width + 'px ' + border.style + ' ' + border.color.toHexA() : 'none'"
    [style.borderRadius]="corners.topLeft + 'px ' + corners.topRight + 'px ' + corners.bottomRight + 'px ' + corners.bottomLeft + 'px'"
    [style.box-shadow]="shadow.enable ? shadow.x + 'px ' + shadow.y + 'px ' + shadow.blur + 'px ' + shadow.size + 'px ' + shadow.color.toHexA() : 'none'"
    [style.margin]="horizontalAlignment.value" [style.paddingTop]="paddingTop.value"
    [style.paddingRight]="paddingRight.value" [style.paddingBottom]="paddingBottom.value"
    [style.paddingLeft]="paddingLeft.value" [style.maxWidth.px]="width ? width : null" [style.minHeight.px]="height"
    [style.height.px]="widgetService.currentWidgetCursor ? widget.getBoundingClientRect().height : null">


    <!-- Handles -->
    <div id="handle" class="top-center-handle"></div>
    <div id="handle" class="left-handle"></div>
    <div id="handle" class="bottom-center-handle"></div>
    <div id="handle" class="right-handle"></div>
    <div id="handle" class="top-left-handle" (mousedown)="onHandleMousedown('top-left', $event)"></div>
    <div id="handle" class="top-handle-bar" (mousedown)="onHandleMousedown('top', $event)"></div>
    <div id="handle" class="top-right-handle" (mousedown)="onHandleMousedown('top-right', $event)"></div>
    <div id="handle" class="right-handle-bar" (mousedown)="onHandleMousedown('right', $event)"></div>
    <div id="handle" class="bottom-right-handle" (mousedown)="onHandleMousedown('bottom-right', $event)"></div>
    <div id="handle" class="bottom-handle-bar" (mousedown)="onHandleMousedown('bottom', $event)"></div>
    <div id="handle" class="bottom-left-handle" (mousedown)="onHandleMousedown('bottom-left', $event)"></div>
    <div id="handle" class="left-handle-bar" (mousedown)="onHandleMousedown('left', $event)"></div>

    <container #container (onRowTransform)="onRowTransform($event)"></container>
</div>