<div class="widget widget-selected"
     [style.background]="'rgba(' + this.fill.color.r + ',' +  this.fill.color.g + ',' + this.fill.color.b + ',' + this.fill.color.a + ')'"
     [style.border]="border.apply ? border.width + 'px ' + border.style + ' ' + getBorderColor() : 'none'"
     [style.borderRadius]="corners.topLeft + 'px ' + corners.topRight + 'px ' + corners.bottomRight + 'px ' + corners.bottomLeft + 'px'"
     [style.box-shadow]="shadow.enable ? shadow.x + 'px ' + shadow.y + 'px ' + shadow.blur + 'px ' + shadow.size + 'px ' + getShadowColor() : 'none'"
     [style.margin]="margins.top + 'px ' + margins.right + 'px ' + margins.bottom + 'px ' + margins.left + 'px'"
     [style.padding]="padding.top + 'px ' + padding.right + 'px ' + padding.bottom + 'px ' + padding.left + 'px'">



    <div class="edit-button fas" (click)="onEdit()"></div>
    <div class="show-hide-button fas fa-eye" [ngClass]="{'fa-eye-slash': false}"></div>
    <div class="top-left-handle"></div>
    <div class="top-center-handle"></div>
    <div class="top-right-handle"></div>
    <div class="left-handle"></div>
    <div class="bottom-left-handle"></div>
    <div class="bottom-center-handle"></div>
    <div class="bottom-right-handle"></div>
    <div class="right-handle"></div>
    <div class="left-handle-bar"></div>
    <div class="top-handle-bar"></div>
    <div class="right-handle-bar"></div>
    <div class="bottom-handle-bar"></div>
</div>