<div class="overflow-container">
    <table (contextmenu)="$event.preventDefault()" (mouseup)="setContextMenu($event)">
        <tr *ngFor="let listItem of listItems; let listItemIndex = index">
            <td #listItem
                tabindex="-1"
                (blur)="onListItemBlur()"
                (mousedown)="onListItemDown(listItemIndex)"
                [textContent]="listItems[listItemIndex].name"
                (dblclick)="onListItemDoubleClick(listItemIndex)"
                [ngClass]="{'edited-listItem': indexOfEditedListItem == listItemIndex,
                            'selected-listItem': selectedListItemIndex == listItemIndex,
                            'unselected-listItem': unselectedListItemIndex == listItemIndex,
                            'selected-listItem-top': listItem.selectType == selectType.Top,
                            'selected-listItem-whole': listItem.selectType == selectType.Whole,
                            'selected-listItem-middle': listItem.selectType == selectType.Middle,
                            'selected-listItem-bottom': listItem.selectType == selectType.Bottom,
                            'transparent-listItem': indexOfEditedListItem != null && indexOfEditedListItem != listItemIndex}">
            </td>
        </tr>
    </table>
</div>