<div class="overflow-container">
    <table (contextmenu)="$event.preventDefault()" (mouseup)="setContextMenu($event)">
        <tr *ngFor="let listItem of listItems; let listItemIndex = index">
            <td #rowItem
                tabindex="-1"
                (blur)="onListItemBlur()"
                (mousedown)="onListItemDown(listItemIndex)"
                [textContent]="listItem.name"
                (dblclick)="onListItemDoubleClick()"
                [ngClass]="{'selected-listItem': selectedListItemIndex == listItemIndex,
                            'unselected-listItem': unselectedListItemIndex == listItemIndex,
                            'selected-listItem-top': listItem.selectType == selectType.Top,
                            'selected-listItem-whole': listItem.selectType == selectType.Whole,
                            'selected-listItem-middle': listItem.selectType == selectType.Middle,
                            'selected-listItem-bottom': listItem.selectType == selectType.Bottom}">
            </td>
        </tr>
    </table>
</div>