<ng-container *ngFor="let item of items">

    <div [ngClass]="{'child': item.parent, 'show-child': item.parent ? item.parent.showChildren: null}"
        (transitionend)="transitionend($event)">
        <div class="arrow-button-container" (transitionend)="$event.stopPropagation()">

            <!-- Arrow button -->
            <div *ngIf="!item.childless; else checkbox">
                <input #input type="checkbox" [id]="item.name" [checked]="item.showChildren">
                <label class="arrow-button" [for]="item.name" (click)="showHideChildren(item, input)"></label>
            </div>

            <ng-template #checkbox>
                <checkbox [checked]="item.checked" (change)="onCheckboxChange(item)"></checkbox>
            </ng-template>


            <!-- Item -->
            <div [id]="item.hierarchyId" class="item" (click)="editable ? hierarchy.selectedItem = item: false"
            [ngClass]="{'selected': editable && hierarchy.selectedItem == item, 'not-editable': !editable}">
                {{item.name}}
            </div>

            <!-- Loading spinner -->
            <i class="fa fa-spinner fa-pulse fade-start" *show="item.loading" transitionClass="fade-end"></i>
        </div>

        <!-- Hierarchy Content -->
        <hierarchy-checkbox-content [items]="item.children" [hierarchy]="hierarchy" [editable]="editable" (onChange)="onChange.emit($event)"></hierarchy-checkbox-content>
    </div>
</ng-container>