<!-- Property Box -->
<div class="property-box-light">
    <!-- Container for paginator & icons -->
    <div class="container">

        <div class="search icon-container" (click)="onPageSearchClick($event.target)">
            <i class="fas fa-search"></i>
        </div>

        <!-- Icons -->
        <div class="icons">

            <!-- Delete Page Icon -->
            <div class="icon-container" (click)="onDeleteClick()" [ngClass]="{'icon-disabled': !currentPageId}">
                <i class="fas fa-trash-alt"></i>
            </div>

            <!-- Duplicate Page Icon -->
            <div class="icon-container" (click)="duplicatePage()" [ngClass]="{'icon-disabled': !currentPageId}">
                <i class="fas fa-clone"></i>
            </div>

            <!-- Add Page Icon -->
            <div class="icon-container" (click)="addPage()">
                <i class="fas fa-plus-circle"></i>
            </div>
        </div>
    </div>

    <ng-container *ngIf="currentPageId">
        <!-- Preview & Publish buttons -->
        <div class="grooved-container">
            <div class="button-left" (click)="pageService.preview()">Preview</div>
            <div class="button-right">Publish</div>
        </div>




        <!-- Page, Row, Column, and Widget buttons -->
        <div class="grooved-container-bottom">
            <!-- Page -->
            <div class="button-left" [ngClass]="{'button-selected': pageService.propertyView == propertyView.Page}"
                (click)="setPageView()">Page</div>


            <!-- Row -->
            <div class="button-center" [ngClass]="{'button-selected': pageService.propertyView == propertyView.Row}"
                (click)="pageService.propertyView = propertyView.Row">Row</div>


            <!-- Column -->
            <div class="button-center" [ngClass]="{'button-selected': pageService.propertyView == propertyView.Column}"
                (click)="pageService.propertyView = propertyView.Column">
                Column</div>


            <!-- Widget -->
            <div class="button-right" [ngClass]="{'button-selected': pageService.propertyView == propertyView.Widget}"
                (click)="pageService.propertyView = propertyView.Widget">Widget
            </div>
        </div>


        <!-- Page Properties -->
        <page-properties *ngIf="pageService.propertyView == propertyView.Page && pageType == 'page'" [page]="pageService.page"></page-properties>

        <email-properties *ngIf="pageService.propertyView == propertyView.Page && pageType == 'email'" [page]="pageService.page"></email-properties>

        <!-- Row Propterties -->
        <row-properties *ngIf="pageService.propertyView == propertyView.Row"></row-properties>

        <!-- Column Propterties -->
        <column-properties *ngIf="pageService.propertyView == propertyView.Column"></column-properties>

        <!-- Widget Properties -->
        <widget-properties *ngIf="pageService.propertyView == propertyView.Widget"></widget-properties>
    </ng-container>



</div>