.container {
    background: #3b3b3b;
    height: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .search {
        margin-left: 10px;
    }

    .icons {
        margin: 0;
    }
}