<ng-container *ngIf="widgetService.selectedWidget">
    <!-- Widget ID -->
    <div class="grooved-container">
        <div class="label">Name:</div>
        <input class="txt-20" [(ngModel)]="widgetService.selectedWidget.name">
    </div>

    <!-- Button -->
    <button-widget-properties *ngIf="widgetService.selectedWidget.type == widgetType.Button"
        [widget]="widgetService.selectedWidget"></button-widget-properties>
    <!-- Text -->
    <text-widget-properties *ngIf="widgetService.selectedWidget.type == widgetType.Text"></text-widget-properties>
    <!-- Image -->
    <image-widget-properties *ngIf="widgetService.selectedWidget.type == widgetType.Image"></image-widget-properties>
    <!-- Container -->
    <container-widget-properties *ngIf="widgetService.selectedWidget.type == widgetType.Container"></container-widget-properties>
    <!-- Line -->
    <line-widget-properties *ngIf="widgetService.selectedWidget.type == widgetType.Line"></line-widget-properties>
    <!-- Video -->
    <video-widget-properties *ngIf="widgetService.selectedWidget.type == widgetType.Video"></video-widget-properties>
    <!-- Product Group -->
    <product-group-widget-properties *ngIf="widgetService.selectedWidget.type == widgetType.ProductGroup"></product-group-widget-properties>
    <!-- Categories -->
    <categories-widget-properties *ngIf="widgetService.selectedWidget.type == widgetType.Categories"></categories-widget-properties>
    <!-- Carousel -->
    <carousel-widget-properties *ngIf="widgetService.selectedWidget.type == widgetType.Carousel"></carousel-widget-properties>
</ng-container>
    


