<!-- Popup Base -->
<div #popup transitionClass="fade-end"
     class="popup-base fade-start"
     (onShow)="onPopupShow(popup, arrow)"
     *show="show">
     
    <!-- Arrow -->
    <div #arrow [ngClass]="{'arrow-on-top': arrowOnTop, 'arrow-on-bottom': !arrowOnTop}"></div>

    <!-- Header -->
    <div class="product-report-header">
        <div class="product-container">

            <!-- Product Thumbnail -->
            <div class="thumbnail" 
                 [ngStyle]="{ 'background-image': 'url(images/' + notificationService.reviewComplaintNotification.productThumbnail + ')'}">
            </div>

            <!-- Product Name -->
            <div class="product-name">
                {{notificationService.reviewComplaintNotification.productName}}
            </div>
        </div>

        <!-- X -->
        <div
             class="icon-container"
             (click)="sendNotificationToPending(notificationService.reviewComplaintNotification)">
            X
        </div>
    </div>


    <!-- Notification Description -->
    <div class="header-line"></div>
    <div class="product-report-title">
        {{notificationService.reviewComplaintNotification.name}}
    </div>
    <div class="header-line"></div>

    <!-- Main Property Box -->
    <div class="main-property-box">

        <!-- Paginator -->
        <div class="paginator-bar">
            <paginator #paginator [itemCount]="notificationService.reviewComplaintNotification.customerText.length"
                       (onItemChange)="paginatorIndex = $event">
            </paginator>
        </div>


        <!-- Review Writer Property Box -->
        <div class="property-box-label">Review Writer:</div>
        <div class="property-box">
            <div class="property-box-bar">

                <!-- Customer Thumbnail -->
                <div class="account-thumbnail"
                    [ngStyle]="{'background-image': 'url(images/' + notificationService.reviewComplaintNotification.customerText[paginatorIndex].thumbnail + ')'}">
                </div>

                <!-- Time Stamp -->
                <div class="time-stamp">
                    {{notificationService.reviewComplaintNotification.customerText[paginatorIndex].timeStamp}}
                </div>
            </div>

            <!-- Customer Text -->
            <div class="user-text">
                {{notificationService.reviewComplaintNotification.customerText[paginatorIndex].text}}
            </div>
            <div style="width: 100%; height: 45px; border-top: 1px solid #373737; padding: 10px;">
            
                <checkbox style="color: #898989;"
                          [label]="'mark this user as having a strike against them for not complying with the terms of use.'"
                          [checked]="notificationService.reviewComplaintNotification.isChecked[paginatorIndex]"
                          (change)="notificationService.reviewComplaintNotification.isChecked[paginatorIndex] = !notificationService.reviewComplaintNotification.isChecked[paginatorIndex]"
                
                >
                </checkbox>
            </div>
        </div>


        <!-- Complainant Property Box -->
        <div class="property-box-label">Complainant:</div>
        <div class="property-box">
            <div class="property-box-bar">

                <!-- Employee Thumbnail -->
                <div class="account-thumbnail"
                    [ngStyle]="{'background-image': 'url(images/' + notificationService.reviewComplaintNotification.notesText[paginatorIndex].thumbnail + ')'}">
                </div>

                <!-- Time Stamp -->
                <div class="time-stamp">
                    {{notificationService.reviewComplaintNotification.notesText[paginatorIndex].timeStamp}}
                </div>
            </div>

            <!-- Employee Text -->
            <div class="user-text">
                {{notificationService.reviewComplaintNotification.notesText[paginatorIndex].text}}
            </div>
        </div>
    </div>


    <!-- Button Container -->
    <div *ngIf="notificationService.selectedNotificationsTab != notificationTab.ArchiveNotifications"
         class="button-container">
         
         <!-- Buttons -->
        <button (click)="onDismissButtonClick(notificationService.reviewComplaintNotification)">Dismiss</button>
        <button (click)="onRightButtonClick(notificationService.reviewComplaintNotification)">Remove Review</button>
    </div>
</div>