.panel-light-rounded {
    height: 368px;
}

.panel-dark {
    height: 250px;
}


select {
    overflow: auto;
    cursor: default;
    option {
        cursor: pointer;
    }
}

.icon-bar {
    margin-bottom: 5px;
}