@import '../../../../scss/variables';

.item {
    width: 100%;
    cursor: pointer;
    user-select: none;
    padding-left: 3px;
    &:hover:not(.selected) {
        background: $hover-fill-color;
    }
}

.selected:not([contenteditable="true"]) {
    background: $selected-fill-color;
    outline: 1px solid $selected-border-color;
    color: white;
}


.child {
    padding-left: 48px;
    & > :not(.child) {
        max-height: 0;
        opacity: 0;
        transition: max-height 0.2s, opacity 0.2s;
    }

    &:not(.show-child) .arrow-button-container {
        margin-bottom: 0;
    }
}

.show-child > :not(.show-child) {
    max-height: 22px;
    opacity: 1;
    visibility: visible;
}

.fa-spinner {
    position: absolute;
    right: 10px;
}