<!-- ----------------------Tab Title-------------- -->
<div class="tab-title">Link</div>


<!-- Radio Buttons Row -->
<div class="property-row">

    <!-- Radio Buttons Container -->
    <div class="radio-buttons-container">

        <div class="radio-button-option-container" *ngFor="let option of options">
            <input [id]="option" type="radio" name="link" [(ngModel)]="link.selectedOption" [value]="option"
                [attr.disabled]="link.disabled ? true: null">
            <label style="padding-left: 5px;" [for]="option"
                [attr.disabled]="link.disabled ? true: null">{{option}}</label>
        </div>
    </div>
</div>

<!-- Input Text -->
<input type="text" [(ngModel)]="link.url" [attr.disabled]="link.disabled ? true: null">

<button (click)="applyLink()" [attr.disabled]="applyDisabled() ? true: null">Apply</button>
<button (click)="source.removeLink()" [attr.disabled]="link.disabled || !enableRemove ? true: null">Remove</button>