<!-- ----------------------Tab Title-------------- -->
<div class="tab-title">Link</div>


<!-- Radio Buttons Row -->
<div class="property-row">

    <!-- Radio Buttons Container -->
    <div class="radio-buttons-container">

        <!-- Page -->
        <div class="radio-button-option-container">
            <input type="radio" name="link" style="margin-right: 5px;">
            <div style="user-select: none;">Page</div>
        </div>

        <!-- Category -->
        <div class="radio-button-option-container">
            <input type="radio" name="link" style="margin-right: 5px;">
            <div style="user-select: none;">Category</div>
        </div>

        <!-- Niche -->
        <div class="radio-button-option-container">
            <input type="radio" name="link" style="margin-right: 5px;">
            <div style="user-select: none;">Niche</div>
        </div>

        <!-- Product -->
        <div class="radio-button-option-container">
            <input type="radio" name="link" style="margin-right: 5px;">
            <div style="user-select: none;">Product</div>
        </div>

        <!-- Web Address -->
        <div class="radio-button-option-container">
            <input type="radio" name="link" style="margin-right: 5px;">
            <div style="user-select: none;">Web Address</div>
        </div>
    </div>  
</div>

<!-- Input Text -->
<input type="text">