<!-- ----------------------Tab Title-------------- -->
<div class="tab-title">Link</div>


<!-- -------------------Left------------------------ -->
<div class="property-row">

    <!-- Name -->
    <!-- <div style="user-select: none; cursor: e-resize;">Left:</div>  -->

    <div style="width: 100%; margin-bottom: 10px;">

        <div style="display:flex; align-items: center; margin-top: 6px; margin-bottom: 4px;">
            <input type="radio" name="link" style="margin-right: 5px;">

            <div style="user-select: none;">Page</div>
            
        </div>

        <div style="display:flex; align-items: center; margin-top: 6px; margin-bottom: 4px;">
            <input type="radio" name="link" style="margin-right: 5px;">

            <div style="user-select: none;">Category</div>
            
        </div>

        <div style="display:flex; align-items: center; margin-top: 6px; margin-bottom: 4px;">
            <input type="radio" name="link" style="margin-right: 5px;">

            <div style="user-select: none;">Niche</div>
            
        </div>

        <div style="display:flex; align-items: center; margin-top: 6px; margin-bottom: 4px;">
            <input type="radio" name="link" style="margin-right: 5px;">

            <div style="user-select: none;">Product</div>
            
        </div>

        <div style="display:flex; align-items: center; margin-top: 6px; margin-bottom: 4px;">
            <input type="radio" name="link" style="margin-right: 5px;">

            <div style="user-select: none;">Web Address</div>
            
        </div>
        
        
        

        


    </div>  


</div>


