input, select {
    background-color: #252525;
    border: 1px solid #6c6c6c;
}

input[type="radio"]:not([disabled]), label:not([disabled]) {
    cursor: pointer;
}

.radio-buttons-container {
    width: 100%;
    margin-bottom: 10px;
    user-select: none;
}

input:disabled {
    background-color: #303030;
    border: 1px solid #404040;
    color: #636363;
}

input:disabled + label {
    color: #636363;
}

.radio-button-option-container {
    display:flex;
    align-items: center;
    margin-top: 6px;
    margin-bottom: 4px;
}

button {
    position: absolute;
    bottom: 10px;
    right: 10px;

    & + button {
        right: 80px;
    }
}