<navbar></navbar>


<!-- Filter Menu -->
<div *show="showFilterMenu"
    class="width-100 background-color-dark position-fixed border border-primary-color fade-translate-start outline-0"
    style="z-index: 1000; min-height: 100%;" transitionClass="fade-translate-end" tabindex="0"
    (onHide)="showFilterMenu = false">

    <div (mousedown)="$event.stopPropagation()">
        <!-- Close header -->
        <div class="background-color-dark-gray padding-top-2 padding-bottom-2 overflow-auto">
            <i (click)="showFilterMenu = false; setSelectedFilter()"
                class="fas fa-times margin-right-2 alt-color float-right"></i>
        </div>


        <div class="position-absolute-identity" style="top:30px;">
            <div class="padding-2 overflow-auto height-100 position-relative">


                <!-- Caption -->
                <h3 class="alt-color">Filter by order date</h3>

                <!-- Options -->
                <radio-button *ngFor="let filterOption of filter; let i = index" [name]="'option'"
                    [label]="filterOption.value" [checked]="i == getDefaultIndex()"
                    (change)="selectedFilter = filterOption"></radio-button>


                <!-- Apply button -->
                <div class="margin-n1" style="height: 50px;">
                    <div class="background-color-dark-gray position-fixed text-center position-fixed-bottom"
                        style="height:50px;">
                        <button class="alt-button margin-top-2 width-95"
                            (click)="onFilterClick(selectedFilter); showFilterMenu = false">Apply</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="page-container">
    <div class="content-container">

        <!-- Content -->
        <div class="content" style="max-width: 900px;">
            <div class="display-flex justify-content-between align-items-center margin-bottom-3 flex-wrap">
                <h1>Your Orders</h1>
                <i class="fas fa-bars hide-sm font-size-4 alt-color" (click)="showFilterMenu = true"
                    *ngIf="!viewOrderDetails && displayType == 'order'"></i>
                <form (ngSubmit)="onSearch()"
                    class="display-flex align-items-center width-100 width-60-sm margin-top-3 margin-top-0-sm"
                    #form="ngForm">
                    <input type="text" class="border-oval-left padding-left-3 width-100" [(ngModel)]="searchwords"
                        name="search" placeholder="Search all orders">
                    <button class="alt-button button-rounded-right"><i class="fas fa-search"></i></button>
                </form>
            </div>




            <div class="show-sm">
                <!-- Number of orders placed -->
                <div class="display-flex align-items-center" *ngIf="filter && !route.snapshot.queryParams.search">
                    <div class="margin-right-1">{{orders.length}} order{{orders.length == 1 ? '' : 's'}} placed in</div>
                    <dropdown-button [items]="filter" [defaultIndex]="getDefaultIndex()"
                        (itemClick)="onFilterClick($event)"></dropdown-button>
                </div>



            </div>

            <!-- Number of products matching -->
            <div *ngIf="route.snapshot.queryParams.search && displayType == 'product'"
                class="margin-bottom-2 gray-color">
                <div>{{count}} product{{count == 1 ? '' : 's'}} matching
                    "{{route.snapshot.queryParams.search}}"</div>
            </div>




            <!-- ................................................Display type: Order........................................ -->
            <div *ngIf="displayType == 'order'" class="width-100 margin-top-5-sm">
                <h2 *ngIf="orders && orders.length == 0"
                    class="text-center margin-top-5 gray-color border border-gray padding-4 hide-sm">No orders found
                </h2>

                <div *ngFor="let order of orders; let i = index">
                    <div *ngIf="currentViewedOrderIndex < 0 || i == currentViewedOrderIndex">



                        <!-- Navigation box -->
                        <div class="border border-bottom-0 border-gray padding-3 background-color-dark"
                            [ngClass]="{'hide-sm': !viewOrderDetails}">

                            <!-- View Order Details -->
                            <div *ngIf="!viewOrderDetails" class="display-flex justify-content-between"
                                (click)="viewOrderDetails = true; currentViewedOrderIndex = i">
                                <div>View Order Details</div>
                                <i class="fas fa-chevron-right font-size-4 alt-color"></i>
                            </div>

                            <!-- Back -->
                            <div *ngIf="viewOrderDetails" class="display-flex"
                                (click)="viewOrderDetails = false; currentViewedOrderIndex = -1">
                                <i class="fas fa-chevron-left font-size-4 alt-color margin-right-2"></i>
                                <div>Back</div>
                            </div>

                        </div>



                        <div
                            class="background-color-dark-gray padding-2 border border-bottom-0 border-gray display-flex-xs justify-content-between">
                            <div class="margin-bottom-3 margin-bottom-0-xs">
                                <h4>Ordered On:</h4>
                                <div>{{order.date}}</div>
                            </div>

                            <div>
                                <h4>Order Number:</h4>
                                <div>{{order.orderNumber}}</div>
                            </div>

                        </div>



                        <div class="border border-gray display-flex margin-bottom-4 justify-content-between">

                            <!-- Products -->
                            <div *ngIf="!viewOrderDetails" class="flex-fill">
                                <div *ngFor="let product of order.products">
                                    <div class="display-flex">
                                        <!-- Product Image -->
                                        <div class="img-container display-flex align-items-center justify-content-center margin-2 flex-shrink-0 cursor-pointer" (click)="onProductClick({id: order.productId, urlTitle: order.urlTitle})">
                                            <img [src]="product.image ? '/images/' + product.image : 'assets/no_image.png'">
                                        </div>

                                        <!-- Product Info -->
                                        <div class="margin-top-2 margin-right-2 text-break">
                                            <h4 class="text-hover-underline cursor-pointer" (click)="onProductClick({id: order.productId, urlTitle: order.urlTitle})">{{product.title}}</h4>
                                            <div class="gray-color">{{product.type}}</div>
                                            <div *ngIf="product.quantity > 0" class="gray-color">Quantity:
                                                {{product.quantity}}</div>
                                            <div class="alt-color">{{product.price | currency:'USD'}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr class="show-sm">

                            <!-- Purchase info -->
                            <div class="purchase-info" [ngClass]="{'show-sm': !viewOrderDetails}">

                                <div class="display-flex flex-column height-100 justify-content-between">
                                    <div>
                                        <!-- Payment Method -->
                                        <div class="margin-bottom-3">
                                            <h4>Payment Method</h4>
                                            <div class="line-item">
                                                <div>{{order.paymentMethod}}:</div>
                                                <img [src]="'assets/'+ order.paymentMethodImg"
                                                    [title]="order.paymentMethod">
                                            </div>
                                        </div>



                                        <!-- Order Summary -->
                                        <div class="margin-bottom-3">
                                            <h4>Order Summary</h4>

                                            <div class="line-item">
                                                <div>Item(s) Subtotal:</div>
                                                <div>{{order.subtotal | currency:'USD'}}</div>
                                            </div>

                                            <div class="line-item">
                                                <div>Shipping & Handling:</div>
                                                <div>{{order.shippingHandling | currency:'USD'}}</div>
                                            </div>

                                            <div class="line-item">
                                                <div>Discount:</div>
                                                <div>{{order.discount | currency:'USD'}}</div>
                                            </div>

                                            <div class="line-item">
                                                <div>Tax:</div>
                                                <div>{{order.tax | currency:'USD'}}</div>
                                            </div>

                                            <div class="line-item">
                                                <div>Total:</div>
                                                <div>{{order.total | currency:'USD'}}</div>
                                            </div>
                                        </div>
                                    </div>


                                    <!-- Buttons -->
                                    <div>
                                        <button (click)="onBuyAgainClick(order.hoplink)"
                                            class="alt-button margin-bottom-2 width-100">Buy again</button>
                                        <button class="width-100" (click)="onWriteReviewClick(order.productId)">Write a review</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <!-- ................................................Display type: Product........................................ -->
            <div *ngIf="displayType == 'product'" class="border-top border-gray margin-top-3">
                <div *ngFor="let product of products">
                    <div class="display-flex border-bottom border-gray padding-3">
                        <!-- Product Image -->
                        <div class="img-container display-flex align-items-center justify-content-center margin-right-3 flex-shrink-0 cursor-pointer" (click)="onProductClick({id: product.productId, urlTitle: product.urlTitle})">
                            <img [src]="product.image ? '/images/' + product.image : 'assets/no_image.png'">
                        </div>

                        <!-- Product Info -->
                        <div class="text-break">
                            <h4 class="text-hover-underline cursor-pointer" (click)="onProductClick({id: product.productId, urlTitle: product.urlTitle})">{{product.title}}</h4>
                            <div class="gray-color">Ordered on {{product.date}}</div>
                            <div class="alt-color text-underline cursor-pointer margin-bottom-2"
                                (click)="searchwords = product.orderNumber; onSearch()">View order</div>
                            <button class="alt-button" (click)="onBuyAgainClick(product.hoplink)">Buy again</button>
                        </div>
                    </div>
                </div>
            </div>

            <navfooter></navfooter>
        </div>
    </div>
</div>