<navbar></navbar>


<!-- Filter Menu -->
<div *show="showFilterMenu" class="filter-menu fade-translate-start" transitionClass="fade-translate-end" tabindex="0"
    (onHide)="showFilterMenu = false">

    <div (mousedown)="$event.stopPropagation()">
        <!-- Close header -->
        <div class="close-header">
            <i (click)="showFilterMenu = false; setSelectedFilter()" class="fas fa-times"></i>
        </div>


        <div class="mobile-orders">
            <div class="overflow-container">
                <!-- Caption -->
                <h3>Filter by order date</h3>

                <!-- Options -->
                <radio-button style="margin-bottom: 10px; display: block;"
                    *ngFor="let filterOption of filter; let i = index" [name]="'option'" [label]="filterOption.value"
                    [checked]="i == getDefaultIndex()" (change)="selectedFilter = filterOption"></radio-button>


                <!-- Apply button -->
                <div style="height: 50px;">
                    <div class="apply-button" style="height:50px;">
                        <button class="alt-button"
                            (click)="onFilterClick(selectedFilter); showFilterMenu = false">Apply</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="page-container">
    <div class="content-container">

        <!-- Content -->
        <div class="content" style="max-width: 900px;">

            <!-- Page header -->
            <div class="page-header">
                <h1>Your Orders</h1>

                <i class="fas fa-bars hide-sm" (click)="showFilterMenu = true"
                    *ngIf="!viewOrderDetails && displayType == 'order'"></i>


                <form (ngSubmit)="onSearch()" class="width-100 width-60-sm margin-top-16 margin-top-0-sm"
                    #form="ngForm">
                    <input type="text" [(ngModel)]="searchwords" name="search" placeholder="Search all orders">
                    <button class="alt-button button-rounded-right"><i class="fas fa-search"></i></button>
                </form>
            </div>




            <div class="show-sm">
                <!-- Number of orders placed -->
                <div style="display: flex; align-items: center;" *ngIf="filter && !route.snapshot.queryParams.search">
                    <div style="margin-right: 4px;">{{orders.length}} order{{orders.length == 1 ? '' : 's'}} placed in
                    </div>
                    <dropdown-button [items]="filter" [defaultIndex]="getDefaultIndex()"
                        (itemClick)="onFilterClick($event)"></dropdown-button>
                </div>
            </div>

            <!-- Number of products matching -->
            <div *ngIf="route.snapshot.queryParams.search && displayType == 'product'" class="products-matching">
                <div>{{count}} product{{count == 1 ? '' : 's'}} matching
                    "{{route.snapshot.queryParams.search}}"</div>
            </div>




            <!-- ................................................Display type: Order........................................ -->
            <div *ngIf="displayType == 'order'" class="margin-top-48-sm" style="width: 100%">

                <!-- No Orders -->
                <h2 *ngIf="orders && orders.length == 0" class="no-orders">No orders found</h2>


                <!-- Orders -->
                <div *ngFor="let order of orders; let i = index">
                    <div *ngIf="currentViewedOrderIndex < 0 || i == currentViewedOrderIndex">



                        <!-- Navigation box -->
                        <div class="navigation-box" [ngClass]="{'hide-sm': !viewOrderDetails}">

                            <!-- View Order Details -->
                            <div *ngIf="!viewOrderDetails" style="display: flex; justify-content: space-between;"
                                (click)="viewOrderDetails = true; currentViewedOrderIndex = i">
                                <div>View Order Details</div>
                                <i class="fas fa-chevron-right"></i>
                            </div>

                            <!-- Back -->
                            <div *ngIf="viewOrderDetails" style="display: flex;"
                                (click)="viewOrderDetails = false; currentViewedOrderIndex = -1">
                                <i class="fas fa-chevron-left"></i>
                                <div style="margin-left: 8px;">Back</div>
                            </div>
                        </div>


                        <!-- Order container -->
                        <div class="order-container display-flex-xs">
                            <div class="margin-bottom-16 margin-bottom-0-xs">
                                <h4>Ordered On:</h4>
                                <div>{{order.date}}</div>
                            </div>

                            <div>
                                <h4>Order Number:</h4>
                                <div>{{order.orderNumber}}</div>
                            </div>
                        </div>


                        <!-- Order info container -->
                        <div class="order-info-container">

                            <!-- Products -->
                            <div *ngIf="!viewOrderDetails" style="flex: 1 1 auto;">
                                <div *ngFor="let product of order.products">
                                    <div style="display: flex;">

                                        <!-- Product Image -->
                                        <div class="img-container"
                                            (click)="onProductClick({id: order.productId, urlTitle: order.urlTitle})">
                                            <img
                                                [src]="product.image ? '/images/' + product.image : 'assets/no_image.png'">
                                        </div>

                                        <!-- Product Info -->
                                        <div class="product-info text-break">
                                            <!-- Title -->
                                            <div class="product-title"
                                                (click)="onProductClick({id: order.productId, urlTitle: order.urlTitle})">
                                                {{product.title}}</div>

                                            <!-- Product Type -->
                                            <div class="gray-color">{{product.type}}</div>

                                            <!-- Product Quantity -->
                                            <div *ngIf="product.quantity > 0" class="gray-color">Quantity:
                                                {{product.quantity}}</div>

                                            <!-- Price -->
                                            <div class="niche-shack-gold-color">{{product.price | currency:'USD'}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr class="show-sm">

                            <!-- Purchase info -->
                            <div class="purchase-info-container" [ngClass]="{'show-sm': !viewOrderDetails}">

                                <div class="purchase-info">
                                    <div>
                                        <!-- Payment Method -->
                                        <div style="margin-bottom: 16px;">
                                            <h4>Payment Method</h4>
                                            <div class="line-item">
                                                <div>{{order.paymentMethod}}:</div>
                                                <img [src]="'assets/'+ order.paymentMethodImg"
                                                    [title]="order.paymentMethod">
                                            </div>
                                        </div>



                                        <!-- Order Summary -->
                                        <div style="margin-bottom: 16px;">
                                            <h4>Order Summary</h4>

                                            <div class="line-item">
                                                <div>Item(s) Subtotal:</div>
                                                <div>{{order.subtotal | currency:'USD'}}</div>
                                            </div>

                                            <div class="line-item">
                                                <div>Shipping & Handling:</div>
                                                <div>{{order.shippingHandling | currency:'USD'}}</div>
                                            </div>

                                            <div class="line-item">
                                                <div>Discount:</div>
                                                <div>{{order.discount | currency:'USD'}}</div>
                                            </div>

                                            <div class="line-item">
                                                <div>Tax:</div>
                                                <div>{{order.tax | currency:'USD'}}</div>
                                            </div>

                                            <div class="line-item">
                                                <div>Total:</div>
                                                <div>{{order.total | currency:'USD'}}</div>
                                            </div>
                                        </div>
                                    </div>


                                    <!-- Buttons -->
                                    <div>
                                        <button (click)="onBuyAgainClick(order.hoplink)" class="alt-button"
                                            style="margin-bottom: 8px; width: 100%">Buy again</button>
                                        <button style="width: 100%;" (click)="onWriteReviewClick(order.productId)">Write
                                            a
                                            review</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <!-- ................................................Display type: Product........................................ -->
            <div *ngIf="displayType == 'product'" class="products-container">
                <div *ngFor="let product of products">
                    <div class="product">
                        <!-- Product Image -->
                        <div class="img-container"
                            (click)="onProductClick({id: product.productId, urlTitle: product.urlTitle})">
                            <img [src]="product.image ? '/images/' + product.image : 'assets/no_image.png'">
                        </div>

                        <!-- Product Info -->
                        <div class="text-break">
                            <div class="product-title"
                                (click)="onProductClick({id: product.productId, urlTitle: product.urlTitle})">
                                {{product.title}}</div>
                            <div class="gray-color">Ordered on {{product.date}}</div>
                            <div class="niche-shack-gold-color view-order"
                                (click)="searchwords = product.orderNumber; onSearch()">View order</div>
                            <button class="alt-button" (click)="onBuyAgainClick(product.hoplink)">Buy again</button>
                        </div>
                    </div>
                </div>
            </div>

            <navfooter></navfooter>
        </div>
    </div>
</div>