@import '../../../scss/variables';

$img-size: 60px;

input[type="text"] {
    height: 34px;
}

.img-container {
    width: $img-size;
    height: $img-size;
    img {
        max-width: $img-size;
        max-height: $img-size;
    }
}

hr {
    margin-block-start: 4%;
    margin-block-end: 4%;
    height: auto;
    border-color: $border-color;
    border-style: solid;
}

h4, h1 {
    margin-bottom: 0;
}


.purchase-info {
    min-width: initial;
    padding: 0.5rem;
    flex: 1;

    .line-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        div:first-child {
            color: $gray-color;
            margin-right: 10px;
        }
        div:last-child {
            color: $alt-color;
        }
    }
}

@media (min-width: map-get($breakpoints, sm)) {
    .purchase-info {
        min-width: 250px;
    }
}

@media (min-width: map-get($breakpoints, xxs)) {
    $img-size: 100px;
    .img-container {
        width: $img-size;
        height: $img-size;
        img {
            max-width: $img-size;
            max-height: $img-size;
        }
    }
}