// Borders
.border         { border: $border-width solid $border-color; }
.border-top     { border-top: $border-width solid $border-color; }
.border-right   { border-right: $border-width solid $border-color; }
.border-bottom  { border-bottom: $border-width solid $border-color; }
.border-left    { border-left: $border-width solid $border-color; }

.border-0        { border: 0; }
.border-top-0    { border-top: 0; }
.border-right-0  { border-right: 0; }
.border-bottom-0 { border-bottom: 0; }
.border-left-0   { border-left: 0; }
.outline         { outline: $border-width solid; }
.outline-0       { outline: 0; }


// Border colors
@include generate-border-colors($primary-color-map, 'primary');
@include generate-border-colors($alt-color-map, 'alt');


// Border widths
.border-width-1 { border-width: 0.125rem }
.border-width-2 { border-width: 0.25rem }
.border-width-3 { border-width: 0.5rem }


// Border rounded
.border-rounded {
    border-radius: $border-radius;
}
.border-rounded-top {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
}
.border-rounded-right {
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
}
.border-rounded-bottom {
    border-bottom-right-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
}
.border-rounded-left {
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
}


.border-oval-top {
    border-top-left-radius: $border-radius + 6;
    border-top-right-radius: $border-radius + 6;
}
.border-oval-right {
    border-top-right-radius: $border-radius + 6;
    border-bottom-right-radius: $border-radius + 6;
}
.border-oval-bottom {
    border-bottom-right-radius: $border-radius + 6;
    border-bottom-left-radius: $border-radius + 6;
}
.border-oval-left {
    border-top-left-radius: $border-radius + 6;
    border-bottom-left-radius: $border-radius + 6;
}




.border-rounded-circle {
    border-radius: 50%;
}

// Reset
@each $key in map-keys($breakpoints) {
    @include media-breakpoint($key) {
        $extension: get-class-extension($key);
        .border-rounded-0#{$extension} { border-radius: 0; }
        .border-none#{$extension} { border: none; }
    }
}



