@each $key in map-keys($breakpoints) {
    @include media-breakpoint($key) {
        $extension: get-class-extension($key);

        .flex-row#{$extension}            { flex-direction: row; }
        .flex-column#{$extension}         { flex-direction: column; }
        .flex-row-reverse#{$extension}    { flex-direction: row-reverse; }
        .flex-column-reverse#{$extension} { flex-direction: column-reverse; }

        .flex-wrap#{$extension}         { flex-wrap: wrap; }
        .flex-nowrap#{$extension}       { flex-wrap: nowrap; }
        .flex-wrap-reverse#{$extension} { flex-wrap: wrap-reverse; }
        .flex-fill#{$extension}         { flex: 1 1 auto; }
        .flex-grow-0#{$extension}       { flex-grow: 0; }
        .flex-grow-1#{$extension}       { flex-grow: 1; }
        .flex-shrink-0#{$extension}     { flex-shrink: 0; }
        .flex-shrink-1#{$extension}     { flex-shrink: 1; }

        .justify-content-start#{$extension}   { justify-content: flex-start; }
        .justify-content-end#{$extension}     { justify-content: flex-end; }
        .justify-content-center#{$extension}  { justify-content: center; }
        .justify-content-between#{$extension} { justify-content: space-between; }
        .justify-content-around#{$extension}  { justify-content: space-around; }

        .align-items-start#{$extension}    { align-items: flex-start; }
        .align-items-end#{$extension}      { align-items: flex-end; }
        .align-items-center#{$extension}   { align-items: center; }
        .align-items-baseline#{$extension} { align-items: baseline; }
        .align-items-stretch#{$extension}  { align-items: stretch; }

        .align-content-start#{$extension}   { align-content: flex-start; }
        .align-content-end#{$extension}     { align-content: flex-end; }
        .align-content-center#{$extension}  { align-content: center; }
        .align-content-between#{$extension} { align-content: space-between; }
        .align-content-around#{$extension}  { align-content: space-around; }
        .align-content-stretch#{$extension} { align-content: stretch; }

        .align-self-auto#{$extension}     { align-self: auto; }
        .align-self-start#{$extension}    { align-self: flex-start; }
        .align-self-end#{$extension}      { align-self: flex-end; }
        .align-self-center#{$extension}   { align-self: center; }
        .align-self-baseline#{$extension} { align-self: baseline; }
        .align-self-stretch#{$extension}  { align-self: stretch; }
    }
}