<div class="grid">

    <!-- Prevew/Publish Dropdown -->
    <preview-publish-dropdown></preview-publish-dropdown>


    <!-- Hoplink -->
    <product-hoplink></product-hoplink>


    <!-- Top Row -->
    <div class="row" style="margin-bottom: 12px;">
        <!-- Description -->
        <div class="col-6-xl">
            <product-description></product-description>
        </div>

        <!-- Image -->
        <div class="col-3-xl col-6-lg">
            <product-image></product-image>
        </div>

        <!-- Filters -->
        <div class="col-3-xl col-6-lg">
            <product-filters></product-filters>
        </div>
    </div>


    <!-- Bottom Row -->
    <div class="row">
        <!-- Content -->
        <div class="col-8-xxl">
            <product-content></product-content>
        </div>

        <!-- Media -->
        <div class="col-2-xxl col-6-md">
            <product-media></product-media>
        </div>

        <!-- Keywords -->
        <div class="col-2-xxl col-6-md">
            <product-keywords></product-keywords>
        </div>
    </div>
</div>