<div #popup *show="show" transitionClass="fade-end" class="popup-base fade-start" (onShow)="onPopupShow(popup)"
    style="position: absolute;
    background:  rgba(25, 25, 25, 0.95);
    border-radius: 4px;
    padding: 10px;
    z-index: 10;">
    <!-- Search bar & filter menu -->
    <div style="position: relative;">
        <!-- Search bar -->
        <div class="search-bar">
            <input #searchInput id="search-input" autocomplete="off">
            <div (mousedown)="showMenu = true">{{getItemName(filterType)}}</div>
        </div>


        <!-- Filter menu -->
        <div *show="showMenu" class="fade-start filter-menu" transitionClass="fade-end" tabindex="0"
            (onHide)="showMenu = false" (blur)="showMenu = false">

            <div (mousedown)="$event.stopPropagation()">

                <!-- Category -->
                <div style="margin-bottom: 10px">
                    <radio-button [name]="'filter'" [label]="'Filter by Category'"
                        (change)="filterType = nicheShackHierarchyItemType.Category; showMenu = false; searchInput.value = ''"
                        [checked]="filterType == nicheShackHierarchyItemType.Category"></radio-button>
                </div>


                <!-- Niche -->
                <div style="margin-bottom: 10px">
                    <radio-button [name]="'filter'" [label]="'Filter by Niche'"
                        (change)="filterType = nicheShackHierarchyItemType.Niche; showMenu = false; searchInput.value = ''"
                        [checked]="filterType == nicheShackHierarchyItemType.Niche"></radio-button>
                </div>


                <!-- Product -->
                <radio-button [name]="'filter'" [label]="'Filter by Product'"
                    (change)="filterType = nicheShackHierarchyItemType.Product; showMenu = false; searchInput.value = ''"
                    [checked]="filterType == nicheShackHierarchyItemType.Product"></radio-button>
            </div>
        </div>
    </div>


    <!-- Icons -->
    <div class="icon-bar">
        <!-- Collapse -->
        <div class="icon-container" title="Collapse" (click)="onCollapseButtonClick()"
            [ngClass]="{'icon-disabled': isCollapseButtonDisabled()}">

            <i class="fas fa-minus-square"></i>
        </div>

        <!-- Add -->
        <div class="icon-container" (click)="onAddItemButtonClick()" [title]="getAddButtonTitle()"
            [ngClass]="{'icon-disabled': isAddItemDisabled()}">
            <i class="fas fa-plus-circle"></i>
        </div>

        <!-- Rename -->
        <div class="icon-container" [ngClass]="{'icon-disabled': isEditItemDisabled()}" (click)="onEditItemClick()"
            [title]="selectedItem ? 'Rename ' + getItemName(selectedItem.type) : 'Rename'">

            <i class="fas fa-pencil-alt"></i>
        </div>


        <!-- Delete -->
        <div class="icon-container" [ngClass]="{'icon-disabled': isDeleteItemDisabled()}" (click)="onDeleteClick()"
            [title]="selectedItem ? 'Delete ' + getItemName(selectedItem.type) : 'Delete'">

            <i class="fas fa-trash-alt"></i>
        </div>
    </div>


    <!-- Content -->
    <div style="max-height: 500px; overflow-y: auto; overflow-x: hidden; padding: 2px; padding-bottom: 10px;">
        <!-- Search results close button -->
        <div class="search-results" *ngIf="searchResults">
            <div class="results">{{searchResults.length}} results</div>
            <div class="close-button" title="Clear search results" (click)="clearSearchResults()">x</div>
        </div>

        <hierarchy-content *ngIf="items || searchResults; else loading" [items]="searchResults ? searchResults : items"
            [hierarchy]="this"></hierarchy-content>

        <ng-template #loading>
            <div class="loading-container">
                <i class="fas fa-spinner fa-pulse"></i>
            </div>
        </ng-template>

        <div *ngIf="items && items.length == 0" class="no-items">
            No items available
        </div>
    </div>
</div>