<div *ngIf="route.snapshot.queryParams.email && route.snapshot.queryParams.token" class="content form-page">
    <!-- Logo -->
    <img src="assets/Logo.png" routerLink="" title="Niche Shack Homepage">


    <!-- Succsess -->
    <div *ngIf="success" class="success">
        <i class="fas fa-check"></i>
        Your password has been reset. <a routerLink="/sign-in">Sign in.</a>
    </div>

    <form (ngSubmit)="onSubmit()" #form="ngForm" [matchValue]="['password', 'reEnteredPassword']">
        <h1>Reset Password</h1>

        <!-- Password -->
        <h4 *ngIf="valid(_password); else invalidPassword">Password:</h4>

        <!-- Invalid password -->
        <ng-template #invalidPassword>
            <h4 class="error">Passwords must be at least 6 characters.</h4>
        </ng-template>
        <input type="password" required pattern="(?=.*\S).{6,}" [(ngModel)]="password" name="password"
            #_password="ngModel" autocomplete="off">

        

        <!-- Re-enter password -->
        <h4 *ngIf="valid(re_enter_password); else invalidReEnteredPassword">Re-enter password:</h4>



        <!-- Invalid re-entered password -->
        <ng-template #invalidReEnteredPassword>
            <h4 class="error">Please make sure passwords match.</h4>
        </ng-template>
        <input type="password" [(ngModel)]="reEnteredPassword" name="reEnteredPassword" #re_enter_password="ngModel"
            autocomplete="off">
        

        <!-- Submit button -->
        <button type="submit" class="alt-button">Submit</button>
    </form>

    <div class="footer">
        <a routerLink="/terms">Terms of Use</a>
        <a routerLink="/privacy-policy">Privacy Policy</a>
    </div>
</div>