@import '../../../scss/variables';

.success {
    margin-bottom: 24px;
    border: 1px solid $niche-shack-gold;
    border-radius: 4px;
    padding: 16px;

    .fa-check {
        margin-right: 8px;
        color: $success-color;
    }
}