<!-- ----------------------Tab Title-------------- -->
<div class="tab-title">{{mediaType == 'image' ? 'Image' : 'Video'}}</div>

    <!-- Search bar -->
    <div class="search-bar">
        <div><i class="fas fa-search"></i></div>
        <input class="border-oval-right">
    </div>


<!-- Icons -->
<div class="icon-bar">
    <!-- File explorer -->
    <div class="icon-container" title="File Explorer">
        <i class="fas fa-folder-open"></i>
    </div>

    <!-- Delete -->
    <div class="icon-container" title="Delete">
        <i class="fas fa-trash-alt"></i>
    </div>
</div>

<!-- Media -->
<div class="media-container">
    <div class="panel-dark">
        <div class="width-100 display-flex flex-wrap overflow-auto justify-content-center justify-content-start-xs">
            <ng-container *ngFor="let i of [0,1,2,3,4,5,6,7,8,9]">
                <div class="media">
                    <img src="images/6c048ea442b646b59970f907a4d3ce61.jpg">
                </div>
                <div class="media">
                    <img src="images/0aada12f8b21471ea96aebe9a503977b.png">
                </div>

                <div class="media">
                    <img src="images/68010370e5514c82b1e5b138143d0862.png">
                </div>

                <div class="media">
                    <img src="images/Banner1.jpg">
                </div>
            </ng-container>
        </div>
    </div>
</div>