@import '../scss/variables';

button {
    border-radius: 5px;
    background: linear-gradient($button-gradient-light, $button-gradient-dark);
    border: none;
    outline: 0;
    user-select: none;
    color: $button-text-color;
    font-family: 'Tahoma';
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    &:hover {
        background: linear-gradient(lighten($button-gradient-light, 10%), lighten($button-gradient-dark, 10%));
        color: lighten($button-text-color, 10%);
    }
    &:active {
        box-shadow: 0 0 1px 1px $selected-border-color;
    }
}


.arrow-button-container {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    .arrow-button {
        width: 22px;
        height: 22px;
        background: #383838;
        border: 1px solid $border-color;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 2px;
        cursor: pointer;
        transform: rotate(0);
        transition: transform 0.25s ease-in-out;
        &:hover {
            color: lighten($default-font-color, 10%);
            border-color: lighten($border-color, 10%);;
        }
        &:active {
            box-shadow: 0 0 1px 1px $selected-border-color;
        }
        &:after {
            content: '';
            width: 0; 
            height: 0; 
            @extend .arrow-right;
        }
    }

    & input {
        display: none;
        &:checked ~ .arrow-button {
            transform: rotate(90deg);
        }
    }
}

.arrow-button-content {
    padding-left: 48px;
}

.arrow-button-content > *:not(.arrow-button-content) {
    max-height: 0;
    opacity: 0;
    transition: max-height 0.2s, opacity 0.2s;
}

.arrow-button-content .arrow-button-container:not(.expand-arrow-button) {
    margin-bottom: 0;
}

.expand-arrow-button {
    max-height: 22px !important;
    opacity: 1 !important;
}