$column-color: greenyellow;

.canvas {
    %column {
        &:hover {
            & .column-indicator {
                visibility: visible;
            }
        }
    }
}


body#column-resize {
    .canvas {
        & %column {
          &:active {
            outline: 1px solid $column-color;
            
            
            // Outline the next sibling
            & + div {
                outline: 1px solid $column-color;

                // Apply a left border to the next sibling's sibling
                & + div {
                    border-left: 1px solid $column-color;
                }
            }
        }  
                
                
            
            .resize-button:active {
                display: flex;
                z-index: 10;
            }
        }
    }
}



body:not(#widget-resize):not(#column-resize):not(#widget-cursor) {
    .canvas {
        & %column {

            &:hover {
                outline: 1px solid $column-color;

                // Apply a left border to the next sibling
                & + div {
                    border-left: 1px solid $column-color;
                }
            }


            &:hover:not(:last-of-type) .resize-button {
                display: flex;
            }
        }
    }
}