.form {
    width: 100%;
    background-color: #272727;
    border-left: 1px solid #434343;
    border-right: 1px solid #141414;
    border-bottom: 1px solid #090909;
}

.form-bar {
    width: 100%; 
    height: 30px; 
    background: linear-gradient(#373737, #1f1f1f);
    border-left: 1px solid #434343;
    border-top: 1px solid #5e5e5e;
    border-bottom: 1px solid #111111;
    border-right: 1px solid #0d0d0d;
    font-size: 12px;
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;

    &:hover {
        background: linear-gradient(#4b4e53, #2e3138);
        border-color: #163768;
        color: #dddddd;
    }
    &:hover .form-x-button:not(:hover) {
        color: #dddddd;
    }
}

.form-x-button {
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
    color: #7d7d7d;
    cursor: pointer;
    user-select: none;

    &:hover {
        color: white;
        background-color: #585858;
    }

    &:active {
        outline: 1px solid $selected-border-color;
    }
}

.form-button-container {
    max-width: 235px; 
    width: 100%; 
    margin: auto;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    button {
        width: 90px;
    }
}

.tab-title {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    font-size: 16px;
    color: #d1d1d1;
    user-select: none;
}


.property-row {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid #363636;
    display:flex;
    align-items: center;
    justify-content: space-between;
}


.text-box {
    max-width: 30px;
    text-align: center;
    padding-left: 0px;
    padding-right: 3px;
    background-color: #252525;
    border: 1px solid #6c6c6c;
}

.hide-text-box:not(:focus) {
    background: none;
    border: none;
    cursor: pointer;
    text-align: right;
}

.px {
    user-select: none;
    font-size: 10px;
    margin-top: 8px;
    margin-left: 1px;
    cursor: pointer;
}

.color-swatch-outer-border {
    background-color: rgb(150, 150, 150);
    width: 24px;
    height: 24px;
    position: relative;
    cursor: pointer;
    border-radius: 3px;
}

.color-swatch-innter-border {
    background: #5a5a5a;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 1px;
    top: 1px;
    border-radius: 3px;
}

.color-swatch-background {
    width: 20px; height: 20px;
    background-color: #ffffff;
    background-image: linear-gradient(45deg, #bbbbbb 30%, transparent 30%, transparent 70%, #bbbbbb 70%, #bbbbbb), linear-gradient(45deg, #bbbbbb 30%, transparent 30%, transparent 70%, #bbbbbb 70%, #bbbbbb);
    background-size: 8px 8px;
    background-position: 0 0, 4px 4px;
    left: 1px;
    top: 1px;
    position: absolute;
    border-radius: 3px;
}

.color-swatch-color {
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

.form-page {
    margin: auto;
    margin-top: 100px;
    h1 {
        color: white;
    }
}