.icon-container {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: $icon-color;
    &:hover {
        color: lighten($icon-color, 20%);
    }
}