.icon-container {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $icon-color;
    user-select: none;
    outline: none;
    font-size: 14px;
    cursor: pointer;

    &:active:not(.icon-disabled) {
        color: lighten($icon-color, 35%);
    }
}

body:not(#widget-cursor) .icon-container {
    &:not(:active):hover:not(.icon-disabled) {
        color: lighten($icon-color, 20%);
        
    }
}

.icon-disabled {
    color: #525252;
    cursor: default;
}

.icon-bar {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    & > div {
        margin-left: 10px;
    }
}