.icon-container {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $icon-color;
    user-select: none;
    
}

body:not(#widget-cursor) .icon-container {
    &:hover:not(.icon-disabled .selected) {
        color: lighten($icon-color, 20%);
        cursor: pointer;
    }
}

.icon-disabled {
    color: #525252;
}

.icon-bar {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    & > div {
        margin-left: 10px;
    }
}