
// Search bar
.search-bar {
    display: flex;
    div {
        width: 30px;
        height: 30px; background: #404040;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;

        &:first-child {
            border-top-left-radius: 50%;
            border-bottom-left-radius: 50%;
            border-left: 1px solid $border-color;
        }

        &:last-child {
            border-top-right-radius: 50%;
            border-bottom-right-radius: 50%;
            border-right: 1px solid $border-color;
            &:after {
                content: '';
                width: 0; 
                height: 0; 
                @extend .arrow-down;
            }
        }

        &:hover {
            background-color: lighten(#404040, 10%);
            border-color: lighten($border-color, 10%);
            color: lighten($default-font-color, 10%);
        }

        &:active {
            border: 1px solid $selected-border-color;
        }
    }

    input {
        flex:1;
        width: 100%;
    }
}


// Filter Menu
.filter-menu {
    width: 150px;
    padding: 5px;
    background: #2a2a2a;
    position: absolute;
    right: 10px;
    border-top: 1px solid #454545;
    border-right: 1px solid #141414;
    border-bottom: 1px solid #0c0c0c;
    border-left: 1px solid #3d3d3d;
    box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.5);
    
    label {
        cursor: pointer;
        &:not(:last-child){
            margin-bottom: 5px;
        }
    }

    i {
        visibility: hidden;
        margin-right: 5px;
        font-size: 11px;
    }

    input {
        display: none;
        &:checked ~ i {
            visibility: visible;
        }
    }
}