.tabs-container {
    position: relative;
    top: 1px;
    height: 27px;
    margin-right: 10px;
    display: flex;
    .tab {
        margin-top: 4px;
        height: 22px;
        background: #2d2d2d;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 115px;
        border-top: 1px solid #3a3a3a;
        border-right: 1px solid #222222;
        border-left: 1px solid #353535;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        color: #8a8989;
        cursor: pointer;
        user-select: none;
        &:hover:not(.selected-tab) {
            background: lighten(#2d2d2d, 2%);
            color: lighten(#8a8989, 12%);
            border-top-color: lighten(#353535, 8%);
            border-right-color: lighten(#222222, 8%);
            border-left-color: lighten(#353535, 8%);
        }

        &:nth-child(n + 2) {
            margin-left: -1px;
        }
    }

    .selected-tab {
        margin-top: 0;
        height: 27px;
        background: #303030;
        border-left: 1px solid #414141;
        border-top: 1px solid #4a4a4a;
        color: #b2b2b2;
        z-index: 10;
        cursor: default;
    }
}


%vertical-tab {
    margin-left: 4px;
    width: 30px;
    height: 40px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    cursor: pointer;
    user-select: none;
}

%selected-vertical-tab {
    margin-left: 0px;
    width: 35px;
    cursor: default;
}

.vertical-tabs-container {
    position: relative;
    margin-top: 10px; 
    display: flex; 
    flex-direction: column;
    left: 1px;
    max-width: 35px;
    width: 100%;
    z-index: 1;

    .vertical-tab {
        @extend %vertical-tab;
        background: #2b2b2b;
        border-top: 1px solid #333333;
        border-bottom: 1px solid #1d1d1d;
        border-left: 1px solid #383838;
        color: #444444;
        &:hover:not(.selected-vertical-tab) {
            background: lighten(#2b2b2b, 3%);
            color: lighten(#444444, 10%);
            border-top-color: lighten(#333333, 6%);
            border-bottom-color: lighten(#1d1d1d, 6%);
            border-left-color: lighten(#383838, 6%);
        }
    }

    .vertical-tab-lighter {
        @extend %vertical-tab;
        background: #383838;
        border-top: 1px solid #424242;
        border-bottom: 1px solid #282828;
        border-left: 1px solid #464646;
        color: #5d5d5d;
        &:hover:not(.selected-vertical-tab-Lighter) {
            background: lighten(#383838, 3%);
            color: lighten(#5d5d5d, 10%);
            border-top-color: lighten(#424242, 6%);
            border-bottom-color: lighten(#282828, 6%);
            border-left-color: lighten(#464646, 6%);
        }
    }

    .selected-vertical-tab {
        @extend %selected-vertical-tab;
        background: #303030;
        border-left: 1px solid #4a4a4a;
        border-top: 1px solid #414141;
        border-bottom: 1px solid #202020;
        color: #999999;
        
    }

    .selected-vertical-tab-Lighter {
        @extend %selected-vertical-tab;
        background: #414141;
        border-left: 1px solid #626262;
        border-top: 1px solid #595959;
        border-bottom: 1px solid #2e2e2e;
        color: #c4c4c4;
    }
}