@import '../../../../scss/variables';

$default-font-color: #aaaaaa;
$default-background-color: #151515;
$border-color: #4f4f4f;
$input-background-color: #222222;
$disabled-color: #545454;
$icon-color: #9e9e9e;

//Button
$button-gradient-light: #808080;
$button-gradient-dark: #434343;
$button-text-color: #b4b4b4;

//Selection
$selected-border-color: #52adfb;
$selected-fill-color: rgba(0, 119, 224, 0.05);


//Dialog Box
$dialog-box-bar-gradient-light:#373737;
$dialog-box-bar-gradient-dark:#1f1f1f;
$dialog-box-bar-border-left: #434343;
$dialog-box-bar-border-top: #5e5e5e;
$dialog-box-bar-border-bottom: #111111;
$dialog-box-bar-border-right: #0d0d0d;
$dialog-box-bar-gradient-hover-light:#4b4e53;
$dialog-box-bar-gradient-hover-dark:#2e3138;
$dialog-box-bar-border-hover: #163768;
$dialog-box-bar-title-hover: #dddddd;
$dialog-box-bar-hover-x-button: #dddddd;
$dialog-box-x-button-normal: #7d7d7d;
$dialog-box-base: #272727;
$dialog-box-base-border-left: #434343;
$dialog-box-base-border-right: #141414;
$dialog-box-base-border-bottom: #090909;