@import '../../../../scss/variables';

$default-font-color: #aaaaaa;
$default-background-color: #151515;
$border-color: #4f4f4f;
$input-background-color: #1b1b1b;
$input-color: #dadada;
$disabled-color: #545454;
$icon-color: #9e9e9e;
$validation-form-color: #7a7a7a;

//Button
$button-gradient-light: #808080;
$button-gradient-dark: #434343;
$button-text-color: #b4b4b4;

//Selection
$selected-border-color: #52adfb;
$selected-fill-color: #0077e04d;

// Hover
$hover-border-color: #808080;
$hover-fill-color: rgba(255, 255, 255, 0.05);


// Custom Input
$checkmark-background-color: #666666;
$checkmark-background-hover-color: #7e7e7e;
$checkmark-background-checked-color: #4281b8;
$checkmark-indicator-color: #c8d7e9;