%handle {
    position: absolute;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    border: 1px solid $selected-border-color;
    background: white;
    z-index: 1;
}

.widget {
    position: relative;
    width: 100%;
}



body:not(#widget-cursor) .canvas {
    .row {
        &:not(:active) {
            cursor: move;
        }
    
        & .widget {
            &.widget-selected {
                outline: 1px solid #ff00ff;
                outline-offset: 2px;
                z-index: 1;
    
                // Top Left Handle
                .top-left-handle {
                    @extend %handle;
                    top: -5px;
                    left: -5px;
                }
            
                // Top Center Handle
                .top-center-handle {
                    @extend %handle;
                    top: -5px;
                    left: 50%;
                    transform: translate(-50%, 0);
                }
            
            
                // Top Right Handle
                .top-right-handle {
                    @extend %handle;
                    top: -5px;
                    right: -5px;
                }
            
            
                // Left Handle
                .left-handle {
                    @extend %handle;
                    left: -5px;
                    top: 50%;
                    transform: translate(0, -50%);
                }
            
            
                // Bottom Left Handle
                .bottom-left-handle {
                    @extend %handle;
                    bottom: -5px;
                    left: -5px;
                }
            
            
                // Bottom Center Handle
                .bottom-center-handle {
                    @extend %handle;
                    bottom: -5px;
                    left: 50%;
                    transform: translate(-50%, 0);
                }
            
            
                // Bottom Right Handle
                .bottom-right-handle {
                    @extend %handle;
                    bottom: -5px;
                    right: -5px;
                }
            
            
                // Right Handle
                .right-handle {
                    @extend %handle;
                    right: -5px;
                    top: 50%;
                    transform: translate(0, -50%);
                }
            
            
                // Left Handle Bar
                .left-handle-bar {
                    position: absolute;
                    left: -5px;
                    width: 10px;
                    top: 5px;
                    bottom: 5px;
                    z-index: 1;
                }
            
            
                // Top Handle Bar
                .top-handle-bar {
                    position: absolute;
                    left: 5px;
                    top: -5px;
                    right: 5px;
                    height: 10px;
                    z-index: 1;
                }
            
            
                // Right Handle Bar
                .right-handle-bar {
                    position: absolute;
                    right: -5px;
                    width: 10px;
                    top: 5px;
                    bottom: 5px;
                    z-index: 1;
                }
            
            
                // Bottom Handle Bar
                .bottom-handle-bar {
                    position: absolute;
                    left: 5px;
                    bottom: -5px;
                    right: 5px;
                    height: 10px;
                    z-index: 1;
                }
            }
        }
    }
    
}


body:not(#widget-resize):not(#row-move):not(#column-resize) {
    .top-left-handle {
        &:hover {
            cursor: nw-resize;
        }
    }

    .left-handle-bar {
        &:hover {
            cursor: w-resize;
        }
    }

    .top-right-handle {
        &:hover {
            cursor: ne-resize;
        }
    }

    .bottom-left-handle {
        &:hover {
            cursor: sw-resize;
        }
    }

    .bottom-right-handle {
        &:hover {
            cursor: se-resize;
        }
    }

    .top-handle-bar {
        &:hover {
            cursor: n-resize;
        }
    }

    .right-handle-bar {
        &:hover {
            cursor: e-resize;
        }
    }

    .bottom-handle-bar {
        &:hover {
            cursor: n-resize;
        }
    }
}




.column-indicator-container {
    & > .column-indicator {
        visibility: hidden;
        position: absolute;
        left: 0;
        top: 0px;
        width: 60px;
        height: 100%;
        background-color: rgba(0, 106, 255, 0.2);
        background-image: linear-gradient(45deg, rgba(82, 173, 251, 0.3) 25%, transparent 25%, transparent 75%, rgba(82, 173, 251, 0.3) 75%, rgba(82, 173, 251, 0.3)), 
                          linear-gradient(45deg, rgba(82, 173, 251, 0.3) 25%, transparent 25%, transparent 75%, rgba(82, 173, 251, 0.3) 75%, rgba(82, 173, 251, 0.3));
        background-size: 8px 8px;
        background-position: 0 0, 4px 4px;
    
        &:last-child {
            right: 0;
            left: initial;
        }
    
        &:hover {
            background-color: #006aff;
            background-image: linear-gradient(45deg, #52adfb 25%, transparent 25%, transparent 75%, #52adfb 75%, #52adfb), 
                              linear-gradient(45deg, #52adfb 25%, transparent 25%, transparent 75%, #52adfb 75%, #52adfb);
        }
    }
}


body#widget-cursor input {
    pointer-events: none;
}

body#widget-cursor .hierarchy-container {
    pointer-events: none;
}

body#widget-cursor .grid:hover {
    .row-indicator {
        visibility: visible;
    }
}