%handle {
    position: absolute;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    border: 1px solid $selected-border-color;
    background: white;
    z-index: 1;
}

.widget {
    position: relative;
    width: 100%;
}

body:not(#widget-cursor) .row {
    & %column {
        &:hover:not(:last-of-type) .resize-button {
            display: flex;
        }
    }
    & .widget {
        cursor: move;
        &.widget-selected {
            // Top Left Handle
            .top-left-handle {
                @extend %handle;
                top: -5px;
                left: -5px;
                &:hover {
                    cursor: nw-resize;
                }
            }
        
            // Top Center Handle
            .top-center-handle {
                @extend %handle;
                top: -5px;
                left: 50%;
                transform: translate(-50%, 0);
            }
        
        
            // Top Right Handle
            .top-right-handle {
                @extend %handle;
                top: -5px;
                right: -5px;
                &:hover {
                    cursor: ne-resize;
                }
            }
        
        
            // Left Handle
            .left-handle {
                @extend %handle;
                left: -5px;
                top: 50%;
                transform: translate(0, -50%);
            }
        
        
            // Bottom Left Handle
            .bottom-left-handle {
                @extend %handle;
                bottom: -5px;
                left: -5px;
                &:hover {
                    cursor: sw-resize;
                }
            }
        
        
            // Bottom Center Handle
            .bottom-center-handle {
                @extend %handle;
                bottom: -5px;
                left: 50%;
                transform: translate(-50%, 0);
            }
        
        
            // Bottom Right Handle
            .bottom-right-handle {
                @extend %handle;
                bottom: -5px;
                right: -5px;
                &:hover {
                    cursor: se-resize;
                }
            }
        
        
            // Right Handle
            .right-handle {
                @extend %handle;
                right: -5px;
                top: 50%;
                transform: translate(0, -50%);
            }
        
        
            // Left Handle Bar
            .left-handle-bar {
                position: absolute;
                left: -5px;
                width: 10px;
                top: 5px;
                bottom: 5px;
                z-index: 1;
                &:hover {
                    cursor: w-resize;
                }
            }
        
        
            // Top Handle Bar
            .top-handle-bar {
                position: absolute;
                left: 5px;
                top: -5px;
                right: 5px;
                height: 10px;
                z-index: 1;
                &:hover {
                    cursor: n-resize;
                }
            }
        
        
            // Right Handle Bar
            .right-handle-bar {
                position: absolute;
                right: -5px;
                width: 10px;
                top: 5px;
                bottom: 5px;
                z-index: 1;
                &:hover {
                    cursor: w-resize;
                }
            }
        
        
            // Bottom Handle Bar
            .bottom-handle-bar {
                position: absolute;
                left: 5px;
                bottom: -5px;
                right: 5px;
                height: 10px;
                z-index: 1;
                &:hover {
                    cursor: n-resize;
                }
            }
        }
    }

    
}

.canvas {
    .row:not(:active) %column {
        &:hover {
            outline: 1px solid greenyellow;
            z-index: 2;
        }
    }

    %column {
        &:active {
            outline: 1px solid greenyellow;
            z-index: 2;
        }
        &:hover .drop-indicator {
            visibility: visible;
        }
    
        &:active:not(:last-of-type) .resize-button {
            display: flex;
        }
    }
}







.drop-widget {
    .drop-indicator {
        visibility: hidden;
        position: absolute;
        left: 0;
        top: 0px;
        width: 60px;
        height: 100%;
        background-color: rgba(0, 106, 255, 0.2);
        background-image: linear-gradient(45deg, rgba(82, 173, 251, 0.3) 25%, transparent 25%, transparent 75%, rgba(82, 173, 251, 0.3) 75%, rgba(82, 173, 251, 0.3)), 
                          linear-gradient(45deg, rgba(82, 173, 251, 0.3) 25%, transparent 25%, transparent 75%, rgba(82, 173, 251, 0.3) 75%, rgba(82, 173, 251, 0.3));
        background-size: 8px 8px;
        background-position: 0 0, 4px 4px;
    
        &:last-child {
            right: 0;
            left: initial;
        }
    
        &:hover {
            background-color: #006aff;
            background-image: linear-gradient(45deg, #52adfb 25%, transparent 25%, transparent 75%, #52adfb 75%, #52adfb), 
                              linear-gradient(45deg, #52adfb 25%, transparent 25%, transparent 75%, #52adfb 75%, #52adfb);
        }
    }
}
