@mixin overlay($fill-color, $border-color) {
    content: '';
    position: absolute;
    background: $fill-color;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid $border-color;
}