<panel [title]="'Padding'">
    <!-- Constrain -->
    <checkbox style="color: white;" [label]="'Constrain'" [checked]="paddingComponent.padding.constrain"
        (change)="paddingComponent.padding.constrain = !paddingComponent.padding.constrain; onChange.emit()">
    </checkbox>





    <!-- Top -->
    <div class="property">
        <div class="label">Top</div>

        <!-- Padding value -->
        <div class="number-field-container">
            <number-field [value]="paddingComponent.padding.top.value" [values]="paddingValues"
                (onValueChange)="onValueChange('Top', $event)">
            </number-field>
        </div>

        <!-- Breakpoint checkbox -->
        <div class="checkbox-container">
            <checkbox class="checkbox-container" [disabled]="breakpointService.currentBreakpointScreenSize == 'Z'"
                (change)="onBreakpointChange('Top')" [checked]="paddingComponent.padding.top.breakpointSet"></checkbox>
        </div>
    </div>







    <!-- Right -->
    <div class="property">
        <div class="label">Right</div>

        <!-- Padding value -->
        <div class="number-field-container">
            <number-field [value]="paddingComponent.padding.right.value" [values]="paddingValues"
                (onValueChange)="onValueChange('Right', $event)">
            </number-field>
        </div>

        <!-- Breakpoint checkbox -->
        <checkbox class="checkbox-container" [disabled]="breakpointService.currentBreakpointScreenSize == 'Z'"
            (change)="onBreakpointChange('Right')" [checked]="paddingComponent.padding.right.breakpointSet"></checkbox>
    </div>









    <!-- Bottom -->
    <div class="property">
        <div class="label">Bottom</div>

        <!-- Padding value -->
        <div class="number-field-container">
            <number-field [value]="paddingComponent.padding.bottom.value" [values]="paddingValues"
                (onValueChange)="onValueChange('Bottom', $event)">
            </number-field>
        </div>

        <!-- Breakpoint checkbox -->
        <div class="checkbox-container">
            <checkbox class="checkbox-container" [disabled]="breakpointService.currentBreakpointScreenSize == 'Z'"
                (change)="onBreakpointChange('Bottom')" [checked]="paddingComponent.padding.bottom.breakpointSet"></checkbox>
        </div>
    </div>









    <!-- Left -->
    <div class="property">
        <div class="label">Left</div>
        <div class="number-field-container">
            <number-field [value]="paddingComponent.padding.left.value" [values]="paddingValues"
                (onValueChange)="onValueChange('Left', $event)">
            </number-field>
        </div>

        <!-- Breakpoint checkbox -->
        <div class="checkbox-container">
            <checkbox class="checkbox-container" [disabled]="breakpointService.currentBreakpointScreenSize == 'Z'"
                (change)="onBreakpointChange('Left')" [checked]="paddingComponent.padding.left.breakpointSet"></checkbox>
        </div>
    </div>
</panel>