<div class="display-flex">

    <!-- Vertical Tabs -->
    <div class="vertical-tabs-container">
        <!-- Text -->
        <div title="Text" class="vertical-tab" [ngClass]="{'selected-vertical-tab': showVerticalTab[0]}" (click)="selectVerticalTab(0)" style="font-family: 'Times New Roman', Times, serif; font-size: 22px;">T</div>
        <!-- Link -->
        <div title="Link" class="vertical-tab" [ngClass]="{'selected-vertical-tab': showVerticalTab[1]}" (click)="selectVerticalTab(1)"> <i class="fas fa-link"></i> </div>
        <!-- Margins -->
        <div title="Margins" class="vertical-tab" [ngClass]="{'selected-vertical-tab': showVerticalTab[2]}" (click)="selectVerticalTab(2)"> <i class="fas fa-arrow-left" style="display: flex; align-items: center;"> <span style="font-size: 20px; font-family: Arial">I</span> </i> </div>
    </div>

    
    <!-- Properties -->
    <div class="panel-light-rounded" style="min-height: 384px;">
        <!-- Text -->
        <texts *ngIf="showVerticalTab[0]"></texts>
        <!-- Link -->
        <links *ngIf="showVerticalTab[1]"></links>
        <!-- Margins -->
        <margins *ngIf="showVerticalTab[2]"></margins>
    </div>
</div>

<!-- Buttons -->
<div class="form-button-container">
    <button>Ok</button>
    <button>Cancel</button>
</div>