<!-- Panel Light -->
<div class="display-flex">

    <!-- Vertical Tabs -->
    <div class="vertical-tabs-container">

        <!-- Text -->
        <div title="Text" class="vertical-tab selected-vertical-tab" style="font-family: 'Times New Roman', Times, serif; font-size: 22px;">T</div>

        <!-- Link -->
        <div title="Link" class="vertical-tab"> <i class="fas fa-link"></i> </div>

        <!-- Margins -->
        <div title="Margins" class="vertical-tab"> <i class="fas fa-arrow-left" style="display: flex; align-items: center;"> <span style="font-size: 20px; font-family: Arial">I</span> </i> </div>

    </div>

    <!-- Panel Light -->
    <div class="panel-light-rounded" style="min-height: 382px;">

        <texts></texts>

        <!-- <links></links> -->

        <!-- <margins></margins> -->
        
    </div>
</div>

<!-- Buttons -->
<div class="form-button-container">
    <button>Ok</button>
    <button>Cancel</button>
</div>