<!-- Image -->
<panel [title]="'Image'">
    <image [image]="imageWidget.image"></image>
</panel>

<!-- Link -->
<panel [title]="'Link'">
    <link-property [link]="imageWidget.link"></link-property>
</panel>

<!-- Border -->
<border [border]="imageWidget.border"></border>

<!-- Corners -->
<corners [corners]="imageWidget.corners"></corners>

<!-- Shadow -->
<shadow [shadow]="imageWidget.shadow"></shadow>

<!-- Dimensions -->
<dimensions [widget]="imageWidget"></dimensions>

<!-- Columns -->
<columns [column]="imageWidget.column"></columns>

<!-- Visibility -->
<visibility [column]="imageWidget.column"></visibility>