<!-- Image -->
<image-property id="first-property" [title]="'Image'" [image]="imageWidget.image.url"></image-property>

<!-- Link -->
<link-property [link]="imageWidget.link"></link-property>

<!-- Border -->
<border [border]="imageWidget.border"></border>

<!-- Corners -->
<corners [corners]="imageWidget.corners"></corners>

<!-- Shadow -->
<shadow [shadow]="imageWidget.shadow"></shadow>

<!-- Dimensions -->
<dimensions [widget]="imageWidget"></dimensions>

<!-- Columns -->
<columns [column]="imageWidget.column"></columns>

<!-- Visibility -->
<visibility [column]="imageWidget.column"></visibility>