<!-- Image -->
<panel [title]="'Image'">
    <image [image]="imageWidget.image" [mediaType]="mediaType.Image" (onChange)="pageService.save()"></image>
</panel>

<!-- Link -->
<panel [title]="'Link'">
    <link-property [link]="imageWidget.link" (onChange)="pageService.save()"></link-property>
</panel>

<!-- Border -->
<border [border]="imageWidget.border" (onChange)="pageService.save()"></border>

<!-- Corners -->
<corners [corners]="imageWidget.corners" (onChange)="pageService.save()"></corners>

<!-- Shadow -->
<shadow [shadow]="imageWidget.shadow" (onChange)="pageService.save()"></shadow>

<!-- Dimensions -->
<dimensions [widget]="imageWidget" (onChange)="pageService.save()"></dimensions>

<!-- Columns -->
<columns [column]="imageWidget.column" (onChange)="pageService.save()"></columns>

<!-- Visibility -->
<visibility [column]="imageWidget.column" (onChange)="pageService.save()"></visibility>