<ng-container *ngIf="productData$ | async as productData">
    <navbar></navbar>

    <div class="page-container">
        <div class="content-container">
            <div class="content">

                <!-- Product Info -->
                <product-info [productInfo]="productData.productInfo"></product-info>


                <!-- Product Conent -->
                <ng-container *ngIf="productData.content.length > 1">

                    <div class="content-heading"
                        [ngStyle]="{'text-align': productData.pricePoints.length > 1 ? 'center' : 'left'}">
                        {{productData.pricePoints.length > 1 ? 'Price Points' : 'Included with your purchase'}}
                    </div>



                    <div [ngClass]="{'product-content-container': productData.pricePoints.length > 1}">


                        <div *ngFor="let pricePoint of productData.pricePoints; let i = index"
                            [ngClass]="{'price-point-container': productData.pricePoints.length > 1}">
                            <div *ngIf="productData.pricePoints.length > 1" class="price-point">
                                <span *ngIf="pricePoint.textBefore">{{pricePoint.textBefore}} </span>
                                <span>{{pricePoint.wholeNumber + '.' + pricePoint.decimal | currency:'USD'}}</span>
                                <span *ngIf="pricePoint.textAfter"> {{pricePoint.textAfter}}</span>
                            </div>


                            <div [ngStyle]="{'padding.px': productData.pricePoints.length > 1 ? 8 : 0}">
                                <ng-container *ngFor="let content of productData.content">
                                    <div *ngIf="hasIndex(content.priceIndices, i)">
                                        <img [src]="'images/' + content.icon.url" [title]="content.icon.name"
                                            [alt]="content.icon.name">
                                        <span style="margin-left: 4px;">
                                            {{content.name}}
                                        </span>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </ng-container>





                <!-- Page Conent -->
                <page-content #pageContent></page-content>



                <!-- Reviews -->
                <div class="page-section">Customer Reviews</div>
                <reviews [product]="productData.productInfo.product"></reviews>

                <navfooter></navfooter>
            </div>


        </div>
    </div>
</ng-container>