<!-- ----------------------Tab Title-------------- -->
<div class="tab-title">Fill</div>

<!-- -------------------Apply Fill------------------- -->
<div class="property-row" 
     style="padding-top: 10px; padding-bottom: 9px; border-bottom: 1px solid #363636;">
    <!-- Name --><div style="user-select: none;">Apply Fill:</div>
    <!-- Value --><input type="checkbox" [checked]="_FormService.fill.enable" (change)="_FormService.fill.enable = !_FormService.fill.enable">
</div>

<!-- Opacity Container -->
<div [style.opacity]="_FormService.fill.enable ? 1 : 0.2">
    <!-- -------------------Color------------------- -->
    <div class="property-row" style="padding-top: 9px; padding-bottom: 9px; border-bottom: 1px solid #363636; border-top: none;">

        <!-- Name -->
        <div style="user-select: none;">Color:</div>

        <!-- Color Swatch -->
        <color-swatch [color]="_FormService.fill.color"></color-swatch>
    </div>
</div>

<!-- Disable Cover -->
<div *ngIf="!_FormService.fill.enable" 
      style="position: absolute;left: 0px; top: 90px; width: 100%; height: 189px;">
</div>