<div [ngClass]="{'fade-in': show}" class="modal-background fade">
    <div #menu (keydown)="onKeydown($event, menu)" tabindex="0" (blur)="show = false"
        class="background-color-dark menu width-100 transform" [ngClass]="{'translate': show}">

        <!-- Close -->
        <div class="primary-background-color-darker padding-top-2 padding-bottom-2 margin-bottom-3 overflow-auto">
            <i (click)="show = false" class="fas fa-times margin-right-2 alt-color float-right"></i>
        </div>

        <div class="height-100 overflow-auto">

            <!-- Main Menu -->
            <div *ngIf="nicheView"
                class="border-bottom border-gray margin-bottom-3 padding-2 primary-background-color-hover cursor-pointer"
                (click)="nicheView = false">
                <i class="fas fa-arrow-left font-size-md">
                    Main Menu
                </i>
            </div>


            <!-- Heading -->
            <div class="padding-left-2 alt-color font-size-lg font-bold">
                {{nicheView ? currentCategory.name : 'Categories'}}
            </div>

            <!-- Categories -->
            <div *ngIf="!nicheView">
                <div *ngFor="let category of categories"
                    class="padding-1 padding-left-4 primary-background-color-hover cursor-pointer"
                    (click)="onCategoryClick(category.id)">
                    <span>{{category.name}}</span>
                    <span class="arrow-right float-right margin-1 margin-right-3 alt-color"></span>
                </div>
            </div>

            <!-- Niches -->
            <div *ngIf="nicheView">
                <div *ngFor="let niche of niches"
                    class="padding-1 padding-left-4 primary-background-color-hover cursor-pointer"
                    (click)="onNicheClick(niche.id)">
                    <span>{{niche.name}}</span>
                </div>
            </div>
        </div>
    </div>
</div>