<div *show="contactUsService.show" transitionClass="fade-end" class="fade-start" tabindex="0" (onShow)="onShow()"
    style="overflow: hidden; width: 100%; max-width: 354px; height: 100%; max-height: 512px; position: absolute; right: 0; bottom: 0; outline: none; pointer-events: none; z-index: 101;">


    <form (ngSubmit)="onSubmit()" #form="ngForm"
        style="display: flex; flex-direction: column; width: 100%; max-width: 342px; height: 100%; max-height: 500px; pointer-events: all;"
        class="prompt menu" (mousedown)="$event.stopPropagation()">

        <div class="title-bar">
            Contact Us
            <div class="close-button" (click)="contactUsService.show = false" title="Close">
                <i class="fas fa-times"></i>
            </div>
        </div>



        <div style="display: flex; flex-direction: column; padding-left: 20px; padding-right: 15px; flex: 1;">

            <div style="flex: .14;">

            </div>

            <div style="color: rgb(150, 150, 150); flex: 1.27; margin-bottom: 10px;">
                Thank you for contacting Niche Shack. Please fill out the form below and we will get back to you as
                quickly as possible.
            </div>

            <div *ngIf="valid(firstName); else invalidFirstName" style="flex: .48; padding-left: 3px;">
                Name
            </div>

            
            <ng-template #invalidFirstName>
                <h4 class="error">Please provide a valid name.</h4>
            </ng-template>

            <div style="flex: 0.9;">
                <input required pattern="^\b[a-zA-Z\s]{1,40}\b$" [(ngModel)]="name" name="name" #firstName="ngModel"
                    style="margin-bottom: 0; height: 100%; max-height: 30px; color: rgb(150, 150, 150);"
                    (input)="onInputChange()">
            </div>

            <div *ngIf="valid(emailAddress); else invalidEmail" style="flex: .48; padding-left: 3px;">
                Email
            </div>

            <ng-template #invalidEmail>
                <h4 class="error">Please provide a valid email address.</h4>
            </ng-template>

            <div style="flex: 0.895;">
                <input required email [(ngModel)]="email" name="email" #emailAddress="ngModel"
                    style="margin-bottom: 0;  height: 100%; max-height: 30px; color: rgb(150, 150, 150);"
                    (input)="onInputChange()">
            </div>

            <div style="flex: .5; padding-left: 3px;">
                Write your message
            </div>

            <div style="flex: 1.7;">
                <textarea [(ngModel)]="message" name="message"
                    style="margin-bottom: 0; height: 100%; max-height: 110px; min-height: 0px; color: rgb(150, 150, 150);"
                    (input)="onInputChange()"></textarea>
            </div>



        </div>

        <div style="display: flex; justify-content: flex-end; align-items: center; flex: .15; padding-right: 10px;">


            <button (click)="contactUsService.show = false" style="width: 60px; height: 28px; margin-top: 5px;">
                Cancel
            </button>

            <button type="submit" [disabled]="sendButtonDisabled" class="alt-button"
                style="width: 60px; height: 28px; margin-left: 8px; margin-top: 5px;">
                Send
            </button>
        </div>

    </form>


</div>