<div *show="contactUsService.show" transitionClass="fade-end" class="fade-start form-container" tabindex="0"
    (onShow)="onShow()">


    <form (ngSubmit)="onSubmit()" #form="ngForm" class="prompt form" (mousedown)="$event.stopPropagation()">

        <!-- Title Bar -->
        <div class="title-bar">
            Contact Us
            <div class="close-button" (click)="contactUsService.show = false" title="Close">
                <i class="fas fa-times"></i>
            </div>
        </div>


        <!-- Fields -->
        <div class="fields-container">
            <div style="flex: 0.14;"></div>

            <div class="description">
                Thank you for contacting Niche Shack. Please fill out the form below and we will get back to you as
                quickly as possible.
            </div>

            <!-- Name -->
            <div class="field-name" *ngIf="valid(firstName); else invalidFirstName">
                Name
            </div>

            <ng-template #invalidFirstName>
                <div class="error-field-name">
                    Please provide a valid name.
                </div>
            </ng-template>

            <div class="input-container">
                <input required pattern="^\b[a-zA-Z\s]{1,40}\b$" [(ngModel)]="name" name="name" #firstName="ngModel"
                    (input)="onInputChange()" autocomplete="off">
            </div>


            <!-- Email -->
            <div *ngIf="valid(emailAddress); else invalidEmail" class="field-name">
                Email
            </div>

            <ng-template #invalidEmail>
                <div class="error-field-name">
                    Please provide a valid email.
                </div>
            </ng-template>

            <div class="input-container">
                <input required email [(ngModel)]="email" name="email" #emailAddress="ngModel" (input)="onInputChange()"
                    autocomplete="off">
            </div>


            <!-- Message -->
            <div class="field-name">
                Write your message
            </div>
            <div class="text-area-container">
                <textarea [(ngModel)]="message" name="message"
                    (input)="onInputChange()"></textarea>
            </div>
        </div>


        <!-- Send Buttton -->
        <div class="button-container">
            <button type="submit" [disabled]="sendButtonDisabled" class="alt-button">
                Send
            </button>
        </div>
    </form>
</div>