.fade-start {
    .menu {
        transform: translate(0, 100%);
        transition: transform 0.2s;
    }
}

.fade-end {
    .menu {
        transform: translate(0, 0);
    }
}

.error {
        color: red;
    }