<!-- ----------------------Tab Title-------------- -->
<div class="tab-title">Text</div>


<!-- -------------------Caption------------------------ -->
<div class="property-row">

    <!-- Name -->
    <div class="caption-label">Caption:</div> 

    <!-- Value -->
    <div class="display-flex">
        <!-- Text Box --> 
        <input [(ngModel)]="_FormService.buttonText.caption" class="caption-input"> 
    </div>
</div>



<!-- -------------------Font------------------------ -->
<div class="property-row" style="padding-top: 8px; padding-bottom: 8px;">

    <!-- Name -->
    <div style="user-select: none; margin-right: 5px;">Font:</div> 

    <!-- Value -->
    <div class="display-flex">

        <!-- Dropdown -->
        <select style="width: 100%; max-width: 150px;" [value]="_FormService.buttonText.fontFamily" (change)="_FormService.buttonText.fontFamily = $event.target.value">
            <option value="Arial, Helvetica, sans-serif">Arial</option>
            <option value="'Arial Black', Gadget, sans-serif">Arial Black</option>
            <option value="'Book Antiqua', 'Palatino Linotype', Palatino, serif">Book Antiqua</option>
            <option value="'Comic Sans MS', cursive, sans-serif">Comic Sans MS</option>
            <option value="'Courier New', Courier, monospace">Courier New</option>
            <option value="Georgia, serif">Georgia</option>
            <option value="Impact, Charcoal, sans-serif">Impact</option>
            <option value="'Lucida Console', Monaco, monospace">Lucida Console</option>
            <option value="'Lucida Sans Unicode', 'Lucida Grande', sans-serif">Lucida Sans Unicode</option>
            <option value="'Palatino Linotype', 'Book Antiqua', Palatino, serif">Palatino Linotype</option>
            <option value="Tahoma, Geneva, sans-serif">Tahoma</option>
            <option value="'Times New Roman', Times, serif">Times New Roman</option>
            <option value="'Trebuchet MS', Helvetica, sans-serif">Trebuchet MS</option>
            <option value="Verdana, Geneva, sans-serif">Verdana</option>
        </select>
    </div>
</div>



<!-- -------------------Font Size------------------------ -->
<div class="property-row" style="padding-top: 8px; padding-bottom: 8px;">

    <!-- Name -->
    <div style="user-select: none;">Font Size:</div> 

    <!-- Value -->
    <div class="display-flex">
       
        <!-- Dropdown -->
        <select (change)="onFontSizeDropdownChange($event)" (mousedown)="onFontSizeDown($event)" style="width:55px; position:relative;">
            <option value="Other">Other</option>
            <option value="6">6</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="14">14</option>
            <option value="18">18</option>
            <option value="24">24</option>
            <option value="30">30</option>
            <option value="36">36</option>
            <option value="48">48</option>
            <option value="60">60</option>
            <option value="72">72</option>
        </select>

        <!-- Input text overlaying dropdown for input ability -->
        <div class="font-size-input-container" (keydown.arrowUp)="onFontSizeInputArrowUp($event)" (keydown.arrowDown)="onFontSizeInputArrowDown($event)">
            <input [(ngModel)]="_FormService.buttonText.fontSize">
        </div>
    </div>
</div>



<!-- -------------------Style------------------------ -->
<div class="property-row" style="padding-top: 7px; padding-bottom: 7px;">

    <!-- Name -->
    <div style="user-select: none;">Style:</div> 

    <!-- Value -->
    <div class="display-flex">
        
        <!-- Bold -->
        <div class="icon-container" (click)="onBoldClick()" [ngClass]="{'selected': _FormService.buttonText.fontWeight == 'bold'}" title="Bold (Ctrl+B)">
            <i class="fas fa-bold"></i>
        </div>

        <!-- Italic -->
        <div class="icon-container" (click)="onItalicClick()" [ngClass]="{'selected': _FormService.buttonText.fontStyle == 'italic'}" title="Italic (Ctrl+I)">
            <i class="fas fa-italic"></i>
        </div>

    </div>
</div>



<!-- -------------------Color------------------- -->
<div class="property-row" style="border-bottom: 1px solid #363636; padding-top: 8px; padding-bottom: 8px;">

    <!-- Name -->
    <div style="user-select: none;">Color:</div>

    <!-- Color Swatch -->
    <color-swatch [color]="_FormService.buttonText.color"></color-swatch>
</div>










