.prompt {
    max-width: 285px;
}

.title {
    color: white;
    font-size: 18px;
    font-weight: bold;
}

img {
    width: 100%;
    max-width: 264px;
    max-height: 150px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

select {
    margin-top: 5px;
}

.message-container {
    text-align: center;
    margin: 20px 0;

    .list {
        font-weight: bold;
        font-size: 16px;
    }
}