.prompt {
    max-width: 285px;
}

.title {
    color: white;
    font-size: 18px;
    font-weight: bold;
}

img {
    width: 100%;
    max-width: 264px;
    max-height: 150px;
    margin-bottom: 10px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}