@import '../../../../../scss/variables';

.icon-bar {
    border: 1px solid $border-color;
    border-bottom: 0;
    padding: 5px;
    margin-top: 5px;
    background-color: #2d2d2d;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    
    & > div {
        display: flex;
        border-left: 1px solid $border-color;
        margin: 0;
        padding: 0 5px;
    }

    & > div:last-child {
        border-right: 1px solid $border-color;
    }
}

.icon-container {
    margin: 0 3px;
    border-radius: 2px;

    &:hover:not(.selected) {
        background-color: $hover-fill-color;
    }
}

textarea {
    height: 266px;
}





.selected {
    background: $selected-fill-color;
    border: 1px solid $selected-border-color;
    color: #d2e5ff;
}