<div class="rounded-container-light">

    <div class="container">
        <!-- Category Label -->
        <div class="label">Category:</div>

        <!-- Category Name -->
        <div class="name">{{hierarchyItem.name}}</div>
    </div>


    <ng-container *ngIf="category">
        <!-- Save & Publish buttons -->
        <div class="grooved-container">
            <div class="button-center">Publish</div>
        </div>


        <!-- Category Icon -->
        <image [image]="category.icon" [mediaType]="mediaType.CategoryImage" [noDelete]="true"></image>
    </ng-container>
</div>