<!-- ----------------------Tab Title-------------- -->
<div class="tab-title">Border</div>



<!-- -------------------Apply Border------------------- -->
<div class="property-row" style="padding-top: 10px; padding-bottom: 9px;">
    <!-- Name -->
    <div style="user-select: none;">Apply Border:</div>

    <!-- Value -->
    <input type="checkbox">
</div>


<!-- -------------------Width------------------------ -->
<div class="property-row">

    <!-- Name -->
    <div style="user-select: none; cursor: e-resize;">Width:</div>

    <!-- Value -->
    <div class="display-flex">
        <!-- Text Box --> <input type="text" class="text-box hide-text-box" value="100">
        <!-- Label -->
        <div class="px">px</div>
    </div>
</div>


<!-- -------------------Style------------------------ -->
<div class="property-row">

    <!-- Name -->
    <div style="user-select: none;">Style:</div>

    <!-- Border Styles Container -->
    <div class="border-style-container">
    
        <!-- Border Style Row -->
        <div class="border-style-row">

            <!-- Solid -->
            <div title="Solid" class="border-styles border-style-selected" style="border-style: solid; margin: 5px;margin-bottom: 15px;"></div>
            <!-- Dotted -->
            <div title="Dotted" class="border-styles" style="border-style: dotted; margin: 5px;margin-bottom: 15px;"></div>
            <!-- Dashed -->
            <div title="Dashed" class="border-styles" style="border-style: dashed; margin: 5px;margin-bottom: 15px;"></div>
            <!-- Double -->
            <div title="Double" class="border-styles" style="border-width: 3px; border-style: double; margin: 5px; margin-bottom: 15px;"></div>
            

        </div>

         <!-- Border Style Row -->
         <div class="border-style-row">

            <!-- Groove -->
            <div title="Groove" class="border-groove-dark" style="margin-bottom: 15px;"> <div class="border-styles border-groove-light"></div> </div>
            <!-- Ridge -->
            <div title="Ridge" class="border-styles border-ridge-light" style="margin-bottom: 15px;"> <div class="border-ridge-dark"></div> </div>
            <!-- Inset -->
            <div title="Inset" class="border-inset-top-left" style="margin-bottom: 15px;"> <div class="border-styles border-inset-bottom-right"></div> </div>
            <!-- Outset -->
            <div title="Outset" class="border-outset-right-bottom" style="margin-bottom: 15px;"> <div class="border-styles border-outset-top-left"></div> </div>

        </div>

    </div>
</div>




<!-- -------------------Color------------------- -->
<div class="property-row" style="padding-top: 9px; padding-bottom: 9px; border-bottom: 1px solid #363636;">

    <!-- Name -->
    <div style="user-select: none;">Color:</div>

    <!-- Color Swatch -->
    <color-swatch></color-swatch>
</div>