<div class="container">

    <!-- Media Group -->
    <div *ngIf="productInfo.media.length > 0" class="media-group show-lg">
        <div *ngFor="let media of productInfo.media" class="media-thumbnail">
            <i *ngIf="media.type == 'Video'" class="far fa-play-circle"></i>
        </div>
    </div>




    <!-- Media Display -->
    <div class="media-display show-lg">
        <img [src]="'/images/8d5741456a824e8981efdfa348d2cb0d.jpg'">
    </div>




    <!-- Product Info -->
    <div class="product-info">

        <!-- Title Container -->
        <div class="title-container">

            <!-- Title -->
            <div class="title text-break">{{productInfo.product.title}}</div>


            <!-- Social Media -->
            <div class="social-media-container">
                <div class="social-media" (click)="shareService.onFacebookClick(getProductUrl())">
                    <img src="assets/Facebook.png" title="Share on Facebook">
                </div>
                <div class="social-media"
                    (click)="shareService.onTwitterClick(getProductUrl(), 'Check out what I found at NicheShack.com!')">
                    <img src="assets/Twitter.png" title="Share on Twitter">
                </div>
                <div class="social-media"
                    (click)="shareService.onPinterestClick(getProductUrl(), productInfo.product.shareImage, productInfo.product.description)">
                    <img src="assets/Pinterest.png" title="Share on Pinterest">
                </div>
            </div>
        </div>

        <!-- Stars & Reviews -->
        <stars [rating]="productInfo.product.rating"></stars>
        <span class="primary-color-light" style="margin-left: 4px; white-space: nowrap;"
            *ngIf="productInfo.product.rating > 0">
            {{productInfo.product.totalReviews | number}} reviews
        </span>


        <!-- Price -->
        <div class="niche-shack-gold-color">
            <div *ngIf="productInfo.product.maxPrice === 0">
                {{productInfo.product.minPrice | currency:'USD'}}
            </div>
            <div *ngIf="productInfo.product.maxPrice > 0">
                {{productInfo.product.minPrice | currency:'USD'}} -
                {{productInfo.product.maxPrice | currency:'USD'}}
            </div>
        </div>

        <!-- Buy Button -->
        <button class="alt-button" style="margin: 8px 0;" (click)="onBuyClick(productInfo.product.hoplink)">Visit
            Product Page To Buy</button>


        <!-- Description -->
        <div class="show-lg">{{productInfo.product.description}}</div>


        <!-- Product Utilities -->
        <div class="show-lg">
            <div class="product-utilities">
                <button class="primary-button" (click)="addToList.show = true">Add to List</button>

                <div class="report-item primary-color-light" (click)="reportItem.show = true">
                    <i class="fas fa-flag"></i>
                    <span style="margin-left: 5px;">Report this item</span>
                </div>
            </div>
        </div>
    </div>
</div>







<!-- Media Display -->
<div class="media-display hide-lg">
    <img [src]="'/images/8d5741456a824e8981efdfa348d2cb0d.jpg'">
</div>



<!-- Description -->
<div class="hide-lg" style="margin-top: 8px;">{{productInfo.product.description}}</div>


<!-- Product Utilities -->
<div class="hide-lg">
    <div class="product-utilities" style="flex-wrap: wrap">
        <button class="primary-button margin-bottom-0-xxs margin-bottom-12" style="margin-right: 10px" (click)="addToList.show = true">Add to List</button>

        <div class="report-item primary-color-light" (click)="reportItem.show = true">
            <i class="fas fa-flag"></i>
            <span style="margin-left: 5px;">Report this item</span>
        </div>
    </div>
</div>






<report-item #reportItem></report-item>
<add-to-list #addToList [product]="productInfo.product"
    (onCreateListClick)="createList.show = true; addToList.show = false"></add-to-list>
<create-list #createList (onCreateListHide)="addToList.show = true"></create-list>