.media-group {
    max-height: 248px;
    overflow-x: hidden;
    overflow-y: auto;
    flex-shrink: 0;
    margin: 1rem 1rem 1rem 0;
    .media-thumbnail {
        width: 88px;
        height: 50px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        margin-bottom: 16px;
        text-align: center;
        color: #e2e2e2;
        line-height: 50px;
        font-size: 30px;
        cursor: pointer;
        background: red;
    }
    .media-thumbnail:last-child {
        margin-bottom: 0;
    }
    .media-thumbnail:hover {
        color: white;
    }
}