@import '../../../scss/variables';


.container {
    display: flex;
    margin: auto;

    // Media Group
    .media-group {
        overflow: auto;
        flex: 1;
        max-width: 88px;
        margin-right: 15px;

        .thumbnail {
            width: 88px; 
            height: 50px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 40px;
            color: white;
            cursor: pointer;
            
        
            &:not(:last-child) {
                margin-bottom: 14px;
            }
            
        
            i {
                -webkit-text-stroke: 1px #808080;
            }
        }
    }
    

    // Media display
    .media-display {
        width: 100%;
        max-width: 880px;
        max-height: 500px;
        margin-right: 15px;
        flex: 1;
    
        img {
            width: 100%;
            max-width: 880px;
            max-height: 500px;
            object-fit: contain;
        }

        iframe{
            width: 100%;
            height: 100%;
        }
    }



    // Product Info
    .product-info {
        flex: 1;
        
        .title-container {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            .title {
                font-size: 24px;
                font-weight: bold;
                color: white;
                flex: 0.9;
            }

            .social-media-container {
                display: flex;

                .social-media {
                    cursor: pointer;

                    &:not(:last-child) {
                        margin-right: 16px;
                    }
                }
            }
        }
    }
}


.carousel-container {
    overflow: hidden;
    .carousel {
        display: flex;
        align-items: center;
        margin: 10px 0;
    
        .carousel-element {
            position: relative;
            width: 100%;
            padding: 0 10px;
            flex-shrink: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
    
            img {
                width: 100%;
            }
    
            .video-overlay {
                width: 34.09090909090909%;
                height: 60%;
                background-color: #0e0e0e70;
                position: absolute;
                border-radius: 50%;
                border: 1px solid white;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 10vw;
            }
        }
    }
}




.paginator {
    display: flex;
    justify-content: center;
    align-items: center;

    .pagination-dot {
        border-radius: 20px;
        background-color: #f3f3f3;
        height: 9px;
        margin: 3px;
        width: 9px;
    }
    
    .selected-pagination-dot {
        background-color: $niche-shack-gold;
    }
}





// Product Utilities
.product-utilities {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;

    .report-item {
        cursor: pointer;
        font-size: 12px;
        text-decoration: underline;
    }
}


.modal-background {
    background: rgba(0, 0, 0, 0.9);
    display: block;
}


.iframe-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.819%;

    iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}


.video-overlay-close-bar {
    display: flex;
    font-size: 18px;
    justify-content: flex-end;

    .video-overlay-close-button {
        margin: 10px 10px 0;
        z-index: 10;
    }
}

.video-overlay-product-name {
    font-size: 16px;
    margin-left: 10px;
    font-weight: bold;
}


.mobile-video-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.selected-media {
    outline: 2px solid $niche-shack-gold;
    outline-offset: -1px;
}

@media (min-width: map-get($breakpoints, lg)) {
    .container {
        .product-info {
            flex: 0.6;
        }

        .media-group {
            height: 306px;
        }
    }
}


@media (min-width: map-get($breakpoints, xl)) {
    .container {
        .media-group {
            height: 370px;
        }
    }
}





@media (min-width: map-get($breakpoints, xxl)) {
    .container {
        .media-group {
            height: 434px;
        }
    }
}



@media (min-width: map-get($breakpoints, hd)) {
    .container {
        .media-group {
            height: 500px;
        }
    }
}