<div class="widget widget-selected"
     [style.margin]="margins.top + 'px ' + margins.right + 'px ' + margins.bottom + 'px ' + margins.left + 'px'">

    <div class="edit-button fas" (click)="onEdit()"></div>
    <div class="show-hide-button fas fa-eye" [ngClass]="{'fa-eye-slash': false}"></div>
    <div class="top-left-handle"></div>
    <div class="top-right-handle"></div>
    <div class="bottom-left-handle"></div>
    <div class="bottom-right-handle"></div>
    <svg viewBox="-16 -16 64 64">
        <path  d="M16,0C7.164,0,0,7.164,0,16s7.164,16,16,16s16-7.164,16-16S24.836,0,16,0z M10,24V8l16.008,8L10,24z"/>
    </svg>
</div>