<div *show="_FormService.openButtonEditForm" transitionClass="fade-end" class="fade-start" (onShow)="onFormOpen()">

    <dialog-box [dialogBoxName]="'Button'" [width]="336">

        <!-- Horizontal Tabs -->
        <div class="tabs-container width-100">
            <div class="tab" [ngClass]="{'selected-tab': _FormService.buttonEditForm.normalTabSelected}" (click)="onNormalHorizontalTabSelect()">Normal</div>
            <div class="tab" [ngClass]="{'selected-tab': !_FormService.buttonEditForm.normalTabSelected}" style="left: 114px" (click)="onHoverHorizontalTabSelect()">Hover</div>
        </div>


        <!-- Panel Light -->
        <div class="panel-light display-flex">

            <!---------------------------------- Vertical Tabs ----------------------------------------->

            <!-- Normal Tabs -->
            <div *ngIf="_FormService.buttonEditForm.normalTabSelected" class="vertical-tabs-container">
                <!-- Fill -->
                <div title="Fill" class="vertical-tab-lighter" [ngClass]="{'selected-vertical-tab-Lighter': normalVerticalTab[0]}" (click)="onNormalVerticalTabSelect(0)"> <i class="fas fa-fill-drip"></i> </div>
                <!-- Border -->
                <div title="Border" class="vertical-tab-lighter" [ngClass]="{'selected-vertical-tab-Lighter': normalVerticalTab[1]}" (click)="onNormalVerticalTabSelect(1)"> <i class="far fa-square"></i> </div>
                <!-- Corners -->
                <div title="Corners" class="vertical-tab-lighter" [ngClass]="{'selected-vertical-tab-Lighter': normalVerticalTab[2]}" (click)="onNormalVerticalTabSelect(2)"> <i class="fas fa-expand"></i> </div>
                <!-- Text -->
                <div title="Text" class="vertical-tab-lighter" [ngClass]="{'selected-vertical-tab-Lighter': normalVerticalTab[3]}" (click)="onNormalVerticalTabSelect(3)" style="font-family: 'Times New Roman', Times, serif; font-size: 22px;">T</div>
                <!-- Shadow -->
                <div title="Shadow" class="vertical-tab-lighter" [ngClass]="{'selected-vertical-tab-Lighter': normalVerticalTab[4]}" (click)="onNormalVerticalTabSelect(4)"> <i class="fas fa-clone" style="transform: scaleX(-1);"> </i> </div>
                <!-- Link -->
                <div title="Link" class="vertical-tab-lighter" [ngClass]="{'selected-vertical-tab-Lighter': normalVerticalTab[5]}" (click)="onNormalVerticalTabSelect(5)"> <i class="fas fa-link"></i> </div>
                <!-- Margins -->
                <div title="Margins" class="vertical-tab-lighter" [ngClass]="{'selected-vertical-tab-Lighter': normalVerticalTab[6]}" (click)="onNormalVerticalTabSelect(6)"> <i class="fas fa-arrow-left" style="display: flex; align-items: center;"> <span style="font-size: 20px; font-family: Arial">I</span> </i> </div>
            </div>

            <!-- Hover Tabs-->
            <div *ngIf="!_FormService.buttonEditForm.normalTabSelected" class="vertical-tabs-container">
                <!-- Fill -->
                <div title="Fill" class="vertical-tab-lighter" [ngClass]="{'selected-vertical-tab-Lighter': hoverVerticalTab[0]}" (click)="onHoverVerticalTabSelect(0)"> <i class="fas fa-fill-drip"></i> </div>
                <!-- Border -->
                <div title="Border" class="vertical-tab-lighter" [ngClass]="{'selected-vertical-tab-Lighter': hoverVerticalTab[1]}" (click)="onHoverVerticalTabSelect(1)"> <i class="far fa-square"></i> </div>
                <!-- Text -->
                <div title="Text" class="vertical-tab-lighter" [ngClass]="{'selected-vertical-tab-Lighter': hoverVerticalTab[2]}" (click)="onHoverVerticalTabSelect(2)" style="font-family: 'Times New Roman', Times, serif; font-size: 22px;">T</div>
            </div>


            <!---------------------------------- Properties ----------------------------------------->

            <!-- Normal Properties -->
            <div *ngIf="_FormService.buttonEditForm.normalTabSelected" class="panel-lighter" style="min-height: 300px;">
                <!-- Fill -->
                <fill *ngIf="normalVerticalTab[0]"></fill>
                <!-- Border -->
                <border *ngIf="normalVerticalTab[1]"></border>
                <!-- Corners -->
                <corners *ngIf="normalVerticalTab[2]"></corners>
                <!-- Text -->
                <button-text *ngIf="normalVerticalTab[3]"></button-text>
                <!-- Shadow -->
                <shadow *ngIf="normalVerticalTab[4]"></shadow>
                <!-- Link -->
                <links *ngIf="normalVerticalTab[5]"></links>
                <!-- Margins -->
                <margins *ngIf="normalVerticalTab[6]"></margins>
            </div>

            <!-- Hover Properties -->
            <div *ngIf="!_FormService.buttonEditForm.normalTabSelected" class="panel-lighter" style="min-height: 300px;"> 
                <!-- Fill -->
                <fill *ngIf="hoverVerticalTab[0]"></fill>
                <!-- Border -->
                <ng-container *ngIf="hoverVerticalTab[1]">
                    <div class="tab-title">Border</div>
                    <div class="property-row" style="padding-top: 9px; padding-bottom: 9px; border-bottom: 1px solid #363636;">

                        <div style="user-select: none;">Color:</div>

                        <!-- Color Swatch -->
                        <color-swatch></color-swatch>
                    </div>
                </ng-container>
                <!-- Text -->
                <ng-container *ngIf="hoverVerticalTab[2]">
                    <div class="tab-title">Text</div>

                    <div class="property-row" style="padding-top: 9px; padding-bottom: 9px; border-bottom: 1px solid #363636;">
            
                        <div style="user-select: none;">Color:</div>
            
                        <!-- Color Swatch -->
                        <color-swatch></color-swatch>
                    </div>
                </ng-container>
            </div>
        </div>

        <!-- Buttons -->
        <div class="form-button-container">
            <button>Ok</button>
            <button>Cancel</button>
        </div>
    </dialog-box>
</div>