<div *show="_FormService.showButtonEditForm" transitionClass="fade-end" class="fade-start" (onShow)="onShow()">

    <dialog-box [dialogBoxName]="'Button'" [width]="336">

        <!-- Horizontal Tabs -->
        <div class="tabs-container width-100">
            <div class="tab" [ngClass]="{'selected-tab': showNormal}" (click)="showNormal = true">Normal</div>
            <div class="tab" [ngClass]="{'selected-tab': !showNormal}" style="left: 114px" (click)="showNormal = false">Hover</div>
        </div>


        <!-- Panel Light -->
        <div class="panel-light display-flex">

            <!---------------------------------- Vertical Tabs ----------------------------------------->

            <!-- Normal Tabs -->
            <div *ngIf="showNormal" class="vertical-tabs-container">
                <!-- Fill -->
                <div title="Fill" class="vertical-tab-lighter" [ngClass]="{'selected-vertical-tab-Lighter': showNormalVerticalTab[0]}" (click)="selectNormalVerticalTab(0)"> <i class="fas fa-fill-drip"></i> </div>
                <!-- Border -->
                <div title="Border" class="vertical-tab-lighter" [ngClass]="{'selected-vertical-tab-Lighter': showNormalVerticalTab[1]}" (click)="selectNormalVerticalTab(1)"> <i class="far fa-square"></i> </div>
                <!-- Corners -->
                <div title="Corners" class="vertical-tab-lighter" [ngClass]="{'selected-vertical-tab-Lighter': showNormalVerticalTab[2]}" (click)="selectNormalVerticalTab(2)"> <i class="fas fa-expand"></i> </div>
                <!-- Text -->
                <div title="Text" class="vertical-tab-lighter" [ngClass]="{'selected-vertical-tab-Lighter': showNormalVerticalTab[3]}" (click)="selectNormalVerticalTab(3)" style="font-family: 'Times New Roman', Times, serif; font-size: 22px;">T</div>
                <!-- Shadow -->
                <div title="Shadow" class="vertical-tab-lighter" [ngClass]="{'selected-vertical-tab-Lighter': showNormalVerticalTab[4]}" (click)="selectNormalVerticalTab(4)"> <i class="fas fa-clone" style="transform: scaleX(-1);"> </i> </div>
                <!-- Link -->
                <div title="Link" class="vertical-tab-lighter" [ngClass]="{'selected-vertical-tab-Lighter': showNormalVerticalTab[5]}" (click)="selectNormalVerticalTab(5)"> <i class="fas fa-link"></i> </div>
                <!-- Margins -->
                <div title="Margins" class="vertical-tab-lighter" [ngClass]="{'selected-vertical-tab-Lighter': showNormalVerticalTab[6]}" (click)="selectNormalVerticalTab(6)"> <i class="fas fa-arrow-left" style="display: flex; align-items: center;"> <span style="font-size: 20px; font-family: Arial">I</span> </i> </div>
            </div>

            <!-- Hover Tabs-->
            <div *ngIf="!showNormal" class="vertical-tabs-container">
                <!-- Fill -->
                <div title="Fill" class="vertical-tab-lighter" [ngClass]="{'selected-vertical-tab-Lighter': showHoverVerticalTab[0]}" (click)="selectHoverVerticalTab(0)"> <i class="fas fa-fill-drip"></i> </div>
                <!-- Border -->
                <div title="Border" class="vertical-tab-lighter" [ngClass]="{'selected-vertical-tab-Lighter': showHoverVerticalTab[1]}" (click)="selectHoverVerticalTab(1)"> <i class="far fa-square"></i> </div>
                <!-- Text -->
                <div title="Text" class="vertical-tab-lighter" [ngClass]="{'selected-vertical-tab-Lighter': showHoverVerticalTab[2]}" (click)="selectHoverVerticalTab(2)" style="font-family: 'Times New Roman', Times, serif; font-size: 22px;">T</div>
            </div>


            <!---------------------------------- Properties ----------------------------------------->

            <!-- Normal Properties -->
            <div *ngIf="showNormal" class="panel-lighter" style="min-height: 300px;">
                <!-- Fill -->
                <fill *ngIf="showNormalVerticalTab[0]"></fill>
                <!-- Border -->
                <border *ngIf="showNormalVerticalTab[1]"></border>
                <!-- Corners -->
                <corners *ngIf="showNormalVerticalTab[2]"></corners>
                <!-- Text -->
                <button-text *ngIf="showNormalVerticalTab[3]"></button-text>
                <!-- Shadow -->
                <shadow *ngIf="showNormalVerticalTab[4]"></shadow>
                <!-- Link -->
                <links *ngIf="showNormalVerticalTab[5]"></links>
                <!-- Margins -->
                <margins *ngIf="showNormalVerticalTab[6]"></margins>
            </div>

            <!-- Hover Properties -->
            <div *ngIf="!showNormal" class="panel-lighter" style="min-height: 300px;"> 
                <!-- Fill -->
                <fill *ngIf="showHoverVerticalTab[0]"></fill>
                <!-- Border -->
                <ng-container *ngIf="showHoverVerticalTab[1]">
                    <div class="tab-title">Border</div>
                    <div class="property-row" style="padding-top: 9px; padding-bottom: 9px; border-bottom: 1px solid #363636;">

                        <div style="user-select: none;">Color:</div>

                        <div class="color-swatch-outer-border">
                            <div class="color-swatch-innter-border">
                                <div class="color-swatch-background">
                                    <div style="width: 100%; height: 100%; background-color: rgba(0, 255, 0, 0.3);"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <!-- Text -->
                <ng-container *ngIf="showHoverVerticalTab[2]">
                    <div class="tab-title">Text</div>

                    <div class="property-row" style="padding-top: 9px; padding-bottom: 9px; border-bottom: 1px solid #363636;">
            
                        <div style="user-select: none;">Color:</div>
            
                        <div class="color-swatch-outer-border">
                            <div class="color-swatch-innter-border">
                                <div class="color-swatch-background">
                                    <div style="width: 100%; height: 100%; background-color: rgba(0, 255, 0, 0.3);"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>

        <!-- Buttons -->
        <div class="form-button-container">
            <button>Ok</button>
            <button>Cancel</button>
        </div>
    </dialog-box>
</div>