<!-- Context Menu -->
<div #contextMenu [style.left.px]="contextMenuLeft" [style.top.px]="contextMenuTop" style="max-width: 212px;"
    *show="showContextMenu" class="fade-start menu-base" transitionClass="fade-end" tabindex="0"
    (onHide)="showContextMenu = false" (focus)="onContextMenuFocus()" (blur)="onContextMenuBlur()">

    <div (mousedown)="$event.stopPropagation()">
        <div (mouseover)="removeContextSubMenu()" class="menu-option" [ngClass]="{'disabled-option': !deleteEnabled}"
            (click)="deleteEnabled ? cut() : false">
            <div>Cut</div>
            <div>Ctrl+X</div>
        </div>
        <div (mouseover)="removeContextSubMenu()" class="menu-option" (click)="copy()">
            <div>Copy</div>
            <div>Ctrl+C</div>
        </div>
        <div (mouseover)="removeContextSubMenu()" class="menu-option" [ngClass]="{'disabled-option': !pasteEnabled}"
            (click)="pasteEnabled ? paste() : false">
            <div>Paste</div>
            <div>Ctrl+V</div>
        </div>

        <div id="pasteSpecial" class="menu-option"
            [ngClass]="{'paste-special-hover': pasteSpecialOver, 'disabled-option': !pasteEnabled}">
            <div>Paste Special</div>
            <div class="arrow-right"></div>
        </div>

        <div *ngIf="pasteEnabled" (mouseover)="onPasteSpecialOptionOver()" (mouseout)="onPasteSpecialOptionOut()"
            style="left: 0px; width: 100%; height: 26px; position: absolute; top: 83px;"></div>


        <div (mouseover)="removeContextSubMenu()" class="menu-divider"></div>

        <div (mouseover)="removeContextSubMenu()" class="menu-option" (click)="insert(direction1)">
            <div>Insert {{direction1}}</div>
        </div>
        <div (mouseover)="removeContextSubMenu()" class="menu-option" (click)="insert(direction2)">
            <div>Insert {{direction2}}</div>
        </div>
        <div (mouseover)="removeContextSubMenu()" class="menu-option" (click)="clearValues()">
            <div>Clear {{selectedColumnIndex != null ? "Price Point" : "Item"}} Values</div>
        </div>
        <div (mouseover)="removeContextSubMenu()" class="menu-option" [ngClass]="{'disabled-option': !deleteEnabled}"
            (click)="deleteEnabled ? delete() : false">
            <div>Delete {{selectedColumnIndex != null ? "Price Point" : "Item"}}</div>
        </div>
    </div>
</div>

<!-- Context Sub Menu -->
<div [style.left.px]="contextMenuLeft + 209" [style.top.px]="contextMenuTop + 78"
    [style.maxWidth.px]="contextSubMenuWidth" *show="showContextSubMenu" class="fade-start menu-base"
    transitionClass="fade-end" tabindex="0" (onHide)="showContextSubMenu = false" (mouseover)="onContextSubMenuOver()"
    (focus)="onContextSubMenuFocus()">

    <div (mousedown)="$event.stopPropagation()">
        <div class="menu-option" (click)="pasteSpecial(direction1)">
            <div>Paste New {{selectedColumnIndex != null ? "Price Point" : "Item"}} {{direction1}}</div>
        </div>
        <div class="menu-option" (click)="pasteSpecial(direction2)">
            <div>Paste New {{selectedColumnIndex != null ? "Price Point" : "Item"}} {{direction2}}</div>
        </div>
    </div>
</div>

<!-- Content -->
<fieldset #contextMenuOffset class="margin-right-3-xxl" style="height: 294px; position: relative;">
    <legend>Content</legend>

    <div class="background">

        <table (mouseover)="overTable = true" (mouseout)="overTable=false">

            <!---------- (1st Row) ---------->
            <tr>
                <td (mousedown)="removeFocus()"></td>
                <td (mousedown)="removeFocus()"></td>
                <td (mousedown)="removeFocus()"></td>

                <!-- column selectors -->
                <td *ngFor="let pricePoint of productContent.pricePoints; let columnIndex = index"
                    (contextmenu)="$event.preventDefault()"
                    [ngClass]="{'selected-cells': selectedColumnIndex == columnIndex}"
                    (mousedown)="onColumnSelectorDown(columnIndex)" (mouseup)="setContextMenu($event)">
                </td>
            </tr>



            <!---------- (2nd Row) ---------->
            <tr>
                <td (mousedown)="removeFocus()"></td>
                <td (mousedown)="removeFocus()"></td>
                <td (mousedown)="removeFocus()">Items</td>

                <!-- Price points -->
                <td *ngFor="let pricePoint of productContent.pricePoints; let columnIndex = index"
                    (mousedown)="onPricePointDown(columnIndex)" (click)="onPricePointClick()"
                    [ngClass]="{'selected-cells': selectedColumnIndex == columnIndex, 'selected-price-point': productContent.selectedPricePointIndex == columnIndex}">
                    {{(productContent.pricePoints[columnIndex].textBefore.length == 0 ? productContent.pricePoints[columnIndex].textBefore : productContent.pricePoints[columnIndex].textBefore + " ")
                          + 
                          (productContent.pricePoints[columnIndex].wholeNumber + "." + productContent.pricePoints[columnIndex].decimal | currency:"USD") 
                          + 
                          (productContent.pricePoints[columnIndex].textAfter.length == 0 ? productContent.pricePoints[columnIndex].textAfter : " " + productContent.pricePoints[columnIndex].textAfter) }}
                </td>
            </tr>


            <!---------- (Item Rows) ---------->
            <tr *ngFor="let item of productContent.items; let rowIndex = index">

                <!-- Row selectors -->
                <td (contextmenu)="$event.preventDefault()" [ngClass]="{'selected-cells': selectedRowIndex == rowIndex}"
                    (mousedown)="onRowSelectorDown(rowIndex)" (mouseup)="setContextMenu($event)">
                </td>

                <!-- Item types -->
                <td (mousedown)="onItemTypeDown(rowIndex)" (click)="onItemTypeClick(rowIndex)"
                    [ngClass]="{'selected-content-type': productContent.selectedItemTypeIndex == rowIndex,'selected-cells': selectedRowIndex == rowIndex}">
                    <img [src]="productContent.items[rowIndex].type" draggable="false">
                </td>

                <!-- Item descriptions -->
                <td #itemDesc tabindex="-1" contenteditable="true"
                    [textContent]="productContent.items[rowIndex].description"
                    (input)="setItemDescription(rowIndex, itemDesc, $event)"
                    [ngClass]="{'selected-cells': selectedRowIndex == rowIndex, 'item-description-placeholder': productContent.items[rowIndex].showPlaceholder, 'selected-item-description': selectedItemDescriptionIndex == rowIndex}"
                    (focus)="onItemDescriptionFocus(rowIndex)">
                </td>

                <!-- Price point options -->
                <td *ngFor="let pricePointOption of productContent.pricePoints; let columnIndex = index"
                    (mousedown)="onPricePointOptionDown(columnIndex, rowIndex)" (click)="onPricePointOptionClick()"
                    [ngClass]="{'selected-cells': selectedColumnIndex == columnIndex || selectedRowIndex == rowIndex, 
                                    'selected-column': selectedColumnIndex == columnIndex, 
                                    'selected-row': selectedRowIndex == rowIndex, 
                                    'selected-price-point-option': selectedPricePointOptionColumnIndex == columnIndex && selectedPricePointOptionRowIndex == rowIndex}">
                    <i [ngClass]="{'fas fa-check': productContent.items[rowIndex].pricePointOptions[columnIndex]}"></i>
                </td>
            </tr>
        </table>
    </div>
</fieldset>