<navbar></navbar>

<!-- To prevent errors when signing out, check first if customer is null -->
<div *ngIf="customer != null" class="page-container">
    <div class="content-container">
        <!-- Content -->
        <div class="content" style="max-width: 700px;">

            <!-- breadcrumb -->
            <div class="breadcrumb">
                <a routerLink="/account">Your Account</a>
                <i class="fas fa-caret-right"></i>
                <span>Profile</span>
            </div>


            <!-- Account Updated -->
            <div *ngIf="accountUpdated" class="account-updated">
                <i class="fas fa-check"></i>
                All changes have been successfully saved.
            </div>

            <!-- Page Title -->
            <h1>Profile</h1>



            <!-- Name -->
            <div class="property-container">
                <div style="flex: 1 1 auto;">
                    <div class="property-name">Name:</div>
                    <div class="text-truncate max-width">{{customer.firstName}} {{customer.lastName}}</div>
                </div>
                <button class="alt-button" (click)="navigate('account/profile/change-name')">Edit</button>
            </div>




            <!-- Email -->
            <div class="property-container">
                <div style="flex: 1 1 auto;">
                    <div class="property-name">Email:</div>
                    <div class="text-truncate max-width">{{customer.email}}</div>
                </div>
                <button class="alt-button" (click)="navigate('account/profile/change-email')">Edit</button>
            </div>





            <!-- Password -->
            <div class="property-container">
                <div style="flex: 1 1 auto;">
                    <div class="property-name">Password:</div>
                    <div>********</div>
                </div>
                <button class="alt-button" (click)="navigate('account/profile/change-password')">Edit</button>
            </div>




            <!-- Profile Picture -->
            <div class="property-container">
                <div style="flex: 1 1 auto;">

                    <div style="display: flex; align-items: center;">


                        <div class="property-name">Profile Picture:</div>


                        <div style="margin-left: 8px; border-radius: 100%; background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center center; width: 30px; height: 30px;" [ngStyle]="{'background-image': 

                            customer.image == null 
                            
                            ?

                            'url(assets/no-account-pic.png)' 
                            
                            : 
                            
                            'url(images/' + customer.image + ')'
                        
                        }">

                        </div>

                        <input #pictureSelectInput type="file" style="width: 0; height: 0; visibility: hidden;"
                            (change)="onPictureSelect($event, editProfilePicture)">
                    </div>
                </div>


                <button class="alt-button"
                    (click)="customer.image == null ? OpenFileExplorerWindow(pictureSelectInput) : openEditProfilePictureForm(editProfilePicture)">Edit</button>

            </div>


        </div>
        <navfooter></navfooter>
    </div>
</div>

<edit-profile-picture #editProfilePicture (onProfilePicUpdate)="customer.image = $event"></edit-profile-picture>