<!-- ----------------------Tab Title-------------- -->
<div class="tab-title">Fill</div>


<!-- -------------------Color------------------- -->
<div class="property-row" style="padding-top: 9px; padding-bottom: 9px; border-bottom: 1px solid #363636;">

    <!-- Name -->
    <div style="user-select: none;">Color:</div>

    <!-- Color Swatch -->
    <div class="color-swatch-outer-border">
        <div class="color-swatch-innter-border">
            <div class="color-swatch-background">
                <div style="width: 100%; height: 100%; background-color: rgba(0, 255, 0, 0.3);"></div>
            </div>
        </div>
    </div>
</div>