.panel-dark {
    height: 322px;
}

.icon-container {
    float: right;
    margin-top: -9px;
    margin-bottom: 7px;
}

select {
    overflow: auto;
    cursor: default;
    option {
        cursor: pointer;
    }
}