<ng-container *ngIf="product$ | async as product">
    <navbar></navbar>

    <div class="page-container">
        <div class="content-container">
            <div class="content" style="max-width: 1600px;">
                <h1>Customer Reviews</h1>


                <div class="product-container">

                    <!-- Title -->
                    <div class="title text-break">{{product.name}}</div>

                    <!-- Image -->
                    <img *ngIf="product.image" [src]="'/images/' + product.image.url" [alt]="product.image.name"
                        [title]="product.image.name">
                </div>

                <!-- Reviews -->
                <reviews [product]="product" [paging]="true"></reviews>

                <navfooter></navfooter>
            </div>
        </div>
    </div>
</ng-container>