<ng-container *ngIf="product$ | async as product">
    <navbar></navbar>

    <div class="page-container">
        <div class="content-container">
            <div class="content" style="max-width: 1200px;">
                <h1>Customer Reviews</h1>

                <div class="display-flex flex-wrap margin-bottom-3">
                    <img [src]="'/images/' + product.image" class="width-100 height-100 margin-right-3 margin-bottom-3" style="max-width: 200px;">

                    <!-- Product -->
                    <div>
                        <div class="text-break font-size-5 font-bold white-color">
                            {{product.title}}
                        </div>

                        <!-- Price -->
                        <div class="alt-color">
                            <div *ngIf="product.maxPrice === 0">
                                {{product.minPrice | currency:'USD'}}
                            </div>
                            <div *ngIf="product.maxPrice > 0">
                                {{product.minPrice | currency:'USD'}} -
                                {{product.maxPrice | currency:'USD'}}
                            </div>
                        </div>
                    </div>

                </div>





                <!-- Reviews -->
                <reviews [product]="product" [paging]="true"></reviews>

                <navfooter></navfooter>
            </div>


        </div>
    </div>
</ng-container>