<ng-container *ngIf="product$ | async as product">
    <navbar></navbar>

    <div class="page-container">
        <div class="content-container">
            <div class="content" style="max-width: 1200px;">
                <h1>Customer Reviews</h1>

                
                <div class="product-container">

                    <!-- Title -->
                    <div class="title text-break">{{product.title}}</div>

                    <!-- Price -->
                    <!-- <div class="niche-shack-gold-color">
                        <div *ngIf="product.maxPrice === 0">
                            {{product.minPrice | currency:'USD'}}
                        </div>
                        <div *ngIf="product.maxPrice > 0">
                            {{product.minPrice | currency:'USD'}} -
                            {{product.maxPrice | currency:'USD'}}
                        </div>
                    </div> -->

                    <!-- Image -->
                    <img [src]="'/images/8d5741456a824e8981efdfa348d2cb0d.jpg'">
                </div>

                <!-- Reviews -->
                <reviews [product]="product" [paging]="true"></reviews>

                <navfooter></navfooter>
            </div>
        </div>
    </div>
</ng-container>