.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    background: #292929;
    border-bottom: 1px solid #525252;

    .product-count {
        white-space: nowrap;
        width: auto;
    }
}


.filters {
    flex-shrink: 0;
    margin-right: 10px;
    flex: 1;
}


.grid-container {
    width: 100%;
    margin-top: -10px;
}


.column {
    flex: 0 0 20%;
    max-width: 20%;
    padding: 10px;
}


.product-grid {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    .grid-row {
        display: flex;
        flex-wrap: wrap;
    }
}