.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;

    .product-count {
        white-space: nowrap;
        margin-bottom: 4px;
        width: auto;
        margin-bottom: 16px;
    }
}


.filters {
    flex-shrink: 0;
    margin-right: 10px;
    flex: 1;
}


.grid-container {
    width: 100%;
    margin-top: -10px;
}


.column {
    flex: 0 0 20%;
    max-width: 20%;
    padding: 10px;
}


.product-grid {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    .grid-row {
        display: flex;
        flex-wrap: wrap;
    }
}