.filter-container{
    min-height: 44px;
    border: 1px solid #424242;
    border-bottom: none;
    padding-left: 20px;
    padding-right: 10px;
    position:relative;
    color: #e7e7e7;
    overflow: hidden;
    backface-visibility: hidden;
    user-select: none;
    min-width: 220px;
}

.caption {
    font-weight: bold;
    margin: 10px 0 10px;
    color: white;
    font-size: 16px;
}
.arrow-container {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    cursor: pointer;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-caret-right {
    font-size: 20px;
    transition: transform 0.25s;
}

.rotate {
    transform: translate(-1px, 1px) rotate(90deg);
}


.filter-content {
    transition: max-height 0.25s ease-in-out, padding-top 0.25s ease-in-out, padding-bottom 0.25s ease-in-out;
}