<!-- ----------------------Tab Title-------------- -->
<div class="tab-title">Padding</div>


<!-- -------------------Left------------------------ -->
<div class="property-row">

    <!-- Name -->
    <div style="user-select: none; cursor: e-resize;">Left:</div> 

    <!-- Value -->
    <div class="display-flex">
        <!-- Text Box --> <input type="text" class="text-box hide-text-box" value="100"> 
        <!-- Label --> <div class="px">px</div> 
    </div>
</div>


<!-- -------------------Top------------------------ -->
<div class="property-row">

    <!-- Name -->
    <div style="user-select: none; cursor: e-resize;">Top:</div> 

    <!-- Value -->
    <div class="display-flex">
        <!-- Text Box --> <input type="text" class="text-box hide-text-box" value="100"> 
        <!-- Label --> <div class="px">px</div> 
    </div>
</div>


<!-- -------------------Right------------------------ -->
<div class="property-row">

    <!-- Name -->
    <div style="user-select: none; cursor: e-resize;">Right:</div> 

    <!-- Value -->
    <div class="display-flex">
        <!-- Text Box --> <input type="text" class="text-box hide-text-box" value="100">
        <!-- Label --> <div class="px">px</div> 
    </div>
</div>


<!-- -------------------Bottom------------------------ -->
<div class="property-row" style="border-bottom: 1px solid #363636;">

    <!-- Name -->
    <div style="user-select: none; cursor: e-resize;">Bottom:</div> 

    <!-- Value -->
    <div class="display-flex">
        <!-- Text Box --> <input type="text" class="text-box hide-text-box" value="100">
        <!-- Label --> <div class="px">px</div>
    </div>
</div>