<!-- ----------------------Tab Title-------------- -->
<div class="tab-title">Padding</div>


<!-- -------------------Top------------------------ -->
<range-slider 
    class="property-row"
    [rowName]="'Top'"
    [minRange]="0"
    [formServiceProperty]="_FormService.padding.top"
    (out)="_FormService.padding.top = $event">
</range-slider>


<!-- -------------------Right------------------------ -->
<range-slider 
    class="property-row"
    [rowName]="'Right'"
    [minRange]="0"
    [formServiceProperty]="_FormService.padding.right"
    (out)="_FormService.padding.right = $event">
</range-slider>


<!-- -------------------Bottom------------------------ -->
<range-slider 
    class="property-row"
    [rowName]="'Bottom'"
    [minRange]="0"
    [formServiceProperty]="_FormService.padding.bottom"
    (out)="_FormService.padding.bottom = $event">
</range-slider>


<!-- -------------------Left------------------------ -->
<range-slider 
    class="property-row"
    style="border-bottom: 1px solid #363636;"
    [rowName]="'Left'"
    [minRange]="0"
    [formServiceProperty]="_FormService.padding.left"
    (out)="_FormService.padding.left = $event">
</range-slider>