<!-- Popup Base -->
<div #popup transitionClass="fade-end" class="popup-base fade-start" (onShow)="onPopupShow(popup, arrow)" *show="show">

    <!-- Arrow -->
    <div #arrow [ngClass]="{'arrow-on-top': arrowOnTop, 'arrow-on-bottom': !arrowOnTop}"></div>


    <!-- Header -->
    <div class="product-report-header">
        <div class="product-container">

            <!-- Product Thumbnail -->
            <div class="thumbnail"
                [ngStyle]="{ 'background-image': 'url(images/' + notificationService.generalNotification.productThumbnail + ')'}">
            </div>

            <!-- Product Name -->
            <div class="product-name">
                {{notificationService.generalNotification.productName}}
            </div>
        </div>

        <!-- Ellipsis -->
        <div #ellipsis class="icon-container" (mousedown)="showContextMenu(notificationService.generalNotification)">
            <i class="fas fa-ellipsis-v"></i>
        </div>
    </div>


    <!-- Notification Description -->
    <div class="header-line"></div>
    <div class="product-report-title">
        {{notificationService.generalNotification.name}}
    </div>
    <div class="header-line"></div>


    <!-- Main Property Box -->
    <div class="main-property-box">

        <!-- Paginator -->
        <div class="paginator-bar">
            <paginator #paginator [itemCount]="notificationService.notificationIds.length"
                (onItemChange)="onPaginatorClick($event)">
            </paginator>
        </div>


        <!-- Customer Property Box -->
        <div class="property-box-label">User Comment:</div>
        <div class="property-box">
            <div class="property-box-bar">

                <!-- Customer Thumbnail -->
                <div class="account-thumbnail"
                    [ngStyle]="{'background-image': 'url(images/' + notificationService.generalNotification.customerText.thumbnail + ')'}">
                </div>

                <!-- Time Stamp -->
                <div class="time-stamp">
                    {{notificationService.generalNotification.customerText.timeStamp}}
                </div>
            </div>

            <!-- Customer Text -->
            <div class="user-text">
                {{notificationService.generalNotification.customerText.text}}
            </div>
        </div>


        <!-- Employee Property Box -->
        <div class="property-box-label">Notes:</div>
        <div class="property-box">
            <div class="property-box-bar">

                <ng-container *ngIf="notificationService.generalNotification.notes">
                    <!-- Employee Thumbnail -->
                    <div class="account-thumbnail"
                        [ngStyle]="{'background-image': 'url(images/' + notificationService.generalNotification.notes.thumbnail + ')'}">
                    </div>

                    <!-- Time Stamp -->
                    <div class="time-stamp">
                        {{notificationService.generalNotification.notes.timeStamp}}
                    </div>
                </ng-container>
            </div>

            <!-- Employee Text -->
            <div class="user-text">
                <ng-container *ngIf="notificationService.generalNotification.notes">
                    {{notificationService.generalNotification.notes.text}}
                </ng-container>
            </div>
        </div>
    </div>


    <!-- Button Container -->
    <div *ngIf="notificationService.selectedNotificationsTab != notificationTab.ArchiveNotifications"
        class="button-container"
        [ngClass]="{'resize-button': notificationService.generalNotification.type == notificationType.ProductReportedAsIllegal || 
                                      notificationService.generalNotification.type == notificationType.ProductReportedAsHavingAdultContent}">

        
        <button (click)="onDismissButtonClick(notificationService.generalNotification)">Dismiss</button>
        <button (click)="onRightButtonClick(notificationService.generalNotification)">
            {{notificationService.generalNotification.type == notificationType.ProductReportedAsIllegal || notificationService.generalNotification.type == notificationType.ProductReportedAsHavingAdultContent ? 'Remove Product' : 'Publish'}}
        </button>
    </div>
</div>