<div *show="_FormService.showContainerForm" transitionClass="fade-end" class="fade-start" (onShow)="onFormOpen()">

    <dialog-box [dialogBoxName]="'Container'" [width]="336" (onClose)="onCancel()">
        
        <!-- Panel Light -->
        <div class="display-flex">

            <!-- Vertical Tabs -->
            <div class="vertical-tabs-container">
                <!-- Fill -->
                <div title="Fill" class="vertical-tab" [ngClass]="{'selected-vertical-tab': selectedTab == 'fill'}" (click)="onTabSelect('fill')"> <i class="fas fa-fill-drip"></i> </div>
                <!-- Border -->
                <div title="Border" class="vertical-tab" [ngClass]="{'selected-vertical-tab': selectedTab == 'border'}" (click)="onTabSelect('border')"> <i class="far fa-square"></i> </div>
                <!-- Corners -->
                <div title="Corners" class="vertical-tab" [ngClass]="{'selected-vertical-tab': selectedTab == 'corners'}" (click)="onTabSelect('corners')"> <i class="fas fa-expand"></i> </div>
                <!-- Shadow -->
                <div title="Shadow" class="vertical-tab" [ngClass]="{'selected-vertical-tab': selectedTab == 'shadow'}" (click)="onTabSelect('shadow')"> <i class="fas fa-clone" style="transform: scaleX(-1);"> </i> </div>
                <!-- Margins -->
                <div title="Margins" class="vertical-tab" [ngClass]="{'selected-vertical-tab': selectedTab == 'margins'}" (click)="onTabSelect('margins')"> <i class="fas fa-arrow-left" style="display: flex; align-items: center;"> <span style="font-size: 20px; font-family: Arial">I</span> </i> </div>
                <!-- Padding -->
                <div title="Padding" class="vertical-tab" [ngClass]="{'selected-vertical-tab': selectedTab == 'padding'}" (click)="onTabSelect('padding')"> <i class="fas fa-th-large"></i> </div>
            </div>

            <!-- Properties -->
            <div class="panel-light-rounded" style="min-height: 300px;">
                <!-- Fill -->
                <optional-fill *ngIf="selectedTab == 'fill'"></optional-fill>
                <!-- Border -->
                <border *ngIf="selectedTab == 'border'"></border>
                <!-- Corners -->
                <corners *ngIf="selectedTab == 'corners'"></corners>
                <!-- Shadow -->
                <shadow *ngIf="selectedTab == 'shadow'"></shadow>
                <!-- Margins -->
                <margins *ngIf="selectedTab == 'margins'"></margins>
                <!-- Padding -->
                <padding *ngIf="selectedTab == 'padding'"></padding>
            </div>
        </div>

        <!-- Buttons -->
        <div class="form-button-container">
            <button (click)="onCancel()">Cancel</button>
            <button (click)="_FormService.showContainerForm = false">Ok</button>
        </div>
    </dialog-box>
</div>