<!-- Panel Light -->
<div class="display-flex">

    <!-- Vertical Tabs -->
    <div class="vertical-tabs-container">
        <!-- Fill -->
        <div title="Fill" class="vertical-tab" [ngClass]="{'selected-vertical-tab': showVerticalTab[0]}" (click)="selectVerticalTab(0)"> <i class="fas fa-fill-drip"></i> </div>
        <!-- Border -->
        <div title="Border" class="vertical-tab" [ngClass]="{'selected-vertical-tab': showVerticalTab[1]}" (click)="selectVerticalTab(1)"> <i class="far fa-square"></i> </div>
        <!-- Corners -->
        <div title="Corners" class="vertical-tab" [ngClass]="{'selected-vertical-tab': showVerticalTab[2]}" (click)="selectVerticalTab(2)"> <i class="fas fa-expand"></i> </div>
        <!-- Shadow -->
        <div title="Shadow" class="vertical-tab" [ngClass]="{'selected-vertical-tab': showVerticalTab[3]}" (click)="selectVerticalTab(3)"> <i class="fas fa-clone" style="transform: scaleX(-1);"> </i> </div>
        <!-- Margins -->
        <div title="Margins" class="vertical-tab" [ngClass]="{'selected-vertical-tab': showVerticalTab[4]}" (click)="selectVerticalTab(4)"> <i class="fas fa-arrow-left" style="display: flex; align-items: center;"> <span style="font-size: 20px; font-family: Arial">I</span> </i> </div>
        <!-- Padding -->
        <div title="Padding" class="vertical-tab" [ngClass]="{'selected-vertical-tab': showVerticalTab[5]}" (click)="selectVerticalTab(5)"> <i class="fas fa-th-large"></i> </div>
    </div>

    <!-- Properties -->
    <div class="panel-light-rounded" style="min-height: 300px;">
        <!-- Fill -->
        <fill *ngIf="showVerticalTab[0]"></fill>
        <!-- Border -->
        <border *ngIf="showVerticalTab[1]"></border>
        <!-- Corners -->
        <corners *ngIf="showVerticalTab[2]"></corners>
        <!-- Shadow -->
        <shadow *ngIf="showVerticalTab[3]"></shadow>
        <!-- Margins -->
        <margins *ngIf="showVerticalTab[4]"></margins>
        <!-- Padding -->
        <padding *ngIf="showVerticalTab[5]"></padding>
    </div>
</div>

<!-- Buttons -->
<div class="form-button-container">
    <button>Ok</button>
    <button>Cancel</button>
</div>