<div class="menu-base">

    <div class="menu-option">
        <div>New</div><div>Ctrl+N</div>
    </div>

    <div class="menu-option">
        <div>Open</div><div>Ctrl+O</div>
    </div>

    <div class="menu-divider"></div>

    <div class="menu-option">
        <div>Cut</div><div>Ctrl+X</div>
    </div>

    <div class="menu-option">
        <div>Copy</div><div>Ctrl+C</div>
    </div>

    <div class="menu-option">
        <div>Paste</div><div>Ctrl+V</div>
    </div>

    <div class="menu-divider"></div>

    <div class="menu-option">
        <div>Rename</div><div>Ctrl+R</div>
    </div>

    <div class="menu-option">
        <div>Delete</div><div>Ctrl+D</div>
    </div>

</div>