.password-info {
    margin: auto;
    margin-top: -3px;
    margin-bottom: 16px;
    font-size: 12px;

    .fa-info {
        margin-right: 8px;
        font-style: italic;
    }
}

.disclaimer {
    text-align: center;
    font-size: 12px;
    margin: 8px;
}