@import '../../../scss/variables';

.product-container {
    cursor: pointer;
    border: 1px solid #424242;
    padding: 10px;
    height: 100%;
    background:#222222;
    &:hover {
        background:#292929;
    }
}

.product {
    
    .title {
        font-weight: bold;
    }

    .reviews {
        white-space: nowrap;
        margin-left: 4px;
    }
}


img {
    width: 100%; 
    height: 100%; 
    object-fit: contain;
    max-width: 75px;
    max-height: 75px;
}

@media (min-width: map-get($breakpoints, xxs)) {
    img {
        max-width: 150px;
        max-height: 150px;
    }
}



@media (min-width: map-get($breakpoints, md)) {
    img {
        margin: auto;
        margin-bottom: 10px;
        max-width: 200px;
        display: block;
        max-height: 200px;
    }
}