<panel [title]="'Columns'">
    <!-- Span -->
    <div class="property">
        <div class="label">Span</div>

        <!-- value -->
        <div class="number-field-container">
            <number-field #numberField [value]="column.columnSpan.value" [values]="columns"
                (onValueChange)="onValueChange($event, numberField)"></number-field>
        </div>

        <!-- Breakpoint checkbox -->
        <div class="checkbox-container">
            <checkbox
                [disabled]="column.row.columns.length == 1 || breakpointService.currentBreakpointScreenSize == 'Z'"
                (change)="setBreakpoint()" [checked]="column.columnSpan.breakpointSet"></checkbox>
        </div>
    </div>
</panel>