<!-- Popup Base -->
<div #popup transitionClass="fade-end" class="popup-base fade-start" (onShow)="onPopupShow(popup, arrow)" *show="show">

    <!-- Arrow -->
    <div #arrow [ngClass]="{'arrow-on-top': arrowOnTop, 'arrow-on-bottom': !arrowOnTop}"></div>

    <div class="dark-tabs-container">
        <!-- Normal Tab -->
        <div class="dark-tab" [ngClass]="{'selected-dark-tab': notificationService.selectedNotificationsTab == notificationTab.NewNotifications}"
            (click)="notificationService.selectedNotificationsTab = notificationTab.NewNotifications">{{'New (' + notificationService.newNotifications.length + ')'}}</div>

        <!-- Hover Tab -->
        <div class="dark-tab" [ngClass]="{'selected-dark-tab': notificationService.selectedNotificationsTab == notificationTab.PendingNotifications}"
            (click)="notificationService.selectedNotificationsTab = notificationTab.PendingNotifications">{{'Pending ('+ notificationService.pendingNotifications.length + ')'}}</div>

        <!-- Active Tab -->
        <div id="active" class="dark-tab" [ngClass]="{'selected-dark-tab': notificationService.selectedNotificationsTab == notificationTab.ArchiveNotifications}"
            (click)="notificationService.selectedNotificationsTab = notificationTab.ArchiveNotifications">Archive</div>
    </div>

    <div style="width: 100%; height: 423px; border: 1px solid #373737; border-top: none;">


        <!-- New Notifications -->
        <notifications-item-list 
            *ngIf="notificationService.selectedNotificationsTab == notificationTab.NewNotifications"
            [multiSelect]="false"
            [listItems]="notificationService.newNotifications">
        </notifications-item-list>

        <!-- Pending Notifications -->
        <notifications-item-list 
            *ngIf="notificationService.selectedNotificationsTab == notificationTab.PendingNotifications"
            [multiSelect]="false"
            [listItems]="notificationService.pendingNotifications">
        </notifications-item-list>

        <!-- Archive Notifications -->
        <notifications-item-list 
            *ngIf="notificationService.selectedNotificationsTab == notificationTab.ArchiveNotifications"
            [multiSelect]="false"
            [listItems]="notificationService.archiveNotifications">
        </notifications-item-list>
    </div>
</div>