<context-menu></context-menu>


<div class="form-page">
    <!-- Form -->
    <form (ngSubmit)="onSubmit()" #form="ngForm" [matchValue]="['newPassword', 'reEnteredPassword']">
        <h1>Change Password</h1>


        <!-- Current password -->
        <h4 *ngIf="valid(current_password); else invalidCurrentPassword">Current password:</h4>

        <!-- Invalid current password -->
        <ng-template #invalidCurrentPassword>
            <!-- Missing password -->
            <h4 *ngIf="current_password.errors.required" class="error">
                Please provide your current password.
            </h4>

            <!-- Incorrect password -->
            <h4 *ngIf="current_password.errors.incorrectPassword" class="error">
                You have entered an incorrect password.
            </h4>
        </ng-template>
        <input type="password" required [(ngModel)]="currentPassword" name="currentPassword" #current_password="ngModel"
            autocomplete="off">




        <!-- New password -->
        <h4 *ngIf="valid(new_password); else invalidNewPassword">New password:</h4>

        <!-- Invalid new password -->
        <ng-template #invalidNewPassword>
            <h4 class="error">Passwords must be at least 6 characters.</h4>
        </ng-template>
        <input type="password" required pattern="(?=.*\S).{6,}" [(ngModel)]="newPassword" name="newPassword"
            #new_password="ngModel" autocomplete="off">


        <!-- Re-enter password -->
        <h4 *ngIf="valid(re_enter_password); else invalidReEnteredPassword">Re-enter password:</h4>


        <!-- Invalid re-entered password -->
        <ng-template #invalidReEnteredPassword>
            <h4 class="error">Please make sure passwords match.</h4>
        </ng-template>
        <input type="password" [(ngModel)]="reEnteredPassword" name="reEnteredPassword" #re_enter_password="ngModel"
            autocomplete="off">


        <!-- Save button -->
        <button>Save</button>
    </form>
</div>