<div *show="_FormService.showLinkForm" transitionClass="fade-end" class="fade-start">

    <!-- Dialog Box -->
    <dialog-box [dialogBoxName]="'Link'" [width]="336" (onClose)="closeForm()">

        <!-- Media Browser -->
        <div class="panel-light-rounded" style="height: 300px;">
            <links #link [source]="_FormService.description.linkStyle"></links>
        </div>

        <!-- Buttons -->
        <div class="form-button-container">
            <button (click)="closeForm()">Cancel</button>
            <button (click)="link.applyLink(); closeForm()">Ok</button>
        </div>
    </dialog-box>
</div> 