<div class="panel-light">
    <fieldset>
        <legend>Link Options</legend>

        <!-- Webpage Radio Button -->
        <input type="radio" name="link" checked> Webpage<br>

        <!-- Webpage dropdown -->
        <input list="webpages">
            <datalist id="webpages">
                <option value="Internet Explorer">
                <option value="Firefox">
                <option value="Chrome">
                <option value="Opera">
                <option value="Safari">
            </datalist>
        <br> 


        <!-- Product Radio Button -->
        <input type="radio" name="link"> product<br>

        <!-- Product Dropdown -->
        <input list="products">
            <datalist id="products">
                <option value="Internet Explorer">
                <option value="Firefox">
                <option value="Chrome">
                <option value="Opera">
                <option value="Safari">
            </datalist>
    </fieldset>
</div>

<!-- Button Container -->
<div class="form-button-container">
    <button>Assign</button>
    <button >Close</button>
</div>