@import '../../../../../scss/variables';

.item {
    width: 100%;
    cursor: pointer;
    user-select: none;
    padding: 0 3px;
    font-size: 12px;
    &:hover:not(.selected) {
        background: $hover-fill-color;
    }
}

.selected:not([contenteditable="true"]) {
    background: $selected-fill-color;
    outline: 1px solid $selected-border-color;
    color: white;
}


.arrow-button-container {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    .arrow-button {
        width: 16px;
        height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotate(0);
        transition: transform 0.25s ease-in-out;
        &:after {
            content: '';
            width: 0; 
            height: 0; 
            color: #aaaaaa;
            border-top: solid 3px transparent;
            border-bottom: solid 3px transparent;
            border-left: solid 6px;
            display: inline-block;
        }
    }

    & input {
        display: none;
        &:checked ~ .arrow-button {
            transform: rotate(90deg);
        }
    }
}




.child {
    padding-left: 48px;
    & > :not(.child) {
        max-height: 0;
        opacity: 0;
        transition: max-height 0.2s, opacity 0.2s;
    }

    &:not(.show-child) .arrow-button-container {
        margin-bottom: 0;
    }
}

.show-child > :not(.show-child) {
    max-height: 22px;
    opacity: 1;
    visibility: visible;
}

.fa-spinner {
    position: absolute;
    right: 14px;
    font-size: 10px;
}

[contenteditable="true"].item {
    outline: 1px solid #326796;
    cursor: initial;
}