<div class="panel-light">

    <!-- Review -->
    <fieldset>
        <legend>Review</legend>
        <textarea style="cursor: default;" readonly></textarea>
    </fieldset>

    <!-- Review Writer -->
    <fieldset >
        <legend>Review Writer</legend>
        <input type="text" style="cursor: default;" readonly>

        <div class="review-writer">
            
            <input type="checkbox">

            <div>Remove this review and mark this user as having a strike against them for not complying with the terms of use.</div>
        
        </div>
    </fieldset>


    <!-- Complainant -->
    <fieldset >
        <legend>Complainant</legend>
        <input type="text" style="cursor: default;" readonly>
    </fieldset>
</div>

<!-- Button Container -->
<div class="form-button-container">
    <button>Submit</button>
    <button >Close</button>
</div>