<div class="overflow-container" (contextmenu)="$event.preventDefault()" 
(mouseup)="setContextMenu($event)" >
        

    <table >
            
        <tr #rowItem *ngFor="let listItem of listItems; let listItemIndex = index"
                (mousedown)="onListItemDown(listItemIndex)"
                (click)="onListItemClick(listItem)"
                [ngClass]="{
                            'selected-listItem': selectedListItemIndex == listItemIndex,
                            'unselected-listItem': unselectedListItemIndex == listItemIndex,
                            'selected-listItem-top': listItem.selectType == selectType.Top,
                            'selected-listItem-whole': listItem.selectType == selectType.Whole,
                            'selected-listItem-middle': listItem.selectType == selectType.Middle,
                            'selected-listItem-bottom': listItem.selectType == selectType.Bottom}">
                            
            <td>
                 <div class="img"
                      [ngStyle]="{ 'background-image': 'url(images/' + listItem.listIcon + ')'}"
                      [ngClass]="{'highlight-image': selectedListItemIndex == listItemIndex }">
                </div>   
            </td>


            <td 
                tabindex="-1"
                (blur)="onListItemBlur()"
                [textContent]="listItem.name">
            </td>
        </tr>
    </table>
</div>