@import '../../../../scss/variables';

.page-dropdown {
    width: 100%;
    height: 387px;
    max-width: 300px;
    position: absolute;
    top: 29px;
    left: -2px;
    background: #303030;
    z-index: 10;
    border-radius: 5px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    padding: 10px;
    border: 1px solid #4e4e4e;
    outline: 0;

    input {
        width: 100%;
    }

    .icon-bar {
        border-top: 2px groove #555555;
        border-bottom: 2px groove #555555;
        padding: 3px 0;
        margin: 10px 0;
    }

    .pages-container {
        width: 100%;
        height: 291px;
        overflow: auto;

        .page {
            background: #3a3a3a;
            border-radius: 5px;
            padding: 5px;
            border: 1px solid transparent;
            cursor: pointer;
            &:not(:last-child) {
                margin-bottom: 10px;
            }

            &:hover:not(.selected-page) {
                border: 1px solid $hover-border-color;
                background: $hover-fill-color;
            }
        }

        .selected-page {
            border: 1px solid $selected-border-color;
            background: $selected-fill-color;
        }
    }
}