<!-- Panel -->
<panel [title]="'Keywords'" (onClick)="onPanelClick($event)">

    <!-- Property Box -->
    <div class="property-box-dark" style="position: relative;">

        <!-- Icons -->
        <div class="icons">

            <!-- Delete -->
            <div class="icon-container"
                [attr.title]="itemList.deleteIcon.isDisabled ? 'Delete Keyword (Delete)' : itemList.editIcon.isDisabled ? 'Delete Keywords (Delete)' : 'Delete Keyword (Delete)'"
                [ngClass]="{'icon-disabled': itemList.deleteIcon.isDisabled}"
                (mouseover)="itemList.isOverIconButton = true" (mouseout)="itemList.onIconButtonMouseOut()"
                (click)="itemList.onListItemDelete()">
                <i class="fas fa-trash-alt"></i>
            </div>

            <!-- Edit -->
            <div class="icon-container" [attr.title]="'Edit Keyword (Ctrl+Alt+E)'"
                [ngClass]="{'icon-disabled': itemList.editIcon.isDisabled}"
                (mouseover)="itemList.isOverIconButton = true" (mouseout)="itemList.onIconButtonMouseOut()"
                (click)="itemList.onListItemEdit()">
                <i class="fas fa-edit"></i>
            </div>

            <!-- Add -->
            <div class="icon-container" [attr.title]="'Add Keyword (Ctrl+Alt+A)'"
                [ngClass]="{'icon-disabled': itemList.addIcon.isDisabled}"
                (mouseover)="itemList.isOverIconButton = true" (mouseout)="itemList.onIconButtonMouseOut()"
                (click)="itemList.onListItemAdd()">
                <i class="fas fa-plus-circle"></i>
            </div>
        </div>



        <!-- Editable Item LIst -->
        <editable-item-list #itemList [listItems]="keywords"
            (postItemName)="onChange($event)"
            (updateItemName)="onChange($event)"
            [menuOptions]="['New Keyword', 'Edit Keyword', 'Delete Keyword', 'Delete Keywords']">
        </editable-item-list>



        <div class="loading" *ngIf="!keywords">
            <i class="fas fa-spinner fa-pulse font-size-3"></i>
        </div>



        <!-- Placeholder -->
        <div *ngIf="keywords && keywords.length == 0" class="no-property">No keywords available</div>
    </div>
</panel>