<panel [title]="'Keywords'">
    <!-- Property Box -->
    <div class="property-box-dark">

        <!-- Icons -->
        <div class="icons">

            <!-- Delete keyword Icon -->
            <div class="icon-container">
                <i class="fas fa-trash-alt"></i>
            </div>

            <!-- Edit keyword Icon -->
            <div class="icon-container">
                <i class="fas fa-edit"></i>
            </div>

            <!-- Add keyword Icon -->
            <div class="icon-container">
                <i class="fas fa-plus-circle"></i>
            </div>
        </div>


        <div style="padding: 5px;">
            <div *ngFor="let keyword of keywords" class="keywords">{{keyword}}</div>
        </div>
    </div>
</panel>