<!-- Panel -->
<panel [title]="'Keywords'">

    <!-- Property Box -->
    <div class="property-box-dark" style="position: relative;">


        <div style="display: flex;">

            <!-- Available Keywords -->
            <available-keywords #availableKeywords style="flex: 1;"></available-keywords>

            <div class="divider">
                <button style="font-size: 20px" [disabled]="isAddButtonDisabled" (click)="onAddButtonClick()">
                    <i class="far fa-caret-square-right"></i>
                </button>
            </div>

            <!-- Selected Keywords -->
            <selected-keywords #selectedKeywords style="flex: 1;" [productId]="product.id"></selected-keywords>
        </div>
    </div>
</panel>