<div *show="show" transitionClass="fade-end" class="modal-background fade-start" tabindex="0" (onHide)="show = false">

    <div class="prompt" (mousedown)="$event.stopPropagation()">

        <!-- Title Bar -->
        <div class="title-bar">
            Edit Profile Picture
            <div class="close-button" (click)="show = false" title="Close">
                <i class="fas fa-times"></i>
            </div>
        </div>


        <!-- Picture area -->
        <div #picArea class="pic-area">

            <!-- Profile Pic -->
            <div class="profile-pic-container">
                <img #profilePic [src]="'images/' + picUrl" (load)="onProfilePicLoad($event)"
                    (mousedown)="onProfilePicMouseDown($event)" (touchstart)="onProfilePicTouchStart($event)">
            </div>

            <!-- Circle Overlay -->
            <div class="circle-overlay-container">
                <div #circleOverlay class="circle-overlay"
                    [style.left]="setCircleOverlay(circleOverlay, picArea)">
                </div>
            </div>

            <div *ngIf="showDragMessage"
                style="pointer-events: none; color: white; position: absolute; background: rgba(0, 0, 0, 0.45); width: 180px; height: 36px; border-radius: 8px; display: flex; align-items: center; justify-content: space-between; padding: 13px;"
                [style.left.px]="(picArea.offsetWidth / 2) - 90" [style.top.px]="(picArea.offsetHeight * 0.33333) - 18">
                <i class="fas fa-arrows-alt" style="font-size: 20px;"></i>
                <div style="font-size: 15px;">
                    Drag to Reposition
                </div>
            </div>
        </div>



        <!-- Bottom Container -->
        <div class="bottom-container">

            <!-- Zoom Area -->
            <div class="zoom-area">

                <!-- Zoom Container -->
                <div #zoomContainer class="zoom-container">

                    <!-- Minus Button -->
                    <div class="minus-button" (click)="onMinusButtonClick()"
                        [ngClass]="{'minus-button-disabled': minusButtonDisabled}" title="Zoom Out">
                        <div class="h-line"></div>
                    </div>

                    <!-- Zoom Bar -->
                    <div #zoomBar class="zoom-bar-container" (mousedown)="onZoomBarMouseDown($event)">
                        <div class="zoom-bar"></div>
                    </div>

                    <!-- Zoom Handle Tail -->
                    <div class="zoom-handle-tail" [style.width.px]="zoomHandle.offsetLeft - 20"></div>

                    <!-- Zoom Handle -->
                    <div #zoomHandle class="zoom-handle" (mousedown)="onZoomHandleMouseDown($event)"
                        (touchstart)="onZoomHandleTouchStart($event)"
                        [ngClass]="{'handle-active': zoomHandleMoveStartPos != null}">
                    </div>

                    <!-- Plus Button -->
                    <div class="plus-button" (click)="onPlusButtonClick()"
                        [ngClass]="{'plus-button-disabled': plusButtonDisabled}" title="Zoom In">
                        <div class="v-line"></div>
                        <div class="h-line"></div>
                    </div>
                </div>
            </div>


            <!-- Buttons -->
            <div class="buttons-container">
                <!-- Upload button -->
                <button>Upload</button>

                <div>
                    <!-- Cancel Button -->
                    <button class="margin-right-8" (click)="show = false">Cancel</button>
                    <!-- Save Button -->
                    <button class="alt-button">Save</button>
                </div>
            </div>
        </div>
    </div>


    <div *ngIf="picMoveStartPos.x != null || zoomHandleMoveStartPos != null" class="cover"
        [ngStyle]="{'cursor': picMoveStartPos.x != null ? 'move' : 'default' && zoomHandleMoveStartPos != null ? 'pointer' : 'default'}">
    </div>
</div>