.prompt {
    max-width: 700px;
    height: 590px;
    background-color: #1d1d1d;
}

// .circle-overlay {
//     position: relative;
//     left: 199px;
//     top: 60px;
//     width: 100%;
//     max-width: 300px;
//     height: 300px;
//     border-radius: 100%;
//     box-shadow: 0px 0px 0px 300px rgba(23, 23, 23, 0.7);
// }