<!-- Popup Base -->
<div #popup transitionClass="fade-end"
     class="popup-base fade-start"
     (onShow)="onPopupShow(popup, arrow)"
     *show="show">
     
    <!-- Arrow -->
    <div #arrow [ngClass]="{'arrow-on-top': arrowOnTop, 'arrow-on-bottom': !arrowOnTop}"></div>


    <!-- Header -->
    <div class="product-report-header">
        <div class="product-container">

            <!-- Product Thumbnail -->
            <div class="thumbnail" 
                 [ngStyle]="{ 'background-image': 'url(images/' + notificationService.productDescriptionNotification.productThumbnail + ')'}">
            </div>

            <!-- Product Name -->
            <div class="product-name">
                {{notificationService.productDescriptionNotification.productName}}
            </div>
        </div>

        <!-- Ellipsis -->
        <div #ellipsis 
             class="icon-container"
             (mousedown)="showContextMenu(notificationService.productDescriptionNotification)">
            <i class="fas fa-ellipsis-v"></i>
        </div>
    </div>


    <!-- Notification Description -->
    <div class="header-line"></div>
    <div class="product-report-title">
        {{notificationService.getNotificationDescription(notificationService.productDescriptionNotification.type)}}
    </div>
    <div class="header-line"></div>

    
    <!-- Main Property Box -->
    <div class="main-property-box">

        <!-- Paginator -->
        <div class="paginator-bar">
            <paginator [itemCount]="notificationService.productDescriptionNotification.customerText.length"
                       (onItemChange)="paginatorIndex = $event">
            </paginator>
        </div>


        <!-- Customer Property Box -->
        <div class="property-box-label">User Comment:</div>
        <div class="property-box">
            <div class="property-box-bar">

                <!-- Customer Thumbnail -->
                <div class="account-thumbnail"
                    [ngStyle]="{'background-image': 'url(images/' + notificationService.productDescriptionNotification.customerText[paginatorIndex].thumbnail + ')'}">
                </div>

                <!-- Time Stamp -->
                <div class="time-stamp">
                    {{notificationService.productDescriptionNotification.customerText[paginatorIndex].timeStamp}}
                </div>
            </div>

            <!-- Customer Text -->
            <div class="user-text">
                {{notificationService.productDescriptionNotification.customerText[paginatorIndex].text}}
            </div>
        </div>


        <!-- Customer Property Box -->
        <div class="property-box-label">Product Description:</div>
        <div class="property-box">
            <div class="property-box-bar">
                <!-- Textbox icons go here -->
            </div>

    
            <textarea style="width: 100%; height: 100px; padding: 5px; color: #e4e4e4;font-size: 12px;border: 0px solid #373737; background: #222222; border-radius: 0;">{{notificationService.productDescriptionNotification.productDescription}}</textarea>
        </div>


        <!-- Employee Property Box -->
        <div class="property-box-label">Notes:</div>
        <div class="property-box">
            <div class="property-box-bar">

                <!-- Employee Thumbnail -->
                <div class="account-thumbnail"
                    [ngStyle]="{'background-image': 'url(images/' + notificationService.productDescriptionNotification.notesText[paginatorIndex].thumbnail + ')'}">
                </div>

                <!-- Time Stamp -->
                <div class="time-stamp">
                    {{notificationService.productDescriptionNotification.notesText[paginatorIndex].timeStamp}}
                </div>
            </div>

            <!-- Employee Text -->
            <div class="user-text">
                {{notificationService.productDescriptionNotification.notesText[paginatorIndex].text}}
            </div>
        </div>
    </div>


    <!-- Button Container -->
    <div *ngIf="notificationService.selectedNotificationsTab != notificationTab.ArchiveNotifications"
         class="button-container">

         <!-- Buttons -->
        <button (click)="onDismissButtonClick(notificationService.productDescriptionNotification)">Dismiss</button>
        <button (click)="onRightButtonClick(notificationService.productDescriptionNotification)">Publish</button>
    </div>
</div>

















