<!-- ----------------------Tab Title-------------- -->
<div class="tab-title">Corners</div>


<!-- -------------------Constrain Corners------------------- -->
<div class="property-row" style="padding-top: 10px; padding-bottom: 9px;">
    <!-- Name -->
    <div style="user-select: none;">Constrain Corners:</div>

    <!-- Value -->
    <input type="checkbox">
</div>


<!-- -------------------Top Left------------------------ -->
<div class="property-row">

    <!-- Name -->
    <div style="user-select: none; cursor: e-resize;">Top-Left:</div> 

    <!-- Value -->
    <div class="display-flex">
        <!-- Text Box --> <input type="text" class="text-box hide-text-box" value="100"> 
        <!-- Label --> <div class="px">px</div> 
    </div>
</div>


<!-- -------------------Top Right------------------------ -->
<div class="property-row">

    <!-- Name -->
    <div style="user-select: none; cursor: e-resize;">Top-Right:</div> 

    <!-- Value -->
    <div class="display-flex">
        <!-- Text Box --> <input type="text" class="text-box hide-text-box" value="100"> 
        <!-- Label --> <div class="px">px</div> 
    </div>
</div>


<!-- -------------------Bottom Left------------------------ -->
<div class="property-row">

    <!-- Name -->
    <div style="user-select: none; cursor: e-resize;">Bottom-Left:</div> 

    <!-- Value -->
    <div class="display-flex">
        <!-- Text Box --> <input type="text" class="text-box hide-text-box" value="100">
        <!-- Label --> <div class="px">px</div> 
    </div>
</div>


<!-- -------------------Bottom Right------------------------ -->
<div class="property-row" style="border-bottom: 1px solid #363636;">

    <!-- Name -->
    <div style="user-select: none; cursor: e-resize;">Bottom-Right:</div> 

    <!-- Value -->
    <div class="display-flex">
        <!-- Text Box --> <input type="text" class="text-box hide-text-box" value="100">
        <!-- Label --> <div class="px">px</div>
    </div>
</div>