<!-- ----------------------Tab Title-------------- -->
<div class="tab-title">Corners</div>


<!-- -------------------Constrain Corners------------------- -->
<div class="property-row" style="padding-top: 10px; padding-bottom: 9px;">
    <!-- Name --><div style="user-select: none;">Constrain Corners:</div>
    <!-- Value --><input [checked]="_FormService.corners.constrainCorners" (change)="onCheckboxChange()" type="checkbox">
</div>


<!-- -------------------All Corners------------------------ -->
<range-slider *ngIf="_FormService.corners.constrainCorners" style="border-bottom: 1px solid #363636;"
    class="property-row"
    [rowName]="'All Corners'"
    [minRange]="0"
    [formServiceProperty]="_FormService.corners.topLeft"
    (out)="_FormService.corners.topLeft = _FormService.corners.topRight = _FormService.corners.bottomRight = _FormService.corners.bottomLeft = $event">
</range-slider>


<!-- If corners are NOT constrained -->
<div *ngIf="!_FormService.corners.constrainCorners">


    <!-- -------------------Top Left------------------------ -->
    <range-slider 
        class="property-row"
        [rowName]="'Top Left'"
        [minRange]="0"
        [formServiceProperty]="_FormService.corners.topLeft"
        (out)="_FormService.corners.topLeft = $event">
    </range-slider>


    <!-- -------------------Top Right------------------------ -->
    <range-slider 
        class="property-row"
        [rowName]="'Top Right'"
        [minRange]="0"
        [formServiceProperty]="_FormService.corners.topRight"
        (out)="_FormService.corners.topRight = $event">
    </range-slider>


    <!-- -------------------Bottom Right------------------------ -->
    <range-slider 
        class="property-row"
        [rowName]="'Bottom Right'"
        [minRange]="0"
        [formServiceProperty]="_FormService.corners.bottomRight"
        (out)="_FormService.corners.bottomRight = $event">
    </range-slider>


    <!-- -------------------Bottom Left------------------------ -->
    <range-slider 
        class="property-row" style="border-bottom: 1px solid #363636;"
        [rowName]="'Bottom Left'"
        [minRange]="0"
        [formServiceProperty]="_FormService.corners.bottomLeft"
        (out)="_FormService.corners.bottomLeft = $event">
    </range-slider>
</div>