<div class="content form-page">
    <!-- Logo -->
    <img src="assets/Logo.png" routerLink="" title="Niche Shack Homepage">

    <!-- Error -->
    <div *ngIf="errorResponse" class="error-box">
        <i class="fas fa-exclamation-triangle"></i>
        <div>{{errorResponse.error}}

            <div *ngIf="errorResponse && errorResponse.status == 401"
            class="resend-email"
            (click)="resendEmail()">
                Click here to resend the account activation email.
            </div>
        </div>
    </div>


    <div *ngIf="emailSent" class="email-sent">
        <i class="fas fa-check"></i>
        The account activation email has been resent to {{account.email}}. If you don't see this email in your inbox, check your junk or spam folder.
    </div>



    <form (ngSubmit)="onSubmit()" #form="ngForm">
        <h1>Sign In</h1>

        <!-- Email -->
        <h4 *ngIf="valid(email); else invalidEmail">Email:</h4>

        <!-- Invalid email -->
        <ng-template #invalidEmail>
            <h4 class="error">Please enter a valid email address.</h4>
        </ng-template>
        <input required email [(ngModel)]="account.email" name="email" #email="ngModel">

        <!-- Password -->
        <div *ngIf="valid(password); else invalidPassword" style="width: 88%; margin: auto">
            <h4 style="display: inline;">Password:</h4>
            <a class="niche-shack-gold-color" style="text-decoration: underline; float: right; font-size: 12px;"
                tabindex="10" routerLink="/forgot-password">Forgot your password?</a>
        </div>


        <!-- Invalid password -->
        <ng-template #invalidPassword>
            <h4 class="error">Passwords must be at least 6 characters.</h4>
            <a class="niche-shack-gold-color"
                style="text-decoration: underline; width: 88%; margin-bottom: 5px; font-size: 12px; margin: auto; display: block;"
                tabindex="10" routerLink="/forgot-password">Forgot your password?</a>
        </ng-template>
        <input type="password" required pattern="(?=.*\S).{6,}" [(ngModel)]="account.password" name="password"
            #password="ngModel">

        <!-- Sign in button -->
        <button class="alt-button">Sign in</button>

        <div style="width: 88%; margin: auto">
            <input type="checkbox" (change)="account.isPersistent = !account.isPersistent"
                [checked]="account.isPersistent"><label>Keep me signed in.</label>
        </div>


        <hr>

        <div style="text-align: center; margin-bottom: 8px;">Don’t have an account?</div>
        <button type="button" (click)="onCreateAccountClick()">Create an account</button>
    </form>

    <div class="footer">
        <a routerLink="/terms">Terms of Use</a>
        <a routerLink="/privacy-policy">Privacy Policy</a>
    </div>
</div>