<div class="content form-page">
    <!-- Logo -->
    <img src="assets/Logo.png" routerLink="" title="Niche Shack Homepage">


    <!-- Success -->
    <div *ngIf="success" class="margin-bottom-24 border border-alt-color border-rounded padding-16">
        <i class="fas fa-check margin-right-8 success-color"></i>
        Your new password has been successfully created.
    </div>


    <form (ngSubmit)="onSubmit()" #form="ngForm" [matchValue]="['password', 'reEnteredPassword']">
        <h1>Create New Password</h1>

        <!-- Password -->
        <h4 *ngIf="valid(_password); else invalidPassword">Password:</h4>

        <!-- Invalid password -->
        <ng-template #invalidPassword>
            <h4 class="error">Passwords must be at least 6 characters.</h4>
        </ng-template>
        <input type="password" required pattern="(?=.*\S).{6,}" [(ngModel)]="password" name="password"
            #_password="ngModel" autocomplete="off">

        <div class="fixed-width margin-auto margin-top-n3 margin-bottom-16 font-size-2">
            <i class="fas fa-info margin-right-8 primary-color-light font-italic"></i>
            <span class="alt-color">Passwords must be at least 6 characters.</span>
        </div>



        <!-- Re-enter password -->
        <h4 *ngIf="valid(re_enter_password); else invalidReEnteredPassword">Re-enter password:</h4>

        <!-- Invalid re-entered password -->
        <ng-template #invalidReEnteredPassword>
            <h4 class="error">Please make sure passwords match.</h4>
        </ng-template>
        <input type="password" [(ngModel)]="reEnteredPassword" name="reEnteredPassword" #re_enter_password="ngModel"
            autocomplete="off">


        <!-- Save Button -->
        <button type="submit" class="alt-button">Save changes</button>

    </form>

    <div class="text-center margin-top-16 margin-bottom-16 text-underline disabled-color">
        <a class="margin-right-16" routerLink="/terms">Terms of Use</a>
        <a routerLink="/privacy-policy">Privacy Policy</a>
    </div>
</div>