<div class="display-flex">

    <!-- Vertical Tabs -->
    <div class="vertical-tabs-container">

        <!-- Video -->
        <div title="Video" class="vertical-tab selected-vertical-tab">
            <i class="fas fa-film"></i>
        </div>

        <!-- Margins -->
        <div title="Margins" class="vertical-tab">
            <i class="fas fa-arrow-left"></i>
        </div>

    </div>

    <!-- Panel Light -->
    <div class="panel-light-rounded">

        <!-- <margins></margins> -->
        <media-browser [mediaType]="'video'"></media-browser>
    </div>
</div>

<!-- Buttons -->
<div class="form-button-container">
    <button>Ok</button>
    <button>Cancel</button>
</div>