<div class="display-flex">

    <!-- Vertical Tabs -->
    <div class="vertical-tabs-container">
        <!-- Video -->
        <div title="Video" class="vertical-tab" [ngClass]="{'selected-vertical-tab': showVideo}" (click)="showVideo = true"> <i class="fas fa-film"></i> </div>
        <!-- Margins -->
        <div title="Margins" class="vertical-tab" [ngClass]="{'selected-vertical-tab': !showVideo}" (click)="showVideo = false"> <i class="fas fa-arrow-left"></i> </div>
    </div>


    <!-- Properties -->
    <div class="panel-light-rounded">
        <!-- Video -->
        <media-browser *ngIf="showVideo" [mediaType]="'video'"></media-browser>
        <!-- Margins -->
        <margins *ngIf="!showVideo"></margins>
    </div>
</div>

<!-- Buttons -->
<div class="form-button-container">
    <button>Ok</button>
    <button>Cancel</button>
</div>