<div [ngClass]="{'fade-in': show}" class="modal-background fade" modal [showModal]="show">

    <!-- Menu -->
    <div #showHideElement (keydown)="onKeydown($event)" (blur)="onBlur()" tabindex="0"
        class="background-color-dark position-absolute-identity transform border border-primary-color outline-0"
        [ngClass]="{'translate': show}" style="max-width: 270px;">


        <!-- Close -->
        <div class="background-color-dark-gray padding-top-2 padding-bottom-2 overflow-auto">
            <i (click)="show = false" class="fas fa-times margin-right-2 alt-color float-right"></i>
        </div>


        <!-- Content -->
        <div class="position-absolute-identity" style="top: 40px;">
            <div class="height-100 overflow-auto">

                <!-- Account & Categories -->
                <div *ngIf="!nicheView">
                    <!-- Account Heading -->
                    <h3 class="padding-left-2 alt-color">Account</h3>

                    <!-- Account Navigation -->
                    <account-navigation [show]="true" [showHideElement]="showHideElement"></account-navigation>

                    <!-- Heading -->
                    <h3 class="padding-left-2 alt-color margin-top-4">Categories</h3>


                    <!-- Categories -->
                    <div *ngFor="let category of categories"
                        class="padding-1 padding-left-2 primary-background-color-dark-hover cursor-pointer"
                        (click)="onCategoryClick(category.id)">
                        <span>{{category.name}}</span>
                    </div>
                </div>


                <!-- Main Menu Navigation & Niches -->
                <div *ngIf="nicheView">

                    <!-- Main Menu -->
                    <div class="border-bottom border-gray margin-bottom-2 margin-top-2 padding-2 primary-background-color-dark-hover cursor-pointer"
                        (click)="nicheView = false">
                        <i class="fas fa-arrow-left font-size-md">
                            Main Menu
                        </i>
                    </div>

                    <!-- Category Heading -->
                    <h3 class="padding-left-2 alt-color margin-top-4">{{currentCategory.name}}</h3>

                    <!-- Niches -->
                    <div *ngFor="let niche of niches"
                        class="padding-1 padding-left-2 primary-background-color-dark-hover cursor-pointer"
                        (click)="onNicheClick(niche.id)">
                        <span>{{niche.name}}</span>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>