<div *show="show" transitionClass="fade-end" class="modal-background fade-start" tabindex="0" (onHide)="show = false">

    <!-- Menu -->
    <div class="menu" (mousedown)="$event.stopPropagation()">
        
        <!-- Close -->
        <div class="close-container background-color-dark-gray">
            <i (click)="show = false" class="fas fa-times niche-shack-gold-color"></i>
        </div>


        <!-- Content -->
        <div class="menu-content">
            <div style="height: 100%; overflow: auto;">

                <!-- Account & Categories -->
                <div *ngIf="!nicheView">
                    <!-- Account Heading -->
                    <h3 class="heading">Account</h3>

                    <!-- Account Navigation -->
                    <account-navigation></account-navigation>

                    <!-- Heading -->
                    <h3 class="heading">Categories</h3>


                    <!-- Categories -->
                    <div *ngFor="let category of categories"
                        class="menu-item"
                        (click)="onCategoryClick(category.id)">
                        <span>{{category.name}}</span>
                    </div>
                </div>


                <!-- Main Menu Navigation & Niches -->
                <div *ngIf="nicheView">

                    <!-- Main Menu -->
                    <div class="menu-item"
                        (click)="nicheView = false">
                        <i class="fas fa-arrow-left">
                            Main Menu
                        </i>
                    </div>

                    <!-- Category Heading -->
                    <h3 class="heading">{{currentCategory.name}}</h3>

                    <!-- Niches -->
                    <div *ngFor="let niche of niches"
                        class="menu-item"
                        (click)="onNicheClick(niche.id)">
                        <span>{{niche.name}}</span>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>