<!-- color -->
<div class="property">
    <div class="label">Color:</div>

    <div style="flex: 1;">
        <color-swatch [color]="background.color"></color-swatch>
    </div>
</div>





<!-- Image -->
<div class="property">
    <div class="label">Image:</div>
</div>


<div class="property-box-dark">

    <!-- Icons -->
    <div class="icons">
        <!-- Media browser icon -->
        <div class="icon-container" title="Media Browser">
            <i class="fas fa-image"></i>
        </div>


        <!-- Remove image icon -->
        <div class="icon-container" (click)="background.image = null" title="Remove Image"
            [ngClass]="{'icon-disabled': background.image == null}">
            <i class="fas fa-trash-alt"></i>
        </div>
    </div>


    <!-- Image -->
    <div class="img-container">
        <div *ngIf="background.image" [ngStyle]="{ 'background-image': 'url(images/' + background.image.name + ')'}"
            class="img"></div>
        <div *ngIf="!background.image" class="no-property">No image available</div>
    </div>
</div>


<!-- Image Options -->
<div class="image-options-container" *ngIf="background.image">
    <!-- Position -->
    <div class="property">
        <div class="label">Position</div>
        <div style="flex: 1;">
            <dropdown [height]="20" [keyValue]="positionOptions" [selectedIndex]="selectedPositionIndex"
                (onChange)="background.image.position = $event">
            </dropdown>
        </div>
    </div>




    <!-- Repeat -->
    <div class="property">
        <div class="label">Repeat</div>
        <div style="flex: 1;">
            <dropdown [height]="20" [keyValue]="repeatOptions" [selectedIndex]="selectedRepeatIndex"
                (onChange)="background.image.repeat = $event">
            </dropdown>
        </div>
    </div>





    <!-- Attachment -->
    <div class="property">
        <div class="label">Attachment</div>
        <div style="flex: 1;">
            <dropdown [height]="20" [keyValue]="attachmentOptions" [selectedIndex]="selectedAttachmentIndex"
                (onChange)="background.image.attachment = $event">
            </dropdown>
        </div>
    </div>
</div>