<!-- color -->
<div class="property">
    <div class="label">Color:</div>

    <div style="flex: 1;">
        <color-swatch [color]="background.color"></color-swatch>
    </div>
</div>



<!-- Image label -->
<div class="property">
    <div class="label">Image:</div>
</div>


<!-- Image -->
<image [image]="background.image"></image>


<!-- Image Options -->
<ng-container *ngIf="background.image.url">
    <div class="image-options-container">
        <!-- Position -->
        <div class="property">
            <div class="label">Position</div>
            <div style="flex: 1;">
                <dropdown [height]="20" [keyValue]="positionOptions" [selectedIndex]="selectedPositionIndex"
                    (onChange)="background.image.position = $event">
                </dropdown>
            </div>
        </div>




        <!-- Repeat -->
        <div class="property">
            <div class="label">Repeat</div>
            <div style="flex: 1;">
                <dropdown [height]="20" [keyValue]="repeatOptions" [selectedIndex]="selectedRepeatIndex"
                    (onChange)="background.image.repeat = $event">
                </dropdown>
            </div>
        </div>





        <!-- Attachment -->
        <div class="property">
            <div class="label">Attachment</div>
            <div style="flex: 1;">
                <dropdown [height]="20" [keyValue]="attachmentOptions" [selectedIndex]="selectedAttachmentIndex"
                    (onChange)="background.image.attachment = $event">
                </dropdown>
            </div>
        </div>
    </div>
</ng-container>