<!-- Property Box -->
<div class="property-box-dark">

    <!-- Icons -->
    <div class="icons">

        <!-- Link Icon -->
        <div class="icon-container" showPopup [popup]="'showLinkPopup'">
            <i class="fas fa-link"></i>
        </div>
    </div>

    <!-- Link -->
    <div *ngIf="link.url; else placeholder" class="link">
        <a [href]="link.url" target="_blank">{{link.url}}</a>
    </div>


    <!-- Placeholder -->
    <ng-template #placeholder>
        <div class="no-property">No link available</div>
    </ng-template>
</div>