<div *show="_FormService.showImageForm" transitionClass="fade-end" class="fade-start" (onShow)="onFormOpen()">

    <dialog-box [dialogBoxName]="'Image'" [width]="400" (onClose)="onCancel()">
        
        <div class="display-flex">

            <!-- Vertical Tabs -->
            <div class="vertical-tabs-container">
                <!-- Image -->
                <div title="Image" class="vertical-tab" [ngClass]="{'selected-vertical-tab': selectedTab == 'image'}" (click)="onTabSelect('image')"> <i class="fas fa-image"></i> </div>
                <!-- Border -->
                <div title="Border" class="vertical-tab" [ngClass]="{'selected-vertical-tab': selectedTab == 'border'}" (click)="onTabSelect('border')"> <i class="far fa-square"></i> </div>
                <!-- Corners -->
                <div title="Corners" class="vertical-tab" [ngClass]="{'selected-vertical-tab': selectedTab == 'corners'}" (click)="onTabSelect('corners')"> <i class="fas fa-expand"></i> </div>
                <!-- Shadow -->
                <div title="Shadow" class="vertical-tab" [ngClass]="{'selected-vertical-tab': selectedTab == 'shadow'}" (click)="onTabSelect('shadow')"> <i class="fas fa-clone" style="transform: scaleX(-1);"> </i></div>
                <!-- Link -->
                <div title="Link" class="vertical-tab" [ngClass]="{'selected-vertical-tab': selectedTab == 'link'}" (click)="onTabSelect('link')"> <i class="fas fa-link"></i> </div>
                <!-- Margins -->
                <div title="Margins" class="vertical-tab" [ngClass]="{'selected-vertical-tab': selectedTab == 'margins'}" (click)="onTabSelect('margins')"> <i class="fas fa-arrow-left" style="display: flex; align-items: center;"> <span style="font-size: 20px; font-family: Arial">I</span> </i> </div>
            </div>

            <!-- Properties -->
            <div class="panel-light-rounded" style="height: 450px;">
                <!-- Image -->
                <media-browser *ngIf="selectedTab == 'image'" [mediaType]="'image'"></media-browser>
                <!-- Border -->
                <border *ngIf="selectedTab == 'border'"></border>
                <!-- Corners -->
                <corners *ngIf="selectedTab == 'corners'"></corners>
                <!-- Shadow -->
                <shadow *ngIf="selectedTab == 'shadow'"></shadow>
                <!-- Link -->
                <links *ngIf="selectedTab == 'link'" [source]="_FormService.linkSource"></links>
                <!-- Margins -->
                <margins *ngIf="selectedTab == 'margins'"></margins>
            </div>
        </div>

        <!-- Buttons -->
        <div class="form-button-container">
            <button (click)="onCancel()">Cancel</button>
            <button (click)="_FormService.showImageForm = false">Ok</button>
        </div>
    </dialog-box>
</div>