<menu-bar></menu-bar>

<div class="form-page">
    <!-- Form -->
    <form (ngSubmit)="onSubmit()" #form="ngForm">
        <h1>Change Name</h1>

        <!-- First Name -->
        <h4 *ngIf="valid(firstName); else invalidFirstName">First Name:</h4>

        <!-- Invalid first name -->
        <ng-template #invalidFirstName>
            <h4 class="error">Please provide a first name.</h4>
        </ng-template>
        <input required [(ngModel)]="_firstName" name="firstName" #firstName="ngModel" autocomplete="off">



        <!-- Last Name -->
        <h4 *ngIf="valid(lastName); else invalidLastName">Last Name:</h4>

        <!-- Invalid last name -->
        <ng-template #invalidLastName>
            <h4 class="error">Please provide a last name.</h4>
        </ng-template>
        <input required [(ngModel)]="_lastName" name="lastName" #lastName="ngModel" autocomplete="off">


        <!-- Save button -->
        <button>Save</button>
    </form>
</div>