<ng-container *ngFor="let item of items">

    <div [ngClass]="{'child': item.parent, 'show-child': item.parent ? item.parent.showChildren: null}"
        (transitionend)="transitionend($event)" style="position: relative">
        <div class="arrow-button-container" (transitionend)="$event.stopPropagation()">

            <!-- Arrow button -->
            <div *ngIf="!item.childless">
                <input #input type="checkbox" [id]="item.name" [checked]="item.showChildren">
                <label class="arrow-button" [for]="item.name" (click)="showHideChildren(item, input)"></label>
            </div>


            <!-- Item -->
            <div [id]="item.id" class="item" (click)="hierarchy.selectedItem = item"
                [ngClass]="{'selected': hierarchy.selectedItem == item}">
                {{item.name}}
            </div>

            <!-- Loading spinner -->
            <i class="fa fa-spinner fa-pulse fade-start" *show="item.loading" transitionClass="fade-end"></i>
        </div>

        <!-- Hierarchy Content -->
        <hierarchy-content [items]="item.children" [hierarchy]="hierarchy"></hierarchy-content>
    </div>
</ng-container>