<ng-container *ngIf="listOwner$ | async as listOwner">


    <navbar></navbar>

    <div class="page-container">
        <div class="content-container">
            <div class="content" style="max-width: 1440px;">
                <div class="margin-left-24 width-100 position-relative">
                    <h1>{{listOwner}}'s List</h1>


                    <ng-container *ngIf="sortOptions$ | async">


                        <!-- Products -->
                        <ng-container *ngIf="products$ | async as products">
                            <ng-container *ngIf="products.length > 0; else noProducts">

                                <!-- Sort -->
                                <select class="position-absolute" style="top: 40px; right: 0"
                                    [(ngModel)]="selectedSortOption" (change)="setSort()">
                                    <option *ngFor="let sortOption of sortOptions" [ngValue]="sortOption">Sort by
                                        {{sortOption.key}}</option>
                                </select>



                                <div class="border-top ">
                                    <div *ngFor="let product of products" class="border-bottom ">
                                        <div class="display-flex justify-content-between padding-16">
                                            <div class="display-flex flex-wrap">


                                                <!-- Product Image -->
                                                <div class="display-flex align-items-center justify-content-center margin-right-16 flex-shrink-0 cursor-pointer"
                                                    style="width: 150px; height: 150px"
                                                    [routerLink]="['/' + product.urlTitle + '/' + product.id]">
                                                    <img [src]="'/images/' + product.image"
                                                        style="max-width: 150px; max-height: 150px;">
                                                </div>

                                                <!-- Product Title -->
                                                <div class="margin-right-8 text-break">
                                                    <h3 class="text-hover-underline cursor-pointer"
                                                        [routerLink]="['/' + product.urlTitle + '/' + product.id]">
                                                        {{product.title}}</h3>


                                                    <!-- Rating & Reviews -->
                                                    <stars class="margin-right-4" [rating]="product.rating">
                                                    </stars>
                                                    <span class="text-nowrap primary-color-light"
                                                        *ngIf="product.rating > 0">
                                                        {{product.totalReviews | number}} reviews
                                                    </span>


                                                    <!-- Price -->
                                                    <div class="alt-color">
                                                        <div *ngIf="product.maxPrice === 0">
                                                            {{product.minPrice | currency:'USD'}}
                                                        </div>
                                                        <div *ngIf="product.maxPrice > 0">
                                                            {{product.minPrice | currency:'USD'}} -
                                                            {{product.maxPrice | currency:'USD'}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>




                                            <!-- Product Management -->
                                            <div>
                                                <div class="margin-bottom-4 gray-color">Item added
                                                    {{product.dateAdded}}
                                                </div>
                                                <button class="alt-button margin-bottom-8"
                                                    (click)="onBuyClick(product.hoplink)">Visit
                                                    Product Page To Buy</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>


                            <!-- No Products -->
                            <ng-template #noProducts>
                                <div class="text-center font-size-3">0 items in this list</div>
                            </ng-template>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
            <navfooter></navfooter>
        </div>
    </div>
</ng-container>