<ng-container *ngIf="listOwner$ | async as listOwner">


    <navbar></navbar>

    <div class="page-container">
        <div class="content-container">
            <div class="content" style="max-width: 1440px;">
                <div style="width: 100%; position: relative;">
                    <h1>{{listOwner}}'s List</h1>


                    <ng-container *ngIf="sortOptions$ | async">


                        <!-- Products -->
                        <ng-container *ngIf="products$ | async as products">
                            <ng-container *ngIf="products.length > 0; else noProducts">

                                <!-- Sort -->
                                <select style="float: right; position: relative; margin-bottom: 8px"
                                    [(ngModel)]="selectedSortOption" (change)="setSort()">
                                    <option *ngFor="let sortOption of sortOptions" [ngValue]="sortOption">Sort by
                                        {{sortOption.key}}</option>
                                </select>



                                <div class="products-container">
                                    <div *ngFor="let product of products" style="border-bottom: 1px solid #4f4f4f">
                                        <div class="product-row">
                                            <div class="product">

                                                <!-- Product Image -->
                                                <div class="image"
                                                    [routerLink]="['/' + product.urlTitle + '/' + product.id]">
                                                    <img [src]="'/images/' + product.image">
                                                </div>

                                                <!-- Product Title -->
                                                <div class="title text-break width-100 width-auto-sm">
                                                    <div class="title-text"
                                                        [routerLink]="['/' + product.urlTitle + '/' + product.id]">
                                                        {{product.title}}</div>


                                                    <!-- Rating & Reviews -->
                                                    <stars style="margin-right: 4px; display: block;" [rating]="product.rating">
                                                    </stars>
                                                    <span class="primary-color-light" style="white-space: nowrap;"
                                                        *ngIf="product.rating > 0">
                                                        {{product.totalReviews | number}} reviews
                                                    </span>


                                                    <!-- Price -->
                                                    <div class="niche-shack-gold-color">
                                                        <div *ngIf="product.maxPrice === 0">
                                                            {{product.minPrice | currency:'USD'}}
                                                        </div>
                                                        <div *ngIf="product.maxPrice > 0">
                                                            {{product.minPrice | currency:'USD'}} -
                                                            {{product.maxPrice | currency:'USD'}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>




                                            <!-- Product Management -->
                                            <div>
                                                <div class="gray-color" style="margin-bottom: 4px;">Item added
                                                    {{product.dateAdded}}
                                                </div>
                                                <button class="alt-button"
                                                    (click)="onBuyClick(product.hoplink)">Visit
                                                    Product Page To Buy</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>


                            <!-- No Products -->
                            <ng-template #noProducts>
                                <div style="text-align: center; font-size: 16px;">0 items in this list</div>
                            </ng-template>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
            <navfooter></navfooter>
        </div>
    </div>
</ng-container>