<div *ngFor="let category of categories.visible">
    <div style="margin-bottom: 10px;">
        <!-- Any category -->
        <div *ngIf="route.snapshot.queryParams.categoryId || route.snapshot.queryParams.nicheId" class="gold-text"
            (click)="onAnyCategoryClick()">Any category</div>

        <div></div>

        <!-- Category name -->
        <div class="category text" (click)="onCategoryClick(category)">{{category.name}}</div>


        <!-- Display all visible niches -->
        <div *ngFor="let niche of category.niches.visible">
            <div class="margin-left" (click)="onNicheClick(niche)"
                [ngClass]="{'text': !route.snapshot.queryParams.nicheId}">
                {{niche.name}}
            </div>
        </div>

        <!-- If show hidden is true -->
        <ng-container *ngIf="category.niches.showHidden">
            <div *ngFor="let niche of category.niches.hidden" class="show"
                [style.maxHeight.px]="!niche.visible ? 0 : 21" [style.opacity]="!niche.visible ? 0 : 1"
                (transitionend)="nichesTransitionend(niche, category.niches)">

                <div class="margin-left text" (click)="onNicheClick(niche)">
                    {{niche.name}}
                </div>
            </div>
        </ng-container>

        <!-- See all / see fewer -->
        <div *ngIf="category.niches.hidden" class="margin-left gold-text" (click)="seeAllFewerNiches(category.niches)">
            {{category.niches.hidden[0].visible ? 'See fewer ' + category.name : 'See all ' + category.name}}</div>
    </div>
</div>



<div style="margin-bottom: 10px;">

    <!-- See all categories -->
    <ng-container *ngIf="seeAllCategories">

        <!-- Display hidden categories -->
        <div *ngFor="let category of categories.hidden" class="show" [style.maxHeight.px]="!category.visible ? 0 : 21"
            [style.opacity]="!category.visible ? 0 : 1" (transitionend)="categoriesTransitionend(category)">
            <div class="category text" (click)="onCategoryClick(category)">{{category.name}}</div>
        </div>
    </ng-container>


    <!-- See all/ see fewer categories -->
    <div *ngIf="categories.hidden" class="gold-text" (click)="seeAllFewerCategories()">
        {{categories.hidden[0].visible ? 'See fewer categories' : 'See all categories'}}</div>
</div>