@import '../../../../scss/variables';

.gold-text {
    color: $niche-shack-gold;
    text-decoration: underline;
    cursor: pointer;
    display: inline-block;
}


.category {
    color: white;
    font-weight: bold;
    font-size: 15px;
}


.margin-left {
    margin-left: 15px;
}

.text {
    display: inline-block;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}