<div style="margin-bottom: 10px;">
    <div *ngFor="let category of categories">

        <!-- Category name -->
        <div class="text">
            <div style="display: inline-block" (click)="onCategoryClick(category)" class="highlight">{{category.name}}</div>
        </div>
    
        <!-- Niche -->
        <div *ngFor="let niche of category.niches">
            <div class="margin-left text" (click)="onNicheClick(niche)">
                {{niche.name}}
            </div>
        </div>
    
    
    
    </div>
</div>

