<div style="background: #343434;">
    <div class="light-tabs-container">
        <!-- Normal Tab -->
        <div class="light-tab" [ngClass]="{'selected-light-tab': buttonWidget.currentState == buttonState.Normal}"
            (click)="buttonWidget.currentState = buttonState.Normal">Normal</div>

        <!-- Hover Tab -->
        <div class="light-tab" [ngClass]="{'selected-light-tab': buttonWidget.currentState == buttonState.Hover}"
            (click)="buttonWidget.currentState = buttonState.Hover">Hover</div>

        <!-- Active Tab -->
        <div id="active" class="light-tab"
            [ngClass]="{'selected-light-tab': buttonWidget.currentState == buttonState.Active}"
            (click)="buttonWidget.currentState = buttonState.Active">Active</div>
    </div>
</div>

<!-- Normal Properties -->
<button-widget-normal-properties *ngIf="buttonWidget.currentState == buttonState.Normal" [buttonWidget]="buttonWidget">
</button-widget-normal-properties>


<!-- Hover Colors -->
<button-color *ngIf="buttonWidget.currentState == buttonState.Hover"
    [backgroundColor]="buttonWidget.backgroundHoverColor.value" [borderColor]="buttonWidget.borderHoverColor.value"
    [textColor]="buttonWidget.textHoverColor.value" (onChange)="pageService.save()"></button-color>


<!-- Active Colors -->
<button-color *ngIf="buttonWidget.currentState == buttonState.Active"
    [backgroundColor]="buttonWidget.backgroundActiveColor.value" [borderColor]="buttonWidget.borderActiveColor.value"
    [textColor]="buttonWidget.textActiveColor.value" (onChange)="pageService.save()"></button-color>