<div #queryDropdown
     (mousedown)="onDropdownSelect(queryDropdown)"
     [ngClass]="{'query-lite': !logicalOperator && !(dropdownMenuService.dropdownMenu.isVisible && dropdownMenuService.dropdownMenu.currentObj == this), 
                 'query-dark': logicalOperator && !(dropdownMenuService.dropdownMenu.isVisible && dropdownMenuService.dropdownMenu.currentObj == this),
                 'query-lite-highlight': !logicalOperator && (dropdownMenuService.dropdownMenu.isVisible && dropdownMenuService.dropdownMenu.currentObj == this),
                 'query-dark-highlight': logicalOperator && (dropdownMenuService.dropdownMenu.isVisible && dropdownMenuService.dropdownMenu.currentObj == this)}">
    
    <input [value]="dropdownList[selectedIndex].key + ' '">

    <div class="arrow-base">
        <div class="arrow"></div>
    </div>

    <div class="cover"></div>
</div>