<div [style.background]="getFillColor()"
     [style.border]="applyBorder + borderWidth + 'px ' + borderStyle"
     [style.borderColor]="getBorderColor()"
     [style.borderRadius]="borderTopLeftRadius + 'px ' + borderTopRightRadius + 'px ' + borderBottomRightRadius + 'px ' + borderBottomLeftRadius + 'px'"
     [style.box-shadow]="enableShadow + ' ' + shadowX + 'px ' + shadowY + 'px ' + shadowBlur + 'px ' + shadowSize + 'px '"
     [style.color]="'rgba(' + shadowColor.r + ',' +  shadowColor.g + ',' + shadowColor.b + ',' + shadowColor.a + ')'"
     [style.margin]="marginTop + 'px ' + marginRight + 'px ' + marginBottom + 'px ' + marginLeft + 'px'"
     
     class="widget widget-selected">
    <div class="edit-button fas" (click)="onEdit()"></div>
    <div class="show-hide-button fas fa-eye" [ngClass]="{'fa-eye-slash': false}"></div>
    <!-- <div class="top-left-handle"></div>
    <div class="top-center-handle"></div>
    <div class="top-right-handle"></div>
    <div class="left-handle"></div>
    <div class="bottom-left-handle"></div>
    <div class="bottom-center-handle"></div>
    <div class="bottom-right-handle"></div>
    <div class="right-handle"></div>
    <div class="left-handle-bar"></div>
    <div class="top-handle-bar"></div>
    <div class="right-handle-bar"></div>
    <div class="bottom-handle-bar"></div> -->
    <div [style.fontFamily]="fontFamily"
         [style.fontSize.px]="fontSize"
         [style.fontWeight]="fontWeight"
         [style.fontStyle]="fontStyle"
         [style.color]="getTextColor()"
    >{{caption}}</div>
</div>