<!-- Popup Base -->
<div #popup *show="popupService.hierarchyPopup.show" transitionClass="fade-end" class="popup-base fade-start"
    (onShow)="onPopupShow(popup, arrow)">

    <!-- Arrow -->
    <div #arrow [ngClass]="{'arrow-on-top': arrowOnTop, 'arrow-on-bottom': !arrowOnTop}"></div>

    <!-- Search bar & filter menu -->
    <div class="position-relative">
        <!-- Search bar -->
        <div class="search-bar">
            <input #searchInput id="search-input" class="border-oval-left" autocomplete="off">
            <div (mousedown)="showMenu = true">{{getTypeName(filterType)}}</div>
        </div>


        <!-- Filter menu -->
        <div *show="showMenu" class="fade-start filter-menu" transitionClass="fade-end" tabindex="0"
            (onHide)="showMenu = false" (blur)="showMenu = false">

            <div (mousedown)="$event.stopPropagation()">

                <!-- Category -->
                <div style="margin-bottom: 10px">
                    <radio-button [name]="'filter'" [label]="'Filter by Category'"
                        (change)="filterType = hierarchyItemType.Category; showMenu = false; searchInput.value = ''"
                        [checked]="filterType == hierarchyItemType.Category"></radio-button>
                </div>


                <!-- Niche -->
                <div style="margin-bottom: 10px">
                    <radio-button [name]="'filter'" [label]="'Filter by Niche'"
                        (change)="filterType = hierarchyItemType.Niche; showMenu = false; searchInput.value = ''"
                        [checked]="filterType == hierarchyItemType.Niche"></radio-button>
                </div>


                <!-- Product -->
                <radio-button [name]="'filter'" [label]="'Filter by Product'"
                    (change)="filterType = hierarchyItemType.Product; showMenu = false; searchInput.value = ''"
                    [checked]="filterType == hierarchyItemType.Product"></radio-button>
            </div>
        </div>
    </div>


    <!-- Icons -->
    <div class="icon-bar">
        <!-- Collapse -->
        <div class="icon-container" title="Collapse" (click)="onCollapseButtonClick()"
            [ngClass]="{'icon-disabled': isCollapseButtonDisabled()}">
            <i class="fas fa-minus-square"></i>
        </div>

        <!-- Add -->
        <div class="icon-container" [title]="getAddButtonTitle()" [ngClass]="{'icon-disabled': isAddButtonDisabled()}"
            (click)="onAddItemButtonClick()">
            <i class="fas fa-plus-circle"></i>
        </div>

        <!-- Rename -->
        <div class="icon-container" [title]="selectedItem ? 'Rename ' + getTypeName(selectedItem.type) : 'Rename'"
            [ngClass]="{'icon-disabled': !selectedItem}" (click)="onEditItemClick()">
            <i class="fas fa-pencil-alt"></i>
        </div>


        <!-- Delete -->
        <div class="icon-container" [title]="selectedItem ? 'Delete ' + getTypeName(selectedItem.type) : 'Delete'"
            [ngClass]="{'icon-disabled': !selectedItem}" (click)="onDeleteClick()">
            <i class="fas fa-trash-alt"></i>
        </div>
    </div>


    <!-- Content -->
    <div>
        <!-- Search results close button -->
        <div class="search-results" *ngIf="searchResultsCount != null">
            <div class="results">{{searchResultsCount}} results</div>
            <div class="close-button" title="Clear search results" (click)="clearSearchResults()">x</div>
        </div>

        <hierarchy-content [items]="items" [hierarchy]="this"></hierarchy-content>
    </div>
</div>