<ng-container *ngIf="widgetService.selectedWidget">
    <!-- Row ID -->
    <div class="grooved-container">
        <div class="label">Name:</div>
        <input class="txt-20" [(ngModel)]="widgetService.selectedWidget.column.row.name">
    </div>

    <!-- background -->
    <div id="first-property">
        <enableable-panel [title]="'Background'" [enableableProperty]="widgetService.selectedWidget.column.row.background">
            <background [background]="widgetService.selectedWidget.column.row.background"></background>
        </enableable-panel>
    </div>

    <!-- Border -->
    <border [border]="widgetService.selectedWidget.column.row.border"></border>

    <!-- Corners -->
    <corners [corners]="widgetService.selectedWidget.column.row.corners"></corners>

    <!-- Shadow -->
    <shadow [shadow]="widgetService.selectedWidget.column.row.shadow"></shadow>

    <!-- Position -->
    <position [row]="widgetService.selectedWidget.column.row"></position>

    <!-- Padding -->
    <padding [paddingComponent]="widgetService.selectedWidget.column.row"></padding>

    <!-- Vertical Alignment -->
    <vertical-alignment [row]="widgetService.selectedWidget.column.row"></vertical-alignment>
</ng-container>