<div class="display-flex">

    <!-- Vertical Tabs -->
    <div class="vertical-tabs-container">

        <!-- Banners -->
        <div title="Banners" class="vertical-tab" [ngClass]="{'selected-vertical-tab': showVerticalTab[0]}" (click)="selectVerticalTab(0)"> <i class="fas fa-flag"></i> </div>
        <!-- Image -->
        <div title="Image" class="vertical-tab" [ngClass]="{'selected-vertical-tab': showVerticalTab[1]}" (click)="selectVerticalTab(1)"> <i class="far fa-image"></i> </div>
        <!-- Link -->
        <div title="Link" class="vertical-tab" [ngClass]="{'selected-vertical-tab': showVerticalTab[2]}" (click)="selectVerticalTab(2)"> <i class="fas fa-link"></i> </div>
    </div>

    <!-- Panel Light -->
    <div class="panel-light-rounded">

        <!-- Banners -->
        <ng-container *ngIf="showVerticalTab[0]">
            <div class="tab-title">Banners</div>

            <div class="icon-bar">
                <div class="icon-container" title="Add Banner">
                    <i class="fas fa-plus-circle"></i>
                </div>

                <div class="icon-container" title="Remove Banner">
                    <i class="fas fa-trash-alt"></i>
                </div>
            </div>



            <div class="panel-dark">
                <div>
                    <img src="images/Banner1.jpg">
                </div>
                <div>
                    <img src="images/Banner2.jpg">
                </div>
                <div>
                    <img src="images/Banner1.jpg">
                </div>
                <div>
                    <img src="images/Banner2.jpg">
                </div>
                <div>
                    <img src="images/Banner1.jpg">
                </div>
                <div>
                    <img src="images/Banner2.jpg">
                </div>
                <div>
                    <img src="images/Banner1.jpg">
                </div>
                <div>
                    <img src="images/Banner2.jpg">
                </div>
                <div>
                    <img src="images/Banner1.jpg">
                </div>
                <div>
                    <img src="images/Banner2.jpg">
                </div>
                <div>
                    <img src="images/Banner1.jpg">
                </div>
                <div>
                    <img src="images/Banner2.jpg">
                </div>
            </div>
        </ng-container>

        <!-- Media Browser -->
        <media-browser *ngIf="showVerticalTab[1]" [mediaType]="'image'"></media-browser>
        <!-- Link -->
        <links *ngIf="showVerticalTab[2]"></links>
    </div>
</div>

<!-- Buttons -->
<div class="form-button-container">
    <button>Ok</button>
    <button>Cancel</button>
</div>