<div class="base">

    <div style="height: 152px; margin-bottom: 10px; display: flex;">
        <div #colorContainer class="color-container"  (mousedown)="colorDown($event)">
            <div class="alpha-background"></div>
            <div style="position: absolute; width: 100%; height: 100%;" [style.background]="'hsla(' + hue + ', 100%, 50%,' + alpha + ')'"></div>
            <div class="saturation" [style.opacity]="alpha"></div>
            <div class="lightness" [style.opacity]="alpha"></div>
            <!-- Ring -->
            <div [style.left.%]="ringX" [style.top.%]="ringY" class="ring" [ngClass]="{'ring-dark': ringDark}"></div>
        </div>

        <div #hueContainer class="hue" (mousedown)="hueDown($event)">
        
            <div [style.top.px]="hueSliderY" class="hueSlider"></div>
        </div>

    </div>

    <div style="width: 100%;">
        <!-- R -->
        <div class="property" style="margin-left: 13px;">
            <div class="label" style="margin-right: 9px;">R</div>
            <normalized-number-field [value]="red" (onValueChange)="red = $event; updateRGB('red')" (onSliderDown)="cover.showResizeCover = $event"></normalized-number-field>
        </div>
        <!-- G -->
        <div class="property" style="margin-left: 13px; margin-top: 1px;">
            <div class="label" style="margin-right: 9px;">G</div>
            <normalized-number-field [value]="green" (onValueChange)="green = $event; updateRGB('green')" (onSliderDown)="cover.showResizeCover = $event"></normalized-number-field>
        </div>
        <!-- B -->
        <div class="property" style="margin-left: 13px; margin-top: 1px;">
            <div class="label">B</div>
            <normalized-number-field [value]="blue" (onValueChange)="blue = $event; updateRGB('blue')" (onSliderDown)="cover.showResizeCover = $event"></normalized-number-field>
        </div>
        <!-- A -->
        <div class="property" style="margin-left: 13px; margin-top: 1px;">
            <div class="label">A</div>
            <normalized-number-field [value]="alpha" (onValueChange)="alpha = $event" (onSliderDown)="cover.showResizeCover = $event"></normalized-number-field>
        </div>
        <!-- Hex -->
        <div class="property" style="margin-top: 1px;">
            <div class="label">Hex</div>
            <input [value]="hexFocus ? hex : '#' + hex" class="txt-20" (input)="updateHex($event.target)" spellcheck="false" maxlength="6" (focus)="hexFocus = true;" (blur)="hexFocus = false; editMode = false" (click)="onHexInputClick($event.target)" (select)="editMode = true">
        </div>
    </div>
</div>