<div class="panel-light overflow-auto">

    <!-- Where is the issue? -->
    <fieldset >
        <legend>Where is the issue?</legend>
        <input type="text" readonly>
    </fieldset>


    <!-- What is the issue? -->
    <fieldset>
        <legend>What is the issue?</legend>
        <input type="text" readonly>
    </fieldset>


    <!-- Comments (optional) -->
    <fieldset>
        <legend>Comments (optional)</legend>
        <textarea readonly></textarea>
    </fieldset>

    <button class="float-right">View Product</button>

</div>