@import '../../../../scss/variables';
@import '../../../../../../../scss/arrows';

.container {
    display: flex;
    height: 100%;
    margin-right: 3px;
    .base {
        width: 350px;
        background: #1e1e1e;
        height: 100%;
        border: 1px solid $border-color;
        padding: 10px;
        position: relative;

        & ~ .expand-collapse-bar {
            &:after {
                content: '';
                width: 0; 
                height: 0; 
                @extend .arrow-left;
            }

            &:hover {
                &:after {
                    border-right-color: #ffffff;
                }
            }
        }
    }

    .expand-collapse-bar {
        width: 20px;
        background: #252525;
        height: 100%;
        margin-left: 1px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;

        &:first-child {
            &:after {
                content: '';
                width: 0; 
                height: 0; 
                @extend .arrow-right;
            }
        }

        
        &:hover {
            background: lighten(#252525, 5%);

            &:after {
                border-left-color: white;
            }
        }
        
    }
}

.sort-container {
    display: flex;;
    align-items: center;
    justify-content: space-between;
    .close {
        cursor: pointer;
        &:hover {
            color: white;
        }
    }
}

.icon-bar, .sort-container {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 2px groove #343434;
    border-bottom: 2px groove #343434;
    padding: 5px;
}