<div class="container">
    <div class="base">

        <!-- Search bar & filter menu -->
        <div class="position-relative">
            <!-- Search bar -->
            <div class="search-bar">
                <div><i class="fas fa-search"></i></div>
                <input>
                <div></div>
            </div>


            <!-- Filter menu -->
            <div *ngIf="false" class="filter-menu">
                <label>
                    <input type="radio" name="filter">
                    <i class="fas fa-check"></i>
                    Filter by Category
                </label>

                <label>
                    <input type="radio" name="filter">
                    <i class="fas fa-check"></i>
                    Filter by Niches
                </label>

                <label>
                    <input type="radio" name="filter" checked>
                    <i class="fas fa-check"></i>
                    Filter by Products
                </label>
            </div>
        </div>


        <!-- Icons -->
        <div class="icon-bar" *ngIf="true; else sort">
            <!-- Collapse -->
            <div class="icon-container">
                <i class="fas fa-minus-square"></i>
            </div>

            <!-- Trash -->
            <div class="icon-container">
                <i class="fas fa-trash-alt"></i>
            </div>

            <!-- Add -->
            <div class="icon-container">
                <i class="fas fa-plus-circle"></i>
            </div>

        </div>

        <ng-template #sort>
            <div class="sort-container">
                <div class="margin-right-2">sort by:</div>
                <div class="flex-fill">
                    <select>
                        <option>Price: low to high</option>
                    </select>
                </div>

                <div class="close">x</div>
            </div>
        </ng-template>

        <!-- Content -->
        <ng-content></ng-content>
    </div>


    <!-- Expand / collapse bar -->
    <div class="expand-collapse-bar"></div>

</div>