<div class="container">
    <div class="base">

        <!-- Search bar -->
        <div class="search-bar">
            <div><i class="fas fa-search"></i></div>
            <input>
            <div></div>
        </div>


        <!-- Filter menu -->
        <div class="filter-menu">
            <label>
                <input type="radio" name="filter">
                <i class="fas fa-check"></i>
                Filter by Category
            </label>

            <label>
                <input type="radio" name="filter">
                <i class="fas fa-check"></i>
                Filter by Niches
            </label>

            <label>
                <input type="radio" name="filter" checked>
                <i class="fas fa-check"></i>
                Filter by Products
            </label>
        </div>

        <!-- Icons -->
        <div class="icon-bar">
            <!-- Collapse -->
            <div class="icon-container">
                <i class="fas fa-minus-square"></i>
            </div>

            <!-- Trash -->
            <div class="icon-container">
                <i class="fas fa-trash-alt"></i>
            </div>

            <!-- Add -->
            <div class="icon-container">
                <i class="fas fa-plus-circle"></i>
            </div>

        </div>


    </div>
    <div class="expand-collapse-bar"></div>

</div>