<!-- <panel #panel [title]="'Filters'" (onClick)="onPanelClick($event)"> -->
    <filters-hierarchy #filtersHierarchy></filters-hierarchy>
    <!-- Property Box -->
    <!-- <div class="property-box-dark"> -->

        <!-- Icons -->
        <!-- <div class="icons"> -->

            <!-- Delete filter Icon -->
            <!-- <div class="icon-container" [ngClass]="{'icon-disabled': filters.length == 0}">
                <i class="fas fa-trash-alt"></i>
            </div> -->

            <!-- Add Filter Icon -->
            <!-- <div class="icon-container" (click)="onAddFilterClick($event.target)">
                <i class="fas fa-minus-square"></i>
            </div> -->
        <!-- </div> -->

        <!-- <div *ngIf="filters.length > 0; else placeholder" class="filters-container"> -->

            <!-- Filters -->
            <!-- <div *ngFor="let filter of filters" class="filter">
                {{filter.name}}

                
                <div *ngFor="let option of filter.options" class="filter-option">
                    <div>{{option.name}}</div>
                </div>
            </div> -->
            
        <!-- </div> -->


        <!-- Placeholder -->
        <!-- <ng-template #placeholder>
            <div class="no-property">No filters available</div>
        </ng-template> -->
    <!-- </div> -->
<!-- </panel> -->