<panel #panel [title]="'Filters'">
    <!-- Property Box -->
    <div class="property-box-dark">

        <!-- Icons -->
        <div class="icons">

            <!-- Delete filter Icon -->
            <div class="icon-container" [ngClass]="{'icon-disabled': filters.length == 0}">
                <i class="fas fa-trash-alt"></i>
            </div>

            <!-- Add Filter Icon -->
            <div class="icon-container" (click)="onAddFilterClick($event.target)">
                <i class="fas fa-plus-circle"></i>
            </div>
        </div>

        <div *ngIf="filters.length > 0; else placeholder" class="filters-container">

            <!-- Filters -->
            <!-- <div *ngFor="let filter of filters" class="filter">
                {{filter.name}}

                
                <div *ngFor="let option of filter.options" class="filter-option">
                    <div>{{option.name}}</div>
                </div>
            </div> -->
            <filters-hierarchy [filters]="filters" (onExpandCollapse)="panel.onContentLoad()"></filters-hierarchy>
        </div>


        <!-- Placeholder -->
        <ng-template #placeholder>
            <div class="no-property">No filters available</div>
        </ng-template>
    </div>
</panel>