<div class="rounded-container-dark">
    <!-- Niche Label -->
    <span class="label">Niche:</span>

    <!-- Niche Name -->
    <span class="name">{{hierarchyItem.name}}</span>
</div>

<!-- Page, Row, Column, and Widget buttons -->
<div class="rounded-container-light">
    <div class="button-left">Lead Page</div>
    <div class="button-center">Row</div>
    <div class="button-center">Column</div>
    <div class="button-right">Widget</div>
</div>

<!-- Preview & Publish buttons -->
<div class="grooved-container">
    <div class="button-left">Preview</div>
    <div class="button-right">Publish</div>
</div>

<panel #panel [title]="'Lead Pages'">
    <!-- Property Box -->
    <div class="property-box-light">


        <!-- Container for paginator & icons -->
        <div class="container">

            <paginator [itemCount]="0"></paginator>

            <!-- Icons -->
            <div class="icons">

                <!-- Delete Page Icon -->
                <div class="icon-container">
                    <i class="fas fa-trash-alt"></i>
                </div>

                <!-- Duplicate Page Icon -->
                <div class="icon-container">
                    <i class="fas fa-clone"></i>
                </div>

                <!-- Add Page Icon -->
                <div class="icon-container">
                    <i class="fas fa-plus-circle"></i>
                </div>
            </div>
        </div>

        <div class="light-tabs-container">
            <div class="light-tab selected-light-tab">Lead Page</div>
            <div class="light-tab">Email</div>
        </div>

        <div class="tab-content">

            <!-- Niche Name -->
            <div class="tab-item">
                <div class="label" style="margin-left: 30px;">Name:</div>
                <input class="txt-20">
            </div>

            <!-- Page Width -->
            <div class="tab-item">
                <div class="label">Page Width:</div>
                <div style="flex: 1;">
                    <editable-number-field></editable-number-field>
                </div>

            </div>

            <!-- Background -->
            <div class="tab-item">
                <div class="label">Background:</div>
                <div style="max-width: 150px; width: 100%; display: flex; justify-content: space-between;">
                    <radio-button [name]="'background-option'" [label]="'Color'" [checked]="backgroundType == 'color'"
                        (change)="backgroundType = 'color'; onBackgroundChange(panel)"></radio-button>
                    <radio-button [name]="'background-option'" [label]="'Image'" [checked]="backgroundType == 'image'"
                        (change)="backgroundType = 'image'"></radio-button>
                </div>
            </div>


            <!-- Background color -->
            <div *ngIf="backgroundType == 'color'" class="tab-item" style="justify-content: flex-end;">
                <div style="width: 150px">
                    <color-swatch></color-swatch>
                </div>
            </div>


            <!-- Background Image -->
            <div *ngIf="backgroundType == 'image'" class="property-box-dark">

                <!-- Media browser icon -->
                <div class="icons">
                    <div class="icon-container" (click)="openMediaBrowser()">
                        <i class="fas fa-image"></i>
                    </div>
                </div>


                <!-- Image -->
                <div class="img-container">
                    <img [src]="'images/8a3ef166494a4baaad3fd74ee06b25f4.png'" (load)="panel.onContentLoad()">
                </div>
            </div>



        </div>

    </div>
</panel>