<div class="rounded-container-light">
    <!-- Niche Label -->
    <div class="label">Niche:</div>

    <!-- Niche Name -->
    <div class="name">{{hierarchyItem.name}}</div>
</div>


<ng-container *ngIf="niche">
    <!-- Image -->
    <panel [title]="'Image'">

        <!-- Save & Publish buttons -->
        <div class="grooved-container">
            <div class="button-center">Publish</div>
        </div>


        <!-- Category Icon -->
        <image [image]="niche.icon" [mediaType]="mediaType.NicheImage" [noDelete]="true" (onChange)="onChange()">
        </image>
    </panel>




    <!-- Lead Page editor -->
    <panel [title]="'Lead Page'">
        <lead-page-editor [nicheId]="niche.id"></lead-page-editor>
    </panel>
</ng-container>