.label {
    color: #c2c2c2;
    font-size: 12px;
    margin-right: 5px;
}

.name {
    color: #4d9ce0;
    font-size: 11px;
}

.rounded-container-light {
    display: flex;
    align-items: center;
}