<div class="container" *ngIf="product">
    <!-- Save & Publish buttons -->
    <div class="grooved-container">
        <div class="button-center">Publish</div>
    </div>

    <!-- Vendor -->
    <product-vendor id="first-property" [product]="product"></product-vendor>

    <!-- Hoplink -->
    <product-hoplink [product]="product"></product-hoplink>


    <!-- Filters -->
    <filters-hierarchy [product]="product"></filters-hierarchy>


    <!-- Content -->
    <panel [title]="'Content'">
        <product-content [product]="product">
        </product-content>
    </panel>



    <!-- Image -->
    <product-image [product]="product"></product-image>


    <!-- Media -->
    <panel [title]="'Media'">
        <product-media [product]="product"></product-media>
    </panel>


    <!-- Keywords -->
    <product-keywords [product]="product"></product-keywords>


    <!-- Subgroups -->
    <product-subgroups [product]="product"></product-subgroups>


    <!-- Description -->
    <product-description #productDescription></product-description>
</div>