<div class="container" *ngIf="product">
    <!-- Save & Publish buttons -->
    <div class="grooved-container">
        <div class="button-left" (click)="onSaveClick()">Save</div>
        <div class="button-right">Publish</div>
    </div>

    <!-- Vendor -->
    <product-vendor id="first-property" [vendor]="product.vendor"></product-vendor>

    <!-- Hoplink -->
    <product-hoplink [product]="product"></product-hoplink>


    <!-- Filters -->
    <filters-hierarchy [productId]="product.id"></filters-hierarchy>


    <!-- Content -->
    <product-content [content]="product.content" [pricePoints]="product.pricePoints">
    </product-content>


    <!-- Media -->
    <product-media [media]="product.media"></product-media>


    <!-- Keywords -->
    <product-keywords [productId]="product.id"></product-keywords>


    <!-- Description -->
    <product-description #description></product-description>
</div>