<menu-bar></menu-bar>

<!-- <dialog-box [dialogBoxName]="'Product Report'">
    <product-report-form></product-report-form>
</dialog-box> -->


<!-- <dialog-box [dialogBoxName]="'Featured Products'">
    <featured-products-form></featured-products-form>
</dialog-box> -->



<!-- <dialog-box [dialogBoxName]="'Link'" [width]="353">
    <link-form></link-form>
</dialog-box> -->

<!-- <notifications></notifications> -->

<!-- <context-menu></context-menu> -->


<div style="background-color: #272727; left: 5px; top: 42px; right: 5px; bottom: 5px; position: absolute; padding: 5px; display: flex; flex-direction: column;">

    <div style="background-color: #3a3a3a; border: 1px solid #505050; width: 100%; height: 40px; display:flex; align-items: center; justify-content: center;">

        <div style="width: 101px; height: 20px; display:flex; align-items: center; justify-content: space-between;">
            <input type="text" style="width: 43px; height: 100%; cursor: default;" readonly>
            <span style="font-family: 'Copperplate Gothic light'; font-size: 12px; user-select: none;">x</span>
            <input type="text" style="width: 43px; height: 100%; cursor: default;" readonly>
        </div>

        <button style="position: absolute; right: 15px; width: 90px;">Preview</button>
            
    </div>

    
    <div style="width: 100%; height: 100%; margin-top: 2px; display: flex">
    
        <div style="background-color: #363636; border: 1px solid #585858; width: 55px; height: 100%; margin-right: 2px; display:flex; align-items: center; flex-direction: column;">
        
            
            <div title="Text box" style="border: 1px dashed; width: 23px; height: 15px; margin-top: 12px; font-size: 10px; display: flex; align-items: center; justify-content: center;">
                abc
            </div>


            <div title="Button" style="background: #555555; border: 1px solid; border-radius: 5px; width: 23px; height: 15px; margin-top: 22px; font-size: 10px; display: flex; align-items: center; justify-content: center;">
                B
            </div>

            <i title="Media Browser" class="fas fa-photo-video icon-container" style="margin-top: 22px; font-size: 20px;"></i>


            <i title="Rect" class="fas fa-square-full icon-container" style="margin-top: 22px; font-size: 20px;"></i>




            <i title="Line" class="fas fa-slash icon-container" style="margin-top: 22px; font-size: 20px;"></i>



            <div title="Carousel" class="carousel"></div>

            <div class="icon-container" style="width: 22px; height: 21px; margin-top: 22px; font-size: 20px;">
            
                <i title="Product Groups" class="fas fa-layer-group" style="padding-left:12px"></i>

                <div class = "arrow-up" style="margin-top: 22px; transform: scale(0.5, 0.5) translate(-5px, 7px) rotate(145deg);"></div> 

            </div>

            <i title="Categories" class="fas fa-th icon-container" style="margin-top: 22px; font-size: 20px;"></i>


            <i title="Query" class="fab fa-searchengin icon-container" style="margin-top: 22px; font-size: 20px;"></i>


            

        </div>

        <div style="width: 100%; height: 100%; display: flex; flex-direction: column;">
        
            <div style="background-color: #343434; border: 1px solid #4f4f4f; width: 100%; height: 31px; margin-bottom: 2px;"></div>

            <div style="padding-left: 27px; padding-right: 27px; background-color: #202020; border: 1px solid #4f4f4f; width: 100%; height: 100%; display: flex;">
            
                <div style="width: 16px; height: 100%; background-color: #343434; display:flex; align-items: center; justify-content: center;">
                    <div style="width: 8px; height: 25px; position: absolute; display: flex">
                        <div style="width: 1px; height: 100%; background: #777777;"></div>
                        <div style="width: 1px; height: 100%; background: black;"></div>

                        <div style="left: 3px; width: 1px; height: 100%; background: #777777; position: absolute;"></div>
                        <div style="left: 4px; width: 1px; height: 100%; background: black; position: absolute;"></div>

                        <div style="left: 6px; width: 1px; height: 100%; background: #777777; position: absolute;"></div>
                        <div style="left: 7px; width: 1px; height: 100%; background: black; position: absolute;"></div>
                    </div>
                </div>


                <div style="background-color: white; width: 100%; height: 100%;"></div>


                <div
                    style="width: 16px; height: 100%; background-color: #343434; display:flex; align-items: center; justify-content: center;">
                    <div style="width: 8px; height: 25px; position: absolute; display: flex">
                        <div style="width: 1px; height: 100%; background: #777777;"></div>
                        <div style="width: 1px; height: 100%; background: black;"></div>

                        <div style="left: 3px; width: 1px; height: 100%; background: #777777; position: absolute;"></div>
                        <div style="left: 4px; width: 1px; height: 100%; background: black; position: absolute;"></div>

                        <div style="left: 6px; width: 1px; height: 100%; background: #777777; position: absolute;"></div>
                        <div style="left: 7px; width: 1px; height: 100%; background: black; position: absolute;"></div>
                    </div>
                </div>
            
            </div>
        
        </div>

        
    
    </div>

    



</div>