<!-- Menu Bar -->
<menu-bar></menu-bar>

<div style="position: absolute; top: 33px; right: 0; bottom: 0; left: 0; display: flex; justify-content: flex-end;">
    <div style="flex: 1; position: relative;">
        <designer></designer>
    </div>
    <div style="flex-basis: 15%; max-width: 15%; background: #252525;">

       <page-editor></page-editor>
        


    </div>

</div>

<context-menu></context-menu>

<dropdown-menu></dropdown-menu>

<color-picker-popup></color-picker-popup>



<cover></cover>