<div style="position: absolute; top: 33px; right: 0; bottom: 0; left: 0; display: flex; justify-content: flex-end;">
    <div style="flex: 1; position: relative;">
        <designer></designer>
    </div>
    <div class="properties-editor-container">
        <properties-editor>
            <page-editor></page-editor>
        </properties-editor>
    </div>

</div>

<context-menu></context-menu>

<dropdown-menu></dropdown-menu>

<color-picker-popup></color-picker-popup>

<link-popup></link-popup>

<search-popup></search-popup>

<media-browser-popup></media-browser-popup>


<cover></cover>

<prompt></prompt>