.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .page-content-container {
        text-align: center;
        margin: 16px;

        img {
            margin: 48px 0;
            cursor: pointer;
        }
    }
}