<div class="position-absolute-identity display-flex justify-content-center flex-wrap">
    <div class="text-center margin-3">
        <!-- Logo -->
        <img src="assets/Logo.png" class="margin-top-5 margin-bottom-5" style="margin-top: 50px;" routerLink="" title="Niche Shack Homepage">

        <div class="alt-color font-bold" style="font-size: 3.75rem;">Ooops!</div>
        <div class="font-size-7 margin-bottom-3">An error occurred while processing your request</div>
        <div>
            <button class="alt-button" onclick="location.reload()">Try Again</button>
            <div class="margin-left-3 margin-right-3 font-size-7 margin-bottom-2">or</div>
            <button class="alt-button" (click)="onHomepageClick()">Go to our homepage</button>
        </div>
    </div>
</div>