.base {
    position: absolute;
    background:  rgba(27, 27, 27, 0.91);
    width: 200px;
    border-radius: 5px;
    padding: 10px;
    z-index: 100;
}


.arrow-on-top {
    position: absolute;
    top: -20px;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color:   transparent  transparent rgba(27, 27, 27, 0.91) transparent;
}

.arrow-on-bottom {
    position: absolute;
    top: 100%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color:  rgba(27, 27, 27, 0.91) transparent transparent transparent;
}