<!-- background -->
<div id="first-property">
    <enableable-panel [title]="'Background'" [enableableProperty]="containerWidget.background">
        <background [background]="containerWidget.background"></background>
    </enableable-panel>
</div>

<!-- Border -->
<border [border]="containerWidget.border"></border>

<!-- Corners -->
<corners [corners]="containerWidget.corners"></corners>

<!-- Shadow -->
<shadow [shadow]="containerWidget.shadow"></shadow>

<!-- Dimensions -->
<dimensions [widget]="containerWidget"></dimensions>

<!-- Columns -->
<columns [column]="containerWidget.column"></columns>

<!-- Padding -->
<padding [paddingComponent]="containerWidget"></padding>

<!-- Visibility -->
<visibility [column]="containerWidget.column"></visibility>