<div class="overflow-container">
    <div style="display: flex;">
        <div>
            <div *ngFor="let listItem of listItems; let listItemIndex = index" style="width: 22px; height: 22px; padding-top: 5px; padding-left: 5px;">
                <checkbox (mouseover)="isOverIconButton = true" 
                          (mouseout)="onIconButtonMouseOut()" 
                          [checked]="checkList[listItemIndex]"
                          (change)="checkList[listItemIndex] = $event.target.checked">
                </checkbox>
            </div>
        </div>

        <table (contextmenu)="$event.preventDefault()" 
               (mouseup)="setContextMenu($event)">
               
            <tr *ngFor="let listItem of listItems; let listItemIndex = index">
                <td #rowItem
                    tabindex="-1"
                    (blur)="onListItemBlur()"
                    (mousedown)="onListItemDown(listItemIndex)"
                    [textContent]="listItem.name"
                    (dblclick)="onListItemDoubleClick()"
                    [ngClass]="{'selected-listItem': selectedListItemIndex == listItemIndex,
                                'unselected-listItem': unselectedListItemIndex == listItemIndex,
                                'selected-listItem-top': listItem.selectType == selectType.Top,
                                'selected-listItem-whole': listItem.selectType == selectType.Whole,
                                'selected-listItem-middle': listItem.selectType == selectType.Middle,
                                'selected-listItem-bottom': listItem.selectType == selectType.Bottom}">
                </td>
            </tr>
        </table>
    </div>
</div>