@import '../../../../scss/variables';

.container {
    padding: 50px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #1b1b1b;
    overflow: auto;

    .product-container {
        width: 100%;
        display: flex;
        .media {
            height: 500px;
            overflow: auto;
            flex: 1;
            max-width: 100px;

            .thumbnail {
                width: 88px; 
                height: 50px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 40px;
                color: white;
                cursor: pointer;
                
            
                &:not(:last-child) {
                    margin-bottom: 14px;
                }
                
            
                i {
                    -webkit-text-stroke: 1px #808080;
                }
            }

            .no-thumbnail {
                font-size: 11px;
                border: 1px solid #6b6b6b;
                color: #b9b9b9;
                text-align: center;
            }

            .selected-thumbnail {
                outline: 5px solid $selected-border-color;
                outline-offset: -5px;
            }
        }



        .img-container {
            width: 100%;
            max-width: 880px;
            max-height: 500px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 15px;
            flex: 1;
    
            img {
                width: 100%;
                max-width: 880px;
                max-height: 500px;
                object-fit: contain;
            }
    
    
    
            iframe{
                width: 100%;
                height: 100%;
            }
        }
    
        .product-info {
            &:not(:first-child) {
                flex: 0.4;
            }
            
            .title {
                word-break: break-word;
                overflow-wrap: break-word;
                font-weight: bold;
                color: white;
                font-size: 24px;
            }
            
            .reviews {
                white-space: nowrap;
                color: #e700c7;
            }
        
            .price {
                color: $niche-shack-gold;
            }

            .product-button {
                background: linear-gradient(#ffdd80, #bf8c00);
                color: #402f00;
                border-radius: 0.25rem;
                border: none;
                padding: 0.4rem 0.8rem;
                outline: 0;
                white-space: nowrap;
                font-weight: bold;
                margin: 8px 0;
                width: fit-content;
                cursor: pointer;
            }

            .description {
                color: #dadada;
                margin-top: 8px;
            }
        }
    }

    
    h3 {
        color: $niche-shack-gold;
        margin-top: 48px;
    }
    
    .price-points-container {
        margin-bottom: 24px;
        margin-right: 8px;
        margin-left: 8px;
        border: 1px solid #464646;
        background: #1f1f1f;

        .price-points {
            color: #bababa;
            font-size: 14px;
            font-weight: bold;
            text-align: center;
            padding: 8px;
            background: #242424;
            border-bottom: 1px solid #464646;
        }

        .content-item {
            display: flex;
            align-items: center;

            .img-container {
                width: 16px;
                height :16px;

                img {
                    display: block;
                }
            }

            .content-title {
                margin-left: 5px;
            }
        }
    }
}