<div *ngIf="productService.product" class="container">
    <div class="product-container">

        <!-- Media -->
        <ng-container *ngIf="productService.product.media.length > 0">
            <!-- Thumbnails -->
            <div *ngIf="productService.product.media.length > 1" class="media">


                <ng-container *ngFor="let media of productService.product.media">
                    <div *ngIf="media.url || media.thumbnail" class="thumbnail"
                        [ngStyle]="{ 'background-image': 'url(images/' + (media.type == mediaType.Video ? media.thumbnail : media.url) + ')'}"
                        [ngClass]="{'selected-thumbnail': media == productService.product.selectedMedia}"
                        (click)="onThumbnailClick(media)" [title]="media.name">
                        <i *ngIf="media.type == mediaType.Video" class="far fa-play-circle"></i>
                    </div>
                    <div *ngIf="!media.url && !media.thumbnail" class="thumbnail no-thumbnail"
                        [ngClass]="{'selected-thumbnail': media == productService.product.selectedMedia}">
                        No thumbnail available
                    </div>
                </ng-container>


            </div>

            <!-- Media display -->
            <div class="media-container">
                <ng-container
                    *ngIf="productService.product.selectedMedia.url || productService.product.selectedMedia.safeUrl; else noMedia">


                    <!-- Image -->
                    <img *ngIf="productService.product.selectedMedia.type == mediaType.ProductMediaImage"
                        [src]="'/images/' + productService.product.selectedMedia.url"
                        [alt]="productService.product.selectedMedia.name"
                        [title]="productService.product.selectedMedia.name">

                    <!-- Video -->
                    <div class="video-container" *ngIf="productService.product.selectedMedia.type == mediaType.Video">
                        <!-- Had to add extra div here because vimeo script was adding padding -->
                        <div>
                            <iframe [src]="productService.product.selectedMedia.safeUrl" frameborder="0"
                                allowfullscreen></iframe>
                        </div>
                    </div>


                </ng-container>

                <ng-template #noMedia>
                    <div>No media available</div>
                </ng-template>
            </div>
        </ng-container>




        <!-- Product -->
        <div class="product-info">
            <!-- Title -->
            <div class="title">{{productService.product.name}}</div>

            <ng-container *ngIf="productService.product.totalReviews > 0">
                <!-- Rating -->
                <stars [rating]="productService.product.rating"></stars>

                <!-- Reviews -->
                <span class="reviews" style="margin-left: 4px;" *ngIf="productService.product.rating > 0">
                    {{productService.product.totalReviews | number}} reviews
                </span>
            </ng-container>



            <!-- Price -->
            <div class="price">
                <div *ngIf="productService.product.maxPrice == 0">
                    {{productService.product.minPrice | currency:'USD'}}
                </div>
                <div *ngIf="productService.product.maxPrice > 0">
                    {{productService.product.minPrice | currency:'USD'}} -
                    {{productService.product.maxPrice | currency:'USD'}}
                </div>


            </div>

            <div *ngIf="productService.product.hoplink" class="product-button"
                (click)="onBuyClick(productService.product.hoplink)">Visit offical website to buy
            </div>

            <!-- Description -->
            <div class="description" [innerHTML]="productService.product.safeDescription"></div>
        </div>
    </div>

    <!-- Price Points -->
    <price-points [product]="productService.product"></price-points>
</div>