<div *ngIf="productService.product" class="container">
    <div class="product-container">

        <!-- Media -->
        <ng-container *ngIf="productService.product.media.length > 0">
            <!-- Thumbnails -->
            <div *ngIf="productService.product.media.length > 1" class="media">


                <ng-container *ngFor="let media of productService.product.media">
                    <div *ngIf="media.url || media.thumbnail" class="thumbnail"
                        [ngStyle]="{ 'background-image': 'url(images/' + (media.type == mediaType.Video ? media.thumbnail : media.url) + ')'}"
                        [ngClass]="{'selected-thumbnail': media == productService.product.selectedMedia}"
                        (click)="onThumbnailClick(media)" [title]="media.name">
                        <i *ngIf="media.type == mediaType.Video" class="far fa-play-circle"></i>
                    </div>
                    <div *ngIf="!media.url && !media.thumbnail" class="thumbnail no-thumbnail"
                        [ngClass]="{'selected-thumbnail': media == productService.product.selectedMedia}">
                        No thumbnail available
                    </div>
                </ng-container>


            </div>

            <!-- Media display -->
            <div class="media-container">
                <ng-container
                    *ngIf="productService.product.selectedMedia.url || productService.product.selectedMedia.safeUrl; else noMedia">
                    <img *ngIf="productService.product.selectedMedia.type == mediaType.ProductMediaImage"
                        [src]="'/images/' + productService.product.selectedMedia.url"
                        [alt]="productService.product.selectedMedia.name"
                        [title]="productService.product.selectedMedia.name">

                    <iframe *ngIf="productService.product.selectedMedia.type == mediaType.Video" frameborder="0"
                        [src]="productService.product.selectedMedia.safeUrl" allowfullscreen></iframe>
                </ng-container>

                <ng-template #noMedia>
                    <div>No media available</div>
                </ng-template>
            </div>
        </ng-container>




        <!-- Product -->
        <div class="product-info">
            <!-- Title -->
            <div class="title">{{productService.product.name}}</div>

            <ng-container *ngIf="productService.product.totalReviews > 0">
                <!-- Rating -->
                <stars [rating]="productService.product.rating"></stars>

                <!-- Reviews -->
                <span class="reviews" style="margin-left: 4px;" *ngIf="productService.product.rating > 0">
                    {{productService.product.totalReviews | number}} reviews
                </span>
            </ng-container>



            <!-- Price -->
            <div class="price">
                <div *ngIf="productService.product.maxPrice == 0">
                    {{productService.product.minPrice | currency:'USD'}}
                </div>
                <div *ngIf="productService.product.maxPrice > 0">
                    {{productService.product.minPrice | currency:'USD'}} -
                    {{productService.product.maxPrice | currency:'USD'}}
                </div>


            </div>

            <div *ngIf="productService.product.hoplink" class="product-button"
                (click)="onBuyClick(productService.product.hoplink)">Visit Product Page To Buy
            </div>

            <!-- Description -->
            <div class="description" [innerHTML]="productService.product.safeDescription"></div>
        </div>
    </div>

    <div class="disclaimer">*Niche Shack is not the creator/owner of {{productService.product.name}} or any
        of its images and videos. Niche Shack is displaying this product for promotional use only and is
        being compensated for each sale.</div>

    <!-- Product Conent -->
    <ng-container *ngIf="productService.product.content.length > 0">
        <!-- Heading -->
        <h3 [ngStyle]="{'text-align': productService.product.pricePoints.length > 1 ? 'center' : 'left'}">
            {{productService.product.pricePoints.length > 1 ? 'Payment options' : 'Included with your purchase'}}
        </h3>


        <!-- Content -->
        <div [ngClass]="{'product-content-container': productService.product.pricePoints.length > 1}">

            <!-- Price Points -->
            <div *ngFor="let pricePoint of productService.product.pricePoints; let i = index"
                [ngClass]="{'price-points-container': productService.product.pricePoints.length > 1}">


                <div *ngIf="productService.product.pricePoints.length > 1" class="price-points">
                    {{pricePoint.textBefore}} {{pricePoint.wholeNumber + (pricePoint.decimal * 0.01) | currency:'USD'}}
                    {{pricePoint.textAfter}}
                </div>

                <!-- Content Item -->
                <div [style.padding.px]="productService.product.pricePoints.length > 1 ? 8 : 0">
                    <ng-container *ngFor="let content of productService.product.content">

                        <div *ngIf="content.priceIndices[i]" class="content-item">
                            <div class="img-container">
                                <img *ngIf="content.icon.url" [src]="'images/' + content.icon.url">
                            </div>

                            <div class="content-title">
                                {{content.name}}
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </ng-container>
</div>