@each $key in map-keys($breakpoints) {
    $extension: get-class-extension($key);

    @if not($extension == "") {
        .show#{$extension} {
            display: none;
        }
    }

    @include media-breakpoint($key) {
        @if not($extension == "") {
            .hide#{$extension} {
                display: none;
            }
    
            .show#{$extension} {
                display: block;
            }
        }


        @each $value in $displays {
            .display#{$extension}-#{$value} { display: $value; }
        }
    }
}