@each $key in map-keys($breakpoints) {
    @include media-breakpoint($key) {
        $extension: get-class-extension($key);

        .hide#{$extension} {
            display: none;
        }

        .show#{$extension} {
            display: block;
        }

        @each $value in $displays {
            .display#{$extension}-#{$value} { display: $value; }
        }
    }
}