@each $key in map-keys($breakpoints) {
    @include media-breakpoint($key) {
        $extension: get-class-extension($key);

        .float-left#{$extension}  { float: left; }
        .float-right#{$extension} { float: right; }
        .float-none#{$extension}  { float: none; }
    }
}