@each $key in map-keys($breakpoints) {
    @include media-breakpoint($key) {
        $extension: get-class-extension($key);

        // Margin and padding properties
        $margin: margin;
        $padding: padding;

        // Positions
        $top: top;
        $right: right;
        $bottom: bottom;
        $left: left;

        // Margin auto
        .#{$margin}-auto#{$extension} { margin: auto; }
        .#{$margin}-#{$top}-auto#{$extension} {
            margin-top: auto;
        }
        .#{$margin}-#{$right}-auto#{$extension} {
            margin-right: auto;
        }
        .#{$margin}-#{$bottom}-auto#{$extension} {
            margin-bottom: auto;
        }
        .#{$margin}-#{$left}-auto#{$extension} {
            margin-left: auto;
        }

        // This will create margins and paddings
        @each $prop, $abbrev in (margin: $margin, padding: $padding) {
            @each $size, $length in $spacers {
                .#{$abbrev}-#{$size}#{$extension} { #{$prop}: $length; }
                .#{$abbrev}-#{$top}-#{$size}#{$extension} {
                    #{$prop}-top: $length;
                }
                .#{$abbrev}-#{$right}-#{$size}#{$extension} {
                    #{$prop}-right: $length;
                }
                .#{$abbrev}-#{$bottom}-#{$size}#{$extension} {
                    #{$prop}-bottom: $length;
                }
                .#{$abbrev}-#{$left}-#{$size}#{$extension} {
                    #{$prop}-left: $length;
                }
            }
        }

        // Negative margins
        @each $size, $length in $spacers {
            @if $size != 0 {
                .#{$margin}-n#{$size}#{$extension} { margin: -$length; }
                .#{$margin}-#{$top}-n#{$size}#{$extension} {
                    margin-top: -$length;
                }
                .#{$margin}-#{$right}-n#{$size}#{$extension} {
                    margin-right: -$length;
                }
                .#{$margin}-#{$bottom}-n#{$size}#{$extension} {
                    margin-bottom: -$length;
                }
                .#{$margin}-#{$left}-n#{$size}#{$extension} {
                    margin-left: -$length;
                }
            }
        }
    }
}