<div #widget>
    <div class="categories-container">
        <div style="text-align: center;" [style.fontFamily]="caption.font" [style.fontSize]="caption.fontSize"
            [style.fontWeight]="caption.fontWeight" [style.fontStyle]="caption.fontStyle"
            [style.textDecoration]="caption.textDecoration" [style.color]="caption.color.toRGBString()">{{caption.text}}
        </div>
        <div class="categories">
            <a [routerLink]="'/category/' + category.urlName" class="category" *ngFor="let category of categories">
                <img *ngIf="category.icon" src="images/{{category.icon.url}}"
                    [style.box-shadow]="shadow.enable ? shadow.x + 'px ' + shadow.y + 'px ' + shadow.blur + 'px ' + shadow.size + 'px ' + shadow.color.toHex() : null"
                    [style.backgroundColor]="backgroundColor.value.toRGBString()">
                <div class="title" [style.color]="textColor.value.toRGBString()">{{category.name}}</div>
            </a>
        </div>
    </div>
</div>