<panel #panel [title]="'Filters'">
    <!-- Property Box -->
    <div class="property-box-dark" style="min-height: 64px;">

        <!-- Icons -->
        <div class="icons">

            <!-- Collapse -->
            <div class="icon-container" title="Collapse" (click)="onCollapseButtonClick()"
                [ngClass]="{'icon-disabled': isCollapseButtonDisabled()}">
                <i class="fas fa-minus-square"></i>
            </div>
        </div>

        <!-- Content -->
        <div *ngIf="items && items.length > 0" class="content">
            <hierarchy-checkbox-content [items]="items" [hierarchy]="this" (onChange)="onChange($event)">
            </hierarchy-checkbox-content>
        </div>

        <!-- No Filters -->
        <div *ngIf="!items || items.length == 0" class="no-property">
            No filters available
        </div>
    </div>
</panel>