<!-- Popup Base -->
<div #popup transitionClass="fade-end"
     class="popup-base fade-start"
     (onShow)="onPopupShow(popup, arrow)"
     *show="show">
     
    <!-- Arrow -->
    <div #arrow [ngClass]="{'arrow-on-top': arrowOnTop, 'arrow-on-bottom': !arrowOnTop}"></div>


    <!-- Header -->
    <div class="product-report-header">
        <div class="product-container">

            <!-- Product Thumbnail -->
            <div class="thumbnail" 
                 [ngStyle]="{ 'background-image': 'url(images/' + notificationService.productNotification.productThumbnail + ')'}">
            </div>

            <!-- Product Name -->
            <div class="product-name">
                {{notificationService.productNotification.productName}}
            </div>
        </div>

        <!-- Ellipsis -->
        <div #ellipsis 
             class="icon-container"
             (mousedown)="showContextMenu()">
            <i class="fas fa-ellipsis-v"></i>
        </div>
    </div>


    <!-- Notification Description -->
    <div class="header-line"></div>
    <div class="product-report-title">
        {{notificationService.getNotificationDescription(notificationService.productNotification.type)}}
    </div>
    <div class="header-line"></div>

    
    <!-- Main Property Box -->
    <div class="main-property-box">

        <!-- Paginator -->
        <div class="paginator-bar">
            <paginator [itemCount]="notificationService.productNotification.customerText.length"
                       (onItemChange)="paginatorIndex = $event">
            </paginator>
        </div>


        <!-- Customer Property Box -->
        <div class="property-box-label">User Comment:</div>
        <div class="property-box">
            <div class="property-box-bar">

                <!-- Customer Thumbnail -->
                <div class="account-thumbnail"
                    [ngStyle]="{'background-image': 'url(images/' + notificationService.productNotification.customerText[paginatorIndex].thumbnail + ')'}">
                </div>

                <!-- Time Stamp -->
                <div class="time-stamp">
                    {{notificationService.productNotification.customerText[paginatorIndex].timeStamp}}
                </div>
            </div>

            <!-- Customer Text -->
            <div class="user-text">
                {{notificationService.productNotification.customerText[paginatorIndex].text}}
            </div>
        </div>


        <!-- Employee Property Box -->
        <div class="property-box-label">Notes:</div>
        <div class="property-box">
            <div class="property-box-bar">

                <!-- Employee Thumbnail -->
                <div class="account-thumbnail"
                    [ngStyle]="{'background-image': 'url(images/' + notificationService.productNotification.notesText[paginatorIndex].thumbnail + ')'}">
                </div>

                <!-- Time Stamp -->
                <div class="time-stamp">
                    {{notificationService.productNotification.notesText[paginatorIndex].timeStamp}}
                </div>
            </div>

            <!-- Employee Text -->
            <div class="user-text">
                {{notificationService.productNotification.notesText[paginatorIndex].text}}
            </div>
        </div>
    </div>


    <!-- Buttons -->
    <div class="button-container" [ngClass]="{'resize-button': notificationService.productNotification.type == notificationType.ProductReportedAsIllegal || notificationService.productNotification.type == notificationType.ProductReportedAsHavingAdultContent}">
        <button (click)="onDismissButtonClick()">Dismiss</button>
        <button>{{notificationService.productNotification.type == notificationType.ProductReportedAsIllegal || notificationService.productNotification.type == notificationType.ProductReportedAsHavingAdultContent ? 'Remove Product' : 'Publish'}}</button>
    </div>
</div>