<!-- Panel -->
<panel [title]="'Product Group Type'">

    <dropdown 
        [height]="27"
        [title]="''"
        [keyValue]="[
                    {key: 'Featured Products', value: 'Featured Products'}, 
                    {key: 'Browsed Products', value: 'Browsed Products'}, 
                    {key: 'Related Browsed Products', value: 'Related Browsed Products'},
                    {key: 'Related Bought Products', value: 'Related Bought Products'},
                    {key: 'Related Wishlist Products', value: 'Related Wishlist Products'},
                    {key: 'Related Subscribed Products', value: 'Related Subscribed Products'},
                    {key: 'Related Browsed Niche Products', value: 'Related Browsed Niche Products'}
                    ]"
        [selectedIndex]="0"
        (onChange)="onDropdownOptionSelect($event)">
    </dropdown>

    <!-- Property Box -->
    <div *ngIf="showFeaturedProductsPropertyBox" class="property-box-dark" style="margin-top: 10px;">

        <!-- Icons -->
        <div class="icons">

            <!-- Delete -->
            <div class="icon-container"
                    [attr.title]="itemList.isDeleteDisabled ? 'Delete Featured Product (Delete)' : itemList.isEditDisabled ? 'Delete Featured Products (Delete)' : 'Delete Featured Product (Delete)'"
                    [ngClass]="{'icon-disabled': itemList.isDeleteDisabled}"
                    (mouseover)="itemList.overIconButton = true"
                    (mouseout)="itemList.onIconButtonMouseOut()"
                    (click)="itemList.deleteListItem()">
                <i class="fas fa-trash-alt"></i>
            </div>

            <!-- Edit -->
            <div class="icon-container"
                    [attr.title]="'Edit Featured Product (Ctrl+Alt+E)'" 
                    [ngClass]="{'icon-disabled': itemList.isEditDisabled}"
                    (mouseover)="itemList.overIconButton = true"
                    (mouseout)="itemList.onIconButtonMouseOut()"
                    (click)="!itemList.isEditDisabled ? editFeaturedProduct() : null">
                <i class="fas fa-edit"></i>
            </div>

            <!-- Add -->
            <div class="icon-container"
                    [attr.title]="'Add Featured Product (Ctrl+Alt+A)'" 
                    [ngClass]="{'icon-disabled': itemList.isAddDisabled}"
                    (mouseover)="itemList.overIconButton = true"
                    (mouseout)="itemList.onIconButtonMouseOut()"
                    (click)="!itemList.isAddDisabled ? addFeaturedProduct() : null">
                <i class="fas fa-plus-circle"></i>
            </div>
        </div>

        <!-- Item LIst -->
        <item-list 
            #itemList 
            [list]="featuredProducts"
            (onAddItem)="addFeaturedProduct()"
            (onEditItem)="editFeaturedProduct()"
            [menuOptions]="['Add Featured Product', 'Edit Featured Product', 'Delete Featured Product', 'Delete Featured Products']">
        </item-list>
    </div>
</panel>