<!-- Fieldset -->
<fieldset class="margin-right-16-lg
                 margin-top-16-xxs
                 margin-top-8-xl">

    <legend>Image</legend>


    <!-- Icon Bar -->
    <div class="icon-bar">

        <div class="icon-container" title="Image">
            <i class="fas fa-image"></i>
        </div>
    </div>

    
    <!-- Background -->
    <div class="background display-flex justify-content-center align-items-center">
        <img src="images/68010370e5514c82b1e5b138143d0862.png" style="max-width: 75%; max-height: 75%;">
    </div>
</fieldset>
