<div #widget class="widget" [ngClass]="{'widget-selected': widgetService.selectedWidget == this}"
    (mousedown)="onMousedown()" [style.margin]="horizontalAlignment.value" [style.maxWidth.px]="width ? width : null"
    [style.margin]="horizontalAlignment.value" [style.minHeight.px]="height">


    <!-- Handles -->
    <div class="left-handle"></div>
    <div class="bottom-center-handle"></div>
    <div class="right-handle"></div>
    <div class="left-handle-bar" (mousedown)="onHandleMousedown('left', $event)"></div>
    <div class="right-handle-bar" (mousedown)="onHandleMousedown('right', $event)"></div>
    <div class="bottom-handle-bar" (mousedown)="onHandleMousedown('bottom', $event)"></div>

    <!-- Contents -->
    <iframe #iframe width="100%" height="100%" align="top" [style.backgroundColor]="background.color.toRGBString()"
        [ngStyle]="{ 'background-image': background.image && background.image.url ? 'url(images/' + background.image.url + ')' : null,
                        'background-position': background.image ? background.image.position : null,
                        'background-repeat': background.image ? background.image.repeat : null,
                        'background-attachment': background.image ? background.image.attachment : null}"
        [style.height.px]="iframeHeight"></iframe>

    <!-- Cover -->
    <div *ngIf="!inEditMode || handleMove" class="position-absolute-identity" style="user-select: none;"
        (dblclick)="setEditMode()">
    </div>
</div>