<div #widget class="widget" [ngClass]="{'widget-selected': widgetService.selectedWidget == this}"
    (mousedown)="onMousedown()" [style.marginTop.px]="margins.top"
    [style.marginRight]="margins.right + (margins.right == 'auto' ? '' : 'px')" [style.marginBottom.px]="margins.bottom"
    [style.marginLeft]="margins.left + (margins.left == 'auto' ? '' : 'px')" [style.maxWidth.px]="width ? width : null"
    [style.minHeight.px]="height">


    <!-- Handles -->
    <div class="left-handle"></div>
    <div class="bottom-center-handle"></div>
    <div class="right-handle"></div>
    <div class="left-handle-bar" (mousedown)="onHandleMove('left')"></div>
    <div class="right-handle-bar" (mousedown)="onHandleMove('right')"></div>
    <div class="bottom-handle-bar" (mousedown)="onHandleMove('bottom')"></div>

    <!-- Contents -->
    <iframe #iframe width="100%" height="100%" align="top" style="background: white;" [style.height.px]="iframeHeight"></iframe>

    <!-- Cover -->
    <div *ngIf="showCover()" class="position-absolute-identity" style="user-select: none;" (dblclick)="onEdit()"></div>
</div>